.order-1,
.hover\:order-1:hover,
.focus\:order-1:focus,
.active\:order-1:active {
	order: 1;
}

.order-2,
.hover\:order-2:hover,
.focus\:order-2:focus,
.active\:order-2:active {
	order: 2;
}

.order-3,
.hover\:order-3:hover,
.focus\:order-3:focus,
.active\:order-3:active {
	order: 3;
}

.order-4,
.hover\:order-4:hover,
.focus\:order-4:focus,
.active\:order-4:active {
	order: 4;
}

.order-5,
.hover\:order-5:hover,
.focus\:order-5:focus,
.active\:order-5:active {
	order: 5;
}

.order-6,
.hover\:order-6:hover,
.focus\:order-6:focus,
.active\:order-6:active {
	order: 6;
}

.order-7,
.hover\:order-7:hover,
.focus\:order-7:focus,
.active\:order-7:active {
	order: 7;
}

.order-8,
.hover\:order-8:hover,
.focus\:order-8:focus,
.active\:order-8:active {
	order: 8;
}

.order-9,
.hover\:order-9:hover,
.focus\:order-9:focus,
.active\:order-9:active {
	order: 9;
}

.order-10,
.hover\:order-10:hover,
.focus\:order-10:focus,
.active\:order-10:active {
	order: 10;
}

.order-11,
.hover\:order-11:hover,
.focus\:order-11:focus,
.active\:order-11:active {
	order: 11;
}

.order-12,
.hover\:order-12:hover,
.focus\:order-12:focus,
.active\:order-12:active {
	order: 12;
}

.order-first,
.hover\:order-first:hover,
.focus\:order-first:focus,
.active\:order-first:active {
	order: -9999;
}

.order-last,
.hover\:order-last:hover,
.focus\:order-last:focus,
.active\:order-last:active {
	order: 9999;
}

.order-none,
.hover\:order-none:hover,
.focus\:order-none:focus,
.active\:order-none:active {
	order: 0;
}
