.simple-ui-divideStyle-solid > * + *,
.simple-ui-hover\:divideStyle-solid > * + *:hover,
.simple-ui-focus\:divideStyle-solid > * + *:focus,
.simple-ui-active\:divideStyle-solid > * + *:active {
	border-style: solid;
}
.simple-ui-divideStyle-dashed > * + *,
.simple-ui-hover\:divideStyle-dashed > * + *:hover,
.simple-ui-focus\:divideStyle-dashed > * + *:focus,
.simple-ui-active\:divideStyle-dashed > * + *:active {
	border-style: dashed;
}
.simple-ui-divideStyle-dotted > * + *,
.simple-ui-hover\:divideStyle-dotted > * + *:hover,
.simple-ui-focus\:divideStyle-dotted > * + *:focus,
.simple-ui-active\:divideStyle-dotted > * + *:active {
	border-style: dotted;
}
.simple-ui-divideStyle-double > * + *,
.simple-ui-hover\:divideStyle-double > * + *:hover,
.simple-ui-focus\:divideStyle-double > * + *:focus,
.simple-ui-active\:divideStyle-double > * + *:active {
	border-style: double;
}
.simple-ui-divideStyle-none > * + *,
.simple-ui-hover\:divideStyle-none > * + *:hover,
.simple-ui-focus\:divideStyle-none > * + *:focus,
.simple-ui-active\:divideStyle-none > * + *:active {
	border-style: none;
}
