.simple-ui-alignItems-start,
.simple-ui-hover\:alignItems-start:hover,
.simple-ui-focus\:alignItems-start:focus,
.simple-ui-active\:alignItems-start:active {
	align-items: flex-start;
}

.simple-ui-alignItems-end,
.simple-ui-hover\:alignItems-end:hover,
.simple-ui-focus\:alignItems-end:focus,
.simple-ui-active\:alignItems-end:active {
	align-items: flex-end;
}

.simple-ui-alignItems-center,
.simple-ui-hover\:alignItems-center:hover,
.simple-ui-focus\:alignItems-center:focus,
.simple-ui-active\:alignItems-center:active {
	align-items: center;
}

.simple-ui-alignItems-baseline,
.simple-ui-hover\:alignItems-baseline:hover,
.simple-ui-focus\:alignItems-baseline:focus,
.simple-ui-active\:alignItems-baseline:active {
	align-items: baseline;
}

.simple-ui-alignItems-stretch,
.simple-ui-hover\:alignItems-stretch:hover,
.simple-ui-focus\:alignItems-stretch:focus,
.simple-ui-active\:alignItems-stretch:active {
	align-items: stretch;
}
