.simple-ui-justifySelf-auto,
.simple-ui-hover\:justifySelf-auto:hover,
.simple-ui-focus\:justifySelf-auto:focus,
.simple-ui-active\:justifySelf-auto:active {
	justify-items: auto;
}
.simple-ui-justifySelf-start,
.simple-ui-hover\:justifySelf-start:hover,
.simple-ui-focus\:justifySelf-start:focus,
.simple-ui-active\:justifySelf-start:active {
	justify-self: start;
}
.simple-ui-justifySelf-end,
.simple-ui-hover\:justifySelf-end:hover,
.simple-ui-focus\:justifySelf-end:focus,
.simple-ui-active\:justifySelf-end:active {
	justify-self: end;
}
.simple-ui-justifySelf-center,
.simple-ui-hover\:justifySelf-center:hover,
.simple-ui-focus\:justifySelf-center:focus,
.simple-ui-active\:justifySelf-center:active {
	justify-self: center;
}
.simple-ui-justifySelf-stretch,
.simple-ui-hover\:justifySelf-stretch:hover,
.simple-ui-focus\:justifySelf-stretch:focus,
.simple-ui-active\:justifySelf-stretch:active {
	justify-self: stretch;
}
