.simple-ui-letterSpacing-tighter,
.simple-ui-hover\:letterSpacing-tighter:hover,
.simple-ui-focus\:letterSpacing-tighter:focus,
.simple-ui-active\:letterSpacing-tighter:active {
	letter-spacing: -0.05em;
}
.simple-ui-letterSpacing-tight,
.simple-ui-hover\:letterSpacing-tight:hover,
.simple-ui-focus\:letterSpacing-tight:focus,
.simple-ui-active\:letterSpacing-tight:active {
	letter-spacing: -0.025em;
}
.simple-ui-letterSpacing-normal,
.simple-ui-hover\:letterSpacing-normal:hover,
.simple-ui-focus\:letterSpacing-normal:focus,
.simple-ui-active\:letterSpacing-normal:active {
	letter-spacing: 0em;
}
.simple-ui-letterSpacing-wide,
.simple-ui-hover\:letterSpacing-wide:hover,
.simple-ui-focus\:letterSpacing-wide:focus,
.simple-ui-active\:letterSpacing-wide:active {
	letter-spacing: 0.025em;
}
.simple-ui-letterSpacing-wider,
.simple-ui-hover\:letterSpacing-wider:hover,
.simple-ui-focus\:letterSpacing-wider:focus,
.simple-ui-active\:letterSpacing-wider:active {
	letter-spacing: 0.05em;
}
.simple-ui-letterSpacing-widest,
.simple-ui-hover\:letterSpacing-widest:hover,
.simple-ui-focus\:letterSpacing-widest:focus,
.simple-ui-active\:letterSpacing-widest:active {
	letter-spacing: 0.1em;
}
