.flexShrink-1,
.hover\:flexShrink-1:hover,
.active\:flexShrink-1:active,
.focus\:flexShrink-1:focus {
	flex: 1 1 0%;
}
.flexShrink-auto,
.hover\:flexShrink-auto:hover,
.active\:flexShrink-auto:active,
.focus\:flexShrink-auto:focus {
	flex: 1 1 auto;
}
.flexShrink-initial,
.hover\:flexShrink-initial:hover,
.active\:flexShrink-initial:active,
.focus\:flexShrink-initial:focus {
	flex: 0 1 auto;
}
.flexShrink-none,
.hover\:flexShrink-none:hover,
.active\:flexShrink-none:active,
.focus\:flexShrink-none:focus {
	flex: none;
}
