.simple-ui-mixBlend-normal,
.simple-ui-hover\:mixBlend-normal:hover,
.simple-ui-focus\:mixBlend-normal:focus,
.simple-ui-active\:mixBlend-normal:active {
	mix-blend-mode: normal;
}
.simple-ui-mixBlend-multiply,
.simple-ui-hover\:mixBlend-multiply:hover,
.simple-ui-focus\:mixBlend-multiply:focus,
.simple-ui-active\:mixBlend-multiply:active {
	mix-blend-mode: multiply;
}
.simple-ui-mixBlend-screen,
.simple-ui-hover\:mixBlend-screen:hover,
.simple-ui-focus\:mixBlend-screen:focus,
.simple-ui-active\:mixBlend-screen:active {
	mix-blend-mode: screen;
}
.simple-ui-mixBlend-overlay,
.simple-ui-hover\:mixBlend-overlay:hover,
.simple-ui-focus\:mixBlend-overlay:focus,
.simple-ui-active\:mixBlend-overlay:active {
	mix-blend-mode: overlay;
}
.simple-ui-mixBlend-darken,
.simple-ui-hover\:mixBlend-darken:hover,
.simple-ui-focus\:mixBlend-darken:focus,
.simple-ui-active\:mixBlend-darken:active {
	mix-blend-mode: darken;
}
.simple-ui-mixBlend-lighten,
.simple-ui-hover\:mixBlend-lighten:hover,
.simple-ui-focus\:mixBlend-lighten:focus,
.simple-ui-active\:mixBlend-lighten:active {
	mix-blend-mode: lighten;
}
.simple-ui-mixBlend-color-dodge,
.simple-ui-hover\:mixBlend-color-dodge:hover,
.simple-ui-focus\:mixBlend-color-dodge:focus,
.simple-ui-active\:mixBlend-color-dodge:active {
	mix-blend-mode: color-dodge;
}
.simple-ui-mixBlend-color-burn,
.simple-ui-hover\:mixBlend-color-burn:hover,
.simple-ui-focus\:mixBlend-color-burn:focus,
.simple-ui-active\:mixBlend-color-burn:active {
	mix-blend-mode: color-burn;
}
.simple-ui-mixBlend-hard-light,
.simple-ui-hover\:mixBlend-hard-light:hover,
.simple-ui-focus\:mixBlend-hard-light:focus,
.simple-ui-active\:mixBlend-hard-light:active {
	mix-blend-mode: hard-light;
}
.simple-ui-mixBlend-soft-light,
.simple-ui-hover\:mixBlend-soft-light:hover,
.simple-ui-focus\:mixBlend-soft-light:focus,
.simple-ui-active\:mixBlend-soft-light:active {
	mix-blend-mode: soft-light;
}
.simple-ui-mixBlend-difference,
.simple-ui-hover\:mixBlend-difference:hover,
.simple-ui-focus\:mixBlend-difference:focus,
.simple-ui-active\:mixBlend-difference:active {
	mix-blend-mode: difference;
}
.simple-ui-mixBlend-exclusion,
.simple-ui-hover\:mixBlend-exclusion:hover,
.simple-ui-focus\:mixBlend-exclusion:focus,
.simple-ui-active\:mixBlend-exclusion:active {
	mix-blend-mode: exclusion;
}
.simple-ui-mixBlend-hue,
.simple-ui-hover\:mixBlend-hue:hover,
.simple-ui-focus\:mixBlend-hue:focus,
.simple-ui-active\:mixBlend-hue:active {
	mix-blend-mode: hue;
}
.simple-ui-mixBlend-saturation,
.simple-ui-hover\:mixBlend-saturation:hover,
.simple-ui-focus\:mixBlend-saturation:focus,
.simple-ui-active\:mixBlend-saturation:active {
	mix-blend-mode: saturation;
}
.simple-ui-mixBlend-color,
.simple-ui-hover\:mixBlend-color:hover,
.simple-ui-focus\:mixBlend-color:focus,
.simple-ui-active\:mixBlend-color:active {
	mix-blend-mode: color;
}
.simple-ui-mixBlend-luminosity,
.simple-ui-hover\:mixBlend-luminosity:hover,
.simple-ui-focus\:mixBlend-luminosity:focus,
.simple-ui-active\:mixBlend-luminosity:active {
	mix-blend-mode: luminosity;
}
