.simple-ui-borderRadius-none,
.simple-ui-hover\:borderRadius-none:hover,
.simple-ui-focus\:borderRadius-none:focus,
.simple-ui-active\:borderRadius-none:active {
	border-radius: 0px;
}

.simple-ui-borderRadius-sm,
.simple-ui-hover\:borderRadius-sm:hover,
.simple-ui-focus\:borderRadius-sm:focus,
.simple-ui-active\:borderRadius-sm:active {
	border-radius: 0.125rem;
}

.simple-ui-borderRadius,
.simple-ui-hover\:borderRadius:hover,
.simple-ui-focus\:borderRadius:focus,
.simple-ui-active\:borderRadius:active {
	border-radius: 0.25rem;
}

.simple-ui-borderRadius-md,
.simple-ui-hover\:borderRadius-md:hover,
.simple-ui-focus\:borderRadius-md:focus,
.simple-ui-active\:borderRadius-md:active {
	border-radius: 0.375rem;
}

.simple-ui-borderRadius-lg,
.simple-ui-hover\:borderRadius-lg:hover,
.simple-ui-focus\:borderRadius-lg:focus,
.simple-ui-active\:borderRadius-lg:active {
	border-radius: 0.5rem;
}

.simple-ui-borderRadius-xl,
.simple-ui-hover\:borderRadius-xl:hover,
.simple-ui-focus\:borderRadius-xl:focus,
.simple-ui-active\:borderRadius-xl:active {
	border-radius: 0.75rem;
}

.simple-ui-borderRadius-2xl,
.simple-ui-hover\:borderRadius-2xl:hover,
.simple-ui-focus\:borderRadius-2xl:focus,
.simple-ui-active\:borderRadius-2xl:active {
	border-radius: 1rem;
}

.simple-ui-borderRadius-3xl,
.simple-ui-hover\:borderRadius-3xl:hover,
.simple-ui-focus\:borderRadius-3xl:focus,
.simple-ui-active\:borderRadius-3xl:active {
	border-radius: 1.5rem;
}

.simple-ui-borderRadius-full,
.simple-ui-hover\:borderRadius-full:hover,
.simple-ui-focus\:borderRadius-full:focus,
.simple-ui-active\:borderRadius-full:active {
	border-radius: 9999px;
}

.simple-ui-borderRadius-t-none,
.simple-ui-hover\:borderRadius-t-none:hover,
.simple-ui-focus\:borderRadius-t-none:focus,
.simple-ui-active\:borderRadius-t-none:active {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}
.simple-ui-borderRadius-t-sm,
.simple-ui-hover\:borderRadius-t-sm:hover,
.simple-ui-focus\:borderRadius-t-sm:focus,
.simple-ui-active\:borderRadius-t-sm:active {
	border-top-left-radius: 0.125rem;
	border-top-right-radius: 0.125rem;
}
.simple-ui-borderRadius-t,
.simple-ui-hover\:borderRadius-t:hover,
.simple-ui-focus\:borderRadius-t:focus,
.simple-ui-active\:borderRadius-t:active {
	border-top-left-radius: 0.25rem;
	border-top-right-radius: 0.25rem;
}
.simple-ui-borderRadius-t-md,
.simple-ui-hover\:borderRadius-t-md:hover,
.simple-ui-focus\:borderRadius-t-md:focus,
.simple-ui-active\:borderRadius-t-md:active {
	border-top-left-radius: 0.375rem;
	border-top-right-radius: 0.375rem;
}
.simple-ui-borderRadius-t-lg,
.simple-ui-hover\:borderRadius-t-lg:hover,
.simple-ui-focus\:borderRadius-t-lg:focus,
.simple-ui-active\:borderRadius-t-lg:active {
	border-top-left-radius: 0.5rem;
	border-top-right-radius: 0.5rem;
}
.simple-ui-borderRadius-t-xl,
.simple-ui-hover\:borderRadius-t-xl:hover,
.simple-ui-focus\:borderRadius-t-xl:focus,
.simple-ui-active\:borderRadius-t-xl:active {
	border-top-left-radius: 0.75rem;
	border-top-right-radius: 0.75rem;
}
.simple-ui-borderRadius-t-2xl,
.simple-ui-hover\:borderRadius-t-2xl:hover,
.simple-ui-focus\:borderRadius-t-2xl:focus,
.simple-ui-active\:borderRadius-t-2xl:active {
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;
}
.simple-ui-borderRadius-t-3xl,
.simple-ui-hover\:borderRadius-t-3xl:hover,
.simple-ui-focus\:borderRadius-t-3xl:focus,
.simple-ui-active\:borderRadius-t-3xl:active {
	border-top-left-radius: 1.5rem;
	border-top-right-radius: 1.5rem;
}
.simple-ui-borderRadius-t-full,
.simple-ui-hover\:borderRadius-t-full:hover,
.simple-ui-focus\:borderRadius-t-full:focus,
.simple-ui-active\:borderRadius-t-full:active {
	border-top-left-radius: 9999px;
	border-top-right-radius: 9999px;
}
.simple-ui-borderRadius-r-none,
.simple-ui-hover\:borderRadius-r-none:hover,
.simple-ui-focus\:borderRadius-r-none:focus,
.simple-ui-active\:borderRadius-r-none:active {
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}
.simple-ui-borderRadius-r-sm,
.simple-ui-hover\:borderRadius-r-sm:hover,
.simple-ui-focus\:borderRadius-r-sm:focus,
.simple-ui-active\:borderRadius-r-sm:active {
	border-top-right-radius: 0.125rem;
	border-bottom-right-radius: 0.125rem;
}
.simple-ui-borderRadius-r,
.simple-ui-hover\:borderRadius-r:hover,
.simple-ui-focus\:borderRadius-r:focus,
.simple-ui-active\:borderRadius-r:active {
	border-top-right-radius: 0.25rem;
	border-bottom-right-radius: 0.25rem;
}
.simple-ui-borderRadius-r-md,
.simple-ui-hover\:borderRadius-r-md:hover,
.simple-ui-focus\:borderRadius-r-md:focus,
.simple-ui-active\:borderRadius-r-md:active {
	border-top-right-radius: 0.375rem;
	border-bottom-right-radius: 0.375rem;
}
.simple-ui-borderRadius-r-lg,
.simple-ui-hover\:borderRadius-r-lg:hover,
.simple-ui-focus\:borderRadius-r-lg:focus,
.simple-ui-active\:borderRadius-r-lg:active {
	border-top-right-radius: 0.5rem;
	border-bottom-right-radius: 0.5rem;
}
.simple-ui-borderRadius-r-xl,
.simple-ui-hover\:borderRadius-r-xl:hover,
.simple-ui-focus\:borderRadius-r-xl:focus,
.simple-ui-active\:borderRadius-r-xl:active {
	border-top-right-radius: 0.75rem;
	border-bottom-right-radius: 0.75rem;
}
.simple-ui-borderRadius-r-2xl,
.simple-ui-hover\:borderRadius-r-2xl:hover,
.simple-ui-focus\:borderRadius-r-2xl:focus,
.simple-ui-active\:borderRadius-r-2xl:active {
	border-top-right-radius: 1rem;
	border-bottom-right-radius: 1rem;
}
.simple-ui-borderRadius-r-3xl,
.simple-ui-hover\:borderRadius-r-3xl:hover,
.simple-ui-focus\:borderRadius-r-3xl:focus,
.simple-ui-active\:borderRadius-r-3xl:active {
	border-top-right-radius: 1.5rem;
	border-bottom-right-radius: 1.5rem;
}
.simple-ui-borderRadius-r-full,
.simple-ui-hover\:borderRadius-r-full:hover,
.simple-ui-focus\:borderRadius-r-full:focus,
.simple-ui-active\:borderRadius-r-full:active {
	border-top-right-radius: 9999px;
	border-bottom-right-radius: 9999px;
}
.simple-ui-borderRadius-b-none,
.simple-ui-hover\:borderRadius-b-none:hover,
.simple-ui-focus\:borderRadius-b-none:focus,
.simple-ui-active\:borderRadius-b-none:active {
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}
.simple-ui-borderRadius-b-sm,
.simple-ui-hover\:borderRadius-b-sm:hover,
.simple-ui-focus\:borderRadius-b-sm:focus,
.simple-ui-active\:borderRadius-b-sm:active {
	border-bottom-right-radius: 0.125rem;
	border-bottom-left-radius: 0.125rem;
}
.simple-ui-borderRadius-b,
.simple-ui-hover\:borderRadius-b:hover,
.simple-ui-focus\:borderRadius-b:focus,
.simple-ui-active\:borderRadius-b:active {
	border-bottom-right-radius: 0.25rem;
	border-bottom-left-radius: 0.25rem;
}
.simple-ui-borderRadius-b-md,
.simple-ui-hover\:borderRadius-b-md:hover,
.simple-ui-focus\:borderRadius-b-md:focus,
.simple-ui-active\:borderRadius-b-md:active {
	border-bottom-right-radius: 0.375rem;
	border-bottom-left-radius: 0.375rem;
}
.simple-ui-borderRadius-b-lg,
.simple-ui-hover\:borderRadius-b-lg:hover,
.simple-ui-focus\:borderRadius-b-lg:focus,
.simple-ui-active\:borderRadius-b-lg:active {
	border-bottom-right-radius: 0.5rem;
	border-bottom-left-radius: 0.5rem;
}
.simple-ui-borderRadius-b-xl,
.simple-ui-hover\:borderRadius-b-xl:hover,
.simple-ui-focus\:borderRadius-b-xl:focus,
.simple-ui-active\:borderRadius-b-xl:active {
	border-bottom-right-radius: 0.75rem;
	border-bottom-left-radius: 0.75rem;
}
.simple-ui-borderRadius-b-2xl,
.simple-ui-hover\:borderRadius-b-2xl:hover,
.simple-ui-focus\:borderRadius-b-2xl:focus,
.simple-ui-active\:borderRadius-b-2xl:active {
	border-bottom-right-radius: 1rem;
	border-bottom-left-radius: 1rem;
}
.simple-ui-borderRadius-b-3xl,
.simple-ui-hover\:borderRadius-b-3xl:hover,
.simple-ui-focus\:borderRadius-b-3xl:focus,
.simple-ui-active\:borderRadius-b-3xl:active {
	border-bottom-right-radius: 1.5rem;
	border-bottom-left-radius: 1.5rem;
}
.simple-ui-borderRadius-b-full,
.simple-ui-hover\:borderRadius-b-full:hover,
.simple-ui-focus\:borderRadius-b-full:focus,
.simple-ui-active\:borderRadius-b-full:active {
	border-bottom-right-radius: 9999px;
	border-bottom-left-radius: 9999px;
}
.simple-ui-borderRadius-l-none,
.simple-ui-hover\:borderRadius-l-none:hover,
.simple-ui-focus\:borderRadius-l-none:focus,
.simple-ui-active\:borderRadius-l-none:active {
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}
.simple-ui-borderRadius-l-sm,
.simple-ui-hover\:borderRadius-l-sm:hover,
.simple-ui-focus\:borderRadius-l-sm:focus,
.simple-ui-active\:borderRadius-l-sm:active {
	border-top-left-radius: 0.125rem;
	border-bottom-left-radius: 0.125rem;
}
.simple-ui-borderRadius-l,
.simple-ui-hover\:borderRadius-l:hover,
.simple-ui-focus\:borderRadius-l:focus,
.simple-ui-active\:borderRadius-l:active {
	border-top-left-radius: 0.25rem;
	border-bottom-left-radius: 0.25rem;
}
.simple-ui-borderRadius-l-md,
.simple-ui-hover\:borderRadius-l-md:hover,
.simple-ui-focus\:borderRadius-l-md:focus,
.simple-ui-active\:borderRadius-l-md:active {
	border-top-left-radius: 0.375rem;
	border-bottom-left-radius: 0.375rem;
}
.simple-ui-borderRadius-l-lg,
.simple-ui-hover\:borderRadius-l-lg:hover,
.simple-ui-focus\:borderRadius-l-lg:focus,
.simple-ui-active\:borderRadius-l-lg:active {
	border-top-left-radius: 0.5rem;
	border-bottom-left-radius: 0.5rem;
}
.simple-ui-borderRadius-l-xl,
.simple-ui-hover\:borderRadius-l-xl:hover,
.simple-ui-focus\:borderRadius-l-xl:focus,
.simple-ui-active\:borderRadius-l-xl:active {
	border-top-left-radius: 0.75rem;
	border-bottom-left-radius: 0.75rem;
}
.simple-ui-borderRadius-l-2xl,
.simple-ui-hover\:borderRadius-l-2xl:hover,
.simple-ui-focus\:borderRadius-l-2xl:focus,
.simple-ui-active\:borderRadius-l-2xl:active {
	border-top-left-radius: 1rem;
	border-bottom-left-radius: 1rem;
}
.simple-ui-borderRadius-l-3xl,
.simple-ui-hover\:borderRadius-l-3xl:hover,
.simple-ui-focus\:borderRadius-l-3xl:focus,
.simple-ui-active\:borderRadius-l-3xl:active {
	border-top-left-radius: 1.5rem;
	border-bottom-left-radius: 1.5rem;
}
.simple-ui-borderRadius-l-full,
.simple-ui-hover\:borderRadius-l-full:hover,
.simple-ui-focus\:borderRadius-l-full:focus,
.simple-ui-active\:borderRadius-l-full:active {
	border-top-left-radius: 9999px;
	border-bottom-left-radius: 9999px;
}
.simple-ui-borderRadius-tl-none,
.simple-ui-hover\:borderRadius-tl-none:hover,
.simple-ui-focus\:borderRadius-tl-none:focus,
.simple-ui-active\:borderRadius-tl-none:active {
	border-top-left-radius: 0px;
}

.simple-ui-borderRadius-tl-sm,
.simple-ui-hover\:borderRadius-tl-sm:hover,
.simple-ui-focus\:borderRadius-tl-sm:focus,
.simple-ui-active\:borderRadius-tl-sm:active {
	border-top-left-radius: 0.125rem;
}

.simple-ui-borderRadius-tl,
.simple-ui-hover\:borderRadius-tl:hover,
.simple-ui-focus\:borderRadius-tl:focus,
.simple-ui-active\:borderRadius-tl:active {
	border-top-left-radius: 0.25rem;
}

.simple-ui-borderRadius-tl-md,
.simple-ui-hover\:borderRadius-tl-md:hover,
.simple-ui-focus\:borderRadius-tl-md:focus,
.simple-ui-active\:borderRadius-tl-md:active {
	border-top-left-radius: 0.375rem;
}

.simple-ui-borderRadius-tl-lg,
.simple-ui-hover\:borderRadius-tl-lg:hover,
.simple-ui-focus\:borderRadius-tl-lg:focus,
.simple-ui-active\:borderRadius-tl-lg:active {
	border-top-left-radius: 0.5rem;
}

.simple-ui-borderRadius-tl-xl,
.simple-ui-hover\:borderRadius-tl-xl:hover,
.simple-ui-focus\:borderRadius-tl-xl:focus,
.simple-ui-active\:borderRadius-tl-xl:active {
	border-top-left-radius: 0.75rem;
}

.simple-ui-borderRadius-tl-2xl,
.simple-ui-hover\:borderRadius-tl-2xl:hover,
.simple-ui-focus\:borderRadius-tl-2xl:focus,
.simple-ui-active\:borderRadius-tl-2xl:active {
	border-top-left-radius: 1rem;
}

.simple-ui-borderRadius-tl-3xl,
.simple-ui-hover\:borderRadius-tl-3xl:hover,
.simple-ui-focus\:borderRadius-tl-3xl:focus,
.simple-ui-active\:borderRadius-tl-3xl:active {
	border-top-left-radius: 1.5rem;
}

.simple-ui-borderRadius-tl-full,
.simple-ui-hover\:borderRadius-tl-full:hover,
.simple-ui-focus\:borderRadius-tl-full:focus,
.simple-ui-active\:borderRadius-tl-full:active {
	border-top-left-radius: 9999px;
}

.simple-ui-borderRadius-tr-none,
.simple-ui-hover\:borderRadius-tr-none:hover,
.simple-ui-focus\:borderRadius-tr-none:focus,
.simple-ui-active\:borderRadius-tr-none:active {
	border-top-right-radius: 0px;
}

.simple-ui-borderRadius-tr-sm,
.simple-ui-hover\:borderRadius-tr-sm:hover,
.simple-ui-focus\:borderRadius-tr-sm:focus,
.simple-ui-active\:borderRadius-tr-sm:active {
	border-top-right-radius: 0.125rem;
}

.simple-ui-borderRadius-tr,
.simple-ui-hover\:borderRadius-tr:hover,
.simple-ui-focus\:borderRadius-tr:focus,
.simple-ui-active\:borderRadius-tr:active {
	border-top-right-radius: 0.25rem;
}

.simple-ui-borderRadius-tr-md,
.simple-ui-hover\:borderRadius-tr-md:hover,
.simple-ui-focus\:borderRadius-tr-md:focus,
.simple-ui-active\:borderRadius-tr-md:active {
	border-top-right-radius: 0.375rem;
}

.simple-ui-borderRadius-tr-lg,
.simple-ui-hover\:borderRadius-tr-lg:hover,
.simple-ui-focus\:borderRadius-tr-lg:focus,
.simple-ui-active\:borderRadius-tr-lg:active {
	border-top-right-radius: 0.5rem;
}

.simple-ui-borderRadius-tr-xl,
.simple-ui-hover\:borderRadius-tr-xl:hover,
.simple-ui-focus\:borderRadius-tr-xl:focus,
.simple-ui-active\:borderRadius-tr-xl:active {
	border-top-right-radius: 0.75rem;
}

.simple-ui-borderRadius-tr-2xl,
.simple-ui-hover\:borderRadius-tr-2xl:hover,
.simple-ui-focus\:borderRadius-tr-2xl:focus,
.simple-ui-active\:borderRadius-tr-2xl:active {
	border-top-right-radius: 1rem;
}

.simple-ui-borderRadius-tr-3xl,
.simple-ui-hover\:borderRadius-tr-3xl:hover,
.simple-ui-focus\:borderRadius-tr-3xl:focus,
.simple-ui-active\:borderRadius-tr-3xl:active {
	border-top-right-radius: 1.5rem;
}

.simple-ui-borderRadius-tr-full,
.simple-ui-hover\:borderRadius-tr-full:hover,
.simple-ui-focus\:borderRadius-tr-full:focus,
.simple-ui-active\:borderRadius-tr-full:active {
	border-top-right-radius: 9999px;
}

.simple-ui-borderRadius-br-none,
.simple-ui-hover\:borderRadius-br-none:hover,
.simple-ui-focus\:borderRadius-br-none:focus,
.simple-ui-active\:borderRadius-br-none:active {
	border-bottom-right-radius: 0px;
}

.simple-ui-borderRadius-br-sm,
.simple-ui-hover\:borderRadius-br-sm:hover,
.simple-ui-focus\:borderRadius-br-sm:focus,
.simple-ui-active\:borderRadius-br-sm:active {
	border-bottom-right-radius: 0.125rem;
}

.simple-ui-borderRadius-br,
.simple-ui-hover\:borderRadius-br:hover,
.simple-ui-focus\:borderRadius-br:focus,
.simple-ui-active\:borderRadius-br:active {
	border-bottom-right-radius: 0.25rem;
}

.simple-ui-borderRadius-br-md,
.simple-ui-hover\:borderRadius-br-md:hover,
.simple-ui-focus\:borderRadius-br-md:focus,
.simple-ui-active\:borderRadius-br-md:active {
	border-bottom-right-radius: 0.375rem;
}

.simple-ui-borderRadius-br-lg,
.simple-ui-hover\:borderRadius-br-lg:hover,
.simple-ui-focus\:borderRadius-br-lg:focus,
.simple-ui-active\:borderRadius-br-lg:active {
	border-bottom-right-radius: 0.5rem;
}

.simple-ui-borderRadius-br-xl,
.simple-ui-hover\:borderRadius-br-xl:hover,
.simple-ui-focus\:borderRadius-br-xl:focus,
.simple-ui-active\:borderRadius-br-xl:active {
	border-bottom-right-radius: 0.75rem;
}

.simple-ui-borderRadius-br-2xl,
.simple-ui-hover\:borderRadius-br-2xl:hover,
.simple-ui-focus\:borderRadius-br-2xl:focus,
.simple-ui-active\:borderRadius-br-2xl:active {
	border-bottom-right-radius: 1rem;
}

.simple-ui-borderRadius-br-3xl,
.simple-ui-hover\:borderRadius-br-3xl:hover,
.simple-ui-focus\:borderRadius-br-3xl:focus,
.simple-ui-active\:borderRadius-br-3xl:active {
	border-bottom-right-radius: 1.5rem;
}

.simple-ui-borderRadius-br-full,
.simple-ui-hover\:borderRadius-br-full:hover,
.simple-ui-focus\:borderRadius-br-full:focus,
.simple-ui-active\:borderRadius-br-full:active {
	border-bottom-right-radius: 9999px;
}

.simple-ui-borderRadius-bl-none,
.simple-ui-hover\:borderRadius-bl-none:hover,
.simple-ui-focus\:borderRadius-bl-none:focus,
.simple-ui-active\:borderRadius-bl-none:active {
	border-bottom-left-radius: 0px;
}

.simple-ui-borderRadius-bl-sm,
.simple-ui-hover\:borderRadius-bl-sm:hover,
.simple-ui-focus\:borderRadius-bl-sm:focus,
.simple-ui-active\:borderRadius-bl-sm:active {
	border-bottom-left-radius: 0.125rem;
}

.simple-ui-borderRadius-bl,
.simple-ui-hover\:borderRadius-bl:hover,
.simple-ui-focus\:borderRadius-bl:focus,
.simple-ui-active\:borderRadius-bl:active {
	border-bottom-left-radius: 0.25rem;
}

.simple-ui-borderRadius-bl-md,
.simple-ui-hover\:borderRadius-bl-md:hover,
.simple-ui-focus\:borderRadius-bl-md:focus,
.simple-ui-active\:borderRadius-bl-md:active {
	border-bottom-left-radius: 0.375rem;
}

.simple-ui-borderRadius-bl-lg,
.simple-ui-hover\:borderRadius-bl-lg:hover,
.simple-ui-focus\:borderRadius-bl-lg:focus,
.simple-ui-active\:borderRadius-bl-lg:active {
	border-bottom-left-radius: 0.5rem;
}

.simple-ui-borderRadius-bl-xl,
.simple-ui-hover\:borderRadius-bl-xl:hover,
.simple-ui-focus\:borderRadius-bl-xl:focus,
.simple-ui-active\:borderRadius-bl-xl:active {
	border-bottom-left-radius: 0.75rem;
}

.simple-ui-borderRadius-bl-2xl,
.simple-ui-hover\:borderRadius-bl-2xl:hover,
.simple-ui-focus\:borderRadius-bl-2xl:focus,
.simple-ui-active\:borderRadius-bl-2xl:active {
	border-bottom-left-radius: 1rem;
}

.simple-ui-borderRadius-bl-3xl,
.simple-ui-hover\:borderRadius-bl-3xl:hover,
.simple-ui-focus\:borderRadius-bl-3xl:focus,
.simple-ui-active\:borderRadius-bl-3xl:active {
	border-bottom-left-radius: 1.5rem;
}

.simple-ui-borderRadius-bl-full,
.simple-ui-hover\:borderRadius-bl-full:hover,
.simple-ui-focus\:borderRadius-bl-full:focus,
.simple-ui-active\:borderRadius-bl-full:active {
	border-bottom-left-radius: 9999px;
}
