.simple-ui-minWidth-0,
.simple-ui-hover\:minWidth-0:hover,
.simple-ui-focus\:minWidth-0:focus,
.simple-ui-active\:minWidth-0:active {
	min-width: 0px;
}

.simple-ui-minWidth-full,
.simple-ui-hover\:minWidth-full:hover,
.simple-ui-focus\:minWidth-full:focus,
.simple-ui-active\:minWidth-full:active {
	min-width: 100%;
}

.simple-ui-minWidth-min,
.simple-ui-hover\:minWidth-min:hover,
.simple-ui-focus\:minWidth-min:focus,
.simple-ui-active\:minWidth-min:active {
	min-width: min-content;
}

.simple-ui-minWidth-max,
.simple-ui-hover\:minWidth-max:hover,
.simple-ui-focus\:minWidth-max:focus,
.simple-ui-active\:minWidth-max:active {
	min-width: max-content;
}
