.simple-ui-resize-none,
.simple-ui-hover\:resize-none:hover,
.simple-ui-focus\:resize-none:focus,
.simple-ui-active\:resize-none:active {
	resize: none;
}
.simple-ui-resize-y,
.simple-ui-hover\:resize-y:hover,
.simple-ui-focus\:resize-y:focus,
.simple-ui-active\:resize-y:active {
	resize: vertical;
}
.simple-ui-resize-x,
.simple-ui-hover\:resize-x:hover,
.simple-ui-focus\:resize-x:focus,
.simple-ui-active\:resize-x:active {
	resize: horizontal;
}
.simple-ui-resize-both,
.simple-ui-hover\:resize-both:hover,
.simple-ui-focus\:resize-both:focus,
.simple-ui-active\:resize-both:active {
	resize: both;
}
