.simple-ui-overflow-auto,
.simple-ui-hover\:overflow-auto:hover,
.simple-ui-active\:overflow-auto:active,
.simple-ui-focus\:overflow-auto:focus {
	overflow: auto;
}
.simple-ui-overflow-hidden,
.simple-ui-hover\:overflow-hidden:hover,
.simple-ui-active\:overflow-hidden:active,
.simple-ui-focus\:overflow-hidden:focus {
	overflow: hidden;
}
.simple-ui-overflow-visible,
.simple-ui-hover\:overflow-visible:hover,
.simple-ui-active\:overflow-visible:active,
.simple-ui-focus\:overflow-visible:focus {
	overflow: visible;
}
.simple-ui-overflow-scroll,
.simple-ui-hover\:overflow-scroll:hover,
.simple-ui-active\:overflow-scroll:active,
.simple-ui-focus\:overflow-scroll:focus {
	overflow: scroll;
}
.simple-ui-overflowX-auto,
.simple-ui-hover\:overflowX-auto:hover,
.simple-ui-active\:overflowX-auto:active,
.simple-ui-focus\:overflowX-auto:focus {
	overflow-x: auto;
}
.simple-ui-overflowY-auto,
.simple-ui-hover\:overflowY-auto:hover,
.simple-ui-active\:overflowY-auto:active,
.simple-ui-focus\:overflowY-auto:focus {
	overflow-y: auto;
}
.simple-ui-overflowX-hidden,
.simple-ui-hover\:overflowX-hidden:hover,
.simple-ui-active\:overflowX-hidden:active,
.simple-ui-focus\:overflowX-hidden:focus {
	overflow-x: hidden;
}
.simple-ui-overflowY-hidden,
.simple-ui-hover\:overflowY-hidden:hover,
.simple-ui-active\:overflowY-hidden:active,
.simple-ui-focus\:overflowY-hidden:focus {
	overflow-y: hidden;
}
.simple-ui-overflowX-visible,
.simple-ui-hover\:overflowX-visible:hover,
.simple-ui-active\:overflowX-visible:active,
.simple-ui-focus\:overflowX-visible:focus {
	overflow-x: visible;
}
.simple-ui-overflowY-visible,
.simple-ui-hover\:overflowY-visible:hover,
.simple-ui-active\:overflowY-visible:active,
.simple-ui-focus\:overflowY-visible:focus {
	overflow-y: visible;
}
.simple-ui-overflowX-scroll,
.simple-ui-hover\:overflowX-scroll:hover,
.simple-ui-active\:overflowX-scroll:active,
.simple-ui-focus\:overflowX-scroll:focus {
	overflow-x: scroll;
}
.simple-ui-overflowY-scroll,
.simple-ui-hover\:overflowY-scroll:hover,
.simple-ui-active\:overflowY-scroll:active,
.simple-ui-focus\:overflowY-scroll:focus {
	overflow-y: scroll;
}
