.simple-ui-position-static,
.simple-ui-hover\:position-static:hover,
.simple-ui-focus\:position-static:focus,
.simple-ui-active\:position-static:active {
	position: static;
}
.simple-ui-position-fixed,
.simple-ui-hover\:position-fixed:hover,
.simple-ui-focus\:position-fixed:focus,
.simple-ui-active\:position-fixed:active {
	position: fixed;
}
.simple-ui-position-absolute,
.simple-ui-hover\:position-absolute:hover,
.simple-ui-focus\:position-absolute:focus,
.simple-ui-active\:position-absolute:active {
	position: absolute;
}
.simple-ui-position-relative,
.simple-ui-hover\:position-relative:hover,
.simple-ui-focus\:position-relative:focus,
.simple-ui-active\:position-relative:active {
	position: relative;
}
.simple-ui-position-sticky,
.simple-ui-hover\:position-sticky:hover,
.simple-ui-focus\:position-sticky:focus,
.simple-ui-active\:position-sticky:active {
	position: sticky;
}
