.simple-ui-spacingX-0 > * + *,
.simple-ui-hover\:spacingX-0 > * + *:hover,
.simple-ui-focus\:spacingX-0 > * + *:focus,
.simple-ui-active\:spacingX-0 > * + *:active {
	--tw-space-x-reverse: 0;
	margin-right: calc(0px * var(--tw-space-x-reverse));
	margin-left: calc(0px * calc(1 - var(--tw-space-x-reverse)));
}
.simple-ui-spacingX-0\.5 > * + *,
.simple-ui-hover\:spacingX-0\.5 > * + *:hover,
.simple-ui-focus\:spacingX-0\.5 > * + *:focus,
.simple-ui-active\:spacingX-0\.5 > * + *:active {
	--tw-space-x-reverse: 0;
	margin-right: calc(0.125rem * var(--tw-space-x-reverse));
	margin-left: calc(0.125rem * calc(1 - var(--tw-space-x-reverse)));
}
.simple-ui-spacingX-1 > * + *,
.simple-ui-hover\:spacingX-1 > * + *:hover,
.simple-ui-focus\:spacingX-1 > * + *:focus,
.simple-ui-active\:spacingX-1 > * + *:active {
	--tw-space-x-reverse: 0;
	margin-right: calc(0.25rem * var(--tw-space-x-reverse));
	margin-left: calc(0.25rem * calc(1 - var(--tw-space-x-reverse)));
}
.simple-ui-spacingX-1\.5 > * + *,
.simple-ui-hover\:spacingX-1\.5 > * + *:hover,
.simple-ui-focus\:spacingX-1\.5 > * + *:focus,
.simple-ui-active\:spacingX-1\.5 > * + *:active {
	--tw-space-x-reverse: 0;
	margin-right: calc(0.375rem * var(--tw-space-x-reverse));
	margin-left: calc(0.375rem * calc(1 - var(--tw-space-x-reverse)));
}
.simple-ui-spacingX-2 > * + *,
.simple-ui-hover\:spacingX-2 > * + *:hover,
.simple-ui-focus\:spacingX-2 > * + *:focus,
.simple-ui-active\:spacingX-2 > * + *:active {
	--tw-space-x-reverse: 0;
	margin-right: calc(0.5rem * var(--tw-space-x-reverse));
	margin-left: calc(0.5rem * calc(1 - var(--tw-space-x-reverse)));
}
.simple-ui-spacingX-2\.5 > * + *,
.simple-ui-hover\:spacingX-2\.5 > * + *:hover,
.simple-ui-focus\:spacingX-2\.5 > * + *:focus,
.simple-ui-active\:spacingX-2\.5 > * + *:active {
	--tw-space-x-reverse: 0;
	margin-right: calc(0.625rem * var(--tw-space-x-reverse));
	margin-left: calc(0.625rem * calc(1 - var(--tw-space-x-reverse)));
}
.simple-ui-spacingX-3 > * + *,
.simple-ui-hover\:spacingX-3 > * + *:hover,
.simple-ui-focus\:spacingX-3 > * + *:focus,
.simple-ui-active\:spacingX-3 > * + *:active {
	--tw-space-x-reverse: 0;
	margin-right: calc(0.75rem * var(--tw-space-x-reverse));
	margin-left: calc(0.75rem * calc(1 - var(--tw-space-x-reverse)));
}
.simple-ui-spacingX-3\.5 > * + *,
.simple-ui-hover\:spacingX-3\.5 > * + *:hover,
.simple-ui-focus\:spacingX-3\.5 > * + *:focus,
.simple-ui-active\:spacingX-3\.5 > * + *:active {
	--tw-space-x-reverse: 0;
	margin-right: calc(0.875rem * var(--tw-space-x-reverse));
	margin-left: calc(0.875rem * calc(1 - var(--tw-space-x-reverse)));
}
.simple-ui-spacingX-4 > * + *,
.simple-ui-hover\:spacingX-4 > * + *:hover,
.simple-ui-focus\:spacingX-4 > * + *:focus,
.simple-ui-active\:spacingX-4 > * + *:active {
	--tw-space-x-reverse: 0;
	margin-right: calc(1rem * var(--tw-space-x-reverse));
	margin-left: calc(1rem * calc(1 - var(--tw-space-x-reverse)));
}
.simple-ui-spacingX-5 > * + *,
.simple-ui-hover\:spacingX-5 > * + *:hover,
.simple-ui-focus\:spacingX-5 > * + *:focus,
.simple-ui-active\:spacingX-5 > * + *:active {
	--tw-space-x-reverse: 0;
	margin-right: calc(1.25rem * var(--tw-space-x-reverse));
	margin-left: calc(1.25rem * calc(1 - var(--tw-space-x-reverse)));
}
.simple-ui-spacingX-6 > * + *,
.simple-ui-hover\:spacingX-6 > * + *:hover,
.simple-ui-focus\:spacingX-6 > * + *:focus,
.simple-ui-active\:spacingX-6 > * + *:active {
	--tw-space-x-reverse: 0;
	margin-right: calc(1.5rem * var(--tw-space-x-reverse));
	margin-left: calc(1.5rem * calc(1 - var(--tw-space-x-reverse)));
}
.simple-ui-spacingX-7 > * + *,
.simple-ui-hover\:spacingX-7 > * + *:hover,
.simple-ui-focus\:spacingX-7 > * + *:focus,
.simple-ui-active\:spacingX-7 > * + *:active {
	--tw-space-x-reverse: 0;
	margin-right: calc(1.75rem * var(--tw-space-x-reverse));
	margin-left: calc(1.75rem * calc(1 - var(--tw-space-x-reverse)));
}
.simple-ui-spacingX-8 > * + *,
.simple-ui-hover\:spacingX-8 > * + *:hover,
.simple-ui-focus\:spacingX-8 > * + *:focus,
.simple-ui-active\:spacingX-8 > * + *:active {
	--tw-space-x-reverse: 0;
	margin-right: calc(2rem * var(--tw-space-x-reverse));
	margin-left: calc(2rem * calc(1 - var(--tw-space-x-reverse)));
}
.simple-ui-spacingX-9 > * + *,
.simple-ui-hover\:spacingX-9 > * + *:hover,
.simple-ui-focus\:spacingX-9 > * + *:focus,
.simple-ui-active\:spacingX-9 > * + *:active {
	--tw-space-x-reverse: 0;
	margin-right: calc(2.25rem * var(--tw-space-x-reverse));
	margin-left: calc(2.25rem * calc(1 - var(--tw-space-x-reverse)));
}
.simple-ui-spacingX-10 > * + *,
.simple-ui-hover\:spacingX-10 > * + *:hover,
.simple-ui-focus\:spacingX-10 > * + *:focus,
.simple-ui-active\:spacingX-10 > * + *:active {
	--tw-space-x-reverse: 0;
	margin-right: calc(2.5rem * var(--tw-space-x-reverse));
	margin-left: calc(2.5rem * calc(1 - var(--tw-space-x-reverse)));
}
.simple-ui-spacingX-11 > * + *,
.simple-ui-hover\:spacingX-11 > * + *:hover,
.simple-ui-focus\:spacingX-11 > * + *:focus,
.simple-ui-active\:spacingX-11 > * + *:active {
	--tw-space-x-reverse: 0;
	margin-right: calc(2.75rem * var(--tw-space-x-reverse));
	margin-left: calc(2.75rem * calc(1 - var(--tw-space-x-reverse)));
}
.simple-ui-spacingX-12 > * + *,
.simple-ui-hover\:spacingX-12 > * + *:hover,
.simple-ui-focus\:spacingX-12 > * + *:focus,
.simple-ui-active\:spacingX-12 > * + *:active {
	--tw-space-x-reverse: 0;
	margin-right: calc(3rem * var(--tw-space-x-reverse));
	margin-left: calc(3rem * calc(1 - var(--tw-space-x-reverse)));
}
.simple-ui-spacingX-14 > * + *,
.simple-ui-hover\:spacingX-14 > * + *:hover,
.simple-ui-focus\:spacingX-14 > * + *:focus,
.simple-ui-active\:spacingX-14 > * + *:active {
	--tw-space-x-reverse: 0;
	margin-right: calc(3.5rem * var(--tw-space-x-reverse));
	margin-left: calc(3.5rem * calc(1 - var(--tw-space-x-reverse)));
}
.simple-ui-spacingX-16 > * + *,
.simple-ui-hover\:spacingX-16 > * + *:hover,
.simple-ui-focus\:spacingX-16 > * + *:focus,
.simple-ui-active\:spacingX-16 > * + *:active {
	--tw-space-x-reverse: 0;
	margin-right: calc(4rem * var(--tw-space-x-reverse));
	margin-left: calc(4rem * calc(1 - var(--tw-space-x-reverse)));
}
.simple-ui-spacingX-20 > * + *,
.simple-ui-hover\:spacingX-20 > * + *:hover,
.simple-ui-focus\:spacingX-20 > * + *:focus,
.simple-ui-active\:spacingX-20 > * + *:active {
	--tw-space-x-reverse: 0;
	margin-right: calc(5rem * var(--tw-space-x-reverse));
	margin-left: calc(5rem * calc(1 - var(--tw-space-x-reverse)));
}
.simple-ui-spacingX-24 > * + *,
.simple-ui-hover\:spacingX-24 > * + *:hover,
.simple-ui-focus\:spacingX-24 > * + *:focus,
.simple-ui-active\:spacingX-24 > * + *:active {
	--tw-space-x-reverse: 0;
	margin-right: calc(6rem * var(--tw-space-x-reverse));
	margin-left: calc(6rem * calc(1 - var(--tw-space-x-reverse)));
}
.simple-ui-spacingX-28 > * + *,
.simple-ui-hover\:spacingX-28 > * + *:hover,
.simple-ui-focus\:spacingX-28 > * + *:focus,
.simple-ui-active\:spacingX-28 > * + *:active {
	--tw-space-x-reverse: 0;
	margin-right: calc(7rem * var(--tw-space-x-reverse));
	margin-left: calc(7rem * calc(1 - var(--tw-space-x-reverse)));
}
.simple-ui-spacingX-32 > * + *,
.simple-ui-hover\:spacingX-32 > * + *:hover,
.simple-ui-focus\:spacingX-32 > * + *:focus,
.simple-ui-active\:spacingX-32 > * + *:active {
	--tw-space-x-reverse: 0;
	margin-right: calc(8rem * var(--tw-space-x-reverse));
	margin-left: calc(8rem * calc(1 - var(--tw-space-x-reverse)));
}
.simple-ui-spacingX-36 > * + *,
.simple-ui-hover\:spacingX-36 > * + *:hover,
.simple-ui-focus\:spacingX-36 > * + *:focus,
.simple-ui-active\:spacingX-36 > * + *:active {
	--tw-space-x-reverse: 0;
	margin-right: calc(9rem * var(--tw-space-x-reverse));
	margin-left: calc(9rem * calc(1 - var(--tw-space-x-reverse)));
}
.simple-ui-spacingX-40 > * + *,
.simple-ui-hover\:spacingX-40 > * + *:hover,
.simple-ui-focus\:spacingX-40 > * + *:focus,
.simple-ui-active\:spacingX-40 > * + *:active {
	--tw-space-x-reverse: 0;
	margin-right: calc(10rem * var(--tw-space-x-reverse));
	margin-left: calc(10rem * calc(1 - var(--tw-space-x-reverse)));
}
.simple-ui-spacingX-44 > * + *,
.simple-ui-hover\:spacingX-44 > * + *:hover,
.simple-ui-focus\:spacingX-44 > * + *:focus,
.simple-ui-active\:spacingX-44 > * + *:active {
	--tw-space-x-reverse: 0;
	margin-right: calc(11rem * var(--tw-space-x-reverse));
	margin-left: calc(11rem * calc(1 - var(--tw-space-x-reverse)));
}
.simple-ui-spacingX-48 > * + *,
.simple-ui-hover\:spacingX-48 > * + *:hover,
.simple-ui-focus\:spacingX-48 > * + *:focus,
.simple-ui-active\:spacingX-48 > * + *:active {
	--tw-space-x-reverse: 0;
	margin-right: calc(12rem * var(--tw-space-x-reverse));
	margin-left: calc(12rem * calc(1 - var(--tw-space-x-reverse)));
}
.simple-ui-spacingX-52 > * + *,
.simple-ui-hover\:spacingX-52 > * + *:hover,
.simple-ui-focus\:spacingX-52 > * + *:focus,
.simple-ui-active\:spacingX-52 > * + *:active {
	--tw-space-x-reverse: 0;
	margin-right: calc(13rem * var(--tw-space-x-reverse));
	margin-left: calc(13rem * calc(1 - var(--tw-space-x-reverse)));
}
.simple-ui-spacingX-56 > * + *,
.simple-ui-hover\:spacingX-56 > * + *:hover,
.simple-ui-focus\:spacingX-56 > * + *:focus,
.simple-ui-active\:spacingX-56 > * + *:active {
	--tw-space-x-reverse: 0;
	margin-right: calc(14rem * var(--tw-space-x-reverse));
	margin-left: calc(14rem * calc(1 - var(--tw-space-x-reverse)));
}
.simple-ui-spacingX-60 > * + *,
.simple-ui-hover\:spacingX-60 > * + *:hover,
.simple-ui-focus\:spacingX-60 > * + *:focus,
.simple-ui-active\:spacingX-60 > * + *:active {
	--tw-space-x-reverse: 0;
	margin-right: calc(15rem * var(--tw-space-x-reverse));
	margin-left: calc(15rem * calc(1 - var(--tw-space-x-reverse)));
}
.simple-ui-spacingX-64 > * + *,
.simple-ui-hover\:spacingX-64 > * + *:hover,
.simple-ui-focus\:spacingX-64 > * + *:focus,
.simple-ui-active\:spacingX-64 > * + *:active {
	--tw-space-x-reverse: 0;
	margin-right: calc(16rem * var(--tw-space-x-reverse));
	margin-left: calc(16rem * calc(1 - var(--tw-space-x-reverse)));
}
.simple-ui-spacingX-72 > * + *,
.simple-ui-hover\:spacingX-72 > * + *:hover,
.simple-ui-focus\:spacingX-72 > * + *:focus,
.simple-ui-active\:spacingX-72 > * + *:active {
	--tw-space-x-reverse: 0;
	margin-right: calc(18rem * var(--tw-space-x-reverse));
	margin-left: calc(18rem * calc(1 - var(--tw-space-x-reverse)));
}
.simple-ui-spacingX-80 > * + *,
.simple-ui-hover\:spacingX-80 > * + *:hover,
.simple-ui-focus\:spacingX-80 > * + *:focus,
.simple-ui-active\:spacingX-80 > * + *:active {
	--tw-space-x-reverse: 0;
	margin-right: calc(20rem * var(--tw-space-x-reverse));
	margin-left: calc(20rem * calc(1 - var(--tw-space-x-reverse)));
}
.simple-ui-spacingX-96 > * + *,
.simple-ui-hover\:spacingX-96 > * + *:hover,
.simple-ui-focus\:spacingX-96 > * + *:focus,
.simple-ui-active\:spacingX-96 > * + *:active {
	--tw-space-x-reverse: 0;
	margin-right: calc(24rem * var(--tw-space-x-reverse));
	margin-left: calc(24rem * calc(1 - var(--tw-space-x-reverse)));
}
.simple-ui-spacingX-px > * + *,
.simple-ui-hover\:spacingX-px > * + *:hover,
.simple-ui-focus\:spacingX-px > * + *:focus,
.simple-ui-active\:spacingX-px > * + *:active {
	--tw-space-x-reverse: 0;
	margin-right: calc(1px * var(--tw-space-x-reverse));
	margin-left: calc(1px * calc(1 - var(--tw-space-x-reverse)));
}
.simple-ui-spacingX-reverse > * + *,
.simple-ui-hover\:spacingX-reverse > * + *:hover,
.simple-ui-focus\:spacingX-reverse > * + *:focus,
.simple-ui-active\:spacingX-reverse > * + *:active {
	--tw-space-x-reverse: 1;
}

.simple-ui-spacingY-0 > * + *,
.simple-ui-hover\:spacingY-0 > * + *:hover,
.simple-ui-focus\:spacingY-0 > * + *:focus,
.simple-ui-active\:spacingY-0 > * + *:active {
	--tw-space-y-reverse: 0;
	margin-top: calc(0px * calc(1 - var(--tw-space-y-reverse)));
	margin-bottom: calc(0px * var(--tw-space-y-reverse));
}
.simple-ui-spacingY-0\.5 > * + *,
.simple-ui-hover\:spacingY-0\.5 > * + *:hover,
.simple-ui-focus\:spacingY-0\.5 > * + *:focus,
.simple-ui-active\:spacingY-0\.5 > * + *:active {
	--tw-space-y-reverse: 0;
	margin-top: calc(0.125rem * calc(1 - var(--tw-space-y-reverse)));
	margin-bottom: calc(0.125rem * var(--tw-space-y-reverse));
}
.simple-ui-spacingY-1 > * + *,
.simple-ui-hover\:spacingY-1 > * + *:hover,
.simple-ui-focus\:spacingY-1 > * + *:focus,
.simple-ui-active\:spacingY-1 > * + *:active {
	--tw-space-y-reverse: 0;
	margin-top: calc(0.25rem * calc(1 - var(--tw-space-y-reverse)));
	margin-bottom: calc(0.25rem * var(--tw-space-y-reverse));
}
.simple-ui-spacingY-1\.5 > * + *,
.simple-ui-hover\:spacingY-1\.5 > * + *:hover,
.simple-ui-focus\:spacingY-1\.5 > * + *:focus,
.simple-ui-active\:spacingY-1\.5 > * + *:active {
	--tw-space-y-reverse: 0;
	margin-top: calc(0.375rem * calc(1 - var(--tw-space-y-reverse)));
	margin-bottom: calc(0.375rem * var(--tw-space-y-reverse));
}
.simple-ui-spacingY-2 > * + *,
.simple-ui-hover\:spacingY-2 > * + *:hover,
.simple-ui-focus\:spacingY-2 > * + *:focus,
.simple-ui-active\:spacingY-2 > * + *:active {
	--tw-space-y-reverse: 0;
	margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
	margin-bottom: calc(0.5rem * var(--tw-space-y-reverse));
}
.simple-ui-spacingY-2\.5 > * + *,
.simple-ui-hover\:spacingY-2\.5 > * + *:hover,
.simple-ui-focus\:spacingY-2\.5 > * + *:focus,
.simple-ui-active\:spacingY-2\.5 > * + *:active {
	--tw-space-y-reverse: 0;
	margin-top: calc(0.625rem * calc(1 - var(--tw-space-y-reverse)));
	margin-bottom: calc(0.625rem * var(--tw-space-y-reverse));
}
.simple-ui-spacingY-3 > * + *,
.simple-ui-hover\:spacingY-3 > * + *:hover,
.simple-ui-focus\:spacingY-3 > * + *:focus,
.simple-ui-active\:spacingY-3 > * + *:active {
	--tw-space-y-reverse: 0;
	margin-top: calc(0.75rem * calc(1 - var(--tw-space-y-reverse)));
	margin-bottom: calc(0.75rem * var(--tw-space-y-reverse));
}
.simple-ui-spacingY-3\.5 > * + *,
.simple-ui-hover\:spacingY-3\.5 > * + *:hover,
.simple-ui-focus\:spacingY-3\.5 > * + *:focus,
.simple-ui-active\:spacingY-3\.5 > * + *:active {
	--tw-space-y-reverse: 0;
	margin-top: calc(0.875rem * calc(1 - var(--tw-space-y-reverse)));
	margin-bottom: calc(0.875rem * var(--tw-space-y-reverse));
}
.simple-ui-spacingY-4 > * + *,
.simple-ui-hover\:spacingY-4 > * + *:hover,
.simple-ui-focus\:spacingY-4 > * + *:focus,
.simple-ui-active\:spacingY-4 > * + *:active {
	--tw-space-y-reverse: 0;
	margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
	margin-bottom: calc(1rem * var(--tw-space-y-reverse));
}
.simple-ui-spacingY-5 > * + *,
.simple-ui-hover\:spacingY-5 > * + *:hover,
.simple-ui-focus\:spacingY-5 > * + *:focus,
.simple-ui-active\:spacingY-5 > * + *:active {
	--tw-space-y-reverse: 0;
	margin-top: calc(1.25rem * calc(1 - var(--tw-space-y-reverse)));
	margin-bottom: calc(1.25rem * var(--tw-space-y-reverse));
}
.simple-ui-spacingY-6 > * + *,
.simple-ui-hover\:spacingY-6 > * + *:hover,
.simple-ui-focus\:spacingY-6 > * + *:focus,
.simple-ui-active\:spacingY-6 > * + *:active {
	--tw-space-y-reverse: 0;
	margin-top: calc(1.5rem * calc(1 - var(--tw-space-y-reverse)));
	margin-bottom: calc(1.5rem * var(--tw-space-y-reverse));
}
.simple-ui-spacingY-7 > * + *,
.simple-ui-hover\:spacingY-7 > * + *:hover,
.simple-ui-focus\:spacingY-7 > * + *:focus,
.simple-ui-active\:spacingY-7 > * + *:active {
	--tw-space-y-reverse: 0;
	margin-top: calc(1.75rem * calc(1 - var(--tw-space-y-reverse)));
	margin-bottom: calc(1.75rem * var(--tw-space-y-reverse));
}
.simple-ui-spacingY-8 > * + *,
.simple-ui-hover\:spacingY-8 > * + *:hover,
.simple-ui-focus\:spacingY-8 > * + *:focus,
.simple-ui-active\:spacingY-8 > * + *:active {
	--tw-space-y-reverse: 0;
	margin-top: calc(2rem * calc(1 - var(--tw-space-y-reverse)));
	margin-bottom: calc(2rem * var(--tw-space-y-reverse));
}
.simple-ui-spacingY-9 > * + *,
.simple-ui-hover\:spacingY-9 > * + *:hover,
.simple-ui-focus\:spacingY-9 > * + *:focus,
.simple-ui-active\:spacingY-9 > * + *:active {
	--tw-space-y-reverse: 0;
	margin-top: calc(2.25rem * calc(1 - var(--tw-space-y-reverse)));
	margin-bottom: calc(2.25rem * var(--tw-space-y-reverse));
}
.simple-ui-spacingY-10 > * + *,
.simple-ui-hover\:spacingY-10 > * + *:hover,
.simple-ui-focus\:spacingY-10 > * + *:focus,
.simple-ui-active\:spacingY-10 > * + *:active {
	--tw-space-y-reverse: 0;
	margin-top: calc(2.5rem * calc(1 - var(--tw-space-y-reverse)));
	margin-bottom: calc(2.5rem * var(--tw-space-y-reverse));
}
.simple-ui-spacingY-11 > * + *,
.simple-ui-hover\:spacingY-11 > * + *:hover,
.simple-ui-focus\:spacingY-11 > * + *:focus,
.simple-ui-active\:spacingY-11 > * + *:active {
	--tw-space-y-reverse: 0;
	margin-top: calc(2.75rem * calc(1 - var(--tw-space-y-reverse)));
	margin-bottom: calc(2.75rem * var(--tw-space-y-reverse));
}
.simple-ui-spacingY-12 > * + *,
.simple-ui-hover\:spacingY-12 > * + *:hover,
.simple-ui-focus\:spacingY-12 > * + *:focus,
.simple-ui-active\:spacingY-12 > * + *:active {
	--tw-space-y-reverse: 0;
	margin-top: calc(3rem * calc(1 - var(--tw-space-y-reverse)));
	margin-bottom: calc(3rem * var(--tw-space-y-reverse));
}
.simple-ui-spacingY-14 > * + *,
.simple-ui-hover\:spacingY-14 > * + *:hover,
.simple-ui-focus\:spacingY-14 > * + *:focus,
.simple-ui-active\:spacingY-14 > * + *:active {
	--tw-space-y-reverse: 0;
	margin-top: calc(3.5rem * calc(1 - var(--tw-space-y-reverse)));
	margin-bottom: calc(3.5rem * var(--tw-space-y-reverse));
}
.simple-ui-spacingY-16 > * + *,
.simple-ui-hover\:spacingY-16 > * + *:hover,
.simple-ui-focus\:spacingY-16 > * + *:focus,
.simple-ui-active\:spacingY-16 > * + *:active {
	--tw-space-y-reverse: 0;
	margin-top: calc(4rem * calc(1 - var(--tw-space-y-reverse)));
	margin-bottom: calc(4rem * var(--tw-space-y-reverse));
}
.simple-ui-spacingY-20 > * + *,
.simple-ui-hover\:spacingY-20 > * + *:hover,
.simple-ui-focus\:spacingY-20 > * + *:focus,
.simple-ui-active\:spacingY-20 > * + *:active {
	--tw-space-y-reverse: 0;
	margin-top: calc(5rem * calc(1 - var(--tw-space-y-reverse)));
	margin-bottom: calc(5rem * var(--tw-space-y-reverse));
}
.simple-ui-spacingY-24 > * + *,
.simple-ui-hover\:spacingY-24 > * + *:hover,
.simple-ui-focus\:spacingY-24 > * + *:focus,
.simple-ui-active\:spacingY-24 > * + *:active {
	--tw-space-y-reverse: 0;
	margin-top: calc(6rem * calc(1 - var(--tw-space-y-reverse)));
	margin-bottom: calc(6rem * var(--tw-space-y-reverse));
}
.simple-ui-spacingY-28 > * + *,
.simple-ui-hover\:spacingY-28 > * + *:hover,
.simple-ui-focus\:spacingY-28 > * + *:focus,
.simple-ui-active\:spacingY-28 > * + *:active {
	--tw-space-y-reverse: 0;
	margin-top: calc(7rem * calc(1 - var(--tw-space-y-reverse)));
	margin-bottom: calc(7rem * var(--tw-space-y-reverse));
}
.simple-ui-spacingY-32 > * + *,
.simple-ui-hover\:spacingY-32 > * + *:hover,
.simple-ui-focus\:spacingY-32 > * + *:focus,
.simple-ui-active\:spacingY-32 > * + *:active {
	--tw-space-y-reverse: 0;
	margin-top: calc(8rem * calc(1 - var(--tw-space-y-reverse)));
	margin-bottom: calc(8rem * var(--tw-space-y-reverse));
}
.simple-ui-spacingY-36 > * + *,
.simple-ui-hover\:spacingY-36 > * + *:hover,
.simple-ui-focus\:spacingY-36 > * + *:focus,
.simple-ui-active\:spacingY-36 > * + *:active {
	--tw-space-y-reverse: 0;
	margin-top: calc(9rem * calc(1 - var(--tw-space-y-reverse)));
	margin-bottom: calc(9rem * var(--tw-space-y-reverse));
}
.simple-ui-spacingY-40 > * + *,
.simple-ui-hover\:spacingY-40 > * + *:hover,
.simple-ui-focus\:spacingY-40 > * + *:focus,
.simple-ui-active\:spacingY-40 > * + *:active {
	--tw-space-y-reverse: 0;
	margin-top: calc(10rem * calc(1 - var(--tw-space-y-reverse)));
	margin-bottom: calc(10rem * var(--tw-space-y-reverse));
}
.simple-ui-spacingY-44 > * + *,
.simple-ui-hover\:spacingY-44 > * + *:hover,
.simple-ui-focus\:spacingY-44 > * + *:focus,
.simple-ui-active\:spacingY-44 > * + *:active {
	--tw-space-y-reverse: 0;
	margin-top: calc(11rem * calc(1 - var(--tw-space-y-reverse)));
	margin-bottom: calc(11rem * var(--tw-space-y-reverse));
}
.simple-ui-spacingY-48 > * + *,
.simple-ui-hover\:spacingY-48 > * + *:hover,
.simple-ui-focus\:spacingY-48 > * + *:focus,
.simple-ui-active\:spacingY-48 > * + *:active {
	--tw-space-y-reverse: 0;
	margin-top: calc(12rem * calc(1 - var(--tw-space-y-reverse)));
	margin-bottom: calc(12rem * var(--tw-space-y-reverse));
}
.simple-ui-spacingY-52 > * + *,
.simple-ui-hover\:spacingY-52 > * + *:hover,
.simple-ui-focus\:spacingY-52 > * + *:focus,
.simple-ui-active\:spacingY-52 > * + *:active {
	--tw-space-y-reverse: 0;
	margin-top: calc(13rem * calc(1 - var(--tw-space-y-reverse)));
	margin-bottom: calc(13rem * var(--tw-space-y-reverse));
}
.simple-ui-spacingY-56 > * + *,
.simple-ui-hover\:spacingY-56 > * + *:hover,
.simple-ui-focus\:spacingY-56 > * + *:focus,
.simple-ui-active\:spacingY-56 > * + *:active {
	--tw-space-y-reverse: 0;
	margin-top: calc(14rem * calc(1 - var(--tw-space-y-reverse)));
	margin-bottom: calc(14rem * var(--tw-space-y-reverse));
}
.simple-ui-spacingY-60 > * + *,
.simple-ui-hover\:spacingY-60 > * + *:hover,
.simple-ui-focus\:spacingY-60 > * + *:focus,
.simple-ui-active\:spacingY-60 > * + *:active {
	--tw-space-y-reverse: 0;
	margin-top: calc(15rem * calc(1 - var(--tw-space-y-reverse)));
	margin-bottom: calc(15rem * var(--tw-space-y-reverse));
}
.simple-ui-spacingY-64 > * + *,
.simple-ui-hover\:spacingY-64 > * + *:hover,
.simple-ui-focus\:spacingY-64 > * + *:focus,
.simple-ui-active\:spacingY-64 > * + *:active {
	--tw-space-y-reverse: 0;
	margin-top: calc(16rem * calc(1 - var(--tw-space-y-reverse)));
	margin-bottom: calc(16rem * var(--tw-space-y-reverse));
}
.simple-ui-spacingY-72 > * + *,
.simple-ui-hover\:spacingY-72 > * + *:hover,
.simple-ui-focus\:spacingY-72 > * + *:focus,
.simple-ui-active\:spacingY-72 > * + *:active {
	--tw-space-y-reverse: 0;
	margin-top: calc(18rem * calc(1 - var(--tw-space-y-reverse)));
	margin-bottom: calc(18rem * var(--tw-space-y-reverse));
}
.simple-ui-spacingY-80 > * + *,
.simple-ui-hover\:spacingY-80 > * + *:hover,
.simple-ui-focus\:spacingY-80 > * + *:focus,
.simple-ui-active\:spacingY-80 > * + *:active {
	--tw-space-y-reverse: 0;
	margin-top: calc(20rem * calc(1 - var(--tw-space-y-reverse)));
	margin-bottom: calc(20rem * var(--tw-space-y-reverse));
}
.simple-ui-spacingY-96 > * + *,
.simple-ui-hover\:spacingY-96 > * + *:hover,
.simple-ui-focus\:spacingY-96 > * + *:focus,
.simple-ui-active\:spacingY-96 > * + *:active {
	--tw-space-y-reverse: 0;
	margin-top: calc(24rem * calc(1 - var(--tw-space-y-reverse)));
	margin-bottom: calc(24rem * var(--tw-space-y-reverse));
}
.simple-ui-spacingY-px > * + *,
.simple-ui-hover\:spacingY-px > * + *:hover,
.simple-ui-focus\:spacingY-px > * + *:focus,
.simple-ui-active\:spacingY-px > * + *:active {
	--tw-space-y-reverse: 0;
	margin-top: calc(1px * calc(1 - var(--tw-space-y-reverse)));
	margin-bottom: calc(1px * var(--tw-space-y-reverse));
}
.simple-ui-spacingY-reverse > * + *,
.simple-ui-hover\:spacingY-reverse > * + *:hover,
.simple-ui-focus\:spacingY-reverse > * + *:focus,
.simple-ui-active\:spacingY-reverse > * + *:active {
	--tw-space-y-reverse: 1;
}
