.flexWrap-1,
.hover\:flexWrap-1:hover,
.focus\:flexWrap-1:focus,
.active\:flexWrap-1:active {
	flex: 1 1 0%;
}
.flexWrap-auto,
.hover\:flexWrap-auto:hover,
.focus\:flexWrap-auto:focus,
.active\:flexWrap-auto:active {
	flex: 1 1 auto;
}
.flexWrap-initial,
.hover\:flexWrap-initial:hover,
.focus\:flexWrap-initial:focus,
.active\:flexWrap-initial:active {
	flex: 0 1 auto;
}
.flexWrap-none,
.hover\:flexWrap-none:hover,
.focus\:flexWrap-none:focus,
.active\:flexWrap-none:active {
	flex: none;
}
