.simple-ui-flexWrap-1,
.simple-ui-hover\:flexWrap-1:hover,
.simple-ui-focus\:flexWrap-1:focus,
.simple-ui-active\:flexWrap-1:active {
	flex: 1 1 0%;
}
.simple-ui-flexWrap-auto,
.simple-ui-hover\:flexWrap-auto:hover,
.simple-ui-focus\:flexWrap-auto:focus,
.simple-ui-active\:flexWrap-auto:active {
	flex: 1 1 auto;
}
.simple-ui-flexWrap-initial,
.simple-ui-hover\:flexWrap-initial:hover,
.simple-ui-focus\:flexWrap-initial:focus,
.simple-ui-active\:flexWrap-initial:active {
	flex: 0 1 auto;
}
.simple-ui-flexWrap-none,
.simple-ui-hover\:flexWrap-none:hover,
.simple-ui-focus\:flexWrap-none:focus,
.simple-ui-active\:flexWrap-none:active {
	flex: none;
}
