.simple-ui-bg-clip-border,
.simple-ui-hover\:bg-clip-border:hover,
.simple-ui-focus\:bg-clip-border:focus,
.simple-ui-active\:bg-clip-border:active {
  background-clip: border-box;
}
.simple-ui-bg-clip-padding,
.simple-ui-hover\:bg-clip-padding:hover,
.simple-ui-focus\:bg-clip-padding:focus,
.simple-ui-active\:bg-clip-padding:active {
  background-clip: padding-box;
}
.simple-ui-bg-clip-content,
.simple-ui-hover\:bg-clip-content:hover,
.simple-ui-focus\:bg-clip-content:focus,
.simple-ui-active\:bg-clip-content:active {
  background-clip: content-box;
}
.simple-ui-bg-clip-text,
.simple-ui-hover\:bg-clip-text:hover,
.simple-ui-focus\:bg-clip-text:focus,
.simple-ui-active\:bg-clip-text:active {
  background-clip: text;
}
