.simple-ui-backgroundImage-bg-gradient-none,
.simple-ui-backgroundImage-bg-gradient-none:hover,
.simple-ui-backgroundImage-bg-gradient-none:active,
.simple-ui-backgroundImage-bg-gradient-none:focus {
  background-image: none;
}
.simple-ui-backgroundImage-bg-gradient-to-t,
.simple-ui-hover\:backgroundImage-bg-gradient-to-t:hover,
.simple-ui-active\:backgroundImage-bg-gradient-to-t:active,
.simple-ui-focus\:backgroundImage-bg-gradient-to-t:focus {
  background-image: linear-gradient(to top, var(--simple-ui-gradient-stops));
}
.simple-ui-backgroundImage-bg-gradient-to-tr,
.simple-ui-hover\:backgroundImage-bg-gradient-to-tr:hover,
.simple-ui-active\:backgroundImage-bg-gradient-to-tr:active,
.simple-ui-focus\:backgroundImage-bg-gradient-to-tr:focus {
  background-image: linear-gradient(
    to top right,
    var(--simple-ui-gradient-stops)
  );
}
.simple-ui-backgroundImage-bg-gradient-to-r,
.simple-ui-hover\:backgroundImage-bg-gradient-to-r:hover,
.simple-ui-active\:backgroundImage-bg-gradient-to-r:active,
.simple-ui-focus\:backgroundImage-bg-gradient-to-r:focus {
  background-image: linear-gradient(to right, var(--simple-ui-gradient-stops));
}
.simple-ui-backgroundImage-bg-gradient-to-br,
.simple-ui-hover\:backgroundImage-bg-gradient-to-br:hover,
.simple-ui-active\:backgroundImage-bg-gradient-to-br:active,
.simple-ui-focus\:backgroundImage-bg-gradient-to-br:focus {
  background-image: linear-gradient(
    to bottom right,
    var(--simple-ui-gradient-stops)
  );
}
.simple-ui-backgroundImage-bg-gradient-to-b,
.simple-ui-hover\:backgroundImage-bg-gradient-to-b:hover,
.simple-ui-active\:backgroundImage-bg-gradient-to-b:active,
.simple-ui-focus\:backgroundImage-bg-gradient-to-b:focus {
  background-image: linear-gradient(to bottom, var(--simple-ui-gradient-stops));
}
.simple-ui-backgroundImage-bg-gradient-to-bl,
.simple-ui-hover\:backgroundImage-bg-gradient-to-bl:hover,
.simple-ui-active\:backgroundImage-bg-gradient-to-bl:active,
.simple-ui-focus\:backgroundImage-bg-gradient-to-bl:focus {
  background-image: linear-gradient(
    to bottom left,
    var(--simple-ui-gradient-stops)
  );
}
.simple-ui-backgroundImage-bg-gradient-to-l,
.simple-ui-hover\:backgroundImage-bg-gradient-to-l:hover,
.simple-ui-active\:backgroundImage-bg-gradient-to-l:active,
.simple-ui-focus\:backgroundImage-bg-gradient-to-l:focus {
  background-image: linear-gradient(to left, var(--simple-ui-gradient-stops));
}
.simple-ui-backgroundImage-bg-gradient-to-tl,
.simple-ui-hover\:backgroundImage-bg-gradient-to-tl:hover,
.simple-ui-active\:backgroundImage-bg-gradient-to-tl:active,
.simple-ui-focus\:backgroundImage-bg-gradient-to-tl:focus {
  background-image: linear-gradient(
    to top left,
    var(--simple-ui-gradient-stops)
  );
}
