.simple-ui-boxShadow-xs,
.simple-ui-hover\:boxShadow-xs:hover,
.simple-ui-focus\:boxShadow-xs:focus,
.simple-ui-active\:boxShadow-xs:active {
	--simple-ui-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
	box-shadow: var(--simple-ui-ring-offset-shadow, 0 0 #0000),
		var(--simple-ui-ring-shadow, 0 0 #0000), var(--simple-ui-shadow);
}
.simple-ui-boxShadow-sm,
.simple-ui-hover\:boxShadow-sm:hover,
.simple-ui-focus\:boxShadow-sm:focus,
.simple-ui-active\:boxShadow-sm:active {
	--simple-ui-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
		0 1px 2px 0 rgba(0, 0, 0, 0.06);
	box-shadow: var(--simple-ui-ring-offset-shadow, 0 0 #0000),
		var(--simple-ui-ring-shadow, 0 0 #0000), var(--simple-ui-shadow);
}
.simple-ui-boxShadow-md,
.simple-ui-hover\:boxShadow-md:hover,
.simple-ui-focus\:boxShadow-md:focus,
.simple-ui-active\:boxShadow-md:active {
	--simple-ui-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
		0 2px 4px -1px rgba(0, 0, 0, 0.06);
	box-shadow: var(--simple-ui-ring-offset-shadow, 0 0 #0000),
		var(--simple-ui-ring-shadow, 0 0 #0000), var(--simple-ui-shadow);
}
.simple-ui-boxShadow-lg,
.simple-ui-hover\:boxShadow-lg:hover,
.simple-ui-focus\:boxShadow-lg:focus,
.simple-ui-active\:boxShadow-lg:active {
	--simple-ui-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
		0 4px 6px -2px rgba(0, 0, 0, 0.05);
	box-shadow: var(--simple-ui-ring-offset-shadow, 0 0 #0000),
		var(--simple-ui-ring-shadow, 0 0 #0000), var(--simple-ui-shadow);
}
.simple-ui-boxShadow-xl,
.simple-ui-hover\:boxShadow-xl:hover,
.simple-ui-focus\:boxShadow-xl:focus,
.simple-ui-active\:boxShadow-xl:active {
	--simple-ui-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
		0 10px 10px -5px rgba(0, 0, 0, 0.04);
	box-shadow: var(--simple-ui-ring-offset-shadow, 0 0 #0000),
		var(--simple-ui-ring-shadow, 0 0 #0000), var(--simple-ui-shadow);
}
.simple-ui-boxShadow-2xl,
.simple-ui-hover\:boxShadow-2xl:hover,
.simple-ui-focus\:boxShadow-2xl:focus,
.simple-ui-active\:boxShadow-2xl:active {
	--simple-ui-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
	box-shadow: var(--simple-ui-ring-offset-shadow, 0 0 #0000),
		var(--simple-ui-ring-shadow, 0 0 #0000), var(--simple-ui-shadow);
}
.simple-ui-boxShadow-inner,
.simple-ui-hover\:boxShadow-inner:hover,
.simple-ui-focus\:boxShadow-inner:focus,
.simple-ui-active\:boxShadow-inner:active {
	--simple-ui-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
	box-shadow: var(--simple-ui-ring-offset-shadow, 0 0 #0000),
		var(--simple-ui-ring-shadow, 0 0 #0000), var(--simple-ui-shadow);
}
.simple-ui-boxShadow-none,
.simple-ui-hover\:boxShadow-none:hover,
.simple-ui-focus\:boxShadow-none:focus,
.simple-ui-active\:boxShadow-none:active {
	--simple-ui-shadow: 0 0 #0000;
	box-shadow: var(--simple-ui-ring-offset-shadow, 0 0 #0000),
		var(--simple-ui-ring-shadow, 0 0 #0000), var(--simple-ui-shadow);
}
