.simple-ui-width-0,
.simple-ui-hover\:width-0:hover,
.simple-ui-active\:width-0:active,
.simple-ui-focus\:width-0:focus {
	width: 0px;
}

.simple-ui-width-px,
.simple-ui-hover\:width-px:hover,
.simple-ui-active\:width-px:active,
.simple-ui-focus\:width-px:focus {
	width: 1px;
}

.simple-ui-width-0\.5,
.simple-ui-hover\:width-0\.5:hover,
.simple-ui-active\:width-0\.5:active,
.simple-ui-focus\:width-0\.5:focus {
	width: 0.125rem;
}

.simple-ui-width-1,
.simple-ui-hover\:width-1:hover,
.simple-ui-active\:width-1:active,
.simple-ui-focus\:width-1:focus {
	width: 0.25rem;
}

.simple-ui-width-1\.5,
.simple-ui-hover\:width-1\.5:hover,
.simple-ui-active\:width-1\.5:active,
.simple-ui-focus\:width-1\.5:focus {
	width: 0.375rem;
}

.simple-ui-width-2,
.simple-ui-hover\:width-2:hover,
.simple-ui-active\:width-2:active,
.simple-ui-focus\:width-2:focus {
	width: 0.5rem;
}

.simple-ui-width-2\.5,
.simple-ui-hover\:width-2\.5:hover,
.simple-ui-active\:width-2\.5:active,
.simple-ui-focus\:width-2\.5:focus {
	width: 0.625rem;
}

.simple-ui-width-3,
.simple-ui-hover\:width-3:hover,
.simple-ui-active\:width-3:active,
.simple-ui-focus\:width-3:focus {
	width: 0.75rem;
}

.simple-ui-width-3\.5,
.simple-ui-hover\:width-3\.5:hover,
.simple-ui-active\:width-3\.5:active,
.simple-ui-focus\:width-3\.5:focus {
	width: 0.875rem;
}

.simple-ui-width-4,
.simple-ui-hover\:width-4:hover,
.simple-ui-active\:width-4:active,
.simple-ui-focus\:width-4:focus {
	width: 1rem;
}

.simple-ui-width-5,
.simple-ui-hover\:width-5:hover,
.simple-ui-active\:width-5:active,
.simple-ui-focus\:width-5:focus {
	width: 1.25rem;
}

.simple-ui-width-6,
.simple-ui-hover\:width-6:hover,
.simple-ui-active\:width-6:active,
.simple-ui-focus\:width-6:focus {
	width: 1.5rem;
}

.simple-ui-width-7,
.simple-ui-hover\:width-7:hover,
.simple-ui-active\:width-7:active,
.simple-ui-focus\:width-7:focus {
	width: 1.75rem;
}

.simple-ui-width-8,
.simple-ui-hover\:width-8:hover,
.simple-ui-active\:width-8:active,
.simple-ui-focus\:width-8:focus {
	width: 2rem;
}

.simple-ui-width-9,
.simple-ui-hover\:width-9:hover,
.simple-ui-active\:width-9:active,
.simple-ui-focus\:width-9:focus {
	width: 2.25rem;
}

.simple-ui-width-10,
.simple-ui-hover\:width-10:hover,
.simple-ui-active\:width-10:active,
.simple-ui-focus\:width-10:focus {
	width: 2.5rem;
}

.simple-ui-width-11,
.simple-ui-hover\:width-11:hover,
.simple-ui-active\:width-11:active,
.simple-ui-focus\:width-11:focus {
	width: 2.75rem;
}

.simple-ui-width-12,
.simple-ui-hover\:width-12:hover,
.simple-ui-active\:width-12:active,
.simple-ui-focus\:width-12:focus {
	width: 3rem;
}

.simple-ui-width-14,
.simple-ui-hover\:width-14:hover,
.simple-ui-active\:width-14:active,
.simple-ui-focus\:width-14:focus {
	width: 3.5rem;
}

.simple-ui-width-16,
.simple-ui-hover\:width-16:hover,
.simple-ui-active\:width-16:active,
.simple-ui-focus\:width-16:focus {
	width: 4rem;
}

.simple-ui-width-20,
.simple-ui-hover\:width-20:hover,
.simple-ui-active\:width-20:active,
.simple-ui-focus\:width-20:focus {
	width: 5rem;
}

.simple-ui-width-24,
.simple-ui-hover\:width-24:hover,
.simple-ui-active\:width-24:active,
.simple-ui-focus\:width-24:focus {
	width: 6rem;
}

.simple-ui-width-28,
.simple-ui-hover\:width-28:hover,
.simple-ui-active\:width-28:active,
.simple-ui-focus\:width-28:focus {
	width: 7rem;
}

.simple-ui-width-32,
.simple-ui-hover\:width-32:hover,
.simple-ui-active\:width-32:active,
.simple-ui-focus\:width-32:focus {
	width: 8rem;
}

.simple-ui-width-36,
.simple-ui-hover\:width-36:hover,
.simple-ui-active\:width-36:active,
.simple-ui-focus\:width-36:focus {
	width: 9rem;
}

.simple-ui-width-40,
.simple-ui-hover\:width-40:hover,
.simple-ui-active\:width-40:active,
.simple-ui-focus\:width-40:focus {
	width: 10rem;
}

.simple-ui-width-44,
.simple-ui-hover\:width-44:hover,
.simple-ui-active\:width-44:active,
.simple-ui-focus\:width-44:focus {
	width: 11rem;
}

.simple-ui-width-48,
.simple-ui-hover\:width-48:hover,
.simple-ui-active\:width-48:active,
.simple-ui-focus\:width-48:focus {
	width: 12rem;
}

.simple-ui-width-52,
.simple-ui-hover\:width-52:hover,
.simple-ui-active\:width-52:active,
.simple-ui-focus\:width-52:focus {
	width: 13rem;
}

.simple-ui-width-56,
.simple-ui-hover\:width-56:hover,
.simple-ui-active\:width-56:active,
.simple-ui-focus\:width-56:focus {
	width: 14rem;
}

.simple-ui-width-60,
.simple-ui-hover\:width-60:hover,
.simple-ui-active\:width-60:active,
.simple-ui-focus\:width-60:focus {
	width: 15rem;
}

.simple-ui-width-64,
.simple-ui-hover\:width-64:hover,
.simple-ui-active\:width-64:active,
.simple-ui-focus\:width-64:focus {
	width: 16rem;
}

.simple-ui-width-72,
.simple-ui-hover\:width-72:hover,
.simple-ui-active\:width-72:active,
.simple-ui-focus\:width-72:focus {
	width: 18rem;
}

.simple-ui-width-80,
.simple-ui-hover\:width-80:hover,
.simple-ui-active\:width-80:active,
.simple-ui-focus\:width-80:focus {
	width: 20rem;
}

.simple-ui-width-96,
.simple-ui-hover\:width-96:hover,
.simple-ui-active\:width-96:active,
.simple-ui-focus\:width-96:focus {
	width: 24rem;
}

.simple-ui-width-auto,
.simple-ui-hover\:width-auto:hover,
.simple-ui-active\:width-auto:active,
.simple-ui-focus\:width-auto:focus {
	width: auto;
}

.simple-ui-width-1\/2,
.simple-ui-hover\:width-1\/2:hover,
.simple-ui-active\:width-1\/2:active,
.simple-ui-focus\:width-1\/2:focus {
	width: 50%;
}

.simple-ui-width-1\/3,
.simple-ui-hover\:width-1\/3:hover,
.simple-ui-active\:width-1\/3:active,
.simple-ui-focus\:width-1\/3:focus {
	width: 33.333333%;
}

.simple-ui-width-2\/3,
.simple-ui-hover\:width-2\/3:hover,
.simple-ui-active\:width-2\/3:active,
.simple-ui-focus\:width-2\/3:focus {
	width: 66.666667%;
}

.simple-ui-width-1\/4,
.simple-ui-hover\:width-1\/4:hover,
.simple-ui-active\:width-1\/4:active,
.simple-ui-focus\:width-1\/4:focus {
	width: 25%;
}

.simple-ui-width-2\/4,
.simple-ui-hover\:width-2\/4:hover,
.simple-ui-active\:width-2\/4:active,
.simple-ui-focus\:width-2\/4:focus {
	width: 50%;
}

.simple-ui-width-3\/4,
.simple-ui-hover\:width-3\/4:hover,
.simple-ui-active\:width-3\/4:active,
.simple-ui-focus\:width-3\/4:focus {
	width: 75%;
}

.simple-ui-width-1\/5,
.simple-ui-hover\:width-1\/5:hover,
.simple-ui-active\:width-1\/5:active,
.simple-ui-focus\:width-1\/5:focus {
	width: 20%;
}

.simple-ui-width-2\/5,
.simple-ui-hover\:width-2\/5:hover,
.simple-ui-active\:width-2\/5:active,
.simple-ui-focus\:width-2\/5:focus {
	width: 40%;
}

.simple-ui-width-3\/5,
.simple-ui-hover\:width-3\/5:hover,
.simple-ui-active\:width-3\/5:active,
.simple-ui-focus\:width-3\/5:focus {
	width: 60%;
}

.simple-ui-width-4\/5,
.simple-ui-hover\:width-4\/5:hover,
.simple-ui-active\:width-4\/5:active,
.simple-ui-focus\:width-4\/5:focus {
	width: 80%;
}

.simple-ui-width-1\/6,
.simple-ui-hover\:width-1\/6:hover,
.simple-ui-active\:width-1\/6:active,
.simple-ui-focus\:width-1\/6:focus {
	width: 16.666667%;
}

.simple-ui-width-2\/6,
.simple-ui-hover\:width-2\/6:hover,
.simple-ui-active\:width-2\/6:active,
.simple-ui-focus\:width-2\/6:focus {
	width: 33.333333%;
}

.simple-ui-width-3\/6,
.simple-ui-hover\:width-3\/6:hover,
.simple-ui-active\:width-3\/6:active,
.simple-ui-focus\:width-3\/6:focus {
	width: 50%;
}

.simple-ui-width-4\/6,
.simple-ui-hover\:width-4\/6:hover,
.simple-ui-active\:width-4\/6:active,
.simple-ui-focus\:width-4\/6:focus {
	width: 66.666667%;
}

.simple-ui-width-5\/6,
.simple-ui-hover\:width-5\/6:hover,
.simple-ui-active\:width-5\/6:active,
.simple-ui-focus\:width-5\/6:focus {
	width: 83.333333%;
}

.simple-ui-width-1\/12,
.simple-ui-hover\:width-1\/12:hover,
.simple-ui-active\:width-1\/12:active,
.simple-ui-focus\:width-1\/12:focus {
	width: 8.333333%;
}

.simple-ui-width-2\/12,
.simple-ui-hover\:width-2\/12:hover,
.simple-ui-active\:width-2\/12:active,
.simple-ui-focus\:width-2\/12:focus {
	width: 16.666667%;
}

.simple-ui-width-3\/12,
.simple-ui-hover\:width-3\/12:hover,
.simple-ui-active\:width-3\/12:active,
.simple-ui-focus\:width-3\/12:focus {
	width: 25%;
}

.simple-ui-width-4\/12,
.simple-ui-hover\:width-4\/12:hover,
.simple-ui-active\:width-4\/12:active,
.simple-ui-focus\:width-4\/12:focus {
	width: 33.333333%;
}

.simple-ui-width-5\/12,
.simple-ui-hover\:width-5\/12:hover,
.simple-ui-active\:width-5\/12:active,
.simple-ui-focus\:width-5\/12:focus {
	width: 41.666667%;
}

.simple-ui-width-6\/12,
.simple-ui-hover\:width-6\/12:hover,
.simple-ui-active\:width-6\/12:active,
.simple-ui-focus\:width-6\/12:focus {
	width: 50%;
}

.simple-ui-width-7\/12,
.simple-ui-hover\:width-7\/12:hover,
.simple-ui-active\:width-7\/12:active,
.simple-ui-focus\:width-7\/12:focus {
	width: 58.333333%;
}

.simple-ui-width-8\/12,
.simple-ui-hover\:width-8\/12:hover,
.simple-ui-active\:width-8\/12:active,
.simple-ui-focus\:width-8\/12:focus {
	width: 66.666667%;
}

.simple-ui-width-9\/12,
.simple-ui-hover\:width-9\/12:hover,
.simple-ui-active\:width-9\/12:active,
.simple-ui-focus\:width-9\/12:focus {
	width: 75%;
}

.simple-ui-width-10\/12,
.simple-ui-hover\:width-10\/12:hover,
.simple-ui-active\:width-10\/12:active,
.simple-ui-focus\:width-10\/12:focus {
	width: 83.333333%;
}

.simple-ui-width-11\/12,
.simple-ui-hover\:width-11\/12:hover,
.simple-ui-active\:width-11\/12:active,
.simple-ui-focus\:width-11\/12:focus {
	width: 91.666667%;
}

.simple-ui-width-full,
.simple-ui-hover\:width-full:hover,
.simple-ui-active\:width-full:active,
.simple-ui-focus\:width-full:focus {
	width: 100%;
}

.simple-ui-width-screen,
.simple-ui-hover\:width-screen:hover,
.simple-ui-active\:width-screen:active,
.simple-ui-focus\:width-screen:focus {
	width: 100vw;
}

.simple-ui-width-min,
.simple-ui-hover\:width-min:hover,
.simple-ui-active\:width-min:active,
.simple-ui-focus\:width-min:focus {
	width: min-content;
}
.simple-ui-width-max,
.simple-ui-hover\:width-max:hover,
.simple-ui-active\:width-max:active,
.simple-ui-focus\:width-max:focus {
	width: max-content;
}
