.simple-ui-skewX-0,
.simple-ui-hover\:skew-x-0:hover,
.simple-ui-focus\:skew-x-0:focus,
.simple-ui-active\:skew-x-0:active {
	--simple-ui-skew-x: 0deg;
}
.simple-ui-skewX-1,
.simple-ui-hover\:skew-x-1:hover,
.simple-ui-focus\:skew-x-1:focus,
.simple-ui-active\:skew-x-1:active {
	--simple-ui-skew-x: 1deg;
}
.simple-ui-skewX-2,
.simple-ui-hover\:skew-x-2:hover,
.simple-ui-focus\:skew-x-2:focus,
.simple-ui-active\:skew-x-2:active {
	--simple-ui-skew-x: 2deg;
}
.simple-ui-skewX-3,
.simple-ui-hover\:skew-x-3:hover,
.simple-ui-focus\:skew-x-3:focus,
.simple-ui-active\:skew-x-3:active {
	--simple-ui-skew-x: 3deg;
}
.simple-ui-skewX-6,
.simple-ui-hover\:skew-x-6:hover,
.simple-ui-focus\:skew-x-6:focus,
.simple-ui-active\:skew-x-6:active {
	--simple-ui-skew-x: 6deg;
}
.simple-ui-skewX-12,
.simple-ui-hover\:skew-x-12:hover,
.simple-ui-focus\:skew-x-12:focus,
.simple-ui-active\:skew-x-12:active {
	--simple-ui-skew-x: 12deg;
}
.simple-ui-skewX--12,
.simple-ui-hover\:skewX--12:hover,
.simple-ui-focus\:skewX--12:focus,
.simple-ui-active\:skewX--12:active {
	--simple-ui-skew-x: -12deg;
}
.simple-ui-skewX--6,
.simple-ui-hover\:skewX--6:hover,
.simple-ui-focus\:skewX--6:focus,
.simple-ui-active\:skewX--6:active {
	--simple-ui-skew-x: -6deg;
}
.simple-ui-skewX--3,
.simple-ui-hover\:skewX--3:hover,
.simple-ui-focus\:skewX--3:focus,
.simple-ui-active\:skewX--3:active {
	--simple-ui-skew-x: -3deg;
}
.simple-ui-skewX--2,
.simple-ui-hover\:skewX--2:hover,
.simple-ui-focus\:skewX--2:focus,
.simple-ui-active\:skewX--2:active {
	--simple-ui-skew-x: -2deg;
}
.simple-ui-skewX--1,
.simple-ui-hover\:skewX--1:hover,
.simple-ui-focus\:skewX--1:focus,
.simple-ui-active\:skewX--1:active {
	--simple-ui-skew-x: -1deg;
}
.simple-ui-skew-y-0,
.simple-ui-hover\:skew-y-0:hover,
.simple-ui-focus\:skew-y-0:focus,
.simple-ui-active\:skew-y-0:active {
	--simple-ui-skew-y: 0deg;
}
.simple-ui-skew-y-1,
.simple-ui-hover\:skew-y-1:hover,
.simple-ui-focus\:skew-y-1:focus,
.simple-ui-active\:skew-y-1:active {
	--simple-ui-skew-y: 1deg;
}
.simple-ui-skew-y-2,
.simple-ui-hover\:skew-y-2:hover,
.simple-ui-focus\:skew-y-2:focus,
.simple-ui-active\:skew-y-2:active {
	--simple-ui-skew-y: 2deg;
}
.simple-ui-skew-y-3,
.simple-ui-hover\:skew-y-3:hover,
.simple-ui-focus\:skew-y-3:focus,
.simple-ui-active\:skew-y-3:active {
	--simple-ui-skew-y: 3deg;
}
.simple-ui-skew-y-6,
.simple-ui-hover\:skew-y-6:hover,
.simple-ui-focus\:skew-y-6:focus,
.simple-ui-active\:skew-y-6:active {
	--simple-ui-skew-y: 6deg;
}
.simple-ui-skew-y-12,
.simple-ui-hover\:skew-y-12:hover,
.simple-ui-focus\:skew-y-12:focus,
.simple-ui-active\:skew-y-12:active {
	--simple-ui-skew-y: 12deg;
}
.simple-ui-skewY--12,
.simple-ui-hover\:skewY--12:hover,
.simple-ui-focus\:skewY--12:focus,
.simple-ui-active\:skewY--12:active {
	--simple-ui-skew-y: -12deg;
}
.simple-ui-skewY--6,
.simple-ui-hover\:skewY--6:hover,
.simple-ui-focus\:skewY--6:focus,
.simple-ui-active\:skewY--6:active {
	--simple-ui-skew-y: -6deg;
}
.simple-ui-skewY--3,
.simple-ui-hover\:skewY--3:hover,
.simple-ui-focus\:skewY--3:focus,
.simple-ui-active\:skewY--3:active {
	--simple-ui-skew-y: -3deg;
}
.simple-ui-skewY--2,
.simple-ui-hover\:skewY--2:hover,
.simple-ui-focus\:skewY--2:focus,
.simple-ui-active\:skewY--2:active {
	--simple-ui-skew-y: -2deg;
}
.simple-ui-skewY--1,
.simple-ui-hover\:skewY--1:hover,
.simple-ui-focus\:skewY--1:focus,
.simple-ui-active\:skewY--1:active {
	--simple-ui-skew-y: -1deg;
}
