.simple-ui-padding-0,
.simple-ui-hover\:padding-0:hover,
.simple-ui-focus\:padding-0:focus,
.simple-ui-active\:padding-0 :active {
	padding: 0px;
}

.simple-ui-padding-px,
.simple-ui-hover\:padding-px:hover,
.simple-ui-focus\:padding-px:focus,
.simple-ui-active\:padding-px :active {
	padding: 1px;
}

.simple-ui-padding-0\.5,
.simple-ui-hover\:padding-0\.5:hover,
.simple-ui-focus\:padding-0\.5:focus,
.simple-ui-active\:padding-0\.5 :active {
	padding: 0.125rem;
}

.simple-ui-padding-1,
.simple-ui-hover\:padding-1:hover,
.simple-ui-focus\:padding-1:focus,
.simple-ui-active\:padding-1 :active {
	padding: 0.25rem;
}

.simple-ui-padding-1\.5,
.simple-ui-hover\:padding-1\.5:hover,
.simple-ui-focus\:padding-1\.5:focus,
.simple-ui-active\:padding-1\.5 :active {
	padding: 0.375rem;
}

.simple-ui-padding-2,
.simple-ui-hover\:padding-2:hover,
.simple-ui-focus\:padding-2:focus,
.simple-ui-active\:padding-2 :active {
	padding: 0.5rem;
}

.simple-ui-padding-2\.5,
.simple-ui-hover\:padding-2\.5:hover,
.simple-ui-focus\:padding-2\.5:focus,
.simple-ui-active\:padding-2\.5 :active {
	padding: 0.625rem;
}

.simple-ui-padding-3,
.simple-ui-hover\:padding-3:hover,
.simple-ui-focus\:padding-3:focus,
.simple-ui-active\:padding-3 :active {
	padding: 0.75rem;
}

.simple-ui-padding-3\.5,
.simple-ui-hover\:padding-3\.5:hover,
.simple-ui-focus\:padding-3\.5:focus,
.simple-ui-active\:padding-3\.5 :active {
	padding: 0.875rem;
}

.simple-ui-padding-4,
.simple-ui-hover\:padding-4:hover,
.simple-ui-focus\:padding-4:focus,
.simple-ui-active\:padding-4 :active {
	padding: 1rem;
}

.simple-ui-padding-5,
.simple-ui-hover\:padding-5:hover,
.simple-ui-focus\:padding-5:focus,
.simple-ui-active\:padding-5 :active {
	padding: 1.25rem;
}

.simple-ui-padding-6,
.simple-ui-hover\:padding-6:hover,
.simple-ui-focus\:padding-6:focus,
.simple-ui-active\:padding-6 :active {
	padding: 1.5rem;
}

.simple-ui-padding-7,
.simple-ui-hover\:padding-7:hover,
.simple-ui-focus\:padding-7:focus,
.simple-ui-active\:padding-7 :active {
	padding: 1.75rem;
}

.simple-ui-padding-8,
.simple-ui-hover\:padding-8:hover,
.simple-ui-focus\:padding-8:focus,
.simple-ui-active\:padding-8 :active {
	padding: 2rem;
}

.simple-ui-padding-9,
.simple-ui-hover\:padding-9:hover,
.simple-ui-focus\:padding-9:focus,
.simple-ui-active\:padding-9 :active {
	padding: 2.25rem;
}

.simple-ui-padding-10,
.simple-ui-hover\:padding-10:hover,
.simple-ui-focus\:padding-10:focus,
.simple-ui-active\:padding-10 :active {
	padding: 2.5rem;
}

.simple-ui-padding-11,
.simple-ui-hover\:padding-11:hover,
.simple-ui-focus\:padding-11:focus,
.simple-ui-active\:padding-11 :active {
	padding: 2.75rem;
}

.simple-ui-padding-12,
.simple-ui-hover\:padding-12:hover,
.simple-ui-focus\:padding-12:focus,
.simple-ui-active\:padding-12 :active {
	padding: 3rem;
}

.simple-ui-padding-14,
.simple-ui-hover\:padding-14:hover,
.simple-ui-focus\:padding-14:focus,
.simple-ui-active\:padding-14 :active {
	padding: 3.5rem;
}

.simple-ui-padding-16,
.simple-ui-hover\:padding-16:hover,
.simple-ui-focus\:padding-16:focus,
.simple-ui-active\:padding-16 :active {
	padding: 4rem;
}

.simple-ui-padding-20,
.simple-ui-hover\:padding-20:hover,
.simple-ui-focus\:padding-20:focus,
.simple-ui-active\:padding-20 :active {
	padding: 5rem;
}

.simple-ui-padding-24,
.simple-ui-hover\:padding-24:hover,
.simple-ui-focus\:padding-24:focus,
.simple-ui-active\:padding-24 :active {
	padding: 6rem;
}

.simple-ui-padding-28,
.simple-ui-hover\:padding-28:hover,
.simple-ui-focus\:padding-28:focus,
.simple-ui-active\:padding-28 :active {
	padding: 7rem;
}

.simple-ui-padding-32,
.simple-ui-hover\:padding-32:hover,
.simple-ui-focus\:padding-32:focus,
.simple-ui-active\:padding-32 :active {
	padding: 8rem;
}

.simple-ui-padding-36,
.simple-ui-hover\:padding-36:hover,
.simple-ui-focus\:padding-36:focus,
.simple-ui-active\:padding-36 :active {
	padding: 9rem;
}

.simple-ui-padding-40,
.simple-ui-hover\:padding-40:hover,
.simple-ui-focus\:padding-40:focus,
.simple-ui-active\:padding-40 :active {
	padding: 10rem;
}

.simple-ui-padding-44,
.simple-ui-hover\:padding-44:hover,
.simple-ui-focus\:padding-44:focus,
.simple-ui-active\:padding-44 :active {
	padding: 11rem;
}

.simple-ui-padding-48,
.simple-ui-hover\:padding-48:hover,
.simple-ui-focus\:padding-48:focus,
.simple-ui-active\:padding-48 :active {
	padding: 12rem;
}

.simple-ui-padding-52,
.simple-ui-hover\:padding-52:hover,
.simple-ui-focus\:padding-52:focus,
.simple-ui-active\:padding-52 :active {
	padding: 13rem;
}

.simple-ui-padding-56,
.simple-ui-hover\:padding-56:hover,
.simple-ui-focus\:padding-56:focus,
.simple-ui-active\:padding-56 :active {
	padding: 14rem;
}

.simple-ui-padding-60,
.simple-ui-hover\:padding-60:hover,
.simple-ui-focus\:padding-60:focus,
.simple-ui-active\:padding-60 :active {
	padding: 15rem;
}

.simple-ui-padding-64,
.simple-ui-hover\:padding-64:hover,
.simple-ui-focus\:padding-64:focus,
.simple-ui-active\:padding-64 :active {
	padding: 16rem;
}

.simple-ui-padding-72,
.simple-ui-hover\:padding-72:hover,
.simple-ui-focus\:padding-72:focus,
.simple-ui-active\:padding-72 :active {
	padding: 18rem;
}

.simple-ui-padding-80,
.simple-ui-hover\:padding-80:hover,
.simple-ui-focus\:padding-80:focus,
.simple-ui-active\:padding-80 :active {
	padding: 20rem;
}

.simple-ui-padding-96,
.simple-ui-hover\:padding-96:hover,
.simple-ui-focus\:padding-96:focus,
.simple-ui-active\:padding-96 :active {
	padding: 24rem;
}

.simple-ui-paddingX-0,
.simple-ui-hover\:paddingX-0:hover,
.simple-ui-focus\:paddingX-0:focus,
.simple-ui-active\:paddingX-0 :active {
	padding-left: 0px;
	padding-right: 0px;
}

.simple-ui-paddingX-px,
.simple-ui-hover\:paddingX-px:hover,
.simple-ui-focus\:paddingX-px:focus,
.simple-ui-active\:paddingX-px :active {
	padding-left: 1px;
	padding-right: 1px;
}

.simple-ui-paddingX-0\.5,
.simple-ui-hover\:paddingX-0\.5:hover,
.simple-ui-focus\:paddingX-0\.5:focus,
.simple-ui-active\:paddingX-0\.5 :active {
	padding-left: 0.125rem;
	padding-right: 0.125rem;
}

.simple-ui-paddingX-1,
.simple-ui-hover\:paddingX-1:hover,
.simple-ui-focus\:paddingX-1:focus,
.simple-ui-active\:paddingX-1 :active {
	padding-left: 0.25rem;
	padding-right: 0.25rem;
}

.simple-ui-paddingX-1\.5,
.simple-ui-hover\:paddingX-1\.5:hover,
.simple-ui-focus\:paddingX-1\.5:focus,
.simple-ui-active\:paddingX-1\.5 :active {
	padding-left: 0.375rem;
	padding-right: 0.375rem;
}

.simple-ui-paddingX-2,
.simple-ui-hover\:paddingX-2:hover,
.simple-ui-focus\:paddingX-2:focus,
.simple-ui-active\:paddingX-2 :active {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

.simple-ui-paddingX-2\.5,
.simple-ui-hover\:paddingX-2\.5:hover,
.simple-ui-focus\:paddingX-2\.5:focus,
.simple-ui-active\:paddingX-2\.5 :active {
	padding-left: 0.625rem;
	padding-right: 0.625rem;
}

.simple-ui-paddingX-3,
.simple-ui-hover\:paddingX-3:hover,
.simple-ui-focus\:paddingX-3:focus,
.simple-ui-active\:paddingX-3 :active {
	padding-left: 0.75rem;
	padding-right: 0.75rem;
}

.simple-ui-paddingX-3\.5,
.simple-ui-hover\:paddingX-3\.5:hover,
.simple-ui-focus\:paddingX-3\.5:focus,
.simple-ui-active\:paddingX-3\.5 :active {
	padding-left: 0.875rem;
	padding-right: 0.875rem;
}

.simple-ui-paddingX-4,
.simple-ui-hover\:paddingX-4:hover,
.simple-ui-focus\:paddingX-4:focus,
.simple-ui-active\:paddingX-4 :active {
	padding-left: 1rem;
	padding-right: 1rem;
}

.simple-ui-paddingX-5,
.simple-ui-hover\:paddingX-5:hover,
.simple-ui-focus\:paddingX-5:focus,
.simple-ui-active\:paddingX-5 :active {
	padding-left: 1.25rem;
	padding-right: 1.25rem;
}

.simple-ui-paddingX-6,
.simple-ui-hover\:paddingX-6:hover,
.simple-ui-focus\:paddingX-6:focus,
.simple-ui-active\:paddingX-6 :active {
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}

.simple-ui-paddingX-7,
.simple-ui-hover\:paddingX-7:hover,
.simple-ui-focus\:paddingX-7:focus,
.simple-ui-active\:paddingX-7 :active {
	padding-left: 1.75rem;
	padding-right: 1.75rem;
}

.simple-ui-paddingX-8,
.simple-ui-hover\:paddingX-8:hover,
.simple-ui-focus\:paddingX-8:focus,
.simple-ui-active\:paddingX-8 :active {
	padding-left: 2rem;
	padding-right: 2rem;
}

.simple-ui-paddingX-9,
.simple-ui-hover\:paddingX-9:hover,
.simple-ui-focus\:paddingX-9:focus,
.simple-ui-active\:paddingX-9 :active {
	padding-left: 2.25rem;
	padding-right: 2.25rem;
}

.simple-ui-paddingX-10,
.simple-ui-hover\:paddingX-10:hover,
.simple-ui-focus\:paddingX-10:focus,
.simple-ui-active\:paddingX-10 :active {
	padding-left: 2.5rem;
	padding-right: 2.5rem;
}

.simple-ui-paddingX-11,
.simple-ui-hover\:paddingX-11:hover,
.simple-ui-focus\:paddingX-11:focus,
.simple-ui-active\:paddingX-11 :active {
	padding-left: 2.75rem;
	padding-right: 2.75rem;
}

.simple-ui-paddingX-12,
.simple-ui-hover\:paddingX-12:hover,
.simple-ui-focus\:paddingX-12:focus,
.simple-ui-active\:paddingX-12 :active {
	padding-left: 3rem;
	padding-right: 3rem;
}

.simple-ui-paddingX-14,
.simple-ui-hover\:paddingX-14:hover,
.simple-ui-focus\:paddingX-14:focus,
.simple-ui-active\:paddingX-14 :active {
	padding-left: 3.5rem;
	padding-right: 3.5rem;
}

.simple-ui-paddingX-16,
.simple-ui-hover\:paddingX-16:hover,
.simple-ui-focus\:paddingX-16:focus,
.simple-ui-active\:paddingX-16 :active {
	padding-left: 4rem;
	padding-right: 4rem;
}

.simple-ui-paddingX-20,
.simple-ui-hover\:paddingX-20:hover,
.simple-ui-focus\:paddingX-20:focus,
.simple-ui-active\:paddingX-20 :active {
	padding-left: 5rem;
	padding-right: 5rem;
}

.simple-ui-paddingX-24,
.simple-ui-hover\:paddingX-24:hover,
.simple-ui-focus\:paddingX-24:focus,
.simple-ui-active\:paddingX-24 :active {
	padding-left: 6rem;
	padding-right: 6rem;
}

.simple-ui-paddingX-28,
.simple-ui-hover\:paddingX-28:hover,
.simple-ui-focus\:paddingX-28:focus,
.simple-ui-active\:paddingX-28 :active {
	padding-left: 7rem;
	padding-right: 7rem;
}

.simple-ui-paddingX-32,
.simple-ui-hover\:paddingX-32:hover,
.simple-ui-focus\:paddingX-32:focus,
.simple-ui-active\:paddingX-32 :active {
	padding-left: 8rem;
	padding-right: 8rem;
}

.simple-ui-paddingX-36,
.simple-ui-hover\:paddingX-36:hover,
.simple-ui-focus\:paddingX-36:focus,
.simple-ui-active\:paddingX-36 :active {
	padding-left: 9rem;
	padding-right: 9rem;
}

.simple-ui-paddingX-40,
.simple-ui-hover\:paddingX-40:hover,
.simple-ui-focus\:paddingX-40:focus,
.simple-ui-active\:paddingX-40 :active {
	padding-left: 10rem;
	padding-right: 10rem;
}

.simple-ui-paddingX-44,
.simple-ui-hover\:paddingX-44:hover,
.simple-ui-focus\:paddingX-44:focus,
.simple-ui-active\:paddingX-44 :active {
	padding-left: 11rem;
	padding-right: 11rem;
}

.simple-ui-paddingX-48,
.simple-ui-hover\:paddingX-48:hover,
.simple-ui-focus\:paddingX-48:focus,
.simple-ui-active\:paddingX-48 :active {
	padding-left: 12rem;
	padding-right: 12rem;
}

.simple-ui-paddingX-52,
.simple-ui-hover\:paddingX-52:hover,
.simple-ui-focus\:paddingX-52:focus,
.simple-ui-active\:paddingX-52 :active {
	padding-left: 13rem;
	padding-right: 13rem;
}

.simple-ui-paddingX-56,
.simple-ui-hover\:paddingX-56:hover,
.simple-ui-focus\:paddingX-56:focus,
.simple-ui-active\:paddingX-56 :active {
	padding-left: 14rem;
	padding-right: 14rem;
}

.simple-ui-paddingX-60,
.simple-ui-hover\:paddingX-60:hover,
.simple-ui-focus\:paddingX-60:focus,
.simple-ui-active\:paddingX-60 :active {
	padding-left: 15rem;
	padding-right: 15rem;
}

.simple-ui-paddingX-64,
.simple-ui-hover\:paddingX-64:hover,
.simple-ui-focus\:paddingX-64:focus,
.simple-ui-active\:paddingX-64 :active {
	padding-left: 16rem;
	padding-right: 16rem;
}

.simple-ui-paddingX-72,
.simple-ui-hover\:paddingX-72:hover,
.simple-ui-focus\:paddingX-72:focus,
.simple-ui-active\:paddingX-72 :active {
	padding-left: 18rem;
	padding-right: 18rem;
}

.simple-ui-paddingX-80,
.simple-ui-hover\:paddingX-80:hover,
.simple-ui-focus\:paddingX-80:focus,
.simple-ui-active\:paddingX-80 :active {
	padding-left: 20rem;
	padding-right: 20rem;
}

.simple-ui-paddingX-96,
.simple-ui-hover\:paddingX-96:hover,
.simple-ui-focus\:paddingX-96:focus,
.simple-ui-active\:paddingX-96 :active {
	padding-left: 24rem;
	padding-right: 24rem;
}
.simple-ui-paddingY-0,
.simple-ui-hover\:paddingY-0:hover,
.simple-ui-focus\:paddingY-0:focus,
.simple-ui-active\:paddingY-0 :active {
	padding-top: 0px;
	padding-bottom: 0px;
}
.simple-ui-paddingY-px,
.simple-ui-hover\:paddingY-px:hover,
.simple-ui-focus\:paddingY-px:focus,
.simple-ui-active\:paddingY-px :active {
	padding-top: 1px;
	padding-bottom: 1px;
}
.simple-ui-paddingY-0\.5,
.simple-ui-hover\:paddingY-0\.5:hover,
.simple-ui-focus\:paddingY-0\.5:focus,
.simple-ui-active\:paddingY-0\.5 :active {
	padding-top: 0.125rem;
	padding-bottom: 0.125rem;
}
.simple-ui-paddingY-1,
.simple-ui-hover\:paddingY-1:hover,
.simple-ui-focus\:paddingY-1:focus,
.simple-ui-active\:paddingY-1 :active {
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
}
.simple-ui-paddingY-1\.5,
.simple-ui-hover\:paddingY-1\.5:hover,
.simple-ui-focus\:paddingY-1\.5:focus,
.simple-ui-active\:paddingY-1\.5 :active {
	padding-top: 0.375rem;
	padding-bottom: 0.375rem;
}
.simple-ui-paddingY-2,
.simple-ui-hover\:paddingY-2:hover,
.simple-ui-focus\:paddingY-2:focus,
.simple-ui-active\:paddingY-2 :active {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}
.simple-ui-paddingY-2\.5,
.simple-ui-hover\:paddingY-2\.5:hover,
.simple-ui-focus\:paddingY-2\.5:focus,
.simple-ui-active\:paddingY-2\.5 :active {
	padding-top: 0.625rem;
	padding-bottom: 0.625rem;
}
.simple-ui-paddingY-3,
.simple-ui-hover\:paddingY-3:hover,
.simple-ui-focus\:paddingY-3:focus,
.simple-ui-active\:paddingY-3 :active {
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
}
.simple-ui-paddingY-3\.5,
.simple-ui-hover\:paddingY-3\.5:hover,
.simple-ui-focus\:paddingY-3\.5:focus,
.simple-ui-active\:paddingY-3\.5 :active {
	padding-top: 0.875rem;
	padding-bottom: 0.875rem;
}
.simple-ui-paddingY-4,
.simple-ui-hover\:paddingY-4:hover,
.simple-ui-focus\:paddingY-4:focus,
.simple-ui-active\:paddingY-4 :active {
	padding-top: 1rem;
	padding-bottom: 1rem;
}
.simple-ui-paddingY-5,
.simple-ui-hover\:paddingY-5:hover,
.simple-ui-focus\:paddingY-5:focus,
.simple-ui-active\:paddingY-5 :active {
	padding-top: 1.25rem;
	padding-bottom: 1.25rem;
}
.simple-ui-paddingY-6,
.simple-ui-hover\:paddingY-6:hover,
.simple-ui-focus\:paddingY-6:focus,
.simple-ui-active\:paddingY-6 :active {
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
}
.simple-ui-paddingY-7,
.simple-ui-hover\:paddingY-7:hover,
.simple-ui-focus\:paddingY-7:focus,
.simple-ui-active\:paddingY-7 :active {
	padding-top: 1.75rem;
	padding-bottom: 1.75rem;
}
.simple-ui-paddingY-8,
.simple-ui-hover\:paddingY-8:hover,
.simple-ui-focus\:paddingY-8:focus,
.simple-ui-active\:paddingY-8 :active {
	padding-top: 2rem;
	padding-bottom: 2rem;
}
.simple-ui-paddingY-9,
.simple-ui-hover\:paddingY-9:hover,
.simple-ui-focus\:paddingY-9:focus,
.simple-ui-active\:paddingY-9 :active {
	padding-top: 2.25rem;
	padding-bottom: 2.25rem;
}
.simple-ui-paddingY-10,
.simple-ui-hover\:paddingY-10:hover,
.simple-ui-focus\:paddingY-10:focus,
.simple-ui-active\:paddingY-10 :active {
	padding-top: 2.5rem;
	padding-bottom: 2.5rem;
}
.simple-ui-paddingY-11,
.simple-ui-hover\:paddingY-11:hover,
.simple-ui-focus\:paddingY-11:focus,
.simple-ui-active\:paddingY-11 :active {
	padding-top: 2.75rem;
	padding-bottom: 2.75rem;
}
.simple-ui-paddingY-12,
.simple-ui-hover\:paddingY-12:hover,
.simple-ui-focus\:paddingY-12:focus,
.simple-ui-active\:paddingY-12 :active {
	padding-top: 3rem;
	padding-bottom: 3rem;
}
.simple-ui-paddingY-14,
.simple-ui-hover\:paddingY-14:hover,
.simple-ui-focus\:paddingY-14:focus,
.simple-ui-active\:paddingY-14 :active {
	padding-top: 3.5rem;
	padding-bottom: 3.5rem;
}
.simple-ui-paddingY-16,
.simple-ui-hover\:paddingY-16:hover,
.simple-ui-focus\:paddingY-16:focus,
.simple-ui-active\:paddingY-16 :active {
	padding-top: 4rem;
	padding-bottom: 4rem;
}
.simple-ui-paddingY-20,
.simple-ui-hover\:paddingY-20:hover,
.simple-ui-focus\:paddingY-20:focus,
.simple-ui-active\:paddingY-20 :active {
	padding-top: 5rem;
	padding-bottom: 5rem;
}
.simple-ui-paddingY-24,
.simple-ui-hover\:paddingY-24:hover,
.simple-ui-focus\:paddingY-24:focus,
.simple-ui-active\:paddingY-24 :active {
	padding-top: 6rem;
	padding-bottom: 6rem;
}
.simple-ui-paddingY-28,
.simple-ui-hover\:paddingY-28:hover,
.simple-ui-focus\:paddingY-28:focus,
.simple-ui-active\:paddingY-28 :active {
	padding-top: 7rem;
	padding-bottom: 7rem;
}
.simple-ui-paddingY-32,
.simple-ui-hover\:paddingY-32:hover,
.simple-ui-focus\:paddingY-32:focus,
.simple-ui-active\:paddingY-32 :active {
	padding-top: 8rem;
	padding-bottom: 8rem;
}
.simple-ui-paddingY-36,
.simple-ui-hover\:paddingY-36:hover,
.simple-ui-focus\:paddingY-36:focus,
.simple-ui-active\:paddingY-36 :active {
	padding-top: 9rem;
	padding-bottom: 9rem;
}
.simple-ui-paddingY-40,
.simple-ui-hover\:paddingY-40:hover,
.simple-ui-focus\:paddingY-40:focus,
.simple-ui-active\:paddingY-40 :active {
	padding-top: 10rem;
	padding-bottom: 10rem;
}
.simple-ui-paddingY-44,
.simple-ui-hover\:paddingY-44:hover,
.simple-ui-focus\:paddingY-44:focus,
.simple-ui-active\:paddingY-44 :active {
	padding-top: 11rem;
	padding-bottom: 11rem;
}
.simple-ui-paddingY-48,
.simple-ui-hover\:paddingY-48:hover,
.simple-ui-focus\:paddingY-48:focus,
.simple-ui-active\:paddingY-48 :active {
	padding-top: 12rem;
	padding-bottom: 12rem;
}
.simple-ui-paddingY-52,
.simple-ui-hover\:paddingY-52:hover,
.simple-ui-focus\:paddingY-52:focus,
.simple-ui-active\:paddingY-52 :active {
	padding-top: 13rem;
	padding-bottom: 13rem;
}
.simple-ui-paddingY-56,
.simple-ui-hover\:paddingY-56:hover,
.simple-ui-focus\:paddingY-56:focus,
.simple-ui-active\:paddingY-56 :active {
	padding-top: 14rem;
	padding-bottom: 14rem;
}
.simple-ui-paddingY-60,
.simple-ui-hover\:paddingY-60:hover,
.simple-ui-focus\:paddingY-60:focus,
.simple-ui-active\:paddingY-60 :active {
	padding-top: 15rem;
	padding-bottom: 15rem;
}
.simple-ui-paddingY-64,
.simple-ui-hover\:paddingY-64:hover,
.simple-ui-focus\:paddingY-64:focus,
.simple-ui-active\:paddingY-64 :active {
	padding-top: 16rem;
	padding-bottom: 16rem;
}
.simple-ui-paddingY-72,
.simple-ui-hover\:paddingY-72:hover,
.simple-ui-focus\:paddingY-72:focus,
.simple-ui-active\:paddingY-72 :active {
	padding-top: 18rem;
	padding-bottom: 18rem;
}
.simple-ui-paddingY-80,
.simple-ui-hover\:paddingY-80:hover,
.simple-ui-focus\:paddingY-80:focus,
.simple-ui-active\:paddingY-80 :active {
	padding-top: 20rem;
	padding-bottom: 20rem;
}
.simple-ui-paddingY-96,
.simple-ui-hover\:paddingY-96:hover,
.simple-ui-focus\:paddingY-96:focus,
.simple-ui-active\:paddingY-96 :active {
	padding-top: 24rem;
	padding-bottom: 24rem;
}

.simple-ui-paddingTop-0,
.simple-ui-hover\:paddingTop-0:hover,
.simple-ui-focus\:paddingTop-0:focus,
.simple-ui-active\:paddingTop-0:active {
	padding-top: 0px;
}

.simple-ui-paddingTop-px,
.simple-ui-hover\:paddingTop-px:hover,
.simple-ui-focus\:paddingTop-px:focus,
.simple-ui-active\:paddingTop-px:active {
	padding-top: 1px;
}

.simple-ui-paddingTop-0\.5,
.simple-ui-hover\:paddingTop-0\.5:hover,
.simple-ui-focus\:paddingTop-0\.5:focus,
.simple-ui-active\:paddingTop-0\.5:active {
	padding-top: 0.125rem;
}

.simple-ui-paddingTop-1,
.simple-ui-hover\:paddingTop-1:hover,
.simple-ui-focus\:paddingTop-1:focus,
.simple-ui-active\:paddingTop-1:active {
	padding-top: 0.25rem;
}

.simple-ui-paddingTop-1\.5,
.simple-ui-hover\:paddingTop-1\.5:hover,
.simple-ui-focus\:paddingTop-1\.5:focus,
.simple-ui-active\:paddingTop-1\.5:active {
	padding-top: 0.375rem;
}

.simple-ui-paddingTop-2,
.simple-ui-hover\:paddingTop-2:hover,
.simple-ui-focus\:paddingTop-2:focus,
.simple-ui-active\:paddingTop-2:active {
	padding-top: 0.5rem;
}

.simple-ui-paddingTop-2\.5,
.simple-ui-hover\:paddingTop-2\.5:hover,
.simple-ui-focus\:paddingTop-2\.5:focus,
.simple-ui-active\:paddingTop-2\.5:active {
	padding-top: 0.625rem;
}

.simple-ui-paddingTop-3,
.simple-ui-hover\:paddingTop-3:hover,
.simple-ui-focus\:paddingTop-3:focus,
.simple-ui-active\:paddingTop-3:active {
	padding-top: 0.75rem;
}

.simple-ui-paddingTop-3\.5,
.simple-ui-hover\:paddingTop-3\.5:hover,
.simple-ui-focus\:paddingTop-3\.5:focus,
.simple-ui-active\:paddingTop-3\.5:active {
	padding-top: 0.875rem;
}

.simple-ui-paddingTop-4,
.simple-ui-hover\:paddingTop-4:hover,
.simple-ui-focus\:paddingTop-4:focus,
.simple-ui-active\:paddingTop-4:active {
	padding-top: 1rem;
}

.simple-ui-paddingTop-5,
.simple-ui-hover\:paddingTop-5:hover,
.simple-ui-focus\:paddingTop-5:focus,
.simple-ui-active\:paddingTop-5:active {
	padding-top: 1.25rem;
}

.simple-ui-paddingTop-6,
.simple-ui-hover\:paddingTop-6:hover,
.simple-ui-focus\:paddingTop-6:focus,
.simple-ui-active\:paddingTop-6:active {
	padding-top: 1.5rem;
}

.simple-ui-paddingTop-7,
.simple-ui-hover\:paddingTop-7:hover,
.simple-ui-focus\:paddingTop-7:focus,
.simple-ui-active\:paddingTop-7:active {
	padding-top: 1.75rem;
}

.simple-ui-paddingTop-8,
.simple-ui-hover\:paddingTop-8:hover,
.simple-ui-focus\:paddingTop-8:focus,
.simple-ui-active\:paddingTop-8:active {
	padding-top: 2rem;
}

.simple-ui-paddingTop-9,
.simple-ui-hover\:paddingTop-9:hover,
.simple-ui-focus\:paddingTop-9:focus,
.simple-ui-active\:paddingTop-9:active {
	padding-top: 2.25rem;
}

.simple-ui-paddingTop-10,
.simple-ui-hover\:paddingTop-10:hover,
.simple-ui-focus\:paddingTop-10:focus,
.simple-ui-active\:paddingTop-10:active {
	padding-top: 2.5rem;
}

.simple-ui-paddingTop-11,
.simple-ui-hover\:paddingTop-11:hover,
.simple-ui-focus\:paddingTop-11:focus,
.simple-ui-active\:paddingTop-11:active {
	padding-top: 2.75rem;
}

.simple-ui-paddingTop-12,
.simple-ui-hover\:paddingTop-12:hover,
.simple-ui-focus\:paddingTop-12:focus,
.simple-ui-active\:paddingTop-12:active {
	padding-top: 3rem;
}

.simple-ui-paddingTop-14,
.simple-ui-hover\:paddingTop-14:hover,
.simple-ui-focus\:paddingTop-14:focus,
.simple-ui-active\:paddingTop-14:active {
	padding-top: 3.5rem;
}

.simple-ui-paddingTop-16,
.simple-ui-hover\:paddingTop-16:hover,
.simple-ui-focus\:paddingTop-16:focus,
.simple-ui-active\:paddingTop-16:active {
	padding-top: 4rem;
}

.simple-ui-paddingTop-20,
.simple-ui-hover\:paddingTop-20:hover,
.simple-ui-focus\:paddingTop-20:focus,
.simple-ui-active\:paddingTop-20:active {
	padding-top: 5rem;
}

.simple-ui-paddingTop-24,
.simple-ui-hover\:paddingTop-24:hover,
.simple-ui-focus\:paddingTop-24:focus,
.simple-ui-active\:paddingTop-24:active {
	padding-top: 6rem;
}

.simple-ui-paddingTop-28,
.simple-ui-hover\:paddingTop-28:hover,
.simple-ui-focus\:paddingTop-28:focus,
.simple-ui-active\:paddingTop-28:active {
	padding-top: 7rem;
}

.simple-ui-paddingTop-32,
.simple-ui-hover\:paddingTop-32:hover,
.simple-ui-focus\:paddingTop-32:focus,
.simple-ui-active\:paddingTop-32:active {
	padding-top: 8rem;
}

.simple-ui-paddingTop-36,
.simple-ui-hover\:paddingTop-36:hover,
.simple-ui-focus\:paddingTop-36:focus,
.simple-ui-active\:paddingTop-36:active {
	padding-top: 9rem;
}

.simple-ui-paddingTop-40,
.simple-ui-hover\:paddingTop-40:hover,
.simple-ui-focus\:paddingTop-40:focus,
.simple-ui-active\:paddingTop-40:active {
	padding-top: 10rem;
}

.simple-ui-paddingTop-44,
.simple-ui-hover\:paddingTop-44:hover,
.simple-ui-focus\:paddingTop-44:focus,
.simple-ui-active\:paddingTop-44:active {
	padding-top: 11rem;
}

.simple-ui-paddingTop-48,
.simple-ui-hover\:paddingTop-48:hover,
.simple-ui-focus\:paddingTop-48:focus,
.simple-ui-active\:paddingTop-48:active {
	padding-top: 12rem;
}

.simple-ui-paddingTop-52,
.simple-ui-hover\:paddingTop-52:hover,
.simple-ui-focus\:paddingTop-52:focus,
.simple-ui-active\:paddingTop-52:active {
	padding-top: 13rem;
}

.simple-ui-paddingTop-56,
.simple-ui-hover\:paddingTop-56:hover,
.simple-ui-focus\:paddingTop-56:focus,
.simple-ui-active\:paddingTop-56:active {
	padding-top: 14rem;
}

.simple-ui-paddingTop-60,
.simple-ui-hover\:paddingTop-60:hover,
.simple-ui-focus\:paddingTop-60:focus,
.simple-ui-active\:paddingTop-60:active {
	padding-top: 15rem;
}

.simple-ui-paddingTop-64,
.simple-ui-hover\:paddingTop-64:hover,
.simple-ui-focus\:paddingTop-64:focus,
.simple-ui-active\:paddingTop-64:active {
	padding-top: 16rem;
}

.simple-ui-paddingTop-72,
.simple-ui-hover\:paddingTop-72:hover,
.simple-ui-focus\:paddingTop-72:focus,
.simple-ui-active\:paddingTop-72:active {
	padding-top: 18rem;
}

.simple-ui-paddingTop-80,
.simple-ui-hover\:paddingTop-80:hover,
.simple-ui-focus\:paddingTop-80:focus,
.simple-ui-active\:paddingTop-80:active {
	padding-top: 20rem;
}

.simple-ui-paddingTop-96,
.simple-ui-hover\:paddingTop-96:hover,
.simple-ui-focus\:paddingTop-96:focus,
.simple-ui-active\:paddingTop-96:active {
	padding-top: 24rem;
}

.simple-ui-paddingRight-0,
.simple-ui-hover\:paddingRight-0:hover,
.simple-ui-focus\:paddingRight-0:focus,
.simple-ui-active\:paddingRight-0:active {
	padding-right: 0px;
}

.simple-ui-paddingRight-px,
.simple-ui-hover\:paddingRight-px:hover,
.simple-ui-focus\:paddingRight-px:focus,
.simple-ui-active\:paddingRight-px:active {
	padding-right: 1px;
}

.simple-ui-paddingRight-0\.5,
.simple-ui-hover\:paddingRight-0\.5:hover,
.simple-ui-focus\:paddingRight-0\.5:focus,
.simple-ui-active\:paddingRight-0\.5:active {
	padding-right: 0.125rem;
}

.simple-ui-paddingRight-1,
.simple-ui-hover\:paddingRight-1:hover,
.simple-ui-focus\:paddingRight-1:focus,
.simple-ui-active\:paddingRight-1:active {
	padding-right: 0.25rem;
}

.simple-ui-paddingRight-1\.5,
.simple-ui-hover\:paddingRight-1\.5:hover,
.simple-ui-focus\:paddingRight-1\.5:focus,
.simple-ui-active\:paddingRight-1\.5:active {
	padding-right: 0.375rem;
}

.simple-ui-paddingRight-2,
.simple-ui-hover\:paddingRight-2:hover,
.simple-ui-focus\:paddingRight-2:focus,
.simple-ui-active\:paddingRight-2:active {
	padding-right: 0.5rem;
}

.simple-ui-paddingRight-2\.5,
.simple-ui-hover\:paddingRight-2\.5:hover,
.simple-ui-focus\:paddingRight-2\.5:focus,
.simple-ui-active\:paddingRight-2\.5:active {
	padding-right: 0.625rem;
}

.simple-ui-paddingRight-3,
.simple-ui-hover\:paddingRight-3:hover,
.simple-ui-focus\:paddingRight-3:focus,
.simple-ui-active\:paddingRight-3:active {
	padding-right: 0.75rem;
}

.simple-ui-paddingRight-3\.5,
.simple-ui-hover\:paddingRight-3\.5:hover,
.simple-ui-focus\:paddingRight-3\.5:focus,
.simple-ui-active\:paddingRight-3\.5:active {
	padding-right: 0.875rem;
}

.simple-ui-paddingRight-4,
.simple-ui-hover\:paddingRight-4:hover,
.simple-ui-focus\:paddingRight-4:focus,
.simple-ui-active\:paddingRight-4:active {
	padding-right: 1rem;
}

.simple-ui-paddingRight-5,
.simple-ui-hover\:paddingRight-5:hover,
.simple-ui-focus\:paddingRight-5:focus,
.simple-ui-active\:paddingRight-5:active {
	padding-right: 1.25rem;
}

.simple-ui-paddingRight-6,
.simple-ui-hover\:paddingRight-6:hover,
.simple-ui-focus\:paddingRight-6:focus,
.simple-ui-active\:paddingRight-6:active {
	padding-right: 1.5rem;
}

.simple-ui-paddingRight-7,
.simple-ui-hover\:paddingRight-7:hover,
.simple-ui-focus\:paddingRight-7:focus,
.simple-ui-active\:paddingRight-7:active {
	padding-right: 1.75rem;
}

.simple-ui-paddingRight-8,
.simple-ui-hover\:paddingRight-8:hover,
.simple-ui-focus\:paddingRight-8:focus,
.simple-ui-active\:paddingRight-8:active {
	padding-right: 2rem;
}

.simple-ui-paddingRight-9,
.simple-ui-hover\:paddingRight-9:hover,
.simple-ui-focus\:paddingRight-9:focus,
.simple-ui-active\:paddingRight-9:active {
	padding-right: 2.25rem;
}

.simple-ui-paddingRight-10,
.simple-ui-hover\:paddingRight-10:hover,
.simple-ui-focus\:paddingRight-10:focus,
.simple-ui-active\:paddingRight-10:active {
	padding-right: 2.5rem;
}

.simple-ui-paddingRight-11,
.simple-ui-hover\:paddingRight-11:hover,
.simple-ui-focus\:paddingRight-11:focus,
.simple-ui-active\:paddingRight-11:active {
	padding-right: 2.75rem;
}

.simple-ui-paddingRight-12,
.simple-ui-hover\:paddingRight-12:hover,
.simple-ui-focus\:paddingRight-12:focus,
.simple-ui-active\:paddingRight-12:active {
	padding-right: 3rem;
}

.simple-ui-paddingRight-14,
.simple-ui-hover\:paddingRight-14:hover,
.simple-ui-focus\:paddingRight-14:focus,
.simple-ui-active\:paddingRight-14:active {
	padding-right: 3.5rem;
}

.simple-ui-paddingRight-16,
.simple-ui-hover\:paddingRight-16:hover,
.simple-ui-focus\:paddingRight-16:focus,
.simple-ui-active\:paddingRight-16:active {
	padding-right: 4rem;
}

.simple-ui-paddingRight-20,
.simple-ui-hover\:paddingRight-20:hover,
.simple-ui-focus\:paddingRight-20:focus,
.simple-ui-active\:paddingRight-20:active {
	padding-right: 5rem;
}

.simple-ui-paddingRight-24,
.simple-ui-hover\:paddingRight-24:hover,
.simple-ui-focus\:paddingRight-24:focus,
.simple-ui-active\:paddingRight-24:active {
	padding-right: 6rem;
}

.simple-ui-paddingRight-28,
.simple-ui-hover\:paddingRight-28:hover,
.simple-ui-focus\:paddingRight-28:focus,
.simple-ui-active\:paddingRight-28:active {
	padding-right: 7rem;
}

.simple-ui-paddingRight-32,
.simple-ui-hover\:paddingRight-32:hover,
.simple-ui-focus\:paddingRight-32:focus,
.simple-ui-active\:paddingRight-32:active {
	padding-right: 8rem;
}

.simple-ui-paddingRight-36,
.simple-ui-hover\:paddingRight-36:hover,
.simple-ui-focus\:paddingRight-36:focus,
.simple-ui-active\:paddingRight-36:active {
	padding-right: 9rem;
}

.simple-ui-paddingRight-40,
.simple-ui-hover\:paddingRight-40:hover,
.simple-ui-focus\:paddingRight-40:focus,
.simple-ui-active\:paddingRight-40:active {
	padding-right: 10rem;
}

.simple-ui-paddingRight-44,
.simple-ui-hover\:paddingRight-44:hover,
.simple-ui-focus\:paddingRight-44:focus,
.simple-ui-active\:paddingRight-44:active {
	padding-right: 11rem;
}

.simple-ui-paddingRight-48,
.simple-ui-hover\:paddingRight-48:hover,
.simple-ui-focus\:paddingRight-48:focus,
.simple-ui-active\:paddingRight-48:active {
	padding-right: 12rem;
}

.simple-ui-paddingRight-52,
.simple-ui-hover\:paddingRight-52:hover,
.simple-ui-focus\:paddingRight-52:focus,
.simple-ui-active\:paddingRight-52:active {
	padding-right: 13rem;
}

.simple-ui-paddingRight-56,
.simple-ui-hover\:paddingRight-56:hover,
.simple-ui-focus\:paddingRight-56:focus,
.simple-ui-active\:paddingRight-56:active {
	padding-right: 14rem;
}

.simple-ui-paddingRight-60,
.simple-ui-hover\:paddingRight-60:hover,
.simple-ui-focus\:paddingRight-60:focus,
.simple-ui-active\:paddingRight-60:active {
	padding-right: 15rem;
}

.simple-ui-paddingRight-64,
.simple-ui-hover\:paddingRight-64:hover,
.simple-ui-focus\:paddingRight-64:focus,
.simple-ui-active\:paddingRight-64:active {
	padding-right: 16rem;
}

.simple-ui-paddingRight-72,
.simple-ui-hover\:paddingRight-72:hover,
.simple-ui-focus\:paddingRight-72:focus,
.simple-ui-active\:paddingRight-72:active {
	padding-right: 18rem;
}

.simple-ui-paddingRight-80,
.simple-ui-hover\:paddingRight-80:hover,
.simple-ui-focus\:paddingRight-80:focus,
.simple-ui-active\:paddingRight-80:active {
	padding-right: 20rem;
}

.simple-ui-paddingRight-96,
.simple-ui-hover\:paddingRight-96:hover,
.simple-ui-focus\:paddingRight-96:focus,
.simple-ui-active\:paddingRight-96:active {
	padding-right: 24rem;
}

.simple-ui-paddingBottom-0,
.simple-ui-hover\:paddingBottom-0:hover,
.simple-ui-focus\:paddingBottom-0:focus,
.simple-ui-active\:paddingBottom-0:active {
	padding-bottom: 0px;
}

.simple-ui-paddingBottom-px,
.simple-ui-hover\:paddingBottom-px:hover,
.simple-ui-focus\:paddingBottom-px:focus,
.simple-ui-active\:paddingBottom-px:active {
	padding-bottom: 1px;
}

.simple-ui-paddingBottom-0\.5,
.simple-ui-hover\:paddingBottom-0\.5:hover,
.simple-ui-focus\:paddingBottom-0\.5:focus,
.simple-ui-active\:paddingBottom-0\.5:active {
	padding-bottom: 0.125rem;
}

.simple-ui-paddingBottom-1,
.simple-ui-hover\:paddingBottom-1:hover,
.simple-ui-focus\:paddingBottom-1:focus,
.simple-ui-active\:paddingBottom-1:active {
	padding-bottom: 0.25rem;
}

.simple-ui-paddingBottom-1\.5,
.simple-ui-hover\:paddingBottom-1\.5:hover,
.simple-ui-focus\:paddingBottom-1\.5:focus,
.simple-ui-active\:paddingBottom-1\.5:active {
	padding-bottom: 0.375rem;
}

.simple-ui-paddingBottom-2,
.simple-ui-hover\:paddingBottom-2:hover,
.simple-ui-focus\:paddingBottom-2:focus,
.simple-ui-active\:paddingBottom-2:active {
	padding-bottom: 0.5rem;
}

.simple-ui-paddingBottom-2\.5,
.simple-ui-hover\:paddingBottom-2\.5:hover,
.simple-ui-focus\:paddingBottom-2\.5:focus,
.simple-ui-active\:paddingBottom-2\.5:active {
	padding-bottom: 0.625rem;
}

.simple-ui-paddingBottom-3,
.simple-ui-hover\:paddingBottom-3:hover,
.simple-ui-focus\:paddingBottom-3:focus,
.simple-ui-active\:paddingBottom-3:active {
	padding-bottom: 0.75rem;
}

.simple-ui-paddingBottom-3\.5,
.simple-ui-hover\:paddingBottom-3\.5:hover,
.simple-ui-focus\:paddingBottom-3\.5:focus,
.simple-ui-active\:paddingBottom-3\.5:active {
	padding-bottom: 0.875rem;
}

.simple-ui-paddingBottom-4,
.simple-ui-hover\:paddingBottom-4:hover,
.simple-ui-focus\:paddingBottom-4:focus,
.simple-ui-active\:paddingBottom-4:active {
	padding-bottom: 1rem;
}

.simple-ui-paddingBottom-5,
.simple-ui-hover\:paddingBottom-5:hover,
.simple-ui-focus\:paddingBottom-5:focus,
.simple-ui-active\:paddingBottom-5:active {
	padding-bottom: 1.25rem;
}

.simple-ui-paddingBottom-6,
.simple-ui-hover\:paddingBottom-6:hover,
.simple-ui-focus\:paddingBottom-6:focus,
.simple-ui-active\:paddingBottom-6:active {
	padding-bottom: 1.5rem;
}

.simple-ui-paddingBottom-7,
.simple-ui-hover\:paddingBottom-7:hover,
.simple-ui-focus\:paddingBottom-7:focus,
.simple-ui-active\:paddingBottom-7:active {
	padding-bottom: 1.75rem;
}

.simple-ui-paddingBottom-8,
.simple-ui-hover\:paddingBottom-8:hover,
.simple-ui-focus\:paddingBottom-8:focus,
.simple-ui-active\:paddingBottom-8:active {
	padding-bottom: 2rem;
}

.simple-ui-paddingBottom-9,
.simple-ui-hover\:paddingBottom-9:hover,
.simple-ui-focus\:paddingBottom-9:focus,
.simple-ui-active\:paddingBottom-9:active {
	padding-bottom: 2.25rem;
}

.simple-ui-paddingBottom-10,
.simple-ui-hover\:paddingBottom-10:hover,
.simple-ui-focus\:paddingBottom-10:focus,
.simple-ui-active\:paddingBottom-10:active {
	padding-bottom: 2.5rem;
}

.simple-ui-paddingBottom-11,
.simple-ui-hover\:paddingBottom-11:hover,
.simple-ui-focus\:paddingBottom-11:focus,
.simple-ui-active\:paddingBottom-11:active {
	padding-bottom: 2.75rem;
}

.simple-ui-paddingBottom-12,
.simple-ui-hover\:paddingBottom-12:hover,
.simple-ui-focus\:paddingBottom-12:focus,
.simple-ui-active\:paddingBottom-12:active {
	padding-bottom: 3rem;
}

.simple-ui-paddingBottom-14,
.simple-ui-hover\:paddingBottom-14:hover,
.simple-ui-focus\:paddingBottom-14:focus,
.simple-ui-active\:paddingBottom-14:active {
	padding-bottom: 3.5rem;
}

.simple-ui-paddingBottom-16,
.simple-ui-hover\:paddingBottom-16:hover,
.simple-ui-focus\:paddingBottom-16:focus,
.simple-ui-active\:paddingBottom-16:active {
	padding-bottom: 4rem;
}

.simple-ui-paddingBottom-20,
.simple-ui-hover\:paddingBottom-20:hover,
.simple-ui-focus\:paddingBottom-20:focus,
.simple-ui-active\:paddingBottom-20:active {
	padding-bottom: 5rem;
}

.simple-ui-paddingBottom-24,
.simple-ui-hover\:paddingBottom-24:hover,
.simple-ui-focus\:paddingBottom-24:focus,
.simple-ui-active\:paddingBottom-24:active {
	padding-bottom: 6rem;
}

.simple-ui-paddingBottom-28,
.simple-ui-hover\:paddingBottom-28:hover,
.simple-ui-focus\:paddingBottom-28:focus,
.simple-ui-active\:paddingBottom-28:active {
	padding-bottom: 7rem;
}

.simple-ui-paddingBottom-32,
.simple-ui-hover\:paddingBottom-32:hover,
.simple-ui-focus\:paddingBottom-32:focus,
.simple-ui-active\:paddingBottom-32:active {
	padding-bottom: 8rem;
}

.simple-ui-paddingBottom-36,
.simple-ui-hover\:paddingBottom-36:hover,
.simple-ui-focus\:paddingBottom-36:focus,
.simple-ui-active\:paddingBottom-36:active {
	padding-bottom: 9rem;
}

.simple-ui-paddingBottom-40,
.simple-ui-hover\:paddingBottom-40:hover,
.simple-ui-focus\:paddingBottom-40:focus,
.simple-ui-active\:paddingBottom-40:active {
	padding-bottom: 10rem;
}

.simple-ui-paddingBottom-44,
.simple-ui-hover\:paddingBottom-44:hover,
.simple-ui-focus\:paddingBottom-44:focus,
.simple-ui-active\:paddingBottom-44:active {
	padding-bottom: 11rem;
}

.simple-ui-paddingBottom-48,
.simple-ui-hover\:paddingBottom-48:hover,
.simple-ui-focus\:paddingBottom-48:focus,
.simple-ui-active\:paddingBottom-48:active {
	padding-bottom: 12rem;
}

.simple-ui-paddingBottom-52,
.simple-ui-hover\:paddingBottom-52:hover,
.simple-ui-focus\:paddingBottom-52:focus,
.simple-ui-active\:paddingBottom-52:active {
	padding-bottom: 13rem;
}

.simple-ui-paddingBottom-56,
.simple-ui-hover\:paddingBottom-56:hover,
.simple-ui-focus\:paddingBottom-56:focus,
.simple-ui-active\:paddingBottom-56:active {
	padding-bottom: 14rem;
}

.simple-ui-paddingBottom-60,
.simple-ui-hover\:paddingBottom-60:hover,
.simple-ui-focus\:paddingBottom-60:focus,
.simple-ui-active\:paddingBottom-60:active {
	padding-bottom: 15rem;
}

.simple-ui-paddingBottom-64,
.simple-ui-hover\:paddingBottom-64:hover,
.simple-ui-focus\:paddingBottom-64:focus,
.simple-ui-active\:paddingBottom-64:active {
	padding-bottom: 16rem;
}

.simple-ui-paddingBottom-72,
.simple-ui-hover\:paddingBottom-72:hover,
.simple-ui-focus\:paddingBottom-72:focus,
.simple-ui-active\:paddingBottom-72:active {
	padding-bottom: 18rem;
}

.simple-ui-paddingBottom-80,
.simple-ui-hover\:paddingBottom-80:hover,
.simple-ui-focus\:paddingBottom-80:focus,
.simple-ui-active\:paddingBottom-80:active {
	padding-bottom: 20rem;
}

.simple-ui-paddingBottom-96,
.simple-ui-hover\:paddingBottom-96:hover,
.simple-ui-focus\:paddingBottom-96:focus,
.simple-ui-active\:paddingBottom-96:active {
	padding-bottom: 24rem;
}

.simple-ui-paddingLeft-0,
.simple-ui-hover\:paddingLeft-0:hover,
.simple-ui-focus\:paddingLeft-0:focus,
.simple-ui-active\:paddingLeft-0:active {
	padding-left: 0px;
}

.simple-ui-paddingLeft-px,
.simple-ui-hover\:paddingLeft-px:hover,
.simple-ui-focus\:paddingLeft-px:focus,
.simple-ui-active\:paddingLeft-px:active {
	padding-left: 1px;
}

.simple-ui-paddingLeft-0\.5,
.simple-ui-hover\:paddingLeft-0\.5:hover,
.simple-ui-focus\:paddingLeft-0\.5:focus,
.simple-ui-active\:paddingLeft-0\.5:active {
	padding-left: 0.125rem;
}

.simple-ui-paddingLeft-1,
.simple-ui-hover\:paddingLeft-1:hover,
.simple-ui-focus\:paddingLeft-1:focus,
.simple-ui-active\:paddingLeft-1:active {
	padding-left: 0.25rem;
}

.simple-ui-paddingLeft-1\.5,
.simple-ui-hover\:paddingLeft-1\.5:hover,
.simple-ui-focus\:paddingLeft-1\.5:focus,
.simple-ui-active\:paddingLeft-1\.5:active {
	padding-left: 0.375rem;
}

.simple-ui-paddingLeft-2,
.simple-ui-hover\:paddingLeft-2:hover,
.simple-ui-focus\:paddingLeft-2:focus,
.simple-ui-active\:paddingLeft-2:active {
	padding-left: 0.5rem;
}

.simple-ui-paddingLeft-2\.5,
.simple-ui-hover\:paddingLeft-2\.5:hover,
.simple-ui-focus\:paddingLeft-2\.5:focus,
.simple-ui-active\:paddingLeft-2\.5:active {
	padding-left: 0.625rem;
}

.simple-ui-paddingLeft-3,
.simple-ui-hover\:paddingLeft-3:hover,
.simple-ui-focus\:paddingLeft-3:focus,
.simple-ui-active\:paddingLeft-3:active {
	padding-left: 0.75rem;
}

.simple-ui-paddingLeft-3\.5,
.simple-ui-hover\:paddingLeft-3\.5:hover,
.simple-ui-focus\:paddingLeft-3\.5:focus,
.simple-ui-active\:paddingLeft-3\.5:active {
	padding-left: 0.875rem;
}

.simple-ui-paddingLeft-4,
.simple-ui-hover\:paddingLeft-4:hover,
.simple-ui-focus\:paddingLeft-4:focus,
.simple-ui-active\:paddingLeft-4:active {
	padding-left: 1rem;
}

.simple-ui-paddingLeft-5,
.simple-ui-hover\:paddingLeft-5:hover,
.simple-ui-focus\:paddingLeft-5:focus,
.simple-ui-active\:paddingLeft-5:active {
	padding-left: 1.25rem;
}

.simple-ui-paddingLeft-6,
.simple-ui-hover\:paddingLeft-6:hover,
.simple-ui-focus\:paddingLeft-6:focus,
.simple-ui-active\:paddingLeft-6:active {
	padding-left: 1.5rem;
}

.simple-ui-paddingLeft-7,
.simple-ui-hover\:paddingLeft-7:hover,
.simple-ui-focus\:paddingLeft-7:focus,
.simple-ui-active\:paddingLeft-7:active {
	padding-left: 1.75rem;
}

.simple-ui-paddingLeft-8,
.simple-ui-hover\:paddingLeft-8:hover,
.simple-ui-focus\:paddingLeft-8:focus,
.simple-ui-active\:paddingLeft-8:active {
	padding-left: 2rem;
}

.simple-ui-paddingLeft-9,
.simple-ui-hover\:paddingLeft-9:hover,
.simple-ui-focus\:paddingLeft-9:focus,
.simple-ui-active\:paddingLeft-9:active {
	padding-left: 2.25rem;
}

.simple-ui-paddingLeft-10,
.simple-ui-hover\:paddingLeft-10:hover,
.simple-ui-focus\:paddingLeft-10:focus,
.simple-ui-active\:paddingLeft-10:active {
	padding-left: 2.5rem;
}

.simple-ui-paddingLeft-11,
.simple-ui-hover\:paddingLeft-11:hover,
.simple-ui-focus\:paddingLeft-11:focus,
.simple-ui-active\:paddingLeft-11:active {
	padding-left: 2.75rem;
}

.simple-ui-paddingLeft-12,
.simple-ui-hover\:paddingLeft-12:hover,
.simple-ui-focus\:paddingLeft-12:focus,
.simple-ui-active\:paddingLeft-12:active {
	padding-left: 3rem;
}

.simple-ui-paddingLeft-14,
.simple-ui-hover\:paddingLeft-14:hover,
.simple-ui-focus\:paddingLeft-14:focus,
.simple-ui-active\:paddingLeft-14:active {
	padding-left: 3.5rem;
}

.simple-ui-paddingLeft-16,
.simple-ui-hover\:paddingLeft-16:hover,
.simple-ui-focus\:paddingLeft-16:focus,
.simple-ui-active\:paddingLeft-16:active {
	padding-left: 4rem;
}

.simple-ui-paddingLeft-20,
.simple-ui-hover\:paddingLeft-20:hover,
.simple-ui-focus\:paddingLeft-20:focus,
.simple-ui-active\:paddingLeft-20:active {
	padding-left: 5rem;
}

.simple-ui-paddingLeft-24,
.simple-ui-hover\:paddingLeft-24:hover,
.simple-ui-focus\:paddingLeft-24:focus,
.simple-ui-active\:paddingLeft-24:active {
	padding-left: 6rem;
}

.simple-ui-paddingLeft-28,
.simple-ui-hover\:paddingLeft-28:hover,
.simple-ui-focus\:paddingLeft-28:focus,
.simple-ui-active\:paddingLeft-28:active {
	padding-left: 7rem;
}

.simple-ui-paddingLeft-32,
.simple-ui-hover\:paddingLeft-32:hover,
.simple-ui-focus\:paddingLeft-32:focus,
.simple-ui-active\:paddingLeft-32:active {
	padding-left: 8rem;
}

.simple-ui-paddingLeft-36,
.simple-ui-hover\:paddingLeft-36:hover,
.simple-ui-focus\:paddingLeft-36:focus,
.simple-ui-active\:paddingLeft-36:active {
	padding-left: 9rem;
}

.simple-ui-paddingLeft-40,
.simple-ui-hover\:paddingLeft-40:hover,
.simple-ui-focus\:paddingLeft-40:focus,
.simple-ui-active\:paddingLeft-40:active {
	padding-left: 10rem;
}

.simple-ui-paddingLeft-44,
.simple-ui-hover\:paddingLeft-44:hover,
.simple-ui-focus\:paddingLeft-44:focus,
.simple-ui-active\:paddingLeft-44:active {
	padding-left: 11rem;
}

.simple-ui-paddingLeft-48,
.simple-ui-hover\:paddingLeft-48:hover,
.simple-ui-focus\:paddingLeft-48:focus,
.simple-ui-active\:paddingLeft-48:active {
	padding-left: 12rem;
}

.simple-ui-paddingLeft-52,
.simple-ui-hover\:paddingLeft-52:hover,
.simple-ui-focus\:paddingLeft-52:focus,
.simple-ui-active\:paddingLeft-52:active {
	padding-left: 13rem;
}

.simple-ui-paddingLeft-56,
.simple-ui-hover\:paddingLeft-56:hover,
.simple-ui-focus\:paddingLeft-56:focus,
.simple-ui-active\:paddingLeft-56:active {
	padding-left: 14rem;
}

.simple-ui-paddingLeft-60,
.simple-ui-hover\:paddingLeft-60:hover,
.simple-ui-focus\:paddingLeft-60:focus,
.simple-ui-active\:paddingLeft-60:active {
	padding-left: 15rem;
}

.simple-ui-paddingLeft-64,
.simple-ui-hover\:paddingLeft-64:hover,
.simple-ui-focus\:paddingLeft-64:focus,
.simple-ui-active\:paddingLeft-64:active {
	padding-left: 16rem;
}

.simple-ui-paddingLeft-72,
.simple-ui-hover\:paddingLeft-72:hover,
.simple-ui-focus\:paddingLeft-72:focus,
.simple-ui-active\:paddingLeft-72:active {
	padding-left: 18rem;
}

.simple-ui-paddingLeft-80,
.simple-ui-hover\:paddingLeft-80:hover,
.simple-ui-focus\:paddingLeft-80:focus,
.simple-ui-active\:paddingLeft-80:active {
	padding-left: 20rem;
}

.simple-ui-paddingLeft-96,
.simple-ui-hover\:paddingLeft-96:hover,
.simple-ui-focus\:paddingLeft-96:focus,
.simple-ui-active\:paddingLeft-96:active {
	padding-left: 24rem;
}
