.p-0,
.padding-0 {
	padding: 0px;
}
.p-px,
.padding-px {
	padding: 1px;
}
.p-0\.5,
.padding-0\.5 {
	padding: 0.125rem;
}
.p-1,
.padding-1 {
	padding: 0.25rem;
}
.p-1\.5,
.padding-1\.5 {
	padding: 0.375rem;
}
.p-2,
.padding-2 {
	padding: 0.5rem;
}
.p-2\.5,
.padding-2\.5 {
	padding: 0.625rem;
}
.p-3,
.padding-3 {
	padding: 0.75rem;
}
.p-3\.5,
.padding-3\.5 {
	padding: 0.875rem;
}
.p-4,
.padding-4 {
	padding: 1rem;
}
.p-5,
.padding-5 {
	padding: 1.25rem;
}
.p-6,
.padding-6 {
	padding: 1.5rem;
}
.p-7,
.padding-7 {
	padding: 1.75rem;
}
.p-8,
.padding-8 {
	padding: 2rem;
}
.p-9,
.padding-9 {
	padding: 2.25rem;
}
.p-10,
.padding-10 {
	padding: 2.5rem;
}
.p-11,
.padding-11 {
	padding: 2.75rem;
}
.p-12,
.padding-12 {
	padding: 3rem;
}
.p-14,
.padding-14 {
	padding: 3.5rem;
}
.p-16,
.padding-16 {
	padding: 4rem;
}
.p-20,
.padding-20 {
	padding: 5rem;
}
.p-24,
.padding-24 {
	padding: 6rem;
}
.p-28,
.padding-28 {
	padding: 7rem;
}
.p-32,
.padding-32 {
	padding: 8rem;
}
.p-36,
.padding-36 {
	padding: 9rem;
}
.p-40,
.padding-40 {
	padding: 10rem;
}
.p-44,
.padding-44 {
	padding: 11rem;
}
.p-48,
.padding-48 {
	padding: 12rem;
}
.p-52,
.padding-52 {
	padding: 13rem;
}
.p-56,
.padding-56 {
	padding: 14rem;
}
.p-60,
.padding-60 {
	padding: 15rem;
}
.p-64,
.padding-64 {
	padding: 16rem;
}
.p-72,
.padding-72 {
	padding: 18rem;
}
.p-80,
.padding-80 {
	padding: 20rem;
}
.p-96,
.padding-96 {
	padding: 24rem;
}
.px-0,
.paddingx-0 {
	padding-left: 0px;

	padding-right: 0px;
}
.px-px,
.paddingx-px {
	padding-left: 1px;
	padding-right: 1px;
}
.px-0\.5,
.paddingx-0\.5 {
	padding-left: 0.125rem;
	padding-right: 0.125rem;
}
.px-1,
.paddingx-1 {
	padding-left: 0.25rem;
	padding-right: 0.25rem;
}
.px-1\.5,
.paddingx-1\.5 {
	padding-left: 0.375rem;
	padding-right: 0.375rem;
}
.px-2,
.paddingx-2 {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}
.px-2\.5,
.paddingx-2\.5 {
	padding-left: 0.625rem;
	padding-right: 0.625rem;
}
.px-3,
.paddingx-3 {
	padding-left: 0.75rem;
	padding-right: 0.75rem;
}
.px-3\.5,
.paddingx-3\.5 {
	padding-left: 0.875rem;
	padding-right: 0.875rem;
}
.px-4,
.paddingx-4 {
	padding-left: 1rem;
	padding-right: 1rem;
}
.px-5,
.paddingx-5 {
	padding-left: 1.25rem;
	padding-right: 1.25rem;
}
.px-6,
.paddingx-6 {
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}
.px-7,
.paddingx-7 {
	padding-left: 1.75rem;
	padding-right: 1.75rem;
}
.px-8,
.paddingx-8 {
	padding-left: 2rem;
	padding-right: 2rem;
}
.px-9,
.paddingx-9 {
	padding-left: 2.25rem;
	padding-right: 2.25rem;
}
.px-10,
.paddingx-10 {
	padding-left: 2.5rem;
	padding-right: 2.5rem;
}
.px-11,
.paddingx-11 {
	padding-left: 2.75rem;
	padding-right: 2.75rem;
}
.px-12,
.paddingx-12 {
	padding-left: 3rem;
	padding-right: 3rem;
}
.px-14,
.paddingx-14 {
	padding-left: 3.5rem;
	padding-right: 3.5rem;
}
.px-16,
.paddingx-16 {
	padding-left: 4rem;
	padding-right: 4rem;
}
.px-20,
.paddingx-20 {
	padding-left: 5rem;
	padding-right: 5rem;
}
.px-24,
.paddingx-24 {
	padding-left: 6rem;
	padding-right: 6rem;
}
.px-28,
.paddingx-28 {
	padding-left: 7rem;
	padding-right: 7rem;
}
.px-32,
.paddingx-32 {
	padding-left: 8rem;
	padding-right: 8rem;
}
.px-36,
.paddingx-36 {
	padding-left: 9rem;
	padding-right: 9rem;
}
.px-40,
.paddingx-40 {
	padding-left: 10rem;
	padding-right: 10rem;
}
.px-44,
.paddingx-44 {
	padding-left: 11rem;
	padding-right: 11rem;
}
.px-48,
.paddingx-48 {
	padding-left: 12rem;
	padding-right: 12rem;
}
.px-52,
.paddingx-52 {
	padding-left: 13rem;
	padding-right: 13rem;
}
.px-56,
.paddingx-56 {
	padding-left: 14rem;
	padding-right: 14rem;
}
.px-60,
.paddingx-60 {
	padding-left: 15rem;
	padding-right: 15rem;
}
.px-64,
.paddingx-64 {
	padding-left: 16rem;
	padding-right: 16rem;
}
.px-72,
.paddingx-72 {
	padding-left: 18rem;
	padding-right: 18rem;
}
.px-80,
.paddingx-80 {
	padding-left: 20rem;
	padding-right: 20rem;
}
.px-96,
.paddingx-96 {
	padding-left: 24rem;
	padding-right: 24rem;
}
.py-0,
.paddingy-0 {
	padding-top: 0px;
	padding-bottom: 0px;
}
.py-px,
.paddingy-px {
	padding-top: 1px;
	padding-bottom: 1px;
}
.py-0\.5,
.paddingy-0\.5 {
	padding-top: 0.125rem;
	padding-bottom: 0.125rem;
}
.py-1,
.paddingy-1 {
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
}
.py-1\.5,
.paddingy-1\.5 {
	padding-top: 0.375rem;
	padding-bottom: 0.375rem;
}
.py-2,
.paddingy-2 {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}
.py-2\.5,
.paddingy-2\.5 {
	padding-top: 0.625rem;
	padding-bottom: 0.625rem;
}
.py-3,
.paddingy-3 {
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
}
.py-3\.5,
.paddingy-3\.5 {
	padding-top: 0.875rem;
	padding-bottom: 0.875rem;
}
.py-4,
.paddingy-4 {
	padding-top: 1rem;
	padding-bottom: 1rem;
}
.py-5,
.paddingy-5 {
	padding-top: 1.25rem;
	padding-bottom: 1.25rem;
}
.py-6,
.paddingy-6 {
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
}
.py-7,
.paddingy-7 {
	padding-top: 1.75rem;
	padding-bottom: 1.75rem;
}
.py-8,
.paddingy-8 {
	padding-top: 2rem;
	padding-bottom: 2rem;
}
.py-9,
.paddingy-9 {
	padding-top: 2.25rem;
	padding-bottom: 2.25rem;
}
.py-10,
.paddingy-10 {
	padding-top: 2.5rem;
	padding-bottom: 2.5rem;
}
.py-11,
.paddingy-11 {
	padding-top: 2.75rem;
	padding-bottom: 2.75rem;
}
.py-12,
.paddingy-12 {
	padding-top: 3rem;
	padding-bottom: 3rem;
}
.py-14,
.paddingy-14 {
	padding-top: 3.5rem;
	padding-bottom: 3.5rem;
}
.py-16,
.paddingy-16 {
	padding-top: 4rem;
	padding-bottom: 4rem;
}
.py-20,
.paddingy-20 {
	padding-top: 5rem;
	padding-bottom: 5rem;
}
.py-24,
.paddingy-24 {
	padding-top: 6rem;
	padding-bottom: 6rem;
}
.py-28,
.paddingy-28 {
	padding-top: 7rem;
	padding-bottom: 7rem;
}
.py-32,
.paddingy-32 {
	padding-top: 8rem;
	padding-bottom: 8rem;
}
.py-36,
.paddingy-36 {
	padding-top: 9rem;
	padding-bottom: 9rem;
}
.py-40,
.paddingy-40 {
	padding-top: 10rem;
	padding-bottom: 10rem;
}
.py-44,
.paddingy-44 {
	padding-top: 11rem;
	padding-bottom: 11rem;
}
.py-48,
.paddingy-48 {
	padding-top: 12rem;
	padding-bottom: 12rem;
}
.py-52,
.paddingy-52 {
	padding-top: 13rem;
	padding-bottom: 13rem;
}
.py-56,
.paddingy-56 {
	padding-top: 14rem;
	padding-bottom: 14rem;
}
.py-60,
.paddingy-60 {
	padding-top: 15rem;
	padding-bottom: 15rem;
}
.py-64,
.paddingy-64 {
	padding-top: 16rem;
	padding-bottom: 16rem;
}
.py-72,
.paddingy-72 {
	padding-top: 18rem;
	padding-bottom: 18rem;
}
.py-80,
.paddingy-80 {
	padding-top: 20rem;
	padding-bottom: 20rem;
}
.py-96,
.paddingy-96 {
	padding-top: 24rem;
	padding-bottom: 24rem;
}
.pt-0,
.paddingTop-0,
.paddingT-0 {
	padding-top: 0px;
}
.pt-px,
.paddingTop-px,
.paddingT-px {
	padding-top: 1px;
}
.pt-0\.5,
.paddingTop-0\.5,
.paddingT-0\.5 {
	padding-top: 0.125rem;
}
.pt-1,
.paddingTop-1,
.paddingT-1 {
	padding-top: 0.25rem;
}
.pt-1\.5,
.paddingTop-1\.5,
.paddingT-1\.5 {
	padding-top: 0.375rem;
}
.pt-2,
.paddingTop-2,
.paddingT-2 {
	padding-top: 0.5rem;
}
.pt-2\.5,
.paddingTop-2\.5,
.paddingT-2\.5 {
	padding-top: 0.625rem;
}
.pt-3,
.paddingTop-3,
.paddingT-3 {
	padding-top: 0.75rem;
}
.pt-3\.5,
.paddingTop-3\.5,
.paddingT-3\.5 {
	padding-top: 0.875rem;
}
.pt-4,
.paddingTop-4,
.paddingT-4 {
	padding-top: 1rem;
}
.pt-5,
.paddingTop-5,
.paddingT-5 {
	padding-top: 1.25rem;
}
.pt-6,
.paddingTop-6,
.paddingT-6 {
	padding-top: 1.5rem;
}
.pt-7,
.paddingTop-7,
.paddingT-7 {
	padding-top: 1.75rem;
}
.pt-8,
.paddingTop-8,
.paddingT-8 {
	padding-top: 2rem;
}
.pt-9,
.paddingTop-9,
.paddingT-9 {
	padding-top: 2.25rem;
}
.pt-10,
.paddingTop-10,
.paddingT-10 {
	padding-top: 2.5rem;
}
.pt-11,
.paddingTop-11,
.paddingT-11 {
	padding-top: 2.75rem;
}
.pt-12,
.paddingTop-12,
.paddingT-12 {
	padding-top: 3rem;
}
.pt-14,
.paddingTop-14,
.paddingT-14 {
	padding-top: 3.5rem;
}
.pt-16,
.paddingTop-16,
.paddingT-16 {
	padding-top: 4rem;
}
.pt-20,
.paddingTop-20,
.paddingT-20 {
	padding-top: 5rem;
}
.pt-24,
.paddingTop-24,
.paddingT-24 {
	padding-top: 6rem;
}
.pt-28,
.paddingTop-28,
.paddingT-28 {
	padding-top: 7rem;
}
.pt-32,
.paddingTop-32,
.paddingT-32 {
	padding-top: 8rem;
}
.pt-36,
.paddingTop-36,
.paddingT-36 {
	padding-top: 9rem;
}
.pt-40,
.paddingTop-40,
.paddingT-40 {
	padding-top: 10rem;
}
.pt-44,
.paddingTop-44,
.paddingT-44 {
	padding-top: 11rem;
}
.pt-48,
.paddingTop-48,
.paddingT-48 {
	padding-top: 12rem;
}
.pt-52,
.paddingTop-52,
.paddingT-52 {
	padding-top: 13rem;
}
.pt-56,
.paddingTop-56,
.paddingT-56 {
	padding-top: 14rem;
}
.pt-60,
.paddingTop-60,
.paddingT-60 {
	padding-top: 15rem;
}
.pt-64,
.paddingTop-64,
.paddingT-64 {
	padding-top: 16rem;
}
.pt-72,
.paddingTop-72,
.paddingT-72 {
	padding-top: 18rem;
}
.pt-80,
.paddingTop-80,
.paddingT-80 {
	padding-top: 20rem;
}
.pt-96,
.paddingTop-96,
.paddingT-96 {
	padding-top: 24rem;
}
.pr-0,
.paddingRight-0,
.paddingR-0 {
	padding-right: 0px;
}
.pr-px,
.paddingRight-px,
.paddingR-px {
	padding-right: 1px;
}
.pr-0\.5,
.paddingRight-0\.5,
.paddingR-0\.5 {
	padding-right: 0.125rem;
}
.pr-1,
.paddingRight-1,
.paddingR-1 {
	padding-right: 0.25rem;
}
.pr-1\.5,
.paddingRight-1\.5,
.paddingR-1\.5 {
	padding-right: 0.375rem;
}
.pr-2,
.paddingRight-2,
.paddingR-2 {
	padding-right: 0.5rem;
}
.pr-2\.5,
.paddingRight-2\.5,
.paddingR-2\.5 {
	padding-right: 0.625rem;
}
.pr-3,
.paddingRight-3,
.paddingR-3 {
	padding-right: 0.75rem;
}
.pr-3\.5,
.paddingRight-3\.5,
.paddingR-3\.5 {
	padding-right: 0.875rem;
}
.pr-4,
.paddingRight-4,
.paddingR-4 {
	padding-right: 1rem;
}
.pr-5,
.paddingRight-5,
.paddingR-5 {
	padding-right: 1.25rem;
}
.pr-6,
.paddingRight-6,
.paddingR-6 {
	padding-right: 1.5rem;
}
.pr-7,
.paddingRight-7,
.paddingR-7 {
	padding-right: 1.75rem;
}
.pr-8,
.paddingRight-8,
.paddingR-8 {
	padding-right: 2rem;
}
.pr-9,
.paddingRight-9,
.paddingR-9 {
	padding-right: 2.25rem;
}
.pr-10,
.paddingRight-10,
.paddingR-10 {
	padding-right: 2.5rem;
}
.pr-11,
.paddingRight-11,
.paddingR-11 {
	padding-right: 2.75rem;
}
.pr-12,
.paddingRight-12,
.paddingR-12 {
	padding-right: 3rem;
}
.pr-14,
.paddingRight-14,
.paddingR-14 {
	padding-right: 3.5rem;
}
.pr-16,
.paddingRight-16,
.paddingR-16 {
	padding-right: 4rem;
}
.pr-20,
.paddingRight-20,
.paddingR-20 {
	padding-right: 5rem;
}
.pr-24,
.paddingRight-24,
.paddingR-24 {
	padding-right: 6rem;
}
.pr-28,
.paddingRight-28,
.paddingR-28 {
	padding-right: 7rem;
}
.pr-32,
.paddingRight-32,
.paddingR-32 {
	padding-right: 8rem;
}
.pr-36,
.paddingRight-36,
.paddingR-36 {
	padding-right: 9rem;
}
.pr-40,
.paddingRight-40,
.paddingR-40 {
	padding-right: 10rem;
}
.pr-44,
.paddingRight-44,
.paddingR-44 {
	padding-right: 11rem;
}
.pr-48,
.paddingRight-48,
.paddingR-48 {
	padding-right: 12rem;
}
.pr-52,
.paddingRight-52,
.paddingR-52 {
	padding-right: 13rem;
}
.pr-56,
.paddingRight-56,
.paddingR-56 {
	padding-right: 14rem;
}
.pr-60,
.paddingRight-60,
.paddingR-60 {
	padding-right: 15rem;
}
.pr-64,
.paddingRight-64,
.paddingR-64 {
	padding-right: 16rem;
}
.pr-72,
.paddingRight-72,
.paddingR-72 {
	padding-right: 18rem;
}
.pr-80,
.paddingRight-80,
.paddingR-80 {
	padding-right: 20rem;
}
.pr-96,
.paddingRight-96,
.paddingR-96 {
	padding-right: 24rem;
}
.pb-0,
.paddingBottom-0,
.paddingB-0 {
	padding-bottom: 0px;
}
.pb-px,
.paddingBottom-px,
.paddingB-px {
	padding-bottom: 1px;
}
.pb-0\.5,
.paddingBottom-0\.5,
.paddingB-0\.5 {
	padding-bottom: 0.125rem;
}
.pb-1,
.paddingBottom-1,
.paddingB-1 {
	padding-bottom: 0.25rem;
}
.pb-1\.5,
.paddingBottom-1\.5,
.paddingB-1\.5 {
	padding-bottom: 0.375rem;
}
.pb-2,
.paddingBottom-2,
.paddingB-2 {
	padding-bottom: 0.5rem;
}
.pb-2\.5,
.paddingBottom-2\.5,
.paddingB-2\.5 {
	padding-bottom: 0.625rem;
}
.pb-3,
.paddingBottom-3,
.paddingB-3 {
	padding-bottom: 0.75rem;
}
.pb-3\.5,
.paddingBottom-3\.5,
.paddingB-3\.5 {
	padding-bottom: 0.875rem;
}
.pb-4,
.paddingBottom-4,
.paddingB-4 {
	padding-bottom: 1rem;
}
.pb-5,
.paddingBottom-5,
.paddingB-5 {
	padding-bottom: 1.25rem;
}
.pb-6,
.paddingBottom-6,
.paddingB-6 {
	padding-bottom: 1.5rem;
}
.pb-7,
.paddingBottom-7,
.paddingB-7 {
	padding-bottom: 1.75rem;
}
.pb-8,
.paddingBottom-8,
.paddingB-8 {
	padding-bottom: 2rem;
}
.pb-9,
.paddingBottom-9,
.paddingB-9 {
	padding-bottom: 2.25rem;
}
.pb-10,
.paddingBottom-10,
.paddingB-10 {
	padding-bottom: 2.5rem;
}
.pb-11,
.paddingBottom-11,
.paddingB-11 {
	padding-bottom: 2.75rem;
}
.pb-12,
.paddingBottom-12,
.paddingB-12 {
	padding-bottom: 3rem;
}
.pb-14,
.paddingBottom-14,
.paddingB-14 {
	padding-bottom: 3.5rem;
}
.pb-16,
.paddingBottom-16,
.paddingB-16 {
	padding-bottom: 4rem;
}
.pb-20,
.paddingBottom-20,
.paddingB-20 {
	padding-bottom: 5rem;
}
.pb-24,
.paddingBottom-24,
.paddingB-24 {
	padding-bottom: 6rem;
}
.pb-28,
.paddingBottom-28,
.paddingB-28 {
	padding-bottom: 7rem;
}
.pb-32,
.paddingBottom-32,
.paddingB-32 {
	padding-bottom: 8rem;
}
.pb-36,
.paddingBottom-36,
.paddingB-36 {
	padding-bottom: 9rem;
}
.pb-40,
.paddingBottom-40,
.paddingB-40 {
	padding-bottom: 10rem;
}
.pb-44,
.paddingBottom-44,
.paddingB-44 {
	padding-bottom: 11rem;
}
.pb-48,
.paddingBottom-48,
.paddingB-48 {
	padding-bottom: 12rem;
}
.pb-52,
.paddingBottom-52,
.paddingB-52 {
	padding-bottom: 13rem;
}
.pb-56,
.paddingBottom-56,
.paddingB-56 {
	padding-bottom: 14rem;
}
.pb-60,
.paddingBottom-60,
.paddingB-60 {
	padding-bottom: 15rem;
}
.pb-64,
.paddingBottom-64,
.paddingB-64 {
	padding-bottom: 16rem;
}
.pb-72,
.paddingBottom-72,
.paddingB-72 {
	padding-bottom: 18rem;
}
.pb-80,
.paddingBottom-80,
.paddingB-80 {
	padding-bottom: 20rem;
}
.pb-96,
.paddingBottom-96,
.paddingB-96 {
	padding-bottom: 24rem;
}
.pl-0,
.paddingLeft l-0,
.paddingL-0 {
	padding-left: 0px;
}
.pl-px,
.paddingLeft l-px,
.paddingL-px {
	padding-left: 1px;
}
.pl-0\.5,
.paddingLeft l-0\.5,
.paddingL-0\.5 {
	padding-left: 0.125rem;
}
.pl-1,
.paddingLeft l-1,
.paddingL-1 {
	padding-left: 0.25rem;
}
.pl-1\.5,
.paddingLeft l-1\.5,
.paddingL-1\.5 {
	padding-left: 0.375rem;
}
.pl-2,
.paddingLeft l-2,
.paddingL-2 {
	padding-left: 0.5rem;
}
.pl-2\.5,
.paddingLeft l-2\.5,
.paddingL-2\.5 {
	padding-left: 0.625rem;
}
.pl-3,
.paddingLeft l-3,
.paddingL-3 {
	padding-left: 0.75rem;
}
.pl-3\.5,
.paddingLeft l-3\.5,
.paddingL-3\.5 {
	padding-left: 0.875rem;
}
.pl-4,
.paddingLeft l-4,
.paddingL-4 {
	padding-left: 1rem;
}
.pl-5,
.paddingLeft l-5,
.paddingL-5 {
	padding-left: 1.25rem;
}
.pl-6,
.paddingLeft l-6,
.paddingL-6 {
	padding-left: 1.5rem;
}
.pl-7,
.paddingLeft l-7,
.paddingL-7 {
	padding-left: 1.75rem;
}
.pl-8,
.paddingLeft l-8,
.paddingL-8 {
	padding-left: 2rem;
}
.pl-9,
.paddingLeft l-9,
.paddingL-9 {
	padding-left: 2.25rem;
}
.pl-10,
.paddingLeft l-10,
.paddingL-10 {
	padding-left: 2.5rem;
}
.pl-11,
.paddingLeft l-11,
.paddingL-11 {
	padding-left: 2.75rem;
}
.pl-12,
.paddingLeft l-12,
.paddingL-12 {
	padding-left: 3rem;
}
.pl-14,
.paddingLeft l-14,
.paddingL-14 {
	padding-left: 3.5rem;
}
.pl-16,
.paddingLeft l-16,
.paddingL-16 {
	padding-left: 4rem;
}
.pl-20,
.paddingLeft l-20,
.paddingL-20 {
	padding-left: 5rem;
}
.pl-24,
.paddingLeft l-24,
.paddingL-24 {
	padding-left: 6rem;
}
.pl-28,
.paddingLeft l-28,
.paddingL-28 {
	padding-left: 7rem;
}
.pl-32,
.paddingLeft l-32,
.paddingL-32 {
	padding-left: 8rem;
}
.pl-36,
.paddingLeft l-36,
.paddingL-36 {
	padding-left: 9rem;
}
.pl-40,
.paddingLeft l-40,
.paddingL-40 {
	padding-left: 10rem;
}
.pl-44,
.paddingLeft l-44,
.paddingL-44 {
	padding-left: 11rem;
}
.pl-48,
.paddingLeft l-48,
.paddingL-48 {
	padding-left: 12rem;
}
.pl-52,
.paddingLeft l-52,
.paddingL-52 {
	padding-left: 13rem;
}
.pl-56,
.paddingLeft l-56,
.paddingL-56 {
	padding-left: 14rem;
}
.pl-60,
.paddingLeft l-60,
.paddingL-60 {
	padding-left: 15rem;
}
.pl-64,
.paddingLeft l-64,
.paddingL-64 {
	padding-left: 16rem;
}
.pl-72,
.paddingLeft l-72,
.paddingL-72 {
	padding-left: 18rem;
}
.pl-80,
.paddingLeft l-80,
.paddingL-80 {
	padding-left: 20rem;
}
.pl-96,
.paddingLeft l-96,
.paddingL-96 {
	padding-left: 24rem;
}
