.simple-ui-backgroundColor-transparent,
.simple-ui-hover\:backgroundColor-transparent:hover,
.simple-ui-focus\:backgroundColor-transparent:focus,
.simple-ui-active\:backgroundColor-transparent:active {
  background-color: transparent;
}
.simple-ui-backgroundColor-current,
.simple-ui-hover\:backgroundColor-current:hover,
.simple-ui-focus\:backgroundColor-current:focus,
.simple-ui-active\:backgroundColor-current:active {
  background-color: currentColor;
}
.simple-ui-backgroundColor-black,
.simple-ui-hover\:backgroundColor-black:hover,
.simple-ui-focus\:backgroundColor-black:focus,
.simple-ui-active\:backgroundColor-black:active {
  --simple-ui-bg-opacity: 1;
  background-color: rgba(0, 0, 0, var(--simple-ui-bg-opacity));
}
.simple-ui-backgroundColor-white,
.simple-ui-hover\:backgroundColor-white:hover,
.simple-ui-focus\:backgroundColor-white:focus,
.simple-ui-active\:backgroundColor-white:active {
  --simple-ui-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--simple-ui-bg-opacity));
}
.simple-ui-backgroundColor-gray-50,
.simple-ui-hover\:backgroundColor-gray-50:hover,
.simple-ui-focus\:backgroundColor-gray-50:focus,
.simple-ui-active\:backgroundColor-gray-50:active {
  --simple-ui-bg-opacity: 1;
  background-color: rgba(249, 250, 251, var(--simple-ui-bg-opacity));
}
.simple-ui-backgroundColor-gray-100,
.simple-ui-hover\:backgroundColor-gray-100:hover,
.simple-ui-focus\:backgroundColor-gray-100:focus,
.simple-ui-active\:backgroundColor-gray-100:active {
  --simple-ui-bg-opacity: 1;
  background-color: rgba(243, 244, 246, var(--simple-ui-bg-opacity));
}
.simple-ui-backgroundColor-gray-200,
.simple-ui-hover\:backgroundColor-gray-200:hover,
.simple-ui-focus\:backgroundColor-gray-200:focus,
.simple-ui-active\:backgroundColor-gray-200:active {
  --simple-ui-bg-opacity: 1;
  background-color: rgba(229, 231, 235, var(--simple-ui-bg-opacity));
}
.simple-ui-backgroundColor-gray-300,
.simple-ui-hover\:backgroundColor-gray-300:hover,
.simple-ui-focus\:backgroundColor-gray-300:focus,
.simple-ui-active\:backgroundColor-gray-300:active {
  --simple-ui-bg-opacity: 1;
  background-color: rgba(209, 213, 219, var(--simple-ui-bg-opacity));
}
.simple-ui-backgroundColor-gray-400,
.simple-ui-hover\:backgroundColor-gray-400:hover,
.simple-ui-focus\:backgroundColor-gray-400:focus,
.simple-ui-active\:backgroundColor-gray-400:active {
  --simple-ui-bg-opacity: 1;
  background-color: rgba(156, 163, 175, var(--simple-ui-bg-opacity));
}
.simple-ui-backgroundColor-gray-500,
.simple-ui-hover\:backgroundColor-gray-500:hover,
.simple-ui-focus\:backgroundColor-gray-500:focus,
.simple-ui-active\:backgroundColor-gray-500:active {
  --simple-ui-bg-opacity: 1;
  background-color: rgba(107, 114, 128, var(--simple-ui-bg-opacity));
}
.simple-ui-backgroundColor-gray-600,
.simple-ui-hover\:backgroundColor-gray-600:hover,
.simple-ui-focus\:backgroundColor-gray-600:focus,
.simple-ui-active\:backgroundColor-gray-600:active {
  --simple-ui-bg-opacity: 1;
  background-color: rgba(75, 85, 99, var(--simple-ui-bg-opacity));
}
.simple-ui-backgroundColor-gray-700,
.simple-ui-hover\:backgroundColor-gray-700:hover,
.simple-ui-focus\:backgroundColor-gray-700:focus,
.simple-ui-active\:backgroundColor-gray-700:active {
  --simple-ui-bg-opacity: 1;
  background-color: rgba(55, 65, 81, var(--simple-ui-bg-opacity));
}
.simple-ui-backgroundColor-gray-800,
.simple-ui-hover\:backgroundColor-gray-800:hover,
.simple-ui-focus\:backgroundColor-gray-800:focus,
.simple-ui-active\:backgroundColor-gray-800:active {
  --simple-ui-bg-opacity: 1;
  background-color: rgba(31, 41, 55, var(--simple-ui-bg-opacity));
}
.simple-ui-backgroundColor-gray-900,
.simple-ui-hover\:backgroundColor-gray-900:hover,
.simple-ui-focus\:backgroundColor-gray-900:focus,
.simple-ui-active\:backgroundColor-gray-900:active {
  --simple-ui-bg-opacity: 1;
  background-color: rgba(17, 24, 39, var(--simple-ui-bg-opacity));
}
.simple-ui-backgroundColor-red-50,
.simple-ui-hover\:backgroundColor-red-50:hover,
.simple-ui-focus\:backgroundColor-red-50:focus,
.simple-ui-active\:backgroundColor-red-50:active {
  --simple-ui-bg-opacity: 1;
  background-color: rgba(254, 242, 242, var(--simple-ui-bg-opacity));
}
.simple-ui-backgroundColor-red-100,
.simple-ui-hover\:backgroundColor-red-100:hover,
.simple-ui-focus\:backgroundColor-red-100:focus,
.simple-ui-active\:backgroundColor-red-100:active {
  --simple-ui-bg-opacity: 1;
  background-color: rgba(254, 226, 226, var(--simple-ui-bg-opacity));
}
.simple-ui-backgroundColor-red-200,
.simple-ui-hover\:backgroundColor-red-200:hover,
.simple-ui-focus\:backgroundColor-red-200:focus,
.simple-ui-active\:backgroundColor-red-200:active {
  --simple-ui-bg-opacity: 1;
  background-color: rgba(254, 202, 202, var(--simple-ui-bg-opacity));
}
.simple-ui-backgroundColor-red-300,
.simple-ui-hover\:backgroundColor-red-300:hover,
.simple-ui-focus\:backgroundColor-red-300:focus,
.simple-ui-active\:backgroundColor-red-300:active {
  --simple-ui-bg-opacity: 1;
  background-color: rgba(252, 165, 165, var(--simple-ui-bg-opacity));
}
.simple-ui-backgroundColor-red-400,
.simple-ui-hover\:backgroundColor-red-400:hover,
.simple-ui-focus\:backgroundColor-red-400:focus,
.simple-ui-active\:backgroundColor-red-400:active {
  --simple-ui-bg-opacity: 1;
  background-color: rgba(248, 113, 113, var(--simple-ui-bg-opacity));
}
.simple-ui-backgroundColor-red-500,
.simple-ui-hover\:backgroundColor-red-500:hover,
.simple-ui-focus\:backgroundColor-red-500:focus,
.simple-ui-active\:backgroundColor-red-500:active {
  --simple-ui-bg-opacity: 1;
  background-color: rgba(239, 68, 68, var(--simple-ui-bg-opacity));
}
.simple-ui-backgroundColor-red-600,
.simple-ui-hover\:backgroundColor-red-600:hover,
.simple-ui-focus\:backgroundColor-red-600:focus,
.simple-ui-active\:backgroundColor-red-600:active {
  --simple-ui-bg-opacity: 1;
  background-color: rgba(220, 38, 38, var(--simple-ui-bg-opacity));
}
.simple-ui-backgroundColor-red-700,
.simple-ui-hover\:backgroundColor-red-700:hover,
.simple-ui-focus\:backgroundColor-red-700:focus,
.simple-ui-active\:backgroundColor-red-700:active {
  --simple-ui-bg-opacity: 1;
  background-color: rgba(185, 28, 28, var(--simple-ui-bg-opacity));
}
.simple-ui-backgroundColor-red-800,
.simple-ui-hover\:backgroundColor-red-800:hover,
.simple-ui-focus\:backgroundColor-red-800:focus,
.simple-ui-active\:backgroundColor-red-800:active {
  --simple-ui-bg-opacity: 1;
  background-color: rgba(153, 27, 27, var(--simple-ui-bg-opacity));
}
.simple-ui-backgroundColor-red-900,
.simple-ui-hover\:backgroundColor-red-900:hover,
.simple-ui-focus\:backgroundColor-red-900:focus,
.simple-ui-active\:backgroundColor-red-900:active {
  --simple-ui-bg-opacity: 1;
  background-color: rgba(127, 29, 29, var(--simple-ui-bg-opacity));
}
.simple-ui-backgroundColor-yellow-50,
.simple-ui-hover\:backgroundColor-yellow-50:hover,
.simple-ui-focus\:backgroundColor-yellow-50:focus,
.simple-ui-active\:backgroundColor-yellow-50:active {
  --simple-ui-bg-opacity: 1;
  background-color: rgba(255, 251, 235, var(--simple-ui-bg-opacity));
}
.simple-ui-backgroundColor-yellow-100,
.simple-ui-hover\:backgroundColor-yellow-100:hover,
.simple-ui-focus\:backgroundColor-yellow-100:focus,
.simple-ui-active\:backgroundColor-yellow-100:active {
  --simple-ui-bg-opacity: 1;
  background-color: rgba(254, 243, 199, var(--simple-ui-bg-opacity));
}
.simple-ui-backgroundColor-yellow-200,
.simple-ui-hover\:backgroundColor-yellow-200:hover,
.simple-ui-focus\:backgroundColor-yellow-200:focus,
.simple-ui-active\:backgroundColor-yellow-200:active {
  --simple-ui-bg-opacity: 1;
  background-color: rgba(253, 230, 138, var(--simple-ui-bg-opacity));
}
.simple-ui-backgroundColor-yellow-300,
.simple-ui-hover\:backgroundColor-yellow-300:hover,
.simple-ui-focus\:backgroundColor-yellow-300:focus,
.simple-ui-active\:backgroundColor-yellow-300:active {
  --simple-ui-bg-opacity: 1;
  background-color: rgba(252, 211, 77, var(--simple-ui-bg-opacity));
}
.simple-ui-backgroundColor-yellow-400,
.simple-ui-hover\:backgroundColor-yellow-400:hover,
.simple-ui-focus\:backgroundColor-yellow-400:focus,
.simple-ui-active\:backgroundColor-yellow-400:active {
  --simple-ui-bg-opacity: 1;
  background-color: rgba(251, 191, 36, var(--simple-ui-bg-opacity));
}
.simple-ui-backgroundColor-yellow-500,
.simple-ui-hover\:backgroundColor-yellow-500:hover,
.simple-ui-focus\:backgroundColor-yellow-500:focus,
.simple-ui-active\:backgroundColor-yellow-500:active {
  --simple-ui-bg-opacity: 1;
  background-color: rgba(245, 158, 11, var(--simple-ui-bg-opacity));
}
.simple-ui-backgroundColor-yellow-600,
.simple-ui-hover\:backgroundColor-yellow-600:hover,
.simple-ui-focus\:backgroundColor-yellow-600:focus,
.simple-ui-active\:backgroundColor-yellow-600:active {
  --simple-ui-bg-opacity: 1;
  background-color: rgba(217, 119, 6, var(--simple-ui-bg-opacity));
}
.simple-ui-backgroundColor-yellow-700,
.simple-ui-hover\:backgroundColor-yellow-700:hover,
.simple-ui-focus\:backgroundColor-yellow-700:focus,
.simple-ui-active\:backgroundColor-yellow-700:active {
  --simple-ui-bg-opacity: 1;
  background-color: rgba(180, 83, 9, var(--simple-ui-bg-opacity));
}
.simple-ui-backgroundColor-yellow-800,
.simple-ui-hover\:backgroundColor-yellow-800:hover,
.simple-ui-focus\:backgroundColor-yellow-800:focus,
.simple-ui-active\:backgroundColor-yellow-800:active {
  --simple-ui-bg-opacity: 1;
  background-color: rgba(146, 64, 14, var(--simple-ui-bg-opacity));
}
.simple-ui-backgroundColor-yellow-900,
.simple-ui-hover\:backgroundColor-yellow-900:hover,
.simple-ui-focus\:backgroundColor-yellow-900:focus,
.simple-ui-active\:backgroundColor-yellow-900:active {
  --simple-ui-bg-opacity: 1;
  background-color: rgba(120, 53, 15, var(--simple-ui-bg-opacity));
}
.simple-ui-backgroundColor-green-50,
.simple-ui-hover\:backgroundColor-green-50:hover,
.simple-ui-focus\:backgroundColor-green-50:focus,
.simple-ui-active\:backgroundColor-green-50:active {
  --simple-ui-bg-opacity: 1;
  background-color: rgba(236, 253, 245, var(--simple-ui-bg-opacity));
}
.simple-ui-backgroundColor-green-100,
.simple-ui-hover\:backgroundColor-green-100:hover,
.simple-ui-focus\:backgroundColor-green-100:focus,
.simple-ui-active\:backgroundColor-green-100:active {
  --simple-ui-bg-opacity: 1;
  background-color: rgba(209, 250, 229, var(--simple-ui-bg-opacity));
}
.simple-ui-backgroundColor-green-200,
.simple-ui-hover\:backgroundColor-green-200:hover,
.simple-ui-focus\:backgroundColor-green-200:focus,
.simple-ui-active\:backgroundColor-green-200:active {
  --simple-ui-bg-opacity: 1;
  background-color: rgba(167, 243, 208, var(--simple-ui-bg-opacity));
}
.simple-ui-backgroundColor-green-300,
.simple-ui-hover\:backgroundColor-green-300:hover,
.simple-ui-focus\:backgroundColor-green-300:focus,
.simple-ui-active\:backgroundColor-green-300:active {
  --simple-ui-bg-opacity: 1;
  background-color: rgba(110, 231, 183, var(--simple-ui-bg-opacity));
}
.simple-ui-backgroundColor-green-400,
.simple-ui-hover\:backgroundColor-green-400:hover,
.simple-ui-focus\:backgroundColor-green-400:focus,
.simple-ui-active\:backgroundColor-green-400:active {
  --simple-ui-bg-opacity: 1;
  background-color: rgba(52, 211, 153, var(--simple-ui-bg-opacity));
}
.simple-ui-backgroundColor-green-500,
.simple-ui-hover\:backgroundColor-green-500:hover,
.simple-ui-focus\:backgroundColor-green-500:focus,
.simple-ui-active\:backgroundColor-green-500:active {
  --simple-ui-bg-opacity: 1;
  background-color: rgba(16, 185, 129, var(--simple-ui-bg-opacity));
}
.simple-ui-backgroundColor-green-600,
.simple-ui-hover\:backgroundColor-green-600:hover,
.simple-ui-focus\:backgroundColor-green-600:focus,
.simple-ui-active\:backgroundColor-green-600:active {
  --simple-ui-bg-opacity: 1;
  background-color: rgba(5, 150, 105, var(--simple-ui-bg-opacity));
}
.simple-ui-backgroundColor-green-700,
.simple-ui-hover\:backgroundColor-green-700:hover,
.simple-ui-focus\:backgroundColor-green-700:focus,
.simple-ui-active\:backgroundColor-green-700:active {
  --simple-ui-bg-opacity: 1;
  background-color: rgba(4, 120, 87, var(--simple-ui-bg-opacity));
}
.simple-ui-backgroundColor-green-800,
.simple-ui-hover\:backgroundColor-green-800:hover,
.simple-ui-focus\:backgroundColor-green-800:focus,
.simple-ui-active\:backgroundColor-green-800:active {
  --simple-ui-bg-opacity: 1;
  background-color: rgba(6, 95, 70, var(--simple-ui-bg-opacity));
}
.simple-ui-backgroundColor-green-900,
.simple-ui-hover\:backgroundColor-green-900:hover,
.simple-ui-focus\:backgroundColor-green-900:focus,
.simple-ui-active\:backgroundColor-green-900:active {
  --simple-ui-bg-opacity: 1;
  background-color: rgba(6, 78, 59, var(--simple-ui-bg-opacity));
}
.simple-ui-backgroundColor-blue-50,
.simple-ui-hover\:backgroundColor-blue-50:hover,
.simple-ui-focus\:backgroundColor-blue-50:focus,
.simple-ui-active\:backgroundColor-blue-50:active {
  --simple-ui-bg-opacity: 1;
  background-color: rgba(239, 246, 255, var(--simple-ui-bg-opacity));
}
.simple-ui-backgroundColor-blue-100,
.simple-ui-hover\:backgroundColor-blue-100:hover,
.simple-ui-focus\:backgroundColor-blue-100:focus,
.simple-ui-active\:backgroundColor-blue-100:active {
  --simple-ui-bg-opacity: 1;
  background-color: rgba(219, 234, 254, var(--simple-ui-bg-opacity));
}
.simple-ui-backgroundColor-blue-200,
.simple-ui-hover\:backgroundColor-blue-200:hover,
.simple-ui-focus\:backgroundColor-blue-200:focus,
.simple-ui-active\:backgroundColor-blue-200:active {
  --simple-ui-bg-opacity: 1;
  background-color: rgba(191, 219, 254, var(--simple-ui-bg-opacity));
}
.simple-ui-backgroundColor-blue-300,
.simple-ui-hover\:backgroundColor-blue-300:hover,
.simple-ui-focus\:backgroundColor-blue-300:focus,
.simple-ui-active\:backgroundColor-blue-300:active {
  --simple-ui-bg-opacity: 1;
  background-color: rgba(147, 197, 253, var(--simple-ui-bg-opacity));
}
.simple-ui-backgroundColor-blue-400,
.simple-ui-hover\:backgroundColor-blue-400:hover,
.simple-ui-focus\:backgroundColor-blue-400:focus,
.simple-ui-active\:backgroundColor-blue-400:active {
  --simple-ui-bg-opacity: 1;
  background-color: rgba(96, 165, 250, var(--simple-ui-bg-opacity));
}
.simple-ui-backgroundColor-blue-500,
.simple-ui-hover\:backgroundColor-blue-500:hover,
.simple-ui-focus\:backgroundColor-blue-500:focus,
.simple-ui-active\:backgroundColor-blue-500:active {
  --simple-ui-bg-opacity: 1;
  background-color: rgba(59, 130, 246, var(--simple-ui-bg-opacity));
}
.simple-ui-backgroundColor-blue-600,
.simple-ui-hover\:backgroundColor-blue-600:hover,
.simple-ui-focus\:backgroundColor-blue-600:focus,
.simple-ui-active\:backgroundColor-blue-600:active {
  --simple-ui-bg-opacity: 1;
  background-color: rgba(37, 99, 235, var(--simple-ui-bg-opacity));
}
.simple-ui-backgroundColor-blue-700,
.simple-ui-hover\:backgroundColor-blue-700:hover,
.simple-ui-focus\:backgroundColor-blue-700:focus,
.simple-ui-active\:backgroundColor-blue-700:active {
  --simple-ui-bg-opacity: 1;
  background-color: rgba(29, 78, 216, var(--simple-ui-bg-opacity));
}
.simple-ui-backgroundColor-blue-800,
.simple-ui-hover\:backgroundColor-blue-800:hover,
.simple-ui-focus\:backgroundColor-blue-800:focus,
.simple-ui-active\:backgroundColor-blue-800:active {
  --simple-ui-bg-opacity: 1;
  background-color: rgba(30, 64, 175, var(--simple-ui-bg-opacity));
}
.simple-ui-backgroundColor-blue-900,
.simple-ui-hover\:backgroundColor-blue-900:hover,
.simple-ui-focus\:backgroundColor-blue-900:focus,
.simple-ui-active\:backgroundColor-blue-900:active {
  --simple-ui-bg-opacity: 1;
  background-color: rgba(30, 58, 138, var(--simple-ui-bg-opacity));
}
.simple-ui-backgroundColor-indigo-50,
.simple-ui-hover\:backgroundColor-indigo-50:hover,
.simple-ui-focus\:backgroundColor-indigo-50:focus,
.simple-ui-active\:backgroundColor-indigo-50:active {
  --simple-ui-bg-opacity: 1;
  background-color: rgba(238, 242, 255, var(--simple-ui-bg-opacity));
}
.simple-ui-backgroundColor-indigo-100,
.simple-ui-hover\:backgroundColor-indigo-100:hover,
.simple-ui-focus\:backgroundColor-indigo-100:focus,
.simple-ui-active\:backgroundColor-indigo-100:active {
  --simple-ui-bg-opacity: 1;
  background-color: rgba(224, 231, 255, var(--simple-ui-bg-opacity));
}
.simple-ui-backgroundColor-indigo-200,
.simple-ui-hover\:backgroundColor-indigo-200:hover,
.simple-ui-focus\:backgroundColor-indigo-200:focus,
.simple-ui-active\:backgroundColor-indigo-200:active {
  --simple-ui-bg-opacity: 1;
  background-color: rgba(199, 210, 254, var(--simple-ui-bg-opacity));
}
.simple-ui-backgroundColor-indigo-300,
.simple-ui-hover\:backgroundColor-indigo-300:hover,
.simple-ui-focus\:backgroundColor-indigo-300:focus,
.simple-ui-active\:backgroundColor-indigo-300:active {
  --simple-ui-bg-opacity: 1;
  background-color: rgba(165, 180, 252, var(--simple-ui-bg-opacity));
}
.simple-ui-backgroundColor-indigo-400,
.simple-ui-hover\:backgroundColor-indigo-400:hover,
.simple-ui-focus\:backgroundColor-indigo-400:focus,
.simple-ui-active\:backgroundColor-indigo-400:active {
  --simple-ui-bg-opacity: 1;
  background-color: rgba(129, 140, 248, var(--simple-ui-bg-opacity));
}
.simple-ui-backgroundColor-indigo-500,
.simple-ui-hover\:backgroundColor-indigo-500:hover,
.simple-ui-focus\:backgroundColor-indigo-500:focus,
.simple-ui-active\:backgroundColor-indigo-500:active {
  --simple-ui-bg-opacity: 1;
  background-color: rgba(99, 102, 241, var(--simple-ui-bg-opacity));
}
.simple-ui-backgroundColor-indigo-600,
.simple-ui-hover\:backgroundColor-indigo-600:hover,
.simple-ui-focus\:backgroundColor-indigo-600:focus,
.simple-ui-active\:backgroundColor-indigo-600:active {
  --simple-ui-bg-opacity: 1;
  background-color: rgba(79, 70, 229, var(--simple-ui-bg-opacity));
}
.simple-ui-backgroundColor-indigo-700,
.simple-ui-hover\:backgroundColor-indigo-700:hover,
.simple-ui-focus\:backgroundColor-indigo-700:focus,
.simple-ui-active\:backgroundColor-indigo-700:active {
  --simple-ui-bg-opacity: 1;
  background-color: rgba(67, 56, 202, var(--simple-ui-bg-opacity));
}
.simple-ui-backgroundColor-indigo-800,
.simple-ui-hover\:backgroundColor-indigo-800:hover,
.simple-ui-focus\:backgroundColor-indigo-800:focus,
.simple-ui-active\:backgroundColor-indigo-800:active {
  --simple-ui-bg-opacity: 1;
  background-color: rgba(55, 48, 163, var(--simple-ui-bg-opacity));
}
.simple-ui-backgroundColor-indigo-900,
.simple-ui-hover\:backgroundColor-indigo-900:hover,
.simple-ui-focus\:backgroundColor-indigo-900:focus,
.simple-ui-active\:backgroundColor-indigo-900:active {
  --simple-ui-bg-opacity: 1;
  background-color: rgba(49, 46, 129, var(--simple-ui-bg-opacity));
}
.simple-ui-backgroundColor-purple-50,
.simple-ui-hover\:backgroundColor-purple-50:hover,
.simple-ui-focus\:backgroundColor-purple-50:focus,
.simple-ui-active\:backgroundColor-purple-50:active {
  --simple-ui-bg-opacity: 1;
  background-color: rgba(245, 243, 255, var(--simple-ui-bg-opacity));
}
.simple-ui-backgroundColor-purple-100,
.simple-ui-hover\:backgroundColor-purple-100:hover,
.simple-ui-focus\:backgroundColor-purple-100:focus,
.simple-ui-active\:backgroundColor-purple-100:active {
  --simple-ui-bg-opacity: 1;
  background-color: rgba(237, 233, 254, var(--simple-ui-bg-opacity));
}
.simple-ui-backgroundColor-purple-200,
.simple-ui-hover\:backgroundColor-purple-200:hover,
.simple-ui-focus\:backgroundColor-purple-200:focus,
.simple-ui-active\:backgroundColor-purple-200:active {
  --simple-ui-bg-opacity: 1;
  background-color: rgba(221, 214, 254, var(--simple-ui-bg-opacity));
}
.simple-ui-backgroundColor-purple-300,
.simple-ui-hover\:backgroundColor-purple-300:hover,
.simple-ui-focus\:backgroundColor-purple-300:focus,
.simple-ui-active\:backgroundColor-purple-300:active {
  --simple-ui-bg-opacity: 1;
  background-color: rgba(196, 181, 253, var(--simple-ui-bg-opacity));
}
.simple-ui-backgroundColor-purple-400,
.simple-ui-hover\:backgroundColor-purple-400:hover,
.simple-ui-focus\:backgroundColor-purple-400:focus,
.simple-ui-active\:backgroundColor-purple-400:active {
  --simple-ui-bg-opacity: 1;
  background-color: rgba(167, 139, 250, var(--simple-ui-bg-opacity));
}
.simple-ui-backgroundColor-purple-500,
.simple-ui-hover\:backgroundColor-purple-500:hover,
.simple-ui-focus\:backgroundColor-purple-500:focus,
.simple-ui-active\:backgroundColor-purple-500:active {
  --simple-ui-bg-opacity: 1;
  background-color: rgba(139, 92, 246, var(--simple-ui-bg-opacity));
}
.simple-ui-backgroundColor-purple-600,
.simple-ui-hover\:backgroundColor-purple-600:hover,
.simple-ui-focus\:backgroundColor-purple-600:focus,
.simple-ui-active\:backgroundColor-purple-600:active {
  --simple-ui-bg-opacity: 1;
  background-color: rgba(124, 58, 237, var(--simple-ui-bg-opacity));
}
.simple-ui-backgroundColor-purple-700,
.simple-ui-hover\:backgroundColor-purple-700:hover,
.simple-ui-focus\:backgroundColor-purple-700:focus,
.simple-ui-active\:backgroundColor-purple-700:active {
  --simple-ui-bg-opacity: 1;
  background-color: rgba(109, 40, 217, var(--simple-ui-bg-opacity));
}
.simple-ui-backgroundColor-purple-800,
.simple-ui-hover\:backgroundColor-purple-800:hover,
.simple-ui-focus\:backgroundColor-purple-800:focus,
.simple-ui-active\:backgroundColor-purple-800:active {
  --simple-ui-bg-opacity: 1;
  background-color: rgba(91, 33, 182, var(--simple-ui-bg-opacity));
}
.simple-ui-backgroundColor-purple-900,
.simple-ui-hover\:backgroundColor-purple-900:hover,
.simple-ui-focus\:backgroundColor-purple-900:focus,
.simple-ui-active\:backgroundColor-purple-900:active {
  --simple-ui-bg-opacity: 1;
  background-color: rgba(76, 29, 149, var(--simple-ui-bg-opacity));
}
.simple-ui-backgroundColor-pink-50,
.simple-ui-hover\:backgroundColor-pink-50:hover,
.simple-ui-focus\:backgroundColor-pink-50:focus,
.simple-ui-active\:backgroundColor-pink-50:active {
  --simple-ui-bg-opacity: 1;
  background-color: rgba(253, 242, 248, var(--simple-ui-bg-opacity));
}
.simple-ui-backgroundColor-pink-100,
.simple-ui-hover\:backgroundColor-pink-100:hover,
.simple-ui-focus\:backgroundColor-pink-100:focus,
.simple-ui-active\:backgroundColor-pink-100:active {
  --simple-ui-bg-opacity: 1;
  background-color: rgba(252, 231, 243, var(--simple-ui-bg-opacity));
}
.simple-ui-backgroundColor-pink-200,
.simple-ui-hover\:backgroundColor-pink-200:hover,
.simple-ui-focus\:backgroundColor-pink-200:focus,
.simple-ui-active\:backgroundColor-pink-200:active {
  --simple-ui-bg-opacity: 1;
  background-color: rgba(251, 207, 232, var(--simple-ui-bg-opacity));
}
.simple-ui-backgroundColor-pink-300,
.simple-ui-hover\:backgroundColor-pink-300:hover,
.simple-ui-focus\:backgroundColor-pink-300:focus,
.simple-ui-active\:backgroundColor-pink-300:active {
  --simple-ui-bg-opacity: 1;
  background-color: rgba(249, 168, 212, var(--simple-ui-bg-opacity));
}
.simple-ui-backgroundColor-pink-400,
.simple-ui-hover\:backgroundColor-pink-400:hover,
.simple-ui-focus\:backgroundColor-pink-400:focus,
.simple-ui-active\:backgroundColor-pink-400:active {
  --simple-ui-bg-opacity: 1;
  background-color: rgba(244, 114, 182, var(--simple-ui-bg-opacity));
}
.simple-ui-backgroundColor-pink-500,
.simple-ui-hover\:backgroundColor-pink-500:hover,
.simple-ui-focus\:backgroundColor-pink-500:focus,
.simple-ui-active\:backgroundColor-pink-500:active {
  --simple-ui-bg-opacity: 1;
  background-color: rgba(236, 72, 153, var(--simple-ui-bg-opacity));
}
.simple-ui-backgroundColor-pink-600,
.simple-ui-hover\:backgroundColor-pink-600:hover,
.simple-ui-focus\:backgroundColor-pink-600:focus,
.simple-ui-active\:backgroundColor-pink-600:active {
  --simple-ui-bg-opacity: 1;
  background-color: rgba(219, 39, 119, var(--simple-ui-bg-opacity));
}
.simple-ui-backgroundColor-pink-700,
.simple-ui-hover\:backgroundColor-pink-700:hover,
.simple-ui-focus\:backgroundColor-pink-700:focus,
.simple-ui-active\:backgroundColor-pink-700:active {
  --simple-ui-bg-opacity: 1;
  background-color: rgba(190, 24, 93, var(--simple-ui-bg-opacity));
}
.simple-ui-backgroundColor-pink-800,
.simple-ui-hover\:backgroundColor-pink-800:hover,
.simple-ui-focus\:backgroundColor-pink-800:focus,
.simple-ui-active\:backgroundColor-pink-800:active {
  --simple-ui-bg-opacity: 1;
  background-color: rgba(157, 23, 77, var(--simple-ui-bg-opacity));
}
.simple-ui-backgroundColor-pink-900,
.simple-ui-hover\:backgroundColor-pink-900:hover,
.simple-ui-focus\:backgroundColor-pink-900:focus,
.simple-ui-active\:backgroundColor-pink-900:active {
  --simple-ui-bg-opacity: 1;
  background-color: rgba(131, 24, 67, var(--simple-ui-bg-opacity));
}
