.simple-ui-textOverflow-truncate,
.simple-ui-hover\:textOverflow-truncate:hover,
.simple-ui-focus\:textOverflow-truncate:focus,
.simple-ui-active\:textOverflow-truncate:active {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.simple-ui-textOverflow-ellipsis,
.simple-ui-hover\:textOverflow-ellipsis:hover,
.simple-ui-focus\:textOverflow-ellipsis:focus,
.simple-ui-active\:textOverflow-ellipsis:active {
	text-overflow: ellipsis;
}
.simple-ui-textOverflow-clip,
.simple-ui-hover\:textOverflow-clip:hover,
.simple-ui-focus\:textOverflow-clip:focus,
.simple-ui-active\:textOverflow-clip:active {
	text-overflow: clip;
}
