.simple-ui-listStyle-none,
.simple-ui-hover\:listStyle-none:hover,
.simple-ui-focus\:listStyle-none:focus,
.simple-ui-active\:listStyle-none:active {
	list-style-type: none;
}
.simple-ui-listStyle-disc,
.simple-ui-hover\:listStyle-disc:hover,
.simple-ui-focus\:listStyle-disc:focus,
.simple-ui-active\:listStyle-disc:active {
	list-style-type: disc;
}
.simple-ui-listStyle-decimal,
.simple-ui-hover\:listStyle-decimal:hover,
.simple-ui-focus\:listStyle-decimal:focus,
.simple-ui-active\:listStyle-decimal:active {
	list-style-type: decimal;
}
