.simple-ui-textAlign-left,
.simple-ui-hover\:textAlign-left:hover,
.simple-ui-focus\:textAlign-left:focus,
.simple-ui-active\:textAlign-left:active {
	text-align: left;
}
.simple-ui-textAlign-center,
.simple-ui-hover\:textAlign-center:hover,
.simple-ui-focus\:textAlign-center:focus,
.simple-ui-active\:textAlign-center:active {
	text-align: center;
}
.simple-ui-textAlign-right,
.simple-ui-hover\:textAlign-right:hover,
.simple-ui-focus\:textAlign-right:focus,
.simple-ui-active\:textAlign-right:active {
	text-align: right;
}
.simple-ui-textAlign-justify,
.simple-ui-hover\:textAlign-justify:hover,
.simple-ui-focus\:textAlign-justify:focus,
.simple-ui-active\:textAlign-justify:active {
	text-align: justify;
}
