.simple-ui-borderColor-transparent,
.simple-ui-hover\:borderColor-transparent:hover,
.simple-ui-focus\:borderColor-transparent:focus,
.simple-ui-active\:borderColor-transparent:active {
	border-color: transparent;
}
.simple-ui-borderColor-current,
.simple-ui-hover\:borderColor-current:hover,
.simple-ui-focus\:borderColor-current:focus,
.simple-ui-active\:borderColor-current:active {
	border-color: currentColor;
}
.simple-ui-borderColor-black,
.simple-ui-hover\:borderColor-black:hover,
.simple-ui-focus\:borderColor-black:focus,
.simple-ui-active\:borderColor-black:active {
	--simple-ui-border-opacity: 1;
	border-color: rgba(0, 0, 0, var(--simple-ui-border-opacity));
}
.simple-ui-borderColor-white,
.simple-ui-hover\:borderColor-white:hover,
.simple-ui-focus\:borderColor-white:focus,
.simple-ui-active\:borderColor-white:active {
	--simple-ui-border-opacity: 1;
	border-color: rgba(255, 255, 255, var(--simple-ui-border-opacity));
}

.simple-ui-borderColor-whitealpha-50,
.simple-ui-hover\:borderColor-whitealpha-50:hover,
.simple-ui-focus\:borderColor-whitealpha-50:focus,
.simple-ui-active\:borderColor-whitealpha-50:active {
	border-color: rgba(255, 255, 255, 0.04);
}
.simple-ui-borderColor-whitealpha-100,
.simple-ui-hover\:borderColor-whitealpha-100:hover,
.simple-ui-focus\:borderColor-whitealpha-100:focus,
.simple-ui-active\:borderColor-whitealpha-100:active {
	border-color: rgba(255, 255, 255, 0.06);
}
.simple-ui-borderColor-whitealpha-200,
.simple-ui-hover\:borderColor-whitealpha-200:hover,
.simple-ui-focus\:borderColor-whitealpha-200:focus,
.simple-ui-active\:borderColor-whitealpha-200:active {
	border-color: rgba(255, 255, 255, 0.08);
}
.simple-ui-borderColor-whitealpha-300,
.simple-ui-hover\:borderColor-whitealpha-300:hover,
.simple-ui-focus\:borderColor-whitealpha-300:focus,
.simple-ui-active\:borderColor-whitealpha-300:active {
	border-color: rgba(255, 255, 255, 0.16);
}
.simple-ui-borderColor-whitealpha-400,
.simple-ui-hover\:borderColor-whitealpha-400:hover,
.simple-ui-focus\:borderColor-whitealpha-400:focus,
.simple-ui-active\:borderColor-whitealpha-400:active {
	border-color: rgba(255, 255, 255, 0.24);
}
.simple-ui-borderColor-whitealpha-500,
.simple-ui-hover\:borderColor-whitealpha-500:hover,
.simple-ui-focus\:borderColor-whitealpha-500:focus,
.simple-ui-active\:borderColor-whitealpha-500:active {
	border-color: rgba(255, 255, 255, 0.36);
}
.simple-ui-borderColor-whitealpha-600,
.simple-ui-hover\:borderColor-whitealpha-600:hover,
.simple-ui-focus\:borderColor-whitealpha-600:focus,
.simple-ui-active\:borderColor-whitealpha-600:active {
	border-color: rgba(255, 255, 255, 0.48);
}
.simple-ui-borderColor-whitealpha-700,
.simple-ui-hover\:borderColor-whitealpha-700:hover,
.simple-ui-focus\:borderColor-whitealpha-700:focus,
.simple-ui-active\:borderColor-whitealpha-700:active {
	border-color: rgba(255, 255, 255, 0.64);
}
.simple-ui-borderColor-whitealpha-800,
.simple-ui-hover\:borderColor-whitealpha-800:hover,
.simple-ui-focus\:borderColor-whitealpha-800:focus,
.simple-ui-active\:borderColor-whitealpha-800:active {
	border-color: rgba(255, 255, 255, 0.8);
}
.simple-ui-borderColor-whitealpha-900,
.simple-ui-hover\:borderColor-whitealpha-900:hover,
.simple-ui-focus\:borderColor-whitealpha-900:focus,
.simple-ui-active\:borderColor-whitealpha-900:active {
	border-color: rgba(255, 255, 255, 0.92);
}

.simple-ui-borderColor-blackalpha-50,
.simple-ui-hover\:borderColor-blackalpha-50:hover,
.simple-ui-focus\:borderColor-blackalpha-50:focus,
.simple-ui-active\:borderColor-blackalpha-50:active {
	border-color: rgba(0, 0, 0, 0.04);
}
.simple-ui-borderColor-blackalpha-100,
.simple-ui-hover\:borderColor-blackalpha-100:hover,
.simple-ui-focus\:borderColor-blackalpha-100:focus,
.simple-ui-active\:borderColor-blackalpha-100:active {
	border-color: rgba(0, 0, 0, 0.06);
}
.simple-ui-borderColor-blackalpha-200,
.simple-ui-hover\:borderColor-blackalpha-200:hover,
.simple-ui-focus\:borderColor-blackalpha-200:focus,
.simple-ui-active\:borderColor-blackalpha-200:active {
	border-color: rgba(0, 0, 0, 0.08);
}
.simple-ui-borderColor-blackalpha-300,
.simple-ui-hover\:borderColor-blackalpha-300:hover,
.simple-ui-focus\:borderColor-blackalpha-300:focus,
.simple-ui-active\:borderColor-blackalpha-300:active {
	border-color: rgba(0, 0, 0, 0.16);
}
.simple-ui-borderColor-blackalpha-400,
.simple-ui-hover\:borderColor-blackalpha-400:hover,
.simple-ui-focus\:borderColor-blackalpha-400:focus,
.simple-ui-active\:borderColor-blackalpha-400:active {
	border-color: rgba(0, 0, 0, 0.24);
}
.simple-ui-borderColor-blackalpha-500,
.simple-ui-hover\:borderColor-blackalpha-500:hover,
.simple-ui-focus\:borderColor-blackalpha-500:focus,
.simple-ui-active\:borderColor-blackalpha-500:active {
	border-color: rgba(0, 0, 0, 0.36);
}
.simple-ui-borderColor-blackalpha-600,
.simple-ui-hover\:borderColor-blackalpha-600:hover,
.simple-ui-focus\:borderColor-blackalpha-600:focus,
.simple-ui-active\:borderColor-blackalpha-600:active {
	border-color: rgba(0, 0, 0, 0.48);
}
.simple-ui-borderColor-blackalpha-700,
.simple-ui-hover\:borderColor-blackalpha-700:hover,
.simple-ui-focus\:borderColor-blackalpha-700:focus,
.simple-ui-active\:borderColor-blackalpha-700:active {
	border-color: rgba(0, 0, 0, 0.64);
}
.simple-ui-borderColor-blackalpha-800,
.simple-ui-hover\:borderColor-blackalpha-800:hover,
.simple-ui-focus\:borderColor-blackalpha-800:focus,
.simple-ui-active\:borderColor-blackalpha-800:active {
	border-color: rgba(0, 0, 0, 0.8);
}
.simple-ui-borderColor-blackalpha-900,
.simple-ui-hover\:borderColor-blackalpha-900:hover,
.simple-ui-focus\:borderColor-blackalpha-900:focus,
.simple-ui-active\:borderColor-blackalpha-900:active {
	border-color: rgba(0, 0, 0, 0.92);
}

.simple-ui-borderColor-gray-50,
.simple-ui-hover\:borderColor-gray-50:hover,
.simple-ui-focus\:borderColor-gray-50:focus,
.simple-ui-active\:borderColor-gray-50:active {
	--simple-ui-border-opacity: 1;
	border-color: rgba(249, 250, 251, var(--simple-ui-border-opacity));
}
.simple-ui-borderColor-gray-100,
.simple-ui-hover\:borderColor-gray-100:hover,
.simple-ui-focus\:borderColor-gray-100:focus,
.simple-ui-active\:borderColor-gray-100:active {
	--simple-ui-border-opacity: 1;
	border-color: rgba(243, 244, 246, var(--simple-ui-border-opacity));
}
.simple-ui-borderColor-gray-200,
.simple-ui-hover\:borderColor-gray-200:hover,
.simple-ui-focus\:borderColor-gray-200:focus,
.simple-ui-active\:borderColor-gray-200:active {
	--simple-ui-border-opacity: 1;
	border-color: rgba(229, 231, 235, var(--simple-ui-border-opacity));
}
.simple-ui-borderColor-gray-300,
.simple-ui-hover\:borderColor-gray-300:hover,
.simple-ui-focus\:borderColor-gray-300:focus,
.simple-ui-active\:borderColor-gray-300:active {
	--simple-ui-border-opacity: 1;
	border-color: rgba(209, 213, 219, var(--simple-ui-border-opacity));
}
.simple-ui-borderColor-gray-400,
.simple-ui-hover\:borderColor-gray-400:hover,
.simple-ui-focus\:borderColor-gray-400:focus,
.simple-ui-active\:borderColor-gray-400:active {
	--simple-ui-border-opacity: 1;
	border-color: rgba(156, 163, 175, var(--simple-ui-border-opacity));
}
.simple-ui-borderColor-gray-500,
.simple-ui-hover\:borderColor-gray-500:hover,
.simple-ui-focus\:borderColor-gray-500:focus,
.simple-ui-active\:borderColor-gray-500:active {
	--simple-ui-border-opacity: 1;
	border-color: rgba(107, 114, 128, var(--simple-ui-border-opacity));
}
.simple-ui-borderColor-gray-600,
.simple-ui-hover\:borderColor-gray-600:hover,
.simple-ui-focus\:borderColor-gray-600:focus,
.simple-ui-active\:borderColor-gray-600:active {
	--simple-ui-border-opacity: 1;
	border-color: rgba(75, 85, 99, var(--simple-ui-border-opacity));
}
.simple-ui-borderColor-gray-700,
.simple-ui-hover\:borderColor-gray-700:hover,
.simple-ui-focus\:borderColor-gray-700:focus,
.simple-ui-active\:borderColor-gray-700:active {
	--simple-ui-border-opacity: 1;
	border-color: rgba(55, 65, 81, var(--simple-ui-border-opacity));
}
.simple-ui-borderColor-gray-800,
.simple-ui-hover\:borderColor-gray-800:hover,
.simple-ui-focus\:borderColor-gray-800:focus,
.simple-ui-active\:borderColor-gray-800:active {
	--simple-ui-border-opacity: 1;
	border-color: rgba(31, 41, 55, var(--simple-ui-border-opacity));
}
.simple-ui-borderColor-gray-900,
.simple-ui-hover\:borderColor-gray-900:hover,
.simple-ui-focus\:borderColor-gray-900:focus,
.simple-ui-active\:borderColor-gray-900:active {
	--simple-ui-border-opacity: 1;
	border-color: rgba(17, 24, 39, var(--simple-ui-border-opacity));
}
.simple-ui-borderColor-red-50,
.simple-ui-hover\:borderColor-red-50:hover,
.simple-ui-focus\:borderColor-red-50:focus,
.simple-ui-active\:borderColor-red-50:active {
	--simple-ui-border-opacity: 1;
	border-color: rgba(254, 242, 242, var(--simple-ui-border-opacity));
}
.simple-ui-borderColor-red-100,
.simple-ui-hover\:borderColor-red-100:hover,
.simple-ui-focus\:borderColor-red-100:focus,
.simple-ui-active\:borderColor-red-100:active {
	--simple-ui-border-opacity: 1;
	border-color: rgba(254, 226, 226, var(--simple-ui-border-opacity));
}
.simple-ui-borderColor-red-200,
.simple-ui-hover\:borderColor-red-200:hover,
.simple-ui-focus\:borderColor-red-200:focus,
.simple-ui-active\:borderColor-red-200:active {
	--simple-ui-border-opacity: 1;
	border-color: rgba(254, 202, 202, var(--simple-ui-border-opacity));
}
.simple-ui-borderColor-red-300,
.simple-ui-hover\:borderColor-red-300:hover,
.simple-ui-focus\:borderColor-red-300:focus,
.simple-ui-active\:borderColor-red-300:active {
	--simple-ui-border-opacity: 1;
	border-color: rgba(252, 165, 165, var(--simple-ui-border-opacity));
}
.simple-ui-borderColor-red-400,
.simple-ui-hover\:borderColor-red-400:hover,
.simple-ui-focus\:borderColor-red-400:focus,
.simple-ui-active\:borderColor-red-400:active {
	--simple-ui-border-opacity: 1;
	border-color: rgba(248, 113, 113, var(--simple-ui-border-opacity));
}
.simple-ui-borderColor-red-500,
.simple-ui-hover\:borderColor-red-500:hover,
.simple-ui-focus\:borderColor-red-500:focus,
.simple-ui-active\:borderColor-red-500:active {
	--simple-ui-border-opacity: 1;
	border-color: rgba(239, 68, 68, var(--simple-ui-border-opacity));
}
.simple-ui-borderColor-red-600,
.simple-ui-hover\:borderColor-red-600:hover,
.simple-ui-focus\:borderColor-red-600:focus,
.simple-ui-active\:borderColor-red-600:active {
	--simple-ui-border-opacity: 1;
	border-color: rgba(220, 38, 38, var(--simple-ui-border-opacity));
}
.simple-ui-borderColor-red-700,
.simple-ui-hover\:borderColor-red-700:hover,
.simple-ui-focus\:borderColor-red-700:focus,
.simple-ui-active\:borderColor-red-700:active {
	--simple-ui-border-opacity: 1;
	border-color: rgba(185, 28, 28, var(--simple-ui-border-opacity));
}
.simple-ui-borderColor-red-800,
.simple-ui-hover\:borderColor-red-800:hover,
.simple-ui-focus\:borderColor-red-800:focus,
.simple-ui-active\:borderColor-red-800:active {
	--simple-ui-border-opacity: 1;
	border-color: rgba(153, 27, 27, var(--simple-ui-border-opacity));
}
.simple-ui-borderColor-red-900,
.simple-ui-hover\:borderColor-red-900:hover,
.simple-ui-focus\:borderColor-red-900:focus,
.simple-ui-active\:borderColor-red-900:active {
	--simple-ui-border-opacity: 1;
	border-color: rgba(127, 29, 29, var(--simple-ui-border-opacity));
}
.simple-ui-borderColor-yellow-50,
.simple-ui-hover\:borderColor-yellow-50:hover,
.simple-ui-focus\:borderColor-yellow-50:focus,
.simple-ui-active\:borderColor-yellow-50:active {
	--simple-ui-border-opacity: 1;
	border-color: rgba(255, 251, 235, var(--simple-ui-border-opacity));
}
.simple-ui-borderColor-yellow-100,
.simple-ui-hover\:borderColor-yellow-100:hover,
.simple-ui-focus\:borderColor-yellow-100:focus,
.simple-ui-active\:borderColor-yellow-100:active {
	--simple-ui-border-opacity: 1;
	border-color: rgba(254, 243, 199, var(--simple-ui-border-opacity));
}
.simple-ui-borderColor-yellow-200,
.simple-ui-hover\:borderColor-yellow-200:hover,
.simple-ui-focus\:borderColor-yellow-200:focus,
.simple-ui-active\:borderColor-yellow-200:active {
	--simple-ui-border-opacity: 1;
	border-color: rgba(253, 230, 138, var(--simple-ui-border-opacity));
}
.simple-ui-borderColor-yellow-300,
.simple-ui-hover\:borderColor-yellow-300:hover,
.simple-ui-focus\:borderColor-yellow-300:focus,
.simple-ui-active\:borderColor-yellow-300:active {
	--simple-ui-border-opacity: 1;
	border-color: rgba(252, 211, 77, var(--simple-ui-border-opacity));
}
.simple-ui-borderColor-yellow-400,
.simple-ui-hover\:borderColor-yellow-400:hover,
.simple-ui-focus\:borderColor-yellow-400:focus,
.simple-ui-active\:borderColor-yellow-400:active {
	--simple-ui-border-opacity: 1;
	border-color: rgba(251, 191, 36, var(--simple-ui-border-opacity));
}
.simple-ui-borderColor-yellow-500,
.simple-ui-hover\:borderColor-yellow-500:hover,
.simple-ui-focus\:borderColor-yellow-500:focus,
.simple-ui-active\:borderColor-yellow-500:active {
	--simple-ui-border-opacity: 1;
	border-color: rgba(245, 158, 11, var(--simple-ui-border-opacity));
}
.simple-ui-borderColor-yellow-600,
.simple-ui-hover\:borderColor-yellow-600:hover,
.simple-ui-focus\:borderColor-yellow-600:focus,
.simple-ui-active\:borderColor-yellow-600:active {
	--simple-ui-border-opacity: 1;
	border-color: rgba(217, 119, 6, var(--simple-ui-border-opacity));
}
.simple-ui-borderColor-yellow-700,
.simple-ui-hover\:borderColor-yellow-700:hover,
.simple-ui-focus\:borderColor-yellow-700:focus,
.simple-ui-active\:borderColor-yellow-700:active {
	--simple-ui-border-opacity: 1;
	border-color: rgba(180, 83, 9, var(--simple-ui-border-opacity));
}
.simple-ui-borderColor-yellow-800,
.simple-ui-hover\:borderColor-yellow-800:hover,
.simple-ui-focus\:borderColor-yellow-800:focus,
.simple-ui-active\:borderColor-yellow-800:active {
	--simple-ui-border-opacity: 1;
	border-color: rgba(146, 64, 14, var(--simple-ui-border-opacity));
}
.simple-ui-borderColor-yellow-900,
.simple-ui-hover\:borderColor-yellow-900:hover,
.simple-ui-focus\:borderColor-yellow-900:focus,
.simple-ui-active\:borderColor-yellow-900:active {
	--simple-ui-border-opacity: 1;
	border-color: rgba(120, 53, 15, var(--simple-ui-border-opacity));
}
.simple-ui-borderColor-green-50,
.simple-ui-hover\:borderColor-green-50:hover,
.simple-ui-focus\:borderColor-green-50:focus,
.simple-ui-active\:borderColor-green-50:active {
	--simple-ui-border-opacity: 1;
	border-color: rgba(236, 253, 245, var(--simple-ui-border-opacity));
}
.simple-ui-borderColor-green-100,
.simple-ui-hover\:borderColor-green-100:hover,
.simple-ui-focus\:borderColor-green-100:focus,
.simple-ui-active\:borderColor-green-100:active {
	--simple-ui-border-opacity: 1;
	border-color: rgba(209, 250, 229, var(--simple-ui-border-opacity));
}
.simple-ui-borderColor-green-200,
.simple-ui-hover\:borderColor-green-200:hover,
.simple-ui-focus\:borderColor-green-200:focus,
.simple-ui-active\:borderColor-green-200:active {
	--simple-ui-border-opacity: 1;
	border-color: rgba(167, 243, 208, var(--simple-ui-border-opacity));
}
.simple-ui-borderColor-green-300,
.simple-ui-hover\:borderColor-green-300:hover,
.simple-ui-focus\:borderColor-green-300:focus,
.simple-ui-active\:borderColor-green-300:active {
	--simple-ui-border-opacity: 1;
	border-color: rgba(110, 231, 183, var(--simple-ui-border-opacity));
}
.simple-ui-borderColor-green-400,
.simple-ui-hover\:borderColor-green-400:hover,
.simple-ui-focus\:borderColor-green-400:focus,
.simple-ui-active\:borderColor-green-400:active {
	--simple-ui-border-opacity: 1;
	border-color: rgba(52, 211, 153, var(--simple-ui-border-opacity));
}
.simple-ui-borderColor-green-500,
.simple-ui-hover\:borderColor-green-500:hover,
.simple-ui-focus\:borderColor-green-500:focus,
.simple-ui-active\:borderColor-green-500:active {
	--simple-ui-border-opacity: 1;
	border-color: rgba(16, 185, 129, var(--simple-ui-border-opacity));
}
.simple-ui-borderColor-green-600,
.simple-ui-hover\:borderColor-green-600:hover,
.simple-ui-focus\:borderColor-green-600:focus,
.simple-ui-active\:borderColor-green-600:active {
	--simple-ui-border-opacity: 1;
	border-color: rgba(5, 150, 105, var(--simple-ui-border-opacity));
}
.simple-ui-borderColor-green-700,
.simple-ui-hover\:borderColor-green-700:hover,
.simple-ui-focus\:borderColor-green-700:focus,
.simple-ui-active\:borderColor-green-700:active {
	--simple-ui-border-opacity: 1;
	border-color: rgba(4, 120, 87, var(--simple-ui-border-opacity));
}
.simple-ui-borderColor-green-800,
.simple-ui-hover\:borderColor-green-800:hover,
.simple-ui-focus\:borderColor-green-800:focus,
.simple-ui-active\:borderColor-green-800:active {
	--simple-ui-border-opacity: 1;
	border-color: rgba(6, 95, 70, var(--simple-ui-border-opacity));
}
.simple-ui-borderColor-green-900,
.simple-ui-hover\:borderColor-green-900:hover,
.simple-ui-focus\:borderColor-green-900:focus,
.simple-ui-active\:borderColor-green-900:active {
	--simple-ui-border-opacity: 1;
	border-color: rgba(6, 78, 59, var(--simple-ui-border-opacity));
}
.simple-ui-borderColor-blue-50,
.simple-ui-hover\:borderColor-blue-50:hover,
.simple-ui-focus\:borderColor-blue-50:focus,
.simple-ui-active\:borderColor-blue-50:active {
	--simple-ui-border-opacity: 1;
	border-color: rgba(239, 246, 255, var(--simple-ui-border-opacity));
}
.simple-ui-borderColor-blue-100,
.simple-ui-hover\:borderColor-blue-100:hover,
.simple-ui-focus\:borderColor-blue-100:focus,
.simple-ui-active\:borderColor-blue-100:active {
	--simple-ui-border-opacity: 1;
	border-color: rgba(219, 234, 254, var(--simple-ui-border-opacity));
}
.simple-ui-borderColor-blue-200,
.simple-ui-hover\:borderColor-blue-200:hover,
.simple-ui-focus\:borderColor-blue-200:focus,
.simple-ui-active\:borderColor-blue-200:active {
	--simple-ui-border-opacity: 1;
	border-color: rgba(191, 219, 254, var(--simple-ui-border-opacity));
}
.simple-ui-borderColor-blue-300,
.simple-ui-hover\:borderColor-blue-300:hover,
.simple-ui-focus\:borderColor-blue-300:focus,
.simple-ui-active\:borderColor-blue-300:active {
	--simple-ui-border-opacity: 1;
	border-color: rgba(147, 197, 253, var(--simple-ui-border-opacity));
}
.simple-ui-borderColor-blue-400,
.simple-ui-hover\:borderColor-blue-400:hover,
.simple-ui-focus\:borderColor-blue-400:focus,
.simple-ui-active\:borderColor-blue-400:active {
	--simple-ui-border-opacity: 1;
	border-color: rgba(96, 165, 250, var(--simple-ui-border-opacity));
}
.simple-ui-borderColor-blue-500,
.simple-ui-hover\:borderColor-blue-500:hover,
.simple-ui-focus\:borderColor-blue-500:focus,
.simple-ui-active\:borderColor-blue-500:active {
	--simple-ui-border-opacity: 1;
	border-color: rgba(59, 130, 246, var(--simple-ui-border-opacity));
}
.simple-ui-borderColor-blue-600,
.simple-ui-hover\:borderColor-blue-600:hover,
.simple-ui-focus\:borderColor-blue-600:focus,
.simple-ui-active\:borderColor-blue-600:active {
	--simple-ui-border-opacity: 1;
	border-color: rgba(37, 99, 235, var(--simple-ui-border-opacity));
}
.simple-ui-borderColor-blue-700,
.simple-ui-hover\:borderColor-blue-700:hover,
.simple-ui-focus\:borderColor-blue-700:focus,
.simple-ui-active\:borderColor-blue-700:active {
	--simple-ui-border-opacity: 1;
	border-color: rgba(29, 78, 216, var(--simple-ui-border-opacity));
}
.simple-ui-borderColor-blue-800,
.simple-ui-hover\:borderColor-blue-800:hover,
.simple-ui-focus\:borderColor-blue-800:focus,
.simple-ui-active\:borderColor-blue-800:active {
	--simple-ui-border-opacity: 1;
	border-color: rgba(30, 64, 175, var(--simple-ui-border-opacity));
}
.simple-ui-borderColor-blue-900,
.simple-ui-hover\:borderColor-blue-900:hover,
.simple-ui-focus\:borderColor-blue-900:focus,
.simple-ui-active\:borderColor-blue-900:active {
	--simple-ui-border-opacity: 1;
	border-color: rgba(30, 58, 138, var(--simple-ui-border-opacity));
}
.simple-ui-borderColor-indigo-50,
.simple-ui-hover\:borderColor-indigo-50:hover,
.simple-ui-focus\:borderColor-indigo-50:focus,
.simple-ui-active\:borderColor-indigo-50:active {
	--simple-ui-border-opacity: 1;
	border-color: rgba(238, 242, 255, var(--simple-ui-border-opacity));
}
.simple-ui-borderColor-indigo-100,
.simple-ui-hover\:borderColor-indigo-100:hover,
.simple-ui-focus\:borderColor-indigo-100:focus,
.simple-ui-active\:borderColor-indigo-100:active {
	--simple-ui-border-opacity: 1;
	border-color: rgba(224, 231, 255, var(--simple-ui-border-opacity));
}
.simple-ui-borderColor-indigo-200,
.simple-ui-hover\:borderColor-indigo-200:hover,
.simple-ui-focus\:borderColor-indigo-200:focus,
.simple-ui-active\:borderColor-indigo-200:active {
	--simple-ui-border-opacity: 1;
	border-color: rgba(199, 210, 254, var(--simple-ui-border-opacity));
}
.simple-ui-borderColor-indigo-300,
.simple-ui-hover\:borderColor-indigo-300:hover,
.simple-ui-focus\:borderColor-indigo-300:focus,
.simple-ui-active\:borderColor-indigo-300:active {
	--simple-ui-border-opacity: 1;
	border-color: rgba(165, 180, 252, var(--simple-ui-border-opacity));
}
.simple-ui-borderColor-indigo-400,
.simple-ui-hover\:borderColor-indigo-400:hover,
.simple-ui-focus\:borderColor-indigo-400:focus,
.simple-ui-active\:borderColor-indigo-400:active {
	--simple-ui-border-opacity: 1;
	border-color: rgba(129, 140, 248, var(--simple-ui-border-opacity));
}
.simple-ui-borderColor-indigo-500,
.simple-ui-hover\:borderColor-indigo-500:hover,
.simple-ui-focus\:borderColor-indigo-500:focus,
.simple-ui-active\:borderColor-indigo-500:active {
	--simple-ui-border-opacity: 1;
	border-color: rgba(99, 102, 241, var(--simple-ui-border-opacity));
}
.simple-ui-borderColor-indigo-600,
.simple-ui-hover\:borderColor-indigo-600:hover,
.simple-ui-focus\:borderColor-indigo-600:focus,
.simple-ui-active\:borderColor-indigo-600:active {
	--simple-ui-border-opacity: 1;
	border-color: rgba(79, 70, 229, var(--simple-ui-border-opacity));
}
.simple-ui-borderColor-indigo-700,
.simple-ui-hover\:borderColor-indigo-700:hover,
.simple-ui-focus\:borderColor-indigo-700:focus,
.simple-ui-active\:borderColor-indigo-700:active {
	--simple-ui-border-opacity: 1;
	border-color: rgba(67, 56, 202, var(--simple-ui-border-opacity));
}
.simple-ui-borderColor-indigo-800,
.simple-ui-hover\:borderColor-indigo-800:hover,
.simple-ui-focus\:borderColor-indigo-800:focus,
.simple-ui-active\:borderColor-indigo-800:active {
	--simple-ui-border-opacity: 1;
	border-color: rgba(55, 48, 163, var(--simple-ui-border-opacity));
}
.simple-ui-borderColor-indigo-900,
.simple-ui-hover\:borderColor-indigo-900:hover,
.simple-ui-focus\:borderColor-indigo-900:focus,
.simple-ui-active\:borderColor-indigo-900:active {
	--simple-ui-border-opacity: 1;
	border-color: rgba(49, 46, 129, var(--simple-ui-border-opacity));
}
.simple-ui-borderColor-purple-50,
.simple-ui-hover\:borderColor-purple-50:hover,
.simple-ui-focus\:borderColor-purple-50:focus,
.simple-ui-active\:borderColor-purple-50:active {
	--simple-ui-border-opacity: 1;
	border-color: rgba(245, 243, 255, var(--simple-ui-border-opacity));
}
.simple-ui-borderColor-purple-100,
.simple-ui-hover\:borderColor-purple-100:hover,
.simple-ui-focus\:borderColor-purple-100:focus,
.simple-ui-active\:borderColor-purple-100:active {
	--simple-ui-border-opacity: 1;
	border-color: rgba(237, 233, 254, var(--simple-ui-border-opacity));
}
.simple-ui-borderColor-purple-200,
.simple-ui-hover\:borderColor-purple-200:hover,
.simple-ui-focus\:borderColor-purple-200:focus,
.simple-ui-active\:borderColor-purple-200:active {
	--simple-ui-border-opacity: 1;
	border-color: rgba(221, 214, 254, var(--simple-ui-border-opacity));
}
.simple-ui-borderColor-purple-300,
.simple-ui-hover\:borderColor-purple-300:hover,
.simple-ui-focus\:borderColor-purple-300:focus,
.simple-ui-active\:borderColor-purple-300:active {
	--simple-ui-border-opacity: 1;
	border-color: rgba(196, 181, 253, var(--simple-ui-border-opacity));
}
.simple-ui-borderColor-purple-400,
.simple-ui-hover\:borderColor-purple-400:hover,
.simple-ui-focus\:borderColor-purple-400:focus,
.simple-ui-active\:borderColor-purple-400:active {
	--simple-ui-border-opacity: 1;
	border-color: rgba(167, 139, 250, var(--simple-ui-border-opacity));
}
.simple-ui-borderColor-purple-500,
.simple-ui-hover\:borderColor-purple-500:hover,
.simple-ui-focus\:borderColor-purple-500:focus,
.simple-ui-active\:borderColor-purple-500:active {
	--simple-ui-border-opacity: 1;
	border-color: rgba(139, 92, 246, var(--simple-ui-border-opacity));
}
.simple-ui-borderColor-purple-600,
.simple-ui-hover\:borderColor-purple-600:hover,
.simple-ui-focus\:borderColor-purple-600:focus,
.simple-ui-active\:borderColor-purple-600:active {
	--simple-ui-border-opacity: 1;
	border-color: rgba(124, 58, 237, var(--simple-ui-border-opacity));
}
.simple-ui-borderColor-purple-700,
.simple-ui-hover\:borderColor-purple-700:hover,
.simple-ui-focus\:borderColor-purple-700:focus,
.simple-ui-active\:borderColor-purple-700:active {
	--simple-ui-border-opacity: 1;
	border-color: rgba(109, 40, 217, var(--simple-ui-border-opacity));
}
.simple-ui-borderColor-purple-800,
.simple-ui-hover\:borderColor-purple-800:hover,
.simple-ui-focus\:borderColor-purple-800:focus,
.simple-ui-active\:borderColor-purple-800:active {
	--simple-ui-border-opacity: 1;
	border-color: rgba(91, 33, 182, var(--simple-ui-border-opacity));
}
.simple-ui-borderColor-purple-900,
.simple-ui-hover\:borderColor-purple-900:hover,
.simple-ui-focus\:borderColor-purple-900:focus,
.simple-ui-active\:borderColor-purple-900:active {
	--simple-ui-border-opacity: 1;
	border-color: rgba(76, 29, 149, var(--simple-ui-border-opacity));
}
.simple-ui-borderColor-pink-50,
.simple-ui-hover\:borderColor-pink-50:hover,
.simple-ui-focus\:borderColor-pink-50:focus,
.simple-ui-active\:borderColor-pink-50:active {
	--simple-ui-border-opacity: 1;
	border-color: rgba(253, 242, 248, var(--simple-ui-border-opacity));
}
.simple-ui-borderColor-pink-100,
.simple-ui-hover\:borderColor-pink-100:hover,
.simple-ui-focus\:borderColor-pink-100:focus,
.simple-ui-active\:borderColor-pink-100:active {
	--simple-ui-border-opacity: 1;
	border-color: rgba(252, 231, 243, var(--simple-ui-border-opacity));
}
.simple-ui-borderColor-pink-200,
.simple-ui-hover\:borderColor-pink-200:hover,
.simple-ui-focus\:borderColor-pink-200:focus,
.simple-ui-active\:borderColor-pink-200:active {
	--simple-ui-border-opacity: 1;
	border-color: rgba(251, 207, 232, var(--simple-ui-border-opacity));
}
.simple-ui-borderColor-pink-300,
.simple-ui-hover\:borderColor-pink-300:hover,
.simple-ui-focus\:borderColor-pink-300:focus,
.simple-ui-active\:borderColor-pink-300:active {
	--simple-ui-border-opacity: 1;
	border-color: rgba(249, 168, 212, var(--simple-ui-border-opacity));
}
.simple-ui-borderColor-pink-400,
.simple-ui-hover\:borderColor-pink-400:hover,
.simple-ui-focus\:borderColor-pink-400:focus,
.simple-ui-active\:borderColor-pink-400:active {
	--simple-ui-border-opacity: 1;
	border-color: rgba(244, 114, 182, var(--simple-ui-border-opacity));
}
.simple-ui-borderColor-pink-500,
.simple-ui-hover\:borderColor-pink-500:hover,
.simple-ui-focus\:borderColor-pink-500:focus,
.simple-ui-active\:borderColor-pink-500:active {
	--simple-ui-border-opacity: 1;
	border-color: rgba(236, 72, 153, var(--simple-ui-border-opacity));
}
.simple-ui-borderColor-pink-600,
.simple-ui-hover\:borderColor-pink-600:hover,
.simple-ui-focus\:borderColor-pink-600:focus,
.simple-ui-active\:borderColor-pink-600:active {
	--simple-ui-border-opacity: 1;
	border-color: rgba(219, 39, 119, var(--simple-ui-border-opacity));
}
.simple-ui-borderColor-pink-700,
.simple-ui-hover\:borderColor-pink-700:hover,
.simple-ui-focus\:borderColor-pink-700:focus,
.simple-ui-active\:borderColor-pink-700:active {
	--simple-ui-border-opacity: 1;
	border-color: rgba(190, 24, 93, var(--simple-ui-border-opacity));
}
.simple-ui-borderColor-pink-800,
.simple-ui-hover\:borderColor-pink-800:hover,
.simple-ui-focus\:borderColor-pink-800:focus,
.simple-ui-active\:borderColor-pink-800:active {
	--simple-ui-border-opacity: 1;
	border-color: rgba(157, 23, 77, var(--simple-ui-border-opacity));
}
.simple-ui-borderColor-pink-900,
.simple-ui-hover\:borderColor-pink-900:hover,
.simple-ui-focus\:borderColor-pink-900:focus,
.simple-ui-active\:borderColor-pink-900:active {
	--simple-ui-border-opacity: 1;
	border-color: rgba(131, 24, 67, var(--simple-ui-border-opacity));
}
