.simple-ui-transitionDuration-75,
.simple-ui-hover\:transitionDuration-75:hover,
.simple-ui-focus\:transitionDuration-75:focus,
.simple-ui-active\:transitionDuration-75:active {
	transition-duration: 75ms;
}
.simple-ui-transitionDuration-100,
.simple-ui-hover\:transitionDuration-100:hover,
.simple-ui-focus\:transitionDuration-100:focus,
.simple-ui-active\:transitionDuration-100:active {
	transition-duration: 100ms;
}
.simple-ui-transitionDuration-150,
.simple-ui-hover\:transitionDuration-150:hover,
.simple-ui-focus\:transitionDuration-150:focus,
.simple-ui-active\:transitionDuration-150:active {
	transition-duration: 150ms;
}
.simple-ui-transitionDuration-200,
.simple-ui-hover\:transitionDuration-200:hover,
.simple-ui-focus\:transitionDuration-200:focus,
.simple-ui-active\:transitionDuration-200:active {
	transition-duration: 200ms;
}
.simple-ui-transitionDuration-300,
.simple-ui-hover\:transitionDuration-300:hover,
.simple-ui-focus\:transitionDuration-300:focus,
.simple-ui-active\:transitionDuration-300:active {
	transition-duration: 300ms;
}
.simple-ui-transitionDuration-500,
.simple-ui-hover\:transitionDuration-500:hover,
.simple-ui-focus\:transitionDuration-500:focus,
.simple-ui-active\:transitionDuration-500:active {
	transition-duration: 500ms;
}
.simple-ui-transitionDuration-700,
.simple-ui-hover\:transitionDuration-700:hover,
.simple-ui-focus\:transitionDuration-700:focus,
.simple-ui-active\:transitionDuration-700:active {
	transition-duration: 700ms;
}
.simple-ui-transitionDuration-1000,
.simple-ui-hover\:transitionDuration-1000:hover,
.simple-ui-focus\:transitionDuration-1000:focus,
.simple-ui-active\:transitionDuration-1000:active {
	transition-duration: 1000ms;
}
