.justifyContent-start,
.hover\:justifyContent-start:hover,
.focus\:justifyContent-start:focus,
.active\:justifyContent-start:active {
	justify-content: flex-start;
}

.justifyContent-end,
.hover\:justifyContent-end:hover,
.focus\:justifyContent-end:focus,
.active\:justifyContent-end:active {
	justify-content: flex-end;
}

.justifyContent-center,
.hover\:justifyContent-center:hover,
.focus\:justifyContent-center:focus,
.active\:justifyContent-center:active {
	justify-content: center;
}

.justifyContent-between,
.hover\:justifyContent-between:hover,
.focus\:justifyContent-between:focus,
.active\:justifyContent-between:active {
	justify-content: space-between;
}

.justifyContent-around,
.hover\:justifyContent-around:hover,
.focus\:justifyContent-around:focus,
.active\:justifyContent-around:active {
	justify-content: space-around;
}

.justifyContent-evenly,
.hover\:justifyContent-evenly:hover,
.focus\:justifyContent-evenly:focus,
.active\:justifyContent-evenly:active {
	justify-content: space-evenly;
}
