.simple-ui-justifyContent-start,
.simple-ui-hover\:justifyContent-start:hover,
.simple-ui-focus\:justifyContent-start:focus,
.simple-ui-active\:justifyContent-start:active {
	justify-content: flex-start;
}

.simple-ui-justifyContent-end,
.simple-ui-hover\:justifyContent-end:hover,
.simple-ui-focus\:justifyContent-end:focus,
.simple-ui-active\:justifyContent-end:active {
	justify-content: flex-end;
}

.simple-ui-justifyContent-center,
.simple-ui-hover\:justifyContent-center:hover,
.simple-ui-focus\:justifyContent-center:focus,
.simple-ui-active\:justifyContent-center:active {
	justify-content: center;
}

.simple-ui-justifyContent-between,
.simple-ui-hover\:justifyContent-between:hover,
.simple-ui-focus\:justifyContent-between:focus,
.simple-ui-active\:justifyContent-between:active {
	justify-content: space-between;
}

.simple-ui-justifyContent-around,
.simple-ui-hover\:justifyContent-around:hover,
.simple-ui-focus\:justifyContent-around:focus,
.simple-ui-active\:justifyContent-around:active {
	justify-content: space-around;
}

.simple-ui-justifyContent-evenly,
.simple-ui-hover\:justifyContent-evenly:hover,
.simple-ui-focus\:justifyContent-evenly:focus,
.simple-ui-active\:justifyContent-evenly:active {
	justify-content: space-evenly;
}
