.simple-ui-dropShadow-xs,
.simple-ui-hover\:dropShadow-xs:hover,
.simple-ui-focus\:dropShadow-xs:focus,
.simple-ui-active\:dropShadow-xs:active {
	--simple-ui-drop-shadow: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.05));
}
.simple-ui-dropShadow-sm,
.simple-ui-hover\:dropShadow-sm:hover,
.simple-ui-focus\:dropShadow-sm:focus,
.simple-ui-active\:dropShadow-sm:active {
	--simple-ui-drop-shadow: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.1))
		drop-shadow(0 1px 1px rgba(0, 0, 0, 0.06));
}
.simple-ui-dropShadow-md,
.simple-ui-hover\:dropShadow-md:hover,
.simple-ui-focus\:dropShadow-md:focus,
.simple-ui-active\:dropShadow-md:active {
	--simple-ui-drop-shadow: drop-shadow(0 4px 3px rgba(0, 0, 0, 0.07))
		drop-shadow(0 2px 2px rgba(0, 0, 0, 0.06));
}
.simple-ui-dropShadow-lg,
.simple-ui-hover\:dropShadow-lg:hover,
.simple-ui-focus\:dropShadow-lg:focus,
.simple-ui-active\:dropShadow-lg:active {
	--simple-ui-drop-shadow: drop-shadow(0 10px 8px rgba(0, 0, 0, 0.04))
		drop-shadow(0 4px 3px rgba(0, 0, 0, 0.1));
}
.simple-ui-dropShadow-xl,
.simple-ui-hover\:dropShadow-xl:hover,
.simple-ui-focus\:dropShadow-xl:focus,
.simple-ui-active\:dropShadow-xl:active {
	--simple-ui-drop-shadow: drop-shadow(0 20px 13px rgba(0, 0, 0, 0.03))
		drop-shadow(0 8px 5px rgba(0, 0, 0, 0.08));
}
.simple-ui-dropShadow-2xl,
.simple-ui-hover\:dropShadow-2xl:hover,
.simple-ui-focus\:dropShadow-2xl:focus,
.simple-ui-active\:dropShadow-2xl:active {
	--simple-ui-drop-shadow: drop-shadow(0 25px 25px rgba(0, 0, 0, 0.15));
}
.simple-ui-dropShadow-none,
.simple-ui-hover\:dropShadow-none:hover,
.simple-ui-focus\:dropShadow-none:focus,
.simple-ui-active\:dropShadow-none:active {
	--simple-ui-drop-shadow: drop-shadow(0 0 #0000);
}
