.simple-ui-placeSelf-auto,
.simple-ui-hover\:placeSelf-auto:hover,
.simple-ui-focus\:placeSelf-auto:focus,
.simple-ui-active\:placeSelf-auto:active {
	place-self: auto;
}

.simple-ui-placeSelf-center,
.simple-ui-hover\:placeSelf-center:hover,
.simple-ui-focus\:placeSelf-center:focus,
.simple-ui-active\:placeSelf-center:active {
	place-self: center;
}

.simple-ui-placeSelf-start,
.simple-ui-hover\:placeSelf-start:hover,
.simple-ui-focus\:placeSelf-start:focus,
.simple-ui-active\:placeSelf-start:active {
	place-self: start;
}

.simple-ui-placeSelf-end,
.simple-ui-hover\:placeSelf-end:hover,
.simple-ui-focus\:placeSelf-end:focus,
.simple-ui-active\:placeSelf-end:active {
	place-self: end;
}

.simple-ui-placeSelf-stretch,
.simple-ui-hover\:placeSelf-stretch:hover,
.simple-ui-focus\:placeSelf-stretch:focus,
.simple-ui-active\:placeSelf-stretch:active {
	place-self: stretch;
}
