.minH-0,
.hover\:minH-0,
.active\:minH-0,
.focus\:minH-0,
.minHeight-0,
.hover\:minHeight-0,
.active\:minHeight-0,
.focus\:minHeight-0 {
  height: 0px;
}

.minH-full,
.hover\:minH-full,
.active\:minH-full,
.focus\:minH-full,
.minHeight-full,
.hover\:minHeight-full,
.active\:minHeight-full,
.focus\:minHeight-full {
  height: 100%;
}

.minH-screen,
.hover\:minH-screen,
.active\:minH-screen,
.focus\:minH-screen,
.minHeight-screen,
.hover\:minHeight-screen,
.active\:minHeight-screen,
.focus\:minHeight-screen {
  height: 100vh;
}
