.minH-0,
.hover\:minH-0:hover,
.active\:minH-0:active,
.focus\:minH-0:focus,
.minHeight-0,
.hover\:minHeight-0:hover,
.active\:minHeight-0:active,
.focus\:minHeight-0 :focus {
	height: 0px;
}

.minH-full,
.hover\:minH-full:hover,
.active\:minH-full:active,
.focus\:minH-full:focus,
.minHeight-full,
.hover\:minHeight-full:hover,
.active\:minHeight-full:active,
.focus\:minHeight-full :focus {
	height: 100%;
}

.minH-screen,
.hover\:minH-screen:hover,
.active\:minH-screen:active,
.focus\:minH-screen:focus,
.minHeight-screen,
.hover\:minHeight-screen:hover,
.active\:minHeight-screen:active,
.focus\:minHeight-screen :focus {
	height: 100vh;
}
