.simple-ui-zIndex-0,
.simple-ui-hover\:zIndex-0:hover,
.simple-ui-active\:zIndex-0:active,
.simple-ui-focus\:zIndex-0:focus {
	z-index: 0;
}
.simple-ui-zIndex-10,
.simple-ui-hover\:zIndex-10:hover,
.simple-ui-active\:zIndex-10:active,
.simple-ui-focus\:zIndex-10:focus {
	z-index: 10;
}
.simple-ui-zIndex-20,
.simple-ui-hover\:zIndex-20:hover,
.simple-ui-active\:zIndex-20:active,
.simple-ui-focus\:zIndex-20:focus {
	z-index: 20;
}
.simple-ui-zIndex-30,
.simple-ui-hover\:zIndex-30:hover,
.simple-ui-active\:zIndex-30:active,
.simple-ui-focus\:zIndex-30:focus {
	z-index: 30;
}
.simple-ui-zIndex-40,
.simple-ui-hover\:zIndex-40:hover,
.simple-ui-active\:zIndex-40:active,
.simple-ui-focus\:zIndex-40:focus {
	z-index: 40;
}
.simple-ui-zIndex-50,
.simple-ui-hover\:zIndex-50:hover,
.simple-ui-active\:zIndex-50:active,
.simple-ui-focus\:zIndex-50:focus {
	z-index: 50;
}
.simple-ui-zIndex-auto,
.simple-ui-hover\:zIndex-auto:hover,
.simple-ui-active\:zIndex-auto:active,
.simple-ui-focus\:zIndex-auto:focus {
	z-index: auto;
}
