.simple-ui-placeholderColor-transparent::placeholder,
.simple-ui-hover\:placeholderColor-transparent::placeholder:hover,
.simple-ui-focus\:placeholderColor-transparent::placeholder:focus,
.simple-ui-active\:placeholderColor-transparent::placeholder:active {
	color: transparent;
}
.simple-ui-placeholderColor-current::placeholder,
.simple-ui-hover\:placeholderColor-current::placeholder:hover,
.simple-ui-focus\:placeholderColor-current::placeholder:focus,
.simple-ui-active\:placeholderColor-current::placeholder:active {
	color: currentColor;
}
.simple-ui-placeholderColor-black::placeholder,
.simple-ui-hover\:placeholderColor-black::placeholder:hover,
.simple-ui-focus\:placeholderColor-black::placeholder:focus,
.simple-ui-active\:placeholderColor-black::placeholder:active {
	--simple-ui-placeholder-opacity: 1;
	color: rgba(0, 0, 0, var(--simple-ui-placeholder-opacity));
}

.simple-ui-placeholderColor-white::placeholder,
.simple-ui-hover\:placeholderColor-white::placeholder:hover,
.simple-ui-focus\:placeholderColor-white::placeholder:focus,
.simple-ui-active\:placeholderColor-white::placeholder:active {
	--simple-ui-placeholder-opacity: 1;
	color: rgba(255, 255, 255, var(--simple-ui-placeholder-opacity));
}
.simple-ui-placeholderColor-gray-50::placeholder,
.simple-ui-hover\:placeholderColor-gray-50::placeholder:hover,
.simple-ui-focus\:placeholderColor-gray-50::placeholder:focus,
.simple-ui-active\:placeholderColor-gray-50::placeholder:active {
	--simple-ui-placeholder-opacity: 1;
	color: rgba(249, 250, 251, var(--simple-ui-placeholder-opacity));
}
.simple-ui-placeholderColor-gray-100::placeholder,
.simple-ui-hover\:placeholderColor-gray-100::placeholder:hover,
.simple-ui-focus\:placeholderColor-gray-100::placeholder:focus,
.simple-ui-active\:placeholderColor-gray-100::placeholder:active {
	--simple-ui-placeholder-opacity: 1;
	color: rgba(243, 244, 246, var(--simple-ui-placeholder-opacity));
}
.simple-ui-placeholderColor-gray-200::placeholder,
.simple-ui-hover\:placeholderColor-gray-200::placeholder:hover,
.simple-ui-focus\:placeholderColor-gray-200::placeholder:focus,
.simple-ui-active\:placeholderColor-gray-200::placeholder:active {
	--simple-ui-placeholder-opacity: 1;
	color: rgba(229, 231, 235, var(--simple-ui-placeholder-opacity));
}
.simple-ui-placeholderColor-gray-300::placeholder,
.simple-ui-hover\:placeholderColor-gray-300::placeholder:hover,
.simple-ui-focus\:placeholderColor-gray-300::placeholder:focus,
.simple-ui-active\:placeholderColor-gray-300::placeholder:active {
	--simple-ui-placeholder-opacity: 1;
	color: rgba(209, 213, 219, var(--simple-ui-placeholder-opacity));
}
.simple-ui-placeholderColor-gray-400::placeholder,
.simple-ui-hover\:placeholderColor-gray-400::placeholder:hover,
.simple-ui-focus\:placeholderColor-gray-400::placeholder:focus,
.simple-ui-active\:placeholderColor-gray-400::placeholder:active {
	--simple-ui-placeholder-opacity: 1;
	color: rgba(156, 163, 175, var(--simple-ui-placeholder-opacity));
}

.simple-ui-placeholderColor-gray-500::placeholder,
.simple-ui-hover\:placeholderColor-gray-500::placeholder:hover,
.simple-ui-focus\:placeholderColor-gray-500::placeholder:focus,
.simple-ui-active\:placeholderColor-gray-500::placeholder:active {
	--simple-ui-placeholder-opacity: 1;
	color: rgba(107, 114, 128, var(--simple-ui-placeholder-opacity));
}
.simple-ui-placeholderColor-gray-600::placeholder,
.simple-ui-hover\:placeholderColor-gray-600::placeholder:hover,
.simple-ui-focus\:placeholderColor-gray-600::placeholder:focus,
.simple-ui-active\:placeholderColor-gray-600::placeholder:active {
	--simple-ui-placeholder-opacity: 1;
	color: rgba(75, 85, 99, var(--simple-ui-placeholder-opacity));
}
.simple-ui-placeholderColor-gray-700::placeholder,
.simple-ui-hover\:placeholderColor-gray-700::placeholder:hover,
.simple-ui-focus\:placeholderColor-gray-700::placeholder:focus,
.simple-ui-active\:placeholderColor-gray-700::placeholder:active {
	--simple-ui-placeholder-opacity: 1;
	color: rgba(55, 65, 81, var(--simple-ui-placeholder-opacity));
}
.simple-ui-placeholderColor-gray-800::placeholder,
.simple-ui-hover\:placeholderColor-gray-800::placeholder:hover,
.simple-ui-focus\:placeholderColor-gray-800::placeholder:focus,
.simple-ui-active\:placeholderColor-gray-800::placeholder:active {
	--simple-ui-placeholder-opacity: 1;
	color: rgba(31, 41, 55, var(--simple-ui-placeholder-opacity));
}
.simple-ui-placeholderColor-gray-900::placeholder,
.simple-ui-hover\:placeholderColor-gray-900::placeholder:hover,
.simple-ui-focus\:placeholderColor-gray-900::placeholder:focus,
.simple-ui-active\:placeholderColor-gray-900::placeholder:active {
	--simple-ui-placeholder-opacity: 1;
	color: rgba(17, 24, 39, var(--simple-ui-placeholder-opacity));
}
.simple-ui-placeholderColor-red-50::placeholder,
.simple-ui-hover\:placeholderColor-red-50::placeholder:hover,
.simple-ui-focus\:placeholderColor-red-50::placeholder:focus,
.simple-ui-active\:placeholderColor-red-50::placeholder:active {
	--simple-ui-placeholder-opacity: 1;
	color: rgba(254, 242, 242, var(--simple-ui-placeholder-opacity));
}
.simple-ui-placeholderColor-red-100::placeholder,
.simple-ui-hover\:placeholderColor-red-100::placeholder:hover,
.simple-ui-focus\:placeholderColor-red-100::placeholder:focus,
.simple-ui-active\:placeholderColor-red-100::placeholder:active {
	--simple-ui-placeholder-opacity: 1;
	color: rgba(254, 226, 226, var(--simple-ui-placeholder-opacity));
}
.simple-ui-placeholderColor-red-200::placeholder,
.simple-ui-hover\:placeholderColor-red-200::placeholder:hover,
.simple-ui-focus\:placeholderColor-red-200::placeholder:focus,
.simple-ui-active\:placeholderColor-red-200::placeholder:active {
	--simple-ui-placeholder-opacity: 1;
	color: rgba(254, 202, 202, var(--simple-ui-placeholder-opacity));
}
.simple-ui-placeholderColor-red-300::placeholder,
.simple-ui-hover\:placeholderColor-red-300::placeholder:hover,
.simple-ui-focus\:placeholderColor-red-300::placeholder:focus,
.simple-ui-active\:placeholderColor-red-300::placeholder:active {
	--simple-ui-placeholder-opacity: 1;
	color: rgba(252, 165, 165, var(--simple-ui-placeholder-opacity));
}
.simple-ui-placeholderColor-red-400::placeholder,
.simple-ui-hover\:placeholderColor-red-400::placeholder:hover,
.simple-ui-focus\:placeholderColor-red-400::placeholder:focus,
.simple-ui-active\:placeholderColor-red-400::placeholder:active {
	--simple-ui-placeholder-opacity: 1;
	color: rgba(248, 113, 113, var(--simple-ui-placeholder-opacity));
}
.simple-ui-placeholderColor-red-500::placeholder,
.simple-ui-hover\:placeholderColor-red-500::placeholder:hover,
.simple-ui-focus\:placeholderColor-red-500::placeholder:focus,
.simple-ui-active\:placeholderColor-red-500::placeholder:active {
	--simple-ui-placeholder-opacity: 1;
	color: rgba(239, 68, 68, var(--simple-ui-placeholder-opacity));
}
.simple-ui-placeholderColor-red-600::placeholder,
.simple-ui-hover\:placeholderColor-red-600::placeholder:hover,
.simple-ui-focus\:placeholderColor-red-600::placeholder:focus,
.simple-ui-active\:placeholderColor-red-600::placeholder:active {
	--simple-ui-placeholder-opacity: 1;
	color: rgba(220, 38, 38, var(--simple-ui-placeholder-opacity));
}
.simple-ui-placeholderColor-red-700::placeholder,
.simple-ui-hover\:placeholderColor-red-700::placeholder:hover,
.simple-ui-focus\:placeholderColor-red-700::placeholder:focus,
.simple-ui-active\:placeholderColor-red-700::placeholder:active {
	--simple-ui-placeholder-opacity: 1;
	color: rgba(185, 28, 28, var(--simple-ui-placeholder-opacity));
}
.simple-ui-placeholderColor-red-800::placeholder,
.simple-ui-hover\:placeholderColor-red-800::placeholder:hover,
.simple-ui-focus\:placeholderColor-red-800::placeholder:focus,
.simple-ui-active\:placeholderColor-red-800::placeholder:active {
	--simple-ui-placeholder-opacity: 1;
	color: rgba(153, 27, 27, var(--simple-ui-placeholder-opacity));
}
.simple-ui-placeholderColor-red-900::placeholder,
.simple-ui-hover\:placeholderColor-red-900::placeholder:hover,
.simple-ui-focus\:placeholderColor-red-900::placeholder:focus,
.simple-ui-active\:placeholderColor-red-900::placeholder:active {
	--simple-ui-placeholder-opacity: 1;
	color: rgba(127, 29, 29, var(--simple-ui-placeholder-opacity));
}
.simple-ui-placeholderColor-yellow-50::placeholder,
.simple-ui-hover\:placeholderColor-yellow-50::placeholder:hover,
.simple-ui-focus\:placeholderColor-yellow-50::placeholder:focus,
.simple-ui-active\:placeholderColor-yellow-50::placeholder:active {
	--simple-ui-placeholder-opacity: 1;
	color: rgba(255, 251, 235, var(--simple-ui-placeholder-opacity));
}
.simple-ui-placeholderColor-yellow-100::placeholder,
.simple-ui-hover\:placeholderColor-yellow-100::placeholder:hover,
.simple-ui-focus\:placeholderColor-yellow-100::placeholder:focus,
.simple-ui-active\:placeholderColor-yellow-100::placeholder:active {
	--simple-ui-placeholder-opacity: 1;
	color: rgba(254, 243, 199, var(--simple-ui-placeholder-opacity));
}
.simple-ui-placeholderColor-yellow-200::placeholder,
.simple-ui-hover\:placeholderColor-yellow-200::placeholder:hover,
.simple-ui-focus\:placeholderColor-yellow-200::placeholder:focus,
.simple-ui-active\:placeholderColor-yellow-200::placeholder:active {
	--simple-ui-placeholder-opacity: 1;
	color: rgba(253, 230, 138, var(--simple-ui-placeholder-opacity));
}
.simple-ui-placeholderColor-yellow-300::placeholder,
.simple-ui-hover\:placeholderColor-yellow-300::placeholder:hover,
.simple-ui-focus\:placeholderColor-yellow-300::placeholder:focus,
.simple-ui-active\:placeholderColor-yellow-300::placeholder:active {
	--simple-ui-placeholder-opacity: 1;
	color: rgba(252, 211, 77, var(--simple-ui-placeholder-opacity));
}
.simple-ui-placeholderColor-yellow-400::placeholder,
.simple-ui-hover\:placeholderColor-yellow-400::placeholder:hover,
.simple-ui-focus\:placeholderColor-yellow-400::placeholder:focus,
.simple-ui-active\:placeholderColor-yellow-400::placeholder:active {
	--simple-ui-placeholder-opacity: 1;
	color: rgba(251, 191, 36, var(--simple-ui-placeholder-opacity));
}
.simple-ui-placeholderColor-yellow-500::placeholder,
.simple-ui-hover\:placeholderColor-yellow-500::placeholder:hover,
.simple-ui-focus\:placeholderColor-yellow-500::placeholder:focus,
.simple-ui-active\:placeholderColor-yellow-500::placeholder:active {
	--simple-ui-placeholder-opacity: 1;
	color: rgba(245, 158, 11, var(--simple-ui-placeholder-opacity));
}
.simple-ui-placeholderColor-yellow-600::placeholder,
.simple-ui-hover\:placeholderColor-yellow-600::placeholder:hover,
.simple-ui-focus\:placeholderColor-yellow-600::placeholder:focus,
.simple-ui-active\:placeholderColor-yellow-600::placeholder:active {
	--simple-ui-placeholder-opacity: 1;
	color: rgba(217, 119, 6, var(--simple-ui-placeholder-opacity));
}
.simple-ui-placeholderColor-yellow-700::placeholder,
.simple-ui-hover\:placeholderColor-yellow-700::placeholder:hover,
.simple-ui-focus\:placeholderColor-yellow-700::placeholder:focus,
.simple-ui-active\:placeholderColor-yellow-700::placeholder:active {
	--simple-ui-placeholder-opacity: 1;
	color: rgba(180, 83, 9, var(--simple-ui-placeholder-opacity));
}
.simple-ui-placeholderColor-yellow-800::placeholder,
.simple-ui-hover\:placeholderColor-yellow-800::placeholder:hover,
.simple-ui-focus\:placeholderColor-yellow-800::placeholder:focus,
.simple-ui-active\:placeholderColor-yellow-800::placeholder:active {
	--simple-ui-placeholder-opacity: 1;
	color: rgba(146, 64, 14, var(--simple-ui-placeholder-opacity));
}
.simple-ui-placeholderColor-yellow-900::placeholder,
.simple-ui-hover\:placeholderColor-yellow-900::placeholder:hover,
.simple-ui-focus\:placeholderColor-yellow-900::placeholder:focus,
.simple-ui-active\:placeholderColor-yellow-900::placeholder:active {
	--simple-ui-placeholder-opacity: 1;
	color: rgba(120, 53, 15, var(--simple-ui-placeholder-opacity));
}
.simple-ui-placeholderColor-green-50::placeholder,
.simple-ui-hover\:placeholderColor-green-50::placeholder:hover,
.simple-ui-focus\:placeholderColor-green-50::placeholder:focus,
.simple-ui-active\:placeholderColor-green-50::placeholder:active {
	--simple-ui-placeholder-opacity: 1;
	color: rgba(236, 253, 245, var(--simple-ui-placeholder-opacity));
}
.simple-ui-placeholderColor-green-100::placeholder,
.simple-ui-hover\:placeholderColor-green-100::placeholder:hover,
.simple-ui-focus\:placeholderColor-green-100::placeholder:focus,
.simple-ui-active\:placeholderColor-green-100::placeholder:active {
	--simple-ui-placeholder-opacity: 1;
	color: rgba(209, 250, 229, var(--simple-ui-placeholder-opacity));
}
.simple-ui-placeholderColor-green-200::placeholder,
.simple-ui-hover\:placeholderColor-green-200::placeholder:hover,
.simple-ui-focus\:placeholderColor-green-200::placeholder:focus,
.simple-ui-active\:placeholderColor-green-200::placeholder:active {
	--simple-ui-placeholder-opacity: 1;
	color: rgba(167, 243, 208, var(--simple-ui-placeholder-opacity));
}
.simple-ui-placeholderColor-green-300::placeholder,
.simple-ui-hover\:placeholderColor-green-300::placeholder:hover,
.simple-ui-focus\:placeholderColor-green-300::placeholder:focus,
.simple-ui-active\:placeholderColor-green-300::placeholder:active {
	--simple-ui-placeholder-opacity: 1;
	color: rgba(110, 231, 183, var(--simple-ui-placeholder-opacity));
}
.simple-ui-placeholderColor-green-400::placeholder,
.simple-ui-hover\:placeholderColor-green-400::placeholder:hover,
.simple-ui-focus\:placeholderColor-green-400::placeholder:focus,
.simple-ui-active\:placeholderColor-green-400::placeholder:active {
	--simple-ui-placeholder-opacity: 1;
	color: rgba(52, 211, 153, var(--simple-ui-placeholder-opacity));
}
.simple-ui-placeholderColor-green-500::placeholder,
.simple-ui-hover\:placeholderColor-green-500::placeholder:hover,
.simple-ui-focus\:placeholderColor-green-500::placeholder:focus,
.simple-ui-active\:placeholderColor-green-500::placeholder:active {
	--simple-ui-placeholder-opacity: 1;
	color: rgba(16, 185, 129, var(--simple-ui-placeholder-opacity));
}
.simple-ui-placeholderColor-green-600::placeholder,
.simple-ui-hover\:placeholderColor-green-600::placeholder:hover,
.simple-ui-focus\:placeholderColor-green-600::placeholder:focus,
.simple-ui-active\:placeholderColor-green-600::placeholder:active {
	--simple-ui-placeholder-opacity: 1;
	color: rgba(5, 150, 105, var(--simple-ui-placeholder-opacity));
}
.simple-ui-placeholderColor-green-700::placeholder,
.simple-ui-hover\:placeholderColor-green-700::placeholder:hover,
.simple-ui-focus\:placeholderColor-green-700::placeholder:focus,
.simple-ui-active\:placeholderColor-green-700::placeholder:active {
	--simple-ui-placeholder-opacity: 1;
	color: rgba(4, 120, 87, var(--simple-ui-placeholder-opacity));
}
.simple-ui-placeholderColor-green-800::placeholder,
.simple-ui-hover\:placeholderColor-green-800::placeholder:hover,
.simple-ui-focus\:placeholderColor-green-800::placeholder:focus,
.simple-ui-active\:placeholderColor-green-800::placeholder:active {
	--simple-ui-placeholder-opacity: 1;
	color: rgba(6, 95, 70, var(--simple-ui-placeholder-opacity));
}
.simple-ui-placeholderColor-green-900::placeholder,
.simple-ui-hover\:placeholderColor-green-900::placeholder:hover,
.simple-ui-focus\:placeholderColor-green-900::placeholder:focus,
.simple-ui-active\:placeholderColor-green-900::placeholder:active {
	--simple-ui-placeholder-opacity: 1;
	color: rgba(6, 78, 59, var(--simple-ui-placeholder-opacity));
}
.simple-ui-placeholderColor-blue-50::placeholder,
.simple-ui-hover\:placeholderColor-blue-50::placeholder:hover,
.simple-ui-focus\:placeholderColor-blue-50::placeholder:focus,
.simple-ui-active\:placeholderColor-blue-50::placeholder:active {
	--simple-ui-placeholder-opacity: 1;
	color: rgba(239, 246, 255, var(--simple-ui-placeholder-opacity));
}
.simple-ui-placeholderColor-blue-100::placeholder,
.simple-ui-hover\:placeholderColor-blue-100::placeholder:hover,
.simple-ui-focus\:placeholderColor-blue-100::placeholder:focus,
.simple-ui-active\:placeholderColor-blue-100::placeholder:active {
	--simple-ui-placeholder-opacity: 1;
	color: rgba(219, 234, 254, var(--simple-ui-placeholder-opacity));
}
.simple-ui-placeholderColor-blue-200::placeholder,
.simple-ui-hover\:placeholderColor-blue-200::placeholder:hover,
.simple-ui-focus\:placeholderColor-blue-200::placeholder:focus,
.simple-ui-active\:placeholderColor-blue-200::placeholder:active {
	--simple-ui-placeholder-opacity: 1;
	color: rgba(191, 219, 254, var(--simple-ui-placeholder-opacity));
}
.simple-ui-placeholderColor-blue-300::placeholder,
.simple-ui-hover\:placeholderColor-blue-300::placeholder:hover,
.simple-ui-focus\:placeholderColor-blue-300::placeholder:focus,
.simple-ui-active\:placeholderColor-blue-300::placeholder:active {
	--simple-ui-placeholder-opacity: 1;
	color: rgba(147, 197, 253, var(--simple-ui-placeholder-opacity));
}
.simple-ui-placeholderColor-blue-400::placeholder,
.simple-ui-hover\:placeholderColor-blue-400::placeholder:hover,
.simple-ui-focus\:placeholderColor-blue-400::placeholder:focus,
.simple-ui-active\:placeholderColor-blue-400::placeholder:active {
	--simple-ui-placeholder-opacity: 1;
	color: rgba(96, 165, 250, var(--simple-ui-placeholder-opacity));
}
.simple-ui-placeholderColor-blue-500::placeholder,
.simple-ui-hover\:placeholderColor-blue-500::placeholder:hover,
.simple-ui-focus\:placeholderColor-blue-500::placeholder:focus,
.simple-ui-active\:placeholderColor-blue-500::placeholder:active {
	--simple-ui-placeholder-opacity: 1;
	color: rgba(59, 130, 246, var(--simple-ui-placeholder-opacity));
}
.simple-ui-placeholderColor-blue-600::placeholder,
.simple-ui-hover\:placeholderColor-blue-600::placeholder:hover,
.simple-ui-focus\:placeholderColor-blue-600::placeholder:focus,
.simple-ui-active\:placeholderColor-blue-600::placeholder:active {
	--simple-ui-placeholder-opacity: 1;
	color: rgba(37, 99, 235, var(--simple-ui-placeholder-opacity));
}
.simple-ui-placeholderColor-blue-700::placeholder,
.simple-ui-hover\:placeholderColor-blue-700::placeholder:hover,
.simple-ui-focus\:placeholderColor-blue-700::placeholder:focus,
.simple-ui-active\:placeholderColor-blue-700::placeholder:active {
	--simple-ui-placeholder-opacity: 1;
	color: rgba(29, 78, 216, var(--simple-ui-placeholder-opacity));
}
.simple-ui-placeholderColor-blue-800::placeholder,
.simple-ui-hover\:placeholderColor-blue-800::placeholder:hover,
.simple-ui-focus\:placeholderColor-blue-800::placeholder:focus,
.simple-ui-active\:placeholderColor-blue-800::placeholder:active {
	--simple-ui-placeholder-opacity: 1;
	color: rgba(30, 64, 175, var(--simple-ui-placeholder-opacity));
}
.simple-ui-placeholderColor-blue-900::placeholder,
.simple-ui-hover\:placeholderColor-blue-900::placeholder:hover,
.simple-ui-focus\:placeholderColor-blue-900::placeholder:focus,
.simple-ui-active\:placeholderColor-blue-900::placeholder:active {
	--simple-ui-placeholder-opacity: 1;
	color: rgba(30, 58, 138, var(--simple-ui-placeholder-opacity));
}
.simple-ui-placeholderColor-indigo-50::placeholder,
.simple-ui-hover\:placeholderColor-indigo-50::placeholder:hover,
.simple-ui-focus\:placeholderColor-indigo-50::placeholder:focus,
.simple-ui-active\:placeholderColor-indigo-50::placeholder:active {
	--simple-ui-placeholder-opacity: 1;
	color: rgba(238, 242, 255, var(--simple-ui-placeholder-opacity));
}
.simple-ui-placeholderColor-indigo-100::placeholder,
.simple-ui-hover\:placeholderColor-indigo-100::placeholder:hover,
.simple-ui-focus\:placeholderColor-indigo-100::placeholder:focus,
.simple-ui-active\:placeholderColor-indigo-100::placeholder:active {
	--simple-ui-placeholder-opacity: 1;
	color: rgba(224, 231, 255, var(--simple-ui-placeholder-opacity));
}
.simple-ui-placeholderColor-indigo-200::placeholder,
.simple-ui-hover\:placeholderColor-indigo-200::placeholder:hover,
.simple-ui-focus\:placeholderColor-indigo-200::placeholder:focus,
.simple-ui-active\:placeholderColor-indigo-200::placeholder:active {
	--simple-ui-placeholder-opacity: 1;
	color: rgba(199, 210, 254, var(--simple-ui-placeholder-opacity));
}
.simple-ui-placeholderColor-indigo-300::placeholder,
.simple-ui-hover\:placeholderColor-indigo-300::placeholder:hover,
.simple-ui-focus\:placeholderColor-indigo-300::placeholder:focus,
.simple-ui-active\:placeholderColor-indigo-300::placeholder:active {
	--simple-ui-placeholder-opacity: 1;
	color: rgba(165, 180, 252, var(--simple-ui-placeholder-opacity));
}
.simple-ui-placeholderColor-indigo-400::placeholder,
.simple-ui-hover\:placeholderColor-indigo-400::placeholder:hover,
.simple-ui-focus\:placeholderColor-indigo-400::placeholder:focus,
.simple-ui-active\:placeholderColor-indigo-400::placeholder:active {
	--simple-ui-placeholder-opacity: 1;
	color: rgba(129, 140, 248, var(--simple-ui-placeholder-opacity));
}
.simple-ui-placeholderColor-indigo-500::placeholder,
.simple-ui-hover\:placeholderColor-indigo-500::placeholder:hover,
.simple-ui-focus\:placeholderColor-indigo-500::placeholder:focus,
.simple-ui-active\:placeholderColor-indigo-500::placeholder:active {
	--simple-ui-placeholder-opacity: 1;
	color: rgba(99, 102, 241, var(--simple-ui-placeholder-opacity));
}
.simple-ui-placeholderColor-indigo-600::placeholder,
.simple-ui-hover\:placeholderColor-indigo-600::placeholder:hover,
.simple-ui-focus\:placeholderColor-indigo-600::placeholder:focus,
.simple-ui-active\:placeholderColor-indigo-600::placeholder:active {
	--simple-ui-placeholder-opacity: 1;
	color: rgba(79, 70, 229, var(--simple-ui-placeholder-opacity));
}
.simple-ui-placeholderColor-indigo-700::placeholder,
.simple-ui-hover\:placeholderColor-indigo-700::placeholder:hover,
.simple-ui-focus\:placeholderColor-indigo-700::placeholder:focus,
.simple-ui-active\:placeholderColor-indigo-700::placeholder:active {
	--simple-ui-placeholder-opacity: 1;
	color: rgba(67, 56, 202, var(--simple-ui-placeholder-opacity));
}
.simple-ui-placeholderColor-indigo-800::placeholder,
.simple-ui-hover\:placeholderColor-indigo-800::placeholder:hover,
.simple-ui-focus\:placeholderColor-indigo-800::placeholder:focus,
.simple-ui-active\:placeholderColor-indigo-800::placeholder:active {
	--simple-ui-placeholder-opacity: 1;
	color: rgba(55, 48, 163, var(--simple-ui-placeholder-opacity));
}
.simple-ui-placeholderColor-indigo-900::placeholder,
.simple-ui-hover\:placeholderColor-indigo-900::placeholder:hover,
.simple-ui-focus\:placeholderColor-indigo-900::placeholder:focus,
.simple-ui-active\:placeholderColor-indigo-900::placeholder:active {
	--simple-ui-placeholder-opacity: 1;
	color: rgba(49, 46, 129, var(--simple-ui-placeholder-opacity));
}
.simple-ui-placeholderColor-purple-50::placeholder,
.simple-ui-hover\:placeholderColor-purple-50::placeholder:hover,
.simple-ui-focus\:placeholderColor-purple-50::placeholder:focus,
.simple-ui-active\:placeholderColor-purple-50::placeholder:active {
	--simple-ui-placeholder-opacity: 1;
	color: rgba(245, 243, 255, var(--simple-ui-placeholder-opacity));
}
.simple-ui-placeholderColor-purple-100::placeholder,
.simple-ui-hover\:placeholderColor-purple-100::placeholder:hover,
.simple-ui-focus\:placeholderColor-purple-100::placeholder:focus,
.simple-ui-active\:placeholderColor-purple-100::placeholder:active {
	--simple-ui-placeholder-opacity: 1;
	color: rgba(237, 233, 254, var(--simple-ui-placeholder-opacity));
}
.simple-ui-placeholderColor-purple-200::placeholder,
.simple-ui-hover\:placeholderColor-purple-200::placeholder:hover,
.simple-ui-focus\:placeholderColor-purple-200::placeholder:focus,
.simple-ui-active\:placeholderColor-purple-200::placeholder:active {
	--simple-ui-placeholder-opacity: 1;
	color: rgba(221, 214, 254, var(--simple-ui-placeholder-opacity));
}
.simple-ui-placeholderColor-purple-300::placeholder,
.simple-ui-hover\:placeholderColor-purple-300::placeholder:hover,
.simple-ui-focus\:placeholderColor-purple-300::placeholder:focus,
.simple-ui-active\:placeholderColor-purple-300::placeholder:active {
	--simple-ui-placeholder-opacity: 1;
	color: rgba(196, 181, 253, var(--simple-ui-placeholder-opacity));
}
.simple-ui-placeholderColor-purple-400::placeholder,
.simple-ui-hover\:placeholderColor-purple-400::placeholder:hover,
.simple-ui-focus\:placeholderColor-purple-400::placeholder:focus,
.simple-ui-active\:placeholderColor-purple-400::placeholder:active {
	--simple-ui-placeholder-opacity: 1;
	color: rgba(167, 139, 250, var(--simple-ui-placeholder-opacity));
}
.simple-ui-placeholderColor-purple-500::placeholder,
.simple-ui-hover\:placeholderColor-purple-500::placeholder:hover,
.simple-ui-focus\:placeholderColor-purple-500::placeholder:focus,
.simple-ui-active\:placeholderColor-purple-500::placeholder:active {
	--simple-ui-placeholder-opacity: 1;
	color: rgba(139, 92, 246, var(--simple-ui-placeholder-opacity));
}
.simple-ui-placeholderColor-purple-600::placeholder,
.simple-ui-hover\:placeholderColor-purple-600::placeholder:hover,
.simple-ui-focus\:placeholderColor-purple-600::placeholder:focus,
.simple-ui-active\:placeholderColor-purple-600::placeholder:active {
	--simple-ui-placeholder-opacity: 1;
	color: rgba(124, 58, 237, var(--simple-ui-placeholder-opacity));
}
.simple-ui-placeholderColor-purple-700::placeholder,
.simple-ui-hover\:placeholderColor-purple-700::placeholder:hover,
.simple-ui-focus\:placeholderColor-purple-700::placeholder:focus,
.simple-ui-active\:placeholderColor-purple-700::placeholder:active {
	--simple-ui-placeholder-opacity: 1;
	color: rgba(109, 40, 217, var(--simple-ui-placeholder-opacity));
}
.simple-ui-placeholderColor-purple-800::placeholder,
.simple-ui-hover\:placeholderColor-purple-800::placeholder:hover,
.simple-ui-focus\:placeholderColor-purple-800::placeholder:focus,
.simple-ui-active\:placeholderColor-purple-800::placeholder:active {
	--simple-ui-placeholder-opacity: 1;
	color: rgba(91, 33, 182, var(--simple-ui-placeholder-opacity));
}
.simple-ui-placeholderColor-purple-900::placeholder,
.simple-ui-hover\:placeholderColor-purple-900::placeholder:hover,
.simple-ui-focus\:placeholderColor-purple-900::placeholder:focus,
.simple-ui-active\:placeholderColor-purple-900::placeholder:active {
	--simple-ui-placeholder-opacity: 1;
	color: rgba(76, 29, 149, var(--simple-ui-placeholder-opacity));
}
.simple-ui-placeholderColor-pink-50::placeholder,
.simple-ui-hover\:placeholderColor-pink-50::placeholder:hover,
.simple-ui-focus\:placeholderColor-pink-50::placeholder:focus,
.simple-ui-active\:placeholderColor-pink-50::placeholder:active {
	--simple-ui-placeholder-opacity: 1;
	color: rgba(253, 242, 248, var(--simple-ui-placeholder-opacity));
}
.simple-ui-placeholderColor-pink-100::placeholder,
.simple-ui-hover\:placeholderColor-pink-100::placeholder:hover,
.simple-ui-focus\:placeholderColor-pink-100::placeholder:focus,
.simple-ui-active\:placeholderColor-pink-100::placeholder:active {
	--simple-ui-placeholder-opacity: 1;
	color: rgba(252, 231, 243, var(--simple-ui-placeholder-opacity));
}
.simple-ui-placeholderColor-pink-200::placeholder,
.simple-ui-hover\:placeholderColor-pink-200::placeholder:hover,
.simple-ui-focus\:placeholderColor-pink-200::placeholder:focus,
.simple-ui-active\:placeholderColor-pink-200::placeholder:active {
	--simple-ui-placeholder-opacity: 1;
	color: rgba(251, 207, 232, var(--simple-ui-placeholder-opacity));
}
.simple-ui-placeholderColor-pink-300::placeholder,
.simple-ui-hover\:placeholderColor-pink-300::placeholder:hover,
.simple-ui-focus\:placeholderColor-pink-300::placeholder:focus,
.simple-ui-active\:placeholderColor-pink-300::placeholder:active {
	--simple-ui-placeholder-opacity: 1;
	color: rgba(249, 168, 212, var(--simple-ui-placeholder-opacity));
}
.simple-ui-placeholderColor-pink-400::placeholder,
.simple-ui-hover\:placeholderColor-pink-400::placeholder:hover,
.simple-ui-focus\:placeholderColor-pink-400::placeholder:focus,
.simple-ui-active\:placeholderColor-pink-400::placeholder:active {
	--simple-ui-placeholder-opacity: 1;
	color: rgba(244, 114, 182, var(--simple-ui-placeholder-opacity));
}
.simple-ui-placeholderColor-pink-500::placeholder,
.simple-ui-hover\:placeholderColor-pink-500::placeholder:hover,
.simple-ui-focus\:placeholderColor-pink-500::placeholder:focus,
.simple-ui-active\:placeholderColor-pink-500::placeholder:active {
	--simple-ui-placeholder-opacity: 1;
	color: rgba(236, 72, 153, var(--simple-ui-placeholder-opacity));
}
.simple-ui-placeholderColor-pink-600::placeholder,
.simple-ui-hover\:placeholderColor-pink-600::placeholder:hover,
.simple-ui-focus\:placeholderColor-pink-600::placeholder:focus,
.simple-ui-active\:placeholderColor-pink-600::placeholder:active {
	--simple-ui-placeholder-opacity: 1;
	color: rgba(219, 39, 119, var(--simple-ui-placeholder-opacity));
}
.simple-ui-placeholderColor-pink-700::placeholder,
.simple-ui-hover\:placeholderColor-pink-700::placeholder:hover,
.simple-ui-focus\:placeholderColor-pink-700::placeholder:focus,
.simple-ui-active\:placeholderColor-pink-700::placeholder:active {
	--simple-ui-placeholder-opacity: 1;
	color: rgba(190, 24, 93, var(--simple-ui-placeholder-opacity));
}
.simple-ui-placeholderColor-pink-800::placeholder,
.simple-ui-hover\:placeholderColor-pink-800::placeholder:hover,
.simple-ui-focus\:placeholderColor-pink-800::placeholder:focus,
.simple-ui-active\:placeholderColor-pink-800::placeholder:active {
	--simple-ui-placeholder-opacity: 1;
	color: rgba(157, 23, 77, var(--simple-ui-placeholder-opacity));
}
.simple-ui-placeholderColor-pink-900::placeholder,
.simple-ui-hover\:placeholderColor-pink-900::placeholder:hover,
.simple-ui-focus\:placeholderColor-pink-900::placeholder:focus,
.simple-ui-active\:placeholderColor-pink-900::placeholder:active {
	--simple-ui-placeholder-opacity: 1;
	color: rgba(131, 24, 67, var(--simple-ui-placeholder-opacity));
}
