.simple-ui-fontFamily-font-sans,
.simple-ui-hover\:fontFamily-font-sans:hover,
.simple-ui-focus\:fontFamily-font-sans:focus,
.simple-ui-active\:fontFamily-font-sans:active {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.simple-ui-fontFamily-font-serif,
.simple-ui-hover\:fontFamily-font-serif:hover,
.simple-ui-focus\:fontFamily-font-serif:focus,
.simple-ui-active\:fontFamily-font-serif:active {
  font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}
.simple-ui-fontFamily-font-mono,
.simple-ui-hover\:fontFamily-font-mono:hover,
.simple-ui-focus\:fontFamily-font-mono:focus,
.simple-ui-active\:fontFamily-font-mono:active {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}
