.simple-ui-ringOffsetColor-transparent,
.simple-ui-hover\:ringOffsetColor-transparent:hover,
.simple-ui-focus\:ringOffsetColor-transparent:focus,
.simple-ui-active\:ringOffsetColor-transparent:active {
	--simple-ui-ring-offset-color: transparent;
	box-shadow: 0 0 0 var(--simple-ui-ring-offset-width)
			var(--simple-ui-ring-offset-color),
		var(--simple-ui-ring-shadow);
}

.simple-ui-ringOffsetColor-current,
.simple-ui-hover\:ringOffsetColor-current:hover,
.simple-ui-focus\:ringOffsetColor-current:focus,
.simple-ui-active\:ringOffsetColor-current:active {
	--simple-ui-ring-offset-color: currentColor;
	box-shadow: 0 0 0 var(--simple-ui-ring-offset-width)
			var(--simple-ui-ring-offset-color),
		var(--simple-ui-ring-shadow);
}

.simple-ui-ringOffsetColor-black,
.simple-ui-hover\:ringOffsetColor-black:hover,
.simple-ui-focus\:ringOffsetColor-black:focus,
.simple-ui-active\:ringOffsetColor-black:active {
	--simple-ui-ring-offset-color: #000;
	box-shadow: 0 0 0 var(--simple-ui-ring-offset-width)
			var(--simple-ui-ring-offset-color),
		var(--simple-ui-ring-shadow);
}

.simple-ui-ringOffsetColor-white,
.simple-ui-hover\:ringOffsetColor-white:hover,
.simple-ui-focus\:ringOffsetColor-white:focus,
.simple-ui-active\:ringOffsetColor-white:active {
	--simple-ui-ring-offset-color: #fff;
	box-shadow: 0 0 0 var(--simple-ui-ring-offset-width)
			var(--simple-ui-ring-offset-color),
		var(--simple-ui-ring-shadow);
}

.simple-ui-ringOffsetColor-gray-50,
.simple-ui-hover\:ringOffsetColor-gray-50:hover,
.simple-ui-focus\:ringOffsetColor-gray-50:focus,
.simple-ui-active\:ringOffsetColor-gray-50:active {
	--simple-ui-ring-offset-color: #f9fafb;
	box-shadow: 0 0 0 var(--simple-ui-ring-offset-width)
			var(--simple-ui-ring-offset-color),
		var(--simple-ui-ring-shadow);
}

.simple-ui-ringOffsetColor-gray-100,
.simple-ui-hover\:ringOffsetColor-gray-100:hover,
.simple-ui-focus\:ringOffsetColor-gray-100:focus,
.simple-ui-active\:ringOffsetColor-gray-100:active {
	--simple-ui-ring-offset-color: #f3f4f6;
	box-shadow: 0 0 0 var(--simple-ui-ring-offset-width)
			var(--simple-ui-ring-offset-color),
		var(--simple-ui-ring-shadow);
}

.simple-ui-ringOffsetColor-gray-200,
.simple-ui-hover\:ringOffsetColor-gray-200:hover,
.simple-ui-focus\:ringOffsetColor-gray-200:focus,
.simple-ui-active\:ringOffsetColor-gray-200:active {
	--simple-ui-ring-offset-color: #e5e7eb;
	box-shadow: 0 0 0 var(--simple-ui-ring-offset-width)
			var(--simple-ui-ring-offset-color),
		var(--simple-ui-ring-shadow);
}

.simple-ui-ringOffsetColor-gray-300,
.simple-ui-hover\:ringOffsetColor-gray-300:hover,
.simple-ui-focus\:ringOffsetColor-gray-300:focus,
.simple-ui-active\:ringOffsetColor-gray-300:active {
	--simple-ui-ring-offset-color: #d1d5db;
	box-shadow: 0 0 0 var(--simple-ui-ring-offset-width)
			var(--simple-ui-ring-offset-color),
		var(--simple-ui-ring-shadow);
}

.simple-ui-ringOffsetColor-gray-400,
.simple-ui-hover\:ringOffsetColor-gray-400:hover,
.simple-ui-focus\:ringOffsetColor-gray-400:focus,
.simple-ui-active\:ringOffsetColor-gray-400:active {
	--simple-ui-ring-offset-color: #9ca3af;
	box-shadow: 0 0 0 var(--simple-ui-ring-offset-width)
			var(--simple-ui-ring-offset-color),
		var(--simple-ui-ring-shadow);
}

.simple-ui-ringOffsetColor-gray-500,
.simple-ui-hover\:ringOffsetColor-gray-500:hover,
.simple-ui-focus\:ringOffsetColor-gray-500:focus,
.simple-ui-active\:ringOffsetColor-gray-500:active {
	--simple-ui-ring-offset-color: #6b7280;
	box-shadow: 0 0 0 var(--simple-ui-ring-offset-width)
			var(--simple-ui-ring-offset-color),
		var(--simple-ui-ring-shadow);
}

.simple-ui-ringOffsetColor-gray-600,
.simple-ui-hover\:ringOffsetColor-gray-600:hover,
.simple-ui-focus\:ringOffsetColor-gray-600:focus,
.simple-ui-active\:ringOffsetColor-gray-600:active {
	--simple-ui-ring-offset-color: #4b5563;
	box-shadow: 0 0 0 var(--simple-ui-ring-offset-width)
			var(--simple-ui-ring-offset-color),
		var(--simple-ui-ring-shadow);
}

.simple-ui-ringOffsetColor-gray-700,
.simple-ui-hover\:ringOffsetColor-gray-700:hover,
.simple-ui-focus\:ringOffsetColor-gray-700:focus,
.simple-ui-active\:ringOffsetColor-gray-700:active {
	--simple-ui-ring-offset-color: #374151;
	box-shadow: 0 0 0 var(--simple-ui-ring-offset-width)
			var(--simple-ui-ring-offset-color),
		var(--simple-ui-ring-shadow);
}

.simple-ui-ringOffsetColor-gray-800,
.simple-ui-hover\:ringOffsetColor-gray-800:hover,
.simple-ui-focus\:ringOffsetColor-gray-800:focus,
.simple-ui-active\:ringOffsetColor-gray-800:active {
	--simple-ui-ring-offset-color: #1f2937;
	box-shadow: 0 0 0 var(--simple-ui-ring-offset-width)
			var(--simple-ui-ring-offset-color),
		var(--simple-ui-ring-shadow);
}

.simple-ui-ringOffsetColor-gray-900,
.simple-ui-hover\:ringOffsetColor-gray-900:hover,
.simple-ui-focus\:ringOffsetColor-gray-900:focus,
.simple-ui-active\:ringOffsetColor-gray-900:active {
	--simple-ui-ring-offset-color: #111827;
	box-shadow: 0 0 0 var(--simple-ui-ring-offset-width)
			var(--simple-ui-ring-offset-color),
		var(--simple-ui-ring-shadow);
}

.simple-ui-ringOffsetColor-red-50,
.simple-ui-hover\:ringOffsetColor-red-50:hover,
.simple-ui-focus\:ringOffsetColor-red-50:focus,
.simple-ui-active\:ringOffsetColor-red-50:active {
	--simple-ui-ring-offset-color: #fef2f2;
	box-shadow: 0 0 0 var(--simple-ui-ring-offset-width)
			var(--simple-ui-ring-offset-color),
		var(--simple-ui-ring-shadow);
}

.simple-ui-ringOffsetColor-red-100,
.simple-ui-hover\:ringOffsetColor-red-100:hover,
.simple-ui-focus\:ringOffsetColor-red-100:focus,
.simple-ui-active\:ringOffsetColor-red-100:active {
	--simple-ui-ring-offset-color: #fee2e2;
	box-shadow: 0 0 0 var(--simple-ui-ring-offset-width)
			var(--simple-ui-ring-offset-color),
		var(--simple-ui-ring-shadow);
}

.simple-ui-ringOffsetColor-red-200,
.simple-ui-hover\:ringOffsetColor-red-200:hover,
.simple-ui-focus\:ringOffsetColor-red-200:focus,
.simple-ui-active\:ringOffsetColor-red-200:active {
	--simple-ui-ring-offset-color: #fecaca;
	box-shadow: 0 0 0 var(--simple-ui-ring-offset-width)
			var(--simple-ui-ring-offset-color),
		var(--simple-ui-ring-shadow);
}

.simple-ui-ringOffsetColor-red-300,
.simple-ui-hover\:ringOffsetColor-red-300:hover,
.simple-ui-focus\:ringOffsetColor-red-300:focus,
.simple-ui-active\:ringOffsetColor-red-300:active {
	--simple-ui-ring-offset-color: #fca5a5;
	box-shadow: 0 0 0 var(--simple-ui-ring-offset-width)
			var(--simple-ui-ring-offset-color),
		var(--simple-ui-ring-shadow);
}

.simple-ui-ringOffsetColor-red-400,
.simple-ui-hover\:ringOffsetColor-red-400:hover,
.simple-ui-focus\:ringOffsetColor-red-400:focus,
.simple-ui-active\:ringOffsetColor-red-400:active {
	--simple-ui-ring-offset-color: #f87171;
	box-shadow: 0 0 0 var(--simple-ui-ring-offset-width)
			var(--simple-ui-ring-offset-color),
		var(--simple-ui-ring-shadow);
}

.simple-ui-ringOffsetColor-red-500,
.simple-ui-hover\:ringOffsetColor-red-500:hover,
.simple-ui-focus\:ringOffsetColor-red-500:focus,
.simple-ui-active\:ringOffsetColor-red-500:active {
	--simple-ui-ring-offset-color: #ef4444;
	box-shadow: 0 0 0 var(--simple-ui-ring-offset-width)
			var(--simple-ui-ring-offset-color),
		var(--simple-ui-ring-shadow);
}

.simple-ui-ringOffsetColor-red-600,
.simple-ui-hover\:ringOffsetColor-red-600:hover,
.simple-ui-focus\:ringOffsetColor-red-600:focus,
.simple-ui-active\:ringOffsetColor-red-600:active {
	--simple-ui-ring-offset-color: #dc2626;
	box-shadow: 0 0 0 var(--simple-ui-ring-offset-width)
			var(--simple-ui-ring-offset-color),
		var(--simple-ui-ring-shadow);
}

.simple-ui-ringOffsetColor-red-700,
.simple-ui-hover\:ringOffsetColor-red-700:hover,
.simple-ui-focus\:ringOffsetColor-red-700:focus,
.simple-ui-active\:ringOffsetColor-red-700:active {
	--simple-ui-ring-offset-color: #b91c1c;
	box-shadow: 0 0 0 var(--simple-ui-ring-offset-width)
			var(--simple-ui-ring-offset-color),
		var(--simple-ui-ring-shadow);
}

.simple-ui-ringOffsetColor-red-800,
.simple-ui-hover\:ringOffsetColor-red-800:hover,
.simple-ui-focus\:ringOffsetColor-red-800:focus,
.simple-ui-active\:ringOffsetColor-red-800:active {
	--simple-ui-ring-offset-color: #991b1b;
	box-shadow: 0 0 0 var(--simple-ui-ring-offset-width)
			var(--simple-ui-ring-offset-color),
		var(--simple-ui-ring-shadow);
}

.simple-ui-ringOffsetColor-red-900,
.simple-ui-hover\:ringOffsetColor-red-900:hover,
.simple-ui-focus\:ringOffsetColor-red-900:focus,
.simple-ui-active\:ringOffsetColor-red-900:active {
	--simple-ui-ring-offset-color: #7f1d1d;
	box-shadow: 0 0 0 var(--simple-ui-ring-offset-width)
			var(--simple-ui-ring-offset-color),
		var(--simple-ui-ring-shadow);
}

.simple-ui-ringOffsetColor-yellow-50,
.simple-ui-hover\:ringOffsetColor-yellow-50:hover,
.simple-ui-focus\:ringOffsetColor-yellow-50:focus,
.simple-ui-active\:ringOffsetColor-yellow-50:active {
	--simple-ui-ring-offset-color: #fffbeb;
	box-shadow: 0 0 0 var(--simple-ui-ring-offset-width)
			var(--simple-ui-ring-offset-color),
		var(--simple-ui-ring-shadow);
}

.simple-ui-ringOffsetColor-yellow-100,
.simple-ui-hover\:ringOffsetColor-yellow-100:hover,
.simple-ui-focus\:ringOffsetColor-yellow-100:focus,
.simple-ui-active\:ringOffsetColor-yellow-100:active {
	--simple-ui-ring-offset-color: #fef3c7;
	box-shadow: 0 0 0 var(--simple-ui-ring-offset-width)
			var(--simple-ui-ring-offset-color),
		var(--simple-ui-ring-shadow);
}

.simple-ui-ringOffsetColor-yellow-200,
.simple-ui-hover\:ringOffsetColor-yellow-200:hover,
.simple-ui-focus\:ringOffsetColor-yellow-200:focus,
.simple-ui-active\:ringOffsetColor-yellow-200:active {
	--simple-ui-ring-offset-color: #fde68a;
	box-shadow: 0 0 0 var(--simple-ui-ring-offset-width)
			var(--simple-ui-ring-offset-color),
		var(--simple-ui-ring-shadow);
}

.simple-ui-ringOffsetColor-yellow-300,
.simple-ui-hover\:ringOffsetColor-yellow-300:hover,
.simple-ui-focus\:ringOffsetColor-yellow-300:focus,
.simple-ui-active\:ringOffsetColor-yellow-300:active {
	--simple-ui-ring-offset-color: #fcd34d;
	box-shadow: 0 0 0 var(--simple-ui-ring-offset-width)
			var(--simple-ui-ring-offset-color),
		var(--simple-ui-ring-shadow);
}

.simple-ui-ringOffsetColor-yellow-400,
.simple-ui-hover\:ringOffsetColor-yellow-400:hover,
.simple-ui-focus\:ringOffsetColor-yellow-400:focus,
.simple-ui-active\:ringOffsetColor-yellow-400:active {
	--simple-ui-ring-offset-color: #fbbf24;
	box-shadow: 0 0 0 var(--simple-ui-ring-offset-width)
			var(--simple-ui-ring-offset-color),
		var(--simple-ui-ring-shadow);
}

.simple-ui-ringOffsetColor-yellow-500,
.simple-ui-hover\:ringOffsetColor-yellow-500:hover,
.simple-ui-focus\:ringOffsetColor-yellow-500:focus,
.simple-ui-active\:ringOffsetColor-yellow-500:active {
	--simple-ui-ring-offset-color: #f59e0b;
	box-shadow: 0 0 0 var(--simple-ui-ring-offset-width)
			var(--simple-ui-ring-offset-color),
		var(--simple-ui-ring-shadow);
}

.simple-ui-ringOffsetColor-yellow-600,
.simple-ui-hover\:ringOffsetColor-yellow-600:hover,
.simple-ui-focus\:ringOffsetColor-yellow-600:focus,
.simple-ui-active\:ringOffsetColor-yellow-600:active {
	--simple-ui-ring-offset-color: #d97706;
	box-shadow: 0 0 0 var(--simple-ui-ring-offset-width)
			var(--simple-ui-ring-offset-color),
		var(--simple-ui-ring-shadow);
}

.simple-ui-ringOffsetColor-yellow-700,
.simple-ui-hover\:ringOffsetColor-yellow-700:hover,
.simple-ui-focus\:ringOffsetColor-yellow-700:focus,
.simple-ui-active\:ringOffsetColor-yellow-700:active {
	--simple-ui-ring-offset-color: #b45309;
	box-shadow: 0 0 0 var(--simple-ui-ring-offset-width)
			var(--simple-ui-ring-offset-color),
		var(--simple-ui-ring-shadow);
}

.simple-ui-ringOffsetColor-yellow-800,
.simple-ui-hover\:ringOffsetColor-yellow-800:hover,
.simple-ui-focus\:ringOffsetColor-yellow-800:focus,
.simple-ui-active\:ringOffsetColor-yellow-800:active {
	--simple-ui-ring-offset-color: #92400e;
	box-shadow: 0 0 0 var(--simple-ui-ring-offset-width)
			var(--simple-ui-ring-offset-color),
		var(--simple-ui-ring-shadow);
}

.simple-ui-ringOffsetColor-yellow-900,
.simple-ui-hover\:ringOffsetColor-yellow-900:hover,
.simple-ui-focus\:ringOffsetColor-yellow-900:focus,
.simple-ui-active\:ringOffsetColor-yellow-900:active {
	--simple-ui-ring-offset-color: #78350f;
	box-shadow: 0 0 0 var(--simple-ui-ring-offset-width)
			var(--simple-ui-ring-offset-color),
		var(--simple-ui-ring-shadow);
}

.simple-ui-ringOffsetColor-green-50,
.simple-ui-hover\:ringOffsetColor-green-50:hover,
.simple-ui-focus\:ringOffsetColor-green-50:focus,
.simple-ui-active\:ringOffsetColor-green-50:active {
	--simple-ui-ring-offset-color: #ecfdf5;
	box-shadow: 0 0 0 var(--simple-ui-ring-offset-width)
			var(--simple-ui-ring-offset-color),
		var(--simple-ui-ring-shadow);
}

.simple-ui-ringOffsetColor-green-100,
.simple-ui-hover\:ringOffsetColor-green-100:hover,
.simple-ui-focus\:ringOffsetColor-green-100:focus,
.simple-ui-active\:ringOffsetColor-green-100:active {
	--simple-ui-ring-offset-color: #d1fae5;
	box-shadow: 0 0 0 var(--simple-ui-ring-offset-width)
			var(--simple-ui-ring-offset-color),
		var(--simple-ui-ring-shadow);
}

.simple-ui-ringOffsetColor-green-200,
.simple-ui-hover\:ringOffsetColor-green-200:hover,
.simple-ui-focus\:ringOffsetColor-green-200:focus,
.simple-ui-active\:ringOffsetColor-green-200:active {
	--simple-ui-ring-offset-color: #a7f3d0;
	box-shadow: 0 0 0 var(--simple-ui-ring-offset-width)
			var(--simple-ui-ring-offset-color),
		var(--simple-ui-ring-shadow);
}

.simple-ui-ringOffsetColor-green-300,
.simple-ui-hover\:ringOffsetColor-green-300:hover,
.simple-ui-focus\:ringOffsetColor-green-300:focus,
.simple-ui-active\:ringOffsetColor-green-300:active {
	--simple-ui-ring-offset-color: #6ee7b7;
	box-shadow: 0 0 0 var(--simple-ui-ring-offset-width)
			var(--simple-ui-ring-offset-color),
		var(--simple-ui-ring-shadow);
}

.simple-ui-ringOffsetColor-green-400,
.simple-ui-hover\:ringOffsetColor-green-400:hover,
.simple-ui-focus\:ringOffsetColor-green-400:focus,
.simple-ui-active\:ringOffsetColor-green-400:active {
	--simple-ui-ring-offset-color: #34d399;
	box-shadow: 0 0 0 var(--simple-ui-ring-offset-width)
			var(--simple-ui-ring-offset-color),
		var(--simple-ui-ring-shadow);
}

.simple-ui-ringOffsetColor-green-500,
.simple-ui-hover\:ringOffsetColor-green-500:hover,
.simple-ui-focus\:ringOffsetColor-green-500:focus,
.simple-ui-active\:ringOffsetColor-green-500:active {
	--simple-ui-ring-offset-color: #10b981;
	box-shadow: 0 0 0 var(--simple-ui-ring-offset-width)
			var(--simple-ui-ring-offset-color),
		var(--simple-ui-ring-shadow);
}

.simple-ui-ringOffsetColor-green-600,
.simple-ui-hover\:ringOffsetColor-green-600:hover,
.simple-ui-focus\:ringOffsetColor-green-600:focus,
.simple-ui-active\:ringOffsetColor-green-600:active {
	--simple-ui-ring-offset-color: #059669;
	box-shadow: 0 0 0 var(--simple-ui-ring-offset-width)
			var(--simple-ui-ring-offset-color),
		var(--simple-ui-ring-shadow);
}

.simple-ui-ringOffsetColor-green-700,
.simple-ui-hover\:ringOffsetColor-green-700:hover,
.simple-ui-focus\:ringOffsetColor-green-700:focus,
.simple-ui-active\:ringOffsetColor-green-700:active {
	--simple-ui-ring-offset-color: #047857;
	box-shadow: 0 0 0 var(--simple-ui-ring-offset-width)
			var(--simple-ui-ring-offset-color),
		var(--simple-ui-ring-shadow);
}

.simple-ui-ringOffsetColor-green-800,
.simple-ui-hover\:ringOffsetColor-green-800:hover,
.simple-ui-focus\:ringOffsetColor-green-800:focus,
.simple-ui-active\:ringOffsetColor-green-800:active {
	--simple-ui-ring-offset-color: #065f46;
	box-shadow: 0 0 0 var(--simple-ui-ring-offset-width)
			var(--simple-ui-ring-offset-color),
		var(--simple-ui-ring-shadow);
}

.simple-ui-ringOffsetColor-green-900,
.simple-ui-hover\:ringOffsetColor-green-900:hover,
.simple-ui-focus\:ringOffsetColor-green-900:focus,
.simple-ui-active\:ringOffsetColor-green-900:active {
	--simple-ui-ring-offset-color: #064e3b;
	box-shadow: 0 0 0 var(--simple-ui-ring-offset-width)
			var(--simple-ui-ring-offset-color),
		var(--simple-ui-ring-shadow);
}

.simple-ui-ringOffsetColor-blue-50,
.simple-ui-hover\:ringOffsetColor-blue-50:hover,
.simple-ui-focus\:ringOffsetColor-blue-50:focus,
.simple-ui-active\:ringOffsetColor-blue-50:active {
	--simple-ui-ring-offset-color: #eff6ff;
	box-shadow: 0 0 0 var(--simple-ui-ring-offset-width)
			var(--simple-ui-ring-offset-color),
		var(--simple-ui-ring-shadow);
}

.simple-ui-ringOffsetColor-blue-100,
.simple-ui-hover\:ringOffsetColor-blue-100:hover,
.simple-ui-focus\:ringOffsetColor-blue-100:focus,
.simple-ui-active\:ringOffsetColor-blue-100:active {
	--simple-ui-ring-offset-color: #dbeafe;
	box-shadow: 0 0 0 var(--simple-ui-ring-offset-width)
			var(--simple-ui-ring-offset-color),
		var(--simple-ui-ring-shadow);
}

.simple-ui-ringOffsetColor-blue-200,
.simple-ui-hover\:ringOffsetColor-blue-200:hover,
.simple-ui-focus\:ringOffsetColor-blue-200:focus,
.simple-ui-active\:ringOffsetColor-blue-200:active {
	--simple-ui-ring-offset-color: #bfdbfe;
	box-shadow: 0 0 0 var(--simple-ui-ring-offset-width)
			var(--simple-ui-ring-offset-color),
		var(--simple-ui-ring-shadow);
}

.simple-ui-ringOffsetColor-blue-300,
.simple-ui-hover\:ringOffsetColor-blue-300:hover,
.simple-ui-focus\:ringOffsetColor-blue-300:focus,
.simple-ui-active\:ringOffsetColor-blue-300:active {
	--simple-ui-ring-offset-color: #93c5fd;
	box-shadow: 0 0 0 var(--simple-ui-ring-offset-width)
			var(--simple-ui-ring-offset-color),
		var(--simple-ui-ring-shadow);
}

.simple-ui-ringOffsetColor-blue-400,
.simple-ui-hover\:ringOffsetColor-blue-400:hover,
.simple-ui-focus\:ringOffsetColor-blue-400:focus,
.simple-ui-active\:ringOffsetColor-blue-400:active {
	--simple-ui-ring-offset-color: #60a5fa;
	box-shadow: 0 0 0 var(--simple-ui-ring-offset-width)
			var(--simple-ui-ring-offset-color),
		var(--simple-ui-ring-shadow);
}

.simple-ui-ringOffsetColor-blue-500,
.simple-ui-hover\:ringOffsetColor-blue-500:hover,
.simple-ui-focus\:ringOffsetColor-blue-500:focus,
.simple-ui-active\:ringOffsetColor-blue-500:active {
	--simple-ui-ring-offset-color: #3b82f6;
	box-shadow: 0 0 0 var(--simple-ui-ring-offset-width)
			var(--simple-ui-ring-offset-color),
		var(--simple-ui-ring-shadow);
}

.simple-ui-ringOffsetColor-blue-600,
.simple-ui-hover\:ringOffsetColor-blue-600:hover,
.simple-ui-focus\:ringOffsetColor-blue-600:focus,
.simple-ui-active\:ringOffsetColor-blue-600:active {
	--simple-ui-ring-offset-color: #2563eb;
	box-shadow: 0 0 0 var(--simple-ui-ring-offset-width)
			var(--simple-ui-ring-offset-color),
		var(--simple-ui-ring-shadow);
}

.simple-ui-ringOffsetColor-blue-700,
.simple-ui-hover\:ringOffsetColor-blue-700:hover,
.simple-ui-focus\:ringOffsetColor-blue-700:focus,
.simple-ui-active\:ringOffsetColor-blue-700:active {
	--simple-ui-ring-offset-color: #1d4ed8;
	box-shadow: 0 0 0 var(--simple-ui-ring-offset-width)
			var(--simple-ui-ring-offset-color),
		var(--simple-ui-ring-shadow);
}

.simple-ui-ringOffsetColor-blue-800,
.simple-ui-hover\:ringOffsetColor-blue-800:hover,
.simple-ui-focus\:ringOffsetColor-blue-800:focus,
.simple-ui-active\:ringOffsetColor-blue-800:active {
	--simple-ui-ring-offset-color: #1e40af;
	box-shadow: 0 0 0 var(--simple-ui-ring-offset-width)
			var(--simple-ui-ring-offset-color),
		var(--simple-ui-ring-shadow);
}

.simple-ui-ringOffsetColor-blue-900,
.simple-ui-hover\:ringOffsetColor-blue-900:hover,
.simple-ui-focus\:ringOffsetColor-blue-900:focus,
.simple-ui-active\:ringOffsetColor-blue-900:active {
	--simple-ui-ring-offset-color: #1e3a8a;
	box-shadow: 0 0 0 var(--simple-ui-ring-offset-width)
			var(--simple-ui-ring-offset-color),
		var(--simple-ui-ring-shadow);
}

.simple-ui-ringOffsetColor-indigo-50,
.simple-ui-hover\:ringOffsetColor-indigo-50:hover,
.simple-ui-focus\:ringOffsetColor-indigo-50:focus,
.simple-ui-active\:ringOffsetColor-indigo-50:active {
	--simple-ui-ring-offset-color: #eef2ff;
	box-shadow: 0 0 0 var(--simple-ui-ring-offset-width)
			var(--simple-ui-ring-offset-color),
		var(--simple-ui-ring-shadow);
}

.simple-ui-ringOffsetColor-indigo-100,
.simple-ui-hover\:ringOffsetColor-indigo-100:hover,
.simple-ui-focus\:ringOffsetColor-indigo-100:focus,
.simple-ui-active\:ringOffsetColor-indigo-100:active {
	--simple-ui-ring-offset-color: #e0e7ff;
	box-shadow: 0 0 0 var(--simple-ui-ring-offset-width)
			var(--simple-ui-ring-offset-color),
		var(--simple-ui-ring-shadow);
}

.simple-ui-ringOffsetColor-indigo-200,
.simple-ui-hover\:ringOffsetColor-indigo-200:hover,
.simple-ui-focus\:ringOffsetColor-indigo-200:focus,
.simple-ui-active\:ringOffsetColor-indigo-200:active {
	--simple-ui-ring-offset-color: #c7d2fe;
	box-shadow: 0 0 0 var(--simple-ui-ring-offset-width)
			var(--simple-ui-ring-offset-color),
		var(--simple-ui-ring-shadow);
}

.simple-ui-ringOffsetColor-indigo-300,
.simple-ui-hover\:ringOffsetColor-indigo-300:hover,
.simple-ui-focus\:ringOffsetColor-indigo-300:focus,
.simple-ui-active\:ringOffsetColor-indigo-300:active {
	--simple-ui-ring-offset-color: #a5b4fc;
	box-shadow: 0 0 0 var(--simple-ui-ring-offset-width)
			var(--simple-ui-ring-offset-color),
		var(--simple-ui-ring-shadow);
}

.simple-ui-ringOffsetColor-indigo-400,
.simple-ui-hover\:ringOffsetColor-indigo-400:hover,
.simple-ui-focus\:ringOffsetColor-indigo-400:focus,
.simple-ui-active\:ringOffsetColor-indigo-400:active {
	--simple-ui-ring-offset-color: #818cf8;
	box-shadow: 0 0 0 var(--simple-ui-ring-offset-width)
			var(--simple-ui-ring-offset-color),
		var(--simple-ui-ring-shadow);
}

.simple-ui-ringOffsetColor-indigo-500,
.simple-ui-hover\:ringOffsetColor-indigo-500:hover,
.simple-ui-focus\:ringOffsetColor-indigo-500:focus,
.simple-ui-active\:ringOffsetColor-indigo-500:active {
	--simple-ui-ring-offset-color: #6366f1;
	box-shadow: 0 0 0 var(--simple-ui-ring-offset-width)
			var(--simple-ui-ring-offset-color),
		var(--simple-ui-ring-shadow);
}

.simple-ui-ringOffsetColor-indigo-600,
.simple-ui-hover\:ringOffsetColor-indigo-600:hover,
.simple-ui-focus\:ringOffsetColor-indigo-600:focus,
.simple-ui-active\:ringOffsetColor-indigo-600:active {
	--simple-ui-ring-offset-color: #4f46e5;
	box-shadow: 0 0 0 var(--simple-ui-ring-offset-width)
			var(--simple-ui-ring-offset-color),
		var(--simple-ui-ring-shadow);
}

.simple-ui-ringOffsetColor-indigo-700,
.simple-ui-hover\:ringOffsetColor-indigo-700:hover,
.simple-ui-focus\:ringOffsetColor-indigo-700:focus,
.simple-ui-active\:ringOffsetColor-indigo-700:active {
	--simple-ui-ring-offset-color: #4338ca;
	box-shadow: 0 0 0 var(--simple-ui-ring-offset-width)
			var(--simple-ui-ring-offset-color),
		var(--simple-ui-ring-shadow);
}

.simple-ui-ringOffsetColor-indigo-800,
.simple-ui-hover\:ringOffsetColor-indigo-800:hover,
.simple-ui-focus\:ringOffsetColor-indigo-800:focus,
.simple-ui-active\:ringOffsetColor-indigo-800:active {
	--simple-ui-ring-offset-color: #3730a3;
	box-shadow: 0 0 0 var(--simple-ui-ring-offset-width)
			var(--simple-ui-ring-offset-color),
		var(--simple-ui-ring-shadow);
}

.simple-ui-ringOffsetColor-indigo-900,
.simple-ui-hover\:ringOffsetColor-indigo-900:hover,
.simple-ui-focus\:ringOffsetColor-indigo-900:focus,
.simple-ui-active\:ringOffsetColor-indigo-900:active {
	--simple-ui-ring-offset-color: #312e81;
	box-shadow: 0 0 0 var(--simple-ui-ring-offset-width)
			var(--simple-ui-ring-offset-color),
		var(--simple-ui-ring-shadow);
}

.simple-ui-ringOffsetColor-purple-50,
.simple-ui-hover\:ringOffsetColor-purple-50:hover,
.simple-ui-focus\:ringOffsetColor-purple-50:focus,
.simple-ui-active\:ringOffsetColor-purple-50:active {
	--simple-ui-ring-offset-color: #f5f3ff;
	box-shadow: 0 0 0 var(--simple-ui-ring-offset-width)
			var(--simple-ui-ring-offset-color),
		var(--simple-ui-ring-shadow);
}

.simple-ui-ringOffsetColor-purple-100,
.simple-ui-hover\:ringOffsetColor-purple-100:hover,
.simple-ui-focus\:ringOffsetColor-purple-100:focus,
.simple-ui-active\:ringOffsetColor-purple-100:active {
	--simple-ui-ring-offset-color: #ede9fe;
	box-shadow: 0 0 0 var(--simple-ui-ring-offset-width)
			var(--simple-ui-ring-offset-color),
		var(--simple-ui-ring-shadow);
}

.simple-ui-ringOffsetColor-purple-200,
.simple-ui-hover\:ringOffsetColor-purple-200:hover,
.simple-ui-focus\:ringOffsetColor-purple-200:focus,
.simple-ui-active\:ringOffsetColor-purple-200:active {
	--simple-ui-ring-offset-color: #ddd6fe;
	box-shadow: 0 0 0 var(--simple-ui-ring-offset-width)
			var(--simple-ui-ring-offset-color),
		var(--simple-ui-ring-shadow);
}

.simple-ui-ringOffsetColor-purple-300,
.simple-ui-hover\:ringOffsetColor-purple-300:hover,
.simple-ui-focus\:ringOffsetColor-purple-300:focus,
.simple-ui-active\:ringOffsetColor-purple-300:active {
	--simple-ui-ring-offset-color: #c4b5fd;
	box-shadow: 0 0 0 var(--simple-ui-ring-offset-width)
			var(--simple-ui-ring-offset-color),
		var(--simple-ui-ring-shadow);
}

.simple-ui-ringOffsetColor-purple-400,
.simple-ui-hover\:ringOffsetColor-purple-400:hover,
.simple-ui-focus\:ringOffsetColor-purple-400:focus,
.simple-ui-active\:ringOffsetColor-purple-400:active {
	--simple-ui-ring-offset-color: #a78bfa;
	box-shadow: 0 0 0 var(--simple-ui-ring-offset-width)
			var(--simple-ui-ring-offset-color),
		var(--simple-ui-ring-shadow);
}

.simple-ui-ringOffsetColor-purple-500,
.simple-ui-hover\:ringOffsetColor-purple-500:hover,
.simple-ui-focus\:ringOffsetColor-purple-500:focus,
.simple-ui-active\:ringOffsetColor-purple-500:active {
	--simple-ui-ring-offset-color: #8b5cf6;
	box-shadow: 0 0 0 var(--simple-ui-ring-offset-width)
			var(--simple-ui-ring-offset-color),
		var(--simple-ui-ring-shadow);
}

.simple-ui-ringOffsetColor-purple-600,
.simple-ui-hover\:ringOffsetColor-purple-600:hover,
.simple-ui-focus\:ringOffsetColor-purple-600:focus,
.simple-ui-active\:ringOffsetColor-purple-600:active {
	--simple-ui-ring-offset-color: #7c3aed;
	box-shadow: 0 0 0 var(--simple-ui-ring-offset-width)
			var(--simple-ui-ring-offset-color),
		var(--simple-ui-ring-shadow);
}

.simple-ui-ringOffsetColor-purple-700,
.simple-ui-hover\:ringOffsetColor-purple-700:hover,
.simple-ui-focus\:ringOffsetColor-purple-700:focus,
.simple-ui-active\:ringOffsetColor-purple-700:active {
	--simple-ui-ring-offset-color: #6d28d9;
	box-shadow: 0 0 0 var(--simple-ui-ring-offset-width)
			var(--simple-ui-ring-offset-color),
		var(--simple-ui-ring-shadow);
}

.simple-ui-ringOffsetColor-purple-800,
.simple-ui-hover\:ringOffsetColor-purple-800:hover,
.simple-ui-focus\:ringOffsetColor-purple-800:focus,
.simple-ui-active\:ringOffsetColor-purple-800:active {
	--simple-ui-ring-offset-color: #5b21b6;
	box-shadow: 0 0 0 var(--simple-ui-ring-offset-width)
			var(--simple-ui-ring-offset-color),
		var(--simple-ui-ring-shadow);
}

.simple-ui-ringOffsetColor-purple-900,
.simple-ui-hover\:ringOffsetColor-purple-900:hover,
.simple-ui-focus\:ringOffsetColor-purple-900:focus,
.simple-ui-active\:ringOffsetColor-purple-900:active {
	--simple-ui-ring-offset-color: #4c1d95;
	box-shadow: 0 0 0 var(--simple-ui-ring-offset-width)
			var(--simple-ui-ring-offset-color),
		var(--simple-ui-ring-shadow);
}

.simple-ui-ringOffsetColor-pink-50,
.simple-ui-hover\:ringOffsetColor-pink-50:hover,
.simple-ui-focus\:ringOffsetColor-pink-50:focus,
.simple-ui-active\:ringOffsetColor-pink-50:active {
	--simple-ui-ring-offset-color: #fdf2f8;
	box-shadow: 0 0 0 var(--simple-ui-ring-offset-width)
			var(--simple-ui-ring-offset-color),
		var(--simple-ui-ring-shadow);
}

.simple-ui-ringOffsetColor-pink-100,
.simple-ui-hover\:ringOffsetColor-pink-100:hover,
.simple-ui-focus\:ringOffsetColor-pink-100:focus,
.simple-ui-active\:ringOffsetColor-pink-100:active {
	--simple-ui-ring-offset-color: #fce7f3;
	box-shadow: 0 0 0 var(--simple-ui-ring-offset-width)
			var(--simple-ui-ring-offset-color),
		var(--simple-ui-ring-shadow);
}

.simple-ui-ringOffsetColor-pink-200,
.simple-ui-hover\:ringOffsetColor-pink-200:hover,
.simple-ui-focus\:ringOffsetColor-pink-200:focus,
.simple-ui-active\:ringOffsetColor-pink-200:active {
	--simple-ui-ring-offset-color: #fbcfe8;
	box-shadow: 0 0 0 var(--simple-ui-ring-offset-width)
			var(--simple-ui-ring-offset-color),
		var(--simple-ui-ring-shadow);
}

.simple-ui-ringOffsetColor-pink-300,
.simple-ui-hover\:ringOffsetColor-pink-300:hover,
.simple-ui-focus\:ringOffsetColor-pink-300:focus,
.simple-ui-active\:ringOffsetColor-pink-300:active {
	--simple-ui-ring-offset-color: #f9a8d4;
	box-shadow: 0 0 0 var(--simple-ui-ring-offset-width)
			var(--simple-ui-ring-offset-color),
		var(--simple-ui-ring-shadow);
}

.simple-ui-ringOffsetColor-pink-400,
.simple-ui-hover\:ringOffsetColor-pink-400:hover,
.simple-ui-focus\:ringOffsetColor-pink-400:focus,
.simple-ui-active\:ringOffsetColor-pink-400:active {
	--simple-ui-ring-offset-color: #f472b6;
	box-shadow: 0 0 0 var(--simple-ui-ring-offset-width)
			var(--simple-ui-ring-offset-color),
		var(--simple-ui-ring-shadow);
}

.simple-ui-ringOffsetColor-pink-500,
.simple-ui-hover\:ringOffsetColor-pink-500:hover,
.simple-ui-focus\:ringOffsetColor-pink-500:focus,
.simple-ui-active\:ringOffsetColor-pink-500:active {
	--simple-ui-ring-offset-color: #ec4899;
	box-shadow: 0 0 0 var(--simple-ui-ring-offset-width)
			var(--simple-ui-ring-offset-color),
		var(--simple-ui-ring-shadow);
}

.simple-ui-ringOffsetColor-pink-600,
.simple-ui-hover\:ringOffsetColor-pink-600:hover,
.simple-ui-focus\:ringOffsetColor-pink-600:focus,
.simple-ui-active\:ringOffsetColor-pink-600:active {
	--simple-ui-ring-offset-color: #db2777;
	box-shadow: 0 0 0 var(--simple-ui-ring-offset-width)
			var(--simple-ui-ring-offset-color),
		var(--simple-ui-ring-shadow);
}

.simple-ui-ringOffsetColor-pink-700,
.simple-ui-hover\:ringOffsetColor-pink-700:hover,
.simple-ui-focus\:ringOffsetColor-pink-700:focus,
.simple-ui-active\:ringOffsetColor-pink-700:active {
	--simple-ui-ring-offset-color: #be185d;
	box-shadow: 0 0 0 var(--simple-ui-ring-offset-width)
			var(--simple-ui-ring-offset-color),
		var(--simple-ui-ring-shadow);
}

.simple-ui-ringOffsetColor-pink-800,
.simple-ui-hover\:ringOffsetColor-pink-800:hover,
.simple-ui-focus\:ringOffsetColor-pink-800:focus,
.simple-ui-active\:ringOffsetColor-pink-800:active {
	--simple-ui-ring-offset-color: #9d174d;
	box-shadow: 0 0 0 var(--simple-ui-ring-offset-width)
			var(--simple-ui-ring-offset-color),
		var(--simple-ui-ring-shadow);
}

.simple-ui-ringOffsetColor-pink-900,
.simple-ui-hover\:ringOffsetColor-pink-900:hover,
.simple-ui-focus\:ringOffsetColor-pink-900:focus,
.simple-ui-active\:ringOffsetColor-pink-900:active {
	--simple-ui-ring-offset-color: #831843;
	box-shadow: 0 0 0 var(--simple-ui-ring-offset-width)
			var(--simple-ui-ring-offset-color),
		var(--simple-ui-ring-shadow);
}
