.simple-ui-userSelect-none,
.simple-ui-hover\:userSelect-none:hover,
.simple-ui-focus\:userSelect-none:focus,
.simple-ui-active\:userSelect-none:active {
	user-select: none;
}
.simple-ui-userSelect-text,
.simple-ui-hover\:userSelect-text:hover,
.simple-ui-focus\:userSelect-text:focus,
.simple-ui-active\:userSelect-text:active {
	user-select: text;
}
.simple-ui-userSelect-all,
.simple-ui-hover\:userSelect-all:hover,
.simple-ui-focus\:userSelect-all:focus,
.simple-ui-active\:userSelect-all:active {
	user-select: all;
}
.simple-ui-userSelect-auto,
.simple-ui-hover\:userSelect-auto:hover,
.simple-ui-focus\:userSelect-auto:focus,
.simple-ui-active\:userSelect-auto:active {
	user-select: auto;
}
