.simple-ui-autoRows-auto,
.simple-ui-hover\:autoRows-auto:hover,
.simple-ui-focus\:autoRows-auto:focus,
.simple-ui-active\:autoRows-auto:active {
	grid-auto-rows: auto;
}

.simple-ui-autoRows-min,
.simple-ui-hover\:autoRows-min:hover,
.simple-ui-focus\:autoRows-min:focus,
.simple-ui-active\:autoRows-min:active {
	grid-auto-rows: min-content;
}

.simple-ui-autoRows-max,
.simple-ui-hover\:autoRows-max:hover,
.simple-ui-focus\:autoRows-max:focus,
.simple-ui-active\:autoRows-max:active {
	grid-auto-rows: max-content;
}

.simple-ui-autoRows-fr,
.simple-ui-hover\:autoRows-fr:hover,
.simple-ui-focus\:autoRows-fr:focus,
.simple-ui-active\:autoRows-fr:active {
	grid-auto-rows: minmax(0, 1fr);
}
