.simple-ui-backgroundOpacity-0,
.simple-ui-hover\:backgroundOpacity-0:hover,
.simple-ui-focus\:backgroundOpacity-0:focus,
.simple-ui-active\:backgroundOpacity-0:active {
	--simple-ui-bg-opacity: 0;
}
.simple-ui-backgroundOpacity-5,
.simple-ui-hover\:backgroundOpacity-5:hover,
.simple-ui-focus\:backgroundOpacity-5:focus,
.simple-ui-active\:backgroundOpacity-5:active {
	--simple-ui-bg-opacity: 0.05;
}
.simple-ui-backgroundOpacity-10,
.simple-ui-hover\:backgroundOpacity-10:hover,
.simple-ui-focus\:backgroundOpacity-10:focus,
.simple-ui-active\:backgroundOpacity-10:active {
	--simple-ui-bg-opacity: 0.1;
}
.simple-ui-backgroundOpacity-20,
.simple-ui-hover\:backgroundOpacity-20:hover,
.simple-ui-focus\:backgroundOpacity-20:focus,
.simple-ui-active\:backgroundOpacity-20:active {
	--simple-ui-bg-opacity: 0.2;
}
.simple-ui-backgroundOpacity-25,
.simple-ui-hover\:backgroundOpacity-25:hover,
.simple-ui-focus\:backgroundOpacity-25:focus,
.simple-ui-active\:backgroundOpacity-25:active {
	--simple-ui-bg-opacity: 0.25;
}
.simple-ui-backgroundOpacity-30,
.simple-ui-hover\:backgroundOpacity-30:hover,
.simple-ui-focus\:backgroundOpacity-30:focus,
.simple-ui-active\:backgroundOpacity-30:active {
	--simple-ui-bg-opacity: 0.3;
}
.simple-ui-backgroundOpacity-40,
.simple-ui-hover\:backgroundOpacity-40:hover,
.simple-ui-focus\:backgroundOpacity-40:focus,
.simple-ui-active\:backgroundOpacity-40:active {
	--simple-ui-bg-opacity: 0.4;
}
.simple-ui-backgroundOpacity-50,
.simple-ui-hover\:backgroundOpacity-50:hover,
.simple-ui-focus\:backgroundOpacity-50:focus,
.simple-ui-active\:backgroundOpacity-50:active {
	--simple-ui-bg-opacity: 0.5;
}
.simple-ui-backgroundOpacity-60,
.simple-ui-hover\:backgroundOpacity-60:hover,
.simple-ui-focus\:backgroundOpacity-60:focus,
.simple-ui-active\:backgroundOpacity-60:active {
	--simple-ui-bg-opacity: 0.6;
}
.simple-ui-backgroundOpacity-70,
.simple-ui-hover\:backgroundOpacity-70:hover,
.simple-ui-focus\:backgroundOpacity-70:focus,
.simple-ui-active\:backgroundOpacity-70:active {
	--simple-ui-bg-opacity: 0.7;
}
.simple-ui-backgroundOpacity-75,
.simple-ui-hover\:backgroundOpacity-75:hover,
.simple-ui-focus\:backgroundOpacity-75:focus,
.simple-ui-active\:backgroundOpacity-75:active {
	--simple-ui-bg-opacity: 0.75;
}
.simple-ui-backgroundOpacity-80,
.simple-ui-hover\:backgroundOpacity-80:hover,
.simple-ui-focus\:backgroundOpacity-80:focus,
.simple-ui-active\:backgroundOpacity-80:active {
	--simple-ui-bg-opacity: 0.8;
}
.simple-ui-backgroundOpacity-90,
.simple-ui-hover\:backgroundOpacity-90:hover,
.simple-ui-focus\:backgroundOpacity-90:focus,
.simple-ui-active\:backgroundOpacity-90:active {
	--simple-ui-bg-opacity: 0.9;
}
.simple-ui-backgroundOpacity-95,
.simple-ui-hover\:backgroundOpacity-95:hover,
.simple-ui-focus\:backgroundOpacity-95:focus,
.simple-ui-active\:backgroundOpacity-95:active {
	--simple-ui-bg-opacity: 0.95;
}
.simple-ui-backgroundOpacity-100,
.simple-ui-hover\:backgroundOpacity-100:hover,
.simple-ui-focus\:backgroundOpacity-100:focus,
.simple-ui-active\:backgroundOpacity-100:active {
	--simple-ui-bg-opacity: 1;
}
