.simple-ui-transitionDelay-75,
.simple-ui-hover\:transitionDelay-75:hover,
.simple-ui-focus\:transitionDelay-75:focus,
.simple-ui-active\:transitionDelay-75:active {
	transition-delay: 75ms;
}
.simple-ui-transitionDelay-100,
.simple-ui-hover\:transitionDelay-100:hover,
.simple-ui-focus\:transitionDelay-100:focus,
.simple-ui-active\:transitionDelay-100:active {
	transition-delay: 100ms;
}
.simple-ui-transitionDelay-150,
.simple-ui-hover\:transitionDelay-150:hover,
.simple-ui-focus\:transitionDelay-150:focus,
.simple-ui-active\:transitionDelay-150:active {
	transition-delay: 150ms;
}
.simple-ui-transitionDelay-200,
.simple-ui-hover\:transitionDelay-200:hover,
.simple-ui-focus\:transitionDelay-200:focus,
.simple-ui-active\:transitionDelay-200:active {
	transition-delay: 200ms;
}
.simple-ui-transitionDelay-300,
.simple-ui-hover\:transitionDelay-300:hover,
.simple-ui-focus\:transitionDelay-300:focus,
.simple-ui-active\:transitionDelay-300:active {
	transition-delay: 300ms;
}
.simple-ui-transitionDelay-500,
.simple-ui-hover\:transitionDelay-500:hover,
.simple-ui-focus\:transitionDelay-500:focus,
.simple-ui-active\:transitionDelay-500:active {
	transition-delay: 500ms;
}
.simple-ui-transitionDelay-700,
.simple-ui-hover\:transitionDelay-700:hover,
.simple-ui-focus\:transitionDelay-700:focus,
.simple-ui-active\:transitionDelay-700:active {
	transition-delay: 700ms;
}
.simple-ui-transitionDelay-1000,
.simple-ui-hover\:transitionDelay-1000:hover,
.simple-ui-focus\:transitionDelay-1000:focus,
.simple-ui-active\:transitionDelay-1000:active {
	transition-delay: 1000ms;
}
