.simple-ui-placeContent-center,
.simple-ui-hover\:placeContent-center:hover,
.simple-ui-focus\:placeContent-center:focus,
.simple-ui-active\:placeContent-center:active {
	place-content: center;
}

.simple-ui-placeContent-start,
.simple-ui-hover\:placeContent-start:hover,
.simple-ui-focus\:placeContent-start:focus,
.simple-ui-active\:placeContent-start:active {
	place-content: start;
}

.simple-ui-placeContent-end,
.simple-ui-hover\:placeContent-end:hover,
.simple-ui-focus\:placeContent-end:focus,
.simple-ui-active\:placeContent-end:active {
	place-content: end;
}

.simple-ui-placeContent-between,
.simple-ui-hover\:placeContent-between:hover,
.simple-ui-focus\:placeContent-between:focus,
.simple-ui-active\:placeContent-between:active {
	place-content: space-between;
}

.simple-ui-placeContent-around,
.simple-ui-hover\:placeContent-around:hover,
.simple-ui-focus\:placeContent-around:focus,
.simple-ui-active\:placeContent-around:active {
	place-content: space-around;
}

.simple-ui-placeContent-evenly,
.simple-ui-hover\:placeContent-evenly:hover,
.simple-ui-focus\:placeContent-evenly:focus,
.simple-ui-active\:placeContent-evenly:active {
	place-content: space-evenly;
}

.simple-ui-placeContent-stretch,
.simple-ui-hover\:placeContent-stretch:hover,
.simple-ui-focus\:placeContent-stretch:focus,
.simple-ui-active\:placeContent-stretch:active {
	place-content: stretch;
}
