.simple-ui-backdropSaturate-0,
.simple-ui-hover\:backdropSaturate-0:hover,
.simple-ui-focus\:backdropSaturate-0:focus,
.simple-ui-active\:backdropSaturate-0:active {
	--simple-ui-backdrop-saturate: saturate(0);
}
.simple-ui-backdropSaturate-50,
.simple-ui-hover\:backdropSaturate-50:hover,
.simple-ui-focus\:backdropSaturate-50:focus,
.simple-ui-active\:backdropSaturate-50:active {
	--simple-ui-backdrop-saturate: saturate(0.5);
}
.simple-ui-backdropSaturate-100,
.simple-ui-hover\:backdropSaturate-100:hover,
.simple-ui-focus\:backdropSaturate-100:focus,
.simple-ui-active\:backdropSaturate-100:active {
	--simple-ui-backdrop-saturate: saturate(1);
}
.simple-ui-backdropSaturate-150,
.simple-ui-hover\:backdropSaturate-150:hover,
.simple-ui-focus\:backdropSaturate-150:focus,
.simple-ui-active\:backdropSaturate-150:active {
	--simple-ui-backdrop-saturate: saturate(1.5);
}
.simple-ui-backdropSaturate-200,
.simple-ui-hover\:backdropSaturate-200:hover,
.simple-ui-focus\:backdropSaturate-200:focus,
.simple-ui-active\:backdropSaturate-200:active {
	--simple-ui-backdrop-saturate: saturate(2);
}
