.simple-ui-backdropHueRotate--180,
.simple-ui-hover\:backdropHueRotate--180:hover,
.simple-ui-focus\:backdropHueRotate--180:focus,
.simple-ui-active\:backdropHueRotate--180:active {
	--simple-ui-backdrop-hue-rotate: hue-rotate(-180deg);
}
.simple-ui-backdropHueRotate--90,
.simple-ui-hover\:backdropHueRotate--90:hover,
.simple-ui-focus\:backdropHueRotate--90:focus,
.simple-ui-active\:backdropHueRotate--90:active {
	--simple-ui-backdrop-hue-rotate: hue-rotate(-90deg);
}
.simple-ui-backdropHueRotate--60,
.simple-ui-hover\:backdropHueRotate--60:hover,
.simple-ui-focus\:backdropHueRotate--60:focus,
.simple-ui-active\:backdropHueRotate--60:active {
	--simple-ui-backdrop-hue-rotate: hue-rotate(-60deg);
}
.simple-ui-backdropHueRotate--30,
.simple-ui-hover\:backdropHueRotate--30:hover,
.simple-ui-focus\:backdropHueRotate--30:focus,
.simple-ui-active\:backdropHueRotate--30:active {
	--simple-ui-backdrop-hue-rotate: hue-rotate(-30deg);
}
.simple-ui-backdropHueRotate--15,
.simple-ui-hover\:backdropHueRotate--15:hover,
.simple-ui-focus\:backdropHueRotate--15:focus,
.simple-ui-active\:backdropHueRotate--15:active {
	--simple-ui-backdrop-hue-rotate: hue-rotate(-15deg);
}
.simple-ui-backdropHueRotate-0,
.simple-ui-hover\:backdropHueRotate-0:hover,
.simple-ui-focus\:backdropHueRotate-0:focus,
.simple-ui-active\:backdropHueRotate-0:active {
	--simple-ui-backdrop-hue-rotate: hue-rotate(0deg);
}
.simple-ui-backdropHueRotate-15,
.simple-ui-hover\:backdropHueRotate-15:hover,
.simple-ui-focus\:backdropHueRotate-15:focus,
.simple-ui-active\:backdropHueRotate-15:active {
	--simple-ui-backdrop-hue-rotate: hue-rotate(15deg);
}
.simple-ui-backdropHueRotate-30,
.simple-ui-hover\:backdropHueRotate-30:hover,
.simple-ui-focus\:backdropHueRotate-30:focus,
.simple-ui-active\:backdropHueRotate-30:active {
	--simple-ui-backdrop-hue-rotate: hue-rotate(30deg);
}
.simple-ui-backdropHueRotate-60,
.simple-ui-hover\:backdropHueRotate-60:hover,
.simple-ui-focus\:backdropHueRotate-60:focus,
.simple-ui-active\:backdropHueRotate-60:active {
	--simple-ui-backdrop-hue-rotate: hue-rotate(60deg);
}
.simple-ui-backdropHueRotate-90,
.simple-ui-hover\:backdropHueRotate-90:hover,
.simple-ui-focus\:backdropHueRotate-90:focus,
.simple-ui-active\:backdropHueRotate-90:active {
	--simple-ui-backdrop-hue-rotate: hue-rotate(90deg);
}
.simple-ui-backdropHueRotate-180,
.simple-ui-hover\:backdropHueRotate-180:hover,
.simple-ui-focus\:backdropHueRotate-180:focus,
.simple-ui-active\:backdropHueRotate-180:active {
	--simple-ui-backdrop-hue-rotate: hue-rotate(180deg);
}
