.simple-ui-textTransform-uppercase,
.simple-ui-hover\:textTransform-uppercase:hover,
.simple-ui-focus\:textTransform-uppercase:focus,
.simple-ui-active\:textTransform-uppercase:active {
	text-transform: uppercase;
}
.simple-ui-textTransform-lowercase,
.simple-ui-hover\:textTransform-lowercase:hover,
.simple-ui-focus\:textTransform-lowercase:focus,
.simple-ui-active\:textTransform-lowercase:active {
	text-transform: lowercase;
}
.simple-ui-textTransform-capitalize,
.simple-ui-hover\:textTransform-capitalize:hover,
.simple-ui-focus\:textTransform-capitalize:focus,
.simple-ui-active\:textTransform-capitalize:active {
	text-transform: capitalize;
}
.simple-ui-textTransform-normal-case,
.simple-ui-hover\:textTransform-normal-case:hover,
.simple-ui-focus\:textTransform-normal-case:focus,
.simple-ui-active\:textTransform-normal-case:active {
	text-transform: none;
}
