.simple-ui-verticalAlign-baseline,
.simple-ui-hover\:verticalAlign-baseline:hover,
.simple-ui-focus\:verticalAlign-baseline:focus,
.simple-ui-active\:verticalAlign-baseline:active {
	vertical-align: baseline;
}
.simple-ui-verticalAlign-top,
.simple-ui-hover\:verticalAlign-top:hover,
.simple-ui-focus\:verticalAlign-top:focus,
.simple-ui-active\:verticalAlign-top:active {
	vertical-align: top;
}
.simple-ui-verticalAlign-middle,
.simple-ui-hover\:verticalAlign-middle:hover,
.simple-ui-focus\:verticalAlign-middle:focus,
.simple-ui-active\:verticalAlign-middle:active {
	vertical-align: middle;
}
.simple-ui-verticalAlign-bottom,
.simple-ui-hover\:verticalAlign-bottom:hover,
.simple-ui-focus\:verticalAlign-bottom:focus,
.simple-ui-active\:verticalAlign-bottom:active {
	vertical-align: bottom;
}
.simple-ui-verticalAlign-text-top,
.simple-ui-hover\:verticalAlign-text-top:hover,
.simple-ui-focus\:verticalAlign-text-top:focus,
.simple-ui-active\:verticalAlign-text-top:active {
	vertical-align: text-top;
}
.simple-ui-verticalAlign-text-bottom,
.simple-ui-hover\:verticalAlign-text-bottom:hover,
.simple-ui-focus\:verticalAlign-text-bottom:focus,
.simple-ui-active\:verticalAlign-text-bottom:active {
	vertical-align: text-bottom;
}
