.simple-ui-autoCols-auto,
.simple-ui-hover\:autoCols-auto:hover,
.simple-ui-focus\:autoCols-auto:focus,
.simple-ui-active\:autoCols-auto:active {
	grid-auto-columns: auto;
}

.simple-ui-autoCols-min,
.simple-ui-hover\:autoCols-min:hover,
.simple-ui-focus\:autoCols-min:focus,
.simple-ui-active\:autoCols-min:active {
	grid-auto-columns: min-content;
}

.simple-ui-autoCols-max,
.simple-ui-hover\:autoCols-max:hover,
.simple-ui-focus\:autoCols-max:focus,
.simple-ui-active\:autoCols-max:active {
	grid-auto-columns: max-content;
}

.simple-ui-autoCols-fr,
.simple-ui-hover\:autoCols-fr:hover,
.simple-ui-focus\:autoCols-fr:focus,
.simple-ui-active\:autoCols-fr:active {
	grid-auto-columns: minmax(0, 1fr);
}
