.display-block {
	display: block;
}
.display-inline-block {
	display: inline-block;
}
.display-inline {
	display: inline;
}
.display-flex {
	display: flex;
}
.display-inline-flex {
	display: inline-flex;
}
.display-table {
	display: table;
}
.display-inline-table {
	display: inline-table;
}
.display-table-caption {
	display: table-caption;
}
.display-table-cell {
	display: table-cell;
}
.display-table-column {
	display: table-column;
}
.display-table-column-group {
	display: table-column-group;
}
.display-table-footer-group {
	display: table-footer-group;
}
.display-table-header-group {
	display: table-header-group;
}
.display-table-row-group {
	display: table-row-group;
}
.display-table-row {
	display: table-row;
}
.display-flow-root {
	display: flow-root;
}
.display-grid {
	display: grid;
}
.display-inline-grid {
	display: inline-grid;
}
.display-contents {
	display: contents;
}
.display-list-item {
	display: list-item;
}
.display-hidden {
	display: none;
}
