.simple-ui-borderWidth-0,
.simple-ui-hover\:borderWidth-0:hover,
.simple-ui-focus\:borderWidth-0:focus,
.simple-ui-active\:borderWidth-0:active {
	border-width: 0px;
}
.simple-ui-borderWidth-1,
.simple-ui-hover\:borderWidth-1:hover,
.simple-ui-focus\:borderWidth-1:focus,
.simple-ui-active\:borderWidth-1:active {
	border-width: 1px;
}
.simple-ui-borderWidth-2,
.simple-ui-hover\:borderWidth-2:hover,
.simple-ui-focus\:borderWidth-2:focus,
.simple-ui-active\:borderWidth-2:active {
	border-width: 2px;
}
.simple-ui-borderWidth-4,
.simple-ui-hover\:borderWidth-4:hover,
.simple-ui-focus\:borderWidth-4:focus,
.simple-ui-active\:borderWidth-4:active {
	border-width: 4px;
}
.simple-ui-borderWidth-8,
.simple-ui-hover\:borderWidth-8:hover,
.simple-ui-focus\:borderWidth-8:focus,
.simple-ui-active\:borderWidth-8:active {
	border-width: 8px;
}
.simple-ui-borderWidthTop-0,
.simple-ui-hover\:borderWidthTop-0:hover,
.simple-ui-focus\:borderWidthTop-0:focus,
.simple-ui-active\:borderWidthTop-0:active {
	border-top-width: 0px;
}
.simple-ui-borderWidthTop-2,
.simple-ui-hover\:borderWidthTop-2:hover,
.simple-ui-focus\:borderWidthTop-2:focus,
.simple-ui-active\:borderWidthTop-2:active {
	border-top-width: 2px;
}
.simple-ui-borderWidthTop-4,
.simple-ui-hover\:borderWidthTop-4:hover,
.simple-ui-focus\:borderWidthTop-4:focus,
.simple-ui-active\:borderWidthTop-4:active {
	border-top-width: 4px;
}
.simple-ui-borderWidthTop-8,
.simple-ui-hover\:borderWidthTop-8:hover,
.simple-ui-focus\:borderWidthTop-8:focus,
.simple-ui-active\:borderWidthTop-8:active {
	border-top-width: 8px;
}
.simple-ui-borderWidthTop-1,
.simple-ui-hover\:borderWidthTop-1:hover,
.simple-ui-focus\:borderWidthTop-1:focus,
.simple-ui-active\:borderWidthTop-1:active {
	border-top-width: 1px;
}
.simple-ui-borderWidthRight-0,
.simple-ui-hover\:borderWidthRight-0:hover,
.simple-ui-focus\:borderWidthRight-0:focus,
.simple-ui-active\:borderWidthRight-0:active {
	border-right-width: 0px;
}
.simple-ui-borderWidthRight-1,
.simple-ui-hover\:borderWidthRight-1:hover,
.simple-ui-focus\:borderWidthRight-1:focus,
.simple-ui-active\:borderWidthRight-1:active {
	border-right-width: 1px;
}
.simple-ui-borderWidthRight-2,
.simple-ui-hover\:borderWidthRight-2:hover,
.simple-ui-focus\:borderWidthRight-2:focus,
.simple-ui-active\:borderWidthRight-2:active {
	border-right-width: 2px;
}
.simple-ui-borderWidthRight-4,
.simple-ui-hover\:borderWidthRight-4:hover,
.simple-ui-focus\:borderWidthRight-4:focus,
.simple-ui-active\:borderWidthRight-4:active {
	border-right-width: 4px;
}
.simple-ui-borderWidthRight-8,
.simple-ui-hover\:borderWidthRight-8:hover,
.simple-ui-focus\:borderWidthRight-8:focus,
.simple-ui-active\:borderWidthRight-8:active {
	border-right-width: 8px;
}
.simple-ui-borderWidthBottom-0,
.simple-ui-hover\:borderWidthBottom-0:hover,
.simple-ui-focus\:borderWidthBottom-0:focus,
.simple-ui-active\:borderWidthBottom-0:active {
	border-bottom-width: 0px;
}
.simple-ui-borderWidthBottom-1,
.simple-ui-hover\:borderWidthBottom-1:hover,
.simple-ui-focus\:borderWidthBottom-1:focus,
.simple-ui-active\:borderWidthBottom-1:active {
	border-bottom-width: 1px;
}
.simple-ui-borderWidthBottom-2,
.simple-ui-hover\:borderWidthBottom-2:hover,
.simple-ui-focus\:borderWidthBottom-2:focus,
.simple-ui-active\:borderWidthBottom-2:active {
	border-bottom-width: 2px;
}
.simple-ui-borderWidthBottom-4,
.simple-ui-hover\:borderWidthBottom-4:hover,
.simple-ui-focus\:borderWidthBottom-4:focus,
.simple-ui-active\:borderWidthBottom-4:active {
	border-bottom-width: 4px;
}
.simple-ui-borderWidthBottom-8,
.simple-ui-hover\:borderWidthBottom-8:hover,
.simple-ui-focus\:borderWidthBottom-8:focus,
.simple-ui-active\:borderWidthBottom-8:active {
	border-bottom-width: 8px;
}
.simple-ui-borderWidthLeft-0,
.simple-ui-hover\:borderWidthLeft-0:hover,
.simple-ui-focus\:borderWidthLeft-0:focus,
.simple-ui-active\:borderWidthLeft-0:active {
	border-left-width: 0px;
}
.simple-ui-borderWidthLeft-1,
.simple-ui-hover\:borderWidthLeft-1:hover,
.simple-ui-focus\:borderWidthLeft-1:focus,
.simple-ui-active\:borderWidthLeft-1:active {
	border-left-width: 1px;
}
.simple-ui-borderWidthLeft-2,
.simple-ui-hover\:borderWidthLeft-2:hover,
.simple-ui-focus\:borderWidthLeft-2:focus,
.simple-ui-active\:borderWidthLeft-2:active {
	border-left-width: 2px;
}
.simple-ui-borderWidthLeft-4,
.simple-ui-hover\:borderWidthLeft-4:hover,
.simple-ui-focus\:borderWidthLeft-4:focus,
.simple-ui-active\:borderWidthLeft-4:active {
	border-left-width: 4px;
}
.simple-ui-borderWidthLeft-8,
.simple-ui-hover\:borderWidthLeft-8:hover,
.simple-ui-focus\:borderWidthLeft-8:focus,
.simple-ui-active\:borderWidthLeft-8:active {
	border-left-width: 8px;
}
