.simple-ui-objectPosition-bottom,
.simple-ui-hover\:objectPosition-bottom:hover,
.simple-ui-focus\:objectPosition-bottom:focus,
.simple-ui-active\:objectPosition-bottom:active {
	object-position: bottom;
}
.simple-ui-objectPosition-center,
.simple-ui-hover\:objectPosition-center:hover,
.simple-ui-focus\:objectPosition-center:focus,
.simple-ui-active\:objectPosition-center:active {
	object-position: center;
}
.simple-ui-objectPosition-left,
.simple-ui-hover\:objectPosition-left:hover,
.simple-ui-focus\:objectPosition-left:focus,
.simple-ui-active\:objectPosition-left:active {
	object-position: left;
}
.simple-ui-objectPosition-left-bottom,
.simple-ui-hover\:objectPosition-left-bottom:hover,
.simple-ui-focus\:objectPosition-left-bottom:focus,
.simple-ui-active\:objectPosition-left-bottom:active {
	object-position: left bottom;
}
.simple-ui-objectPosition-left-top,
.simple-ui-hover\:objectPosition-left-top:hover,
.simple-ui-focus\:objectPosition-left-top:focus,
.simple-ui-active\:objectPosition-left-top:active {
	object-position: left top;
}
.simple-ui-objectPosition-right,
.simple-ui-hover\:objectPosition-right:hover,
.simple-ui-focus\:objectPosition-right:focus,
.simple-ui-active\:objectPosition-right:active {
	object-position: right;
}
.simple-ui-objectPosition-right-bottom,
.simple-ui-hover\:objectPosition-right-bottom:hover,
.simple-ui-focus\:objectPosition-right-bottom:focus,
.simple-ui-active\:objectPosition-right-bottom:active {
	object-position: right bottom;
}
.simple-ui-objectPosition-right-top,
.simple-ui-hover\:objectPosition-right-top:hover,
.simple-ui-focus\:objectPosition-right-top:focus,
.simple-ui-active\:objectPosition-right-top:active {
	object-position: right top;
}
.simple-ui-objectPosition-top,
.simple-ui-hover\:objectPosition-top:hover,
.simple-ui-focus\:objectPosition-top:focus,
.simple-ui-active\:objectPosition-top:active {
	object-position: top;
}
