.simple-ui-gridFlow-row,
.simple-ui-hover\:gridFlow-row:hover,
.simple-ui-focus\:gridFlow-row:focus,
.simple-ui-active\:gridFlow-row:active {
	grid-auto-flow: row;
}

.simple-ui-gridFlow-col,
.simple-ui-hover\:gridFlow-col:hover,
.simple-ui-focus\:gridFlow-col:focus,
.simple-ui-active\:gridFlow-col:active {
	grid-auto-flow: column;
}

.simple-ui-gridFlow-row-dense,
.simple-ui-hover\:gridFlow-row-dense:hover,
.simple-ui-focus\:gridFlow-row-dense:focus,
.simple-ui-active\:gridFlow-row-dense:active {
	grid-auto-flow: row dense;
}

.simple-ui-gridFlow-col-dense,
.simple-ui-hover\:gridFlow-col-dense:hover,
.simple-ui-focus\:gridFlow-col-dense:focus,
.simple-ui-active\:gridFlow-col-dense:active {
	grid-auto-flow: column dense;
}
