.simple-ui-placeItems-center,
.simple-ui-hover\:placeItems-center:hover,
.simple-ui-focus\:placeItems-center:focus,
.simple-ui-active\:placeItems-center:active {
	place-items: center;
}

.simple-ui-placeItems-start,
.simple-ui-hover\:placeItems-start:hover,
.simple-ui-focus\:placeItems-start:focus,
.simple-ui-active\:placeItems-start:active {
	place-items: start;
}

.simple-ui-placeItems-end,
.simple-ui-hover\:placeItems-end:hover,
.simple-ui-focus\:placeItems-end:focus,
.simple-ui-active\:placeItems-end:active {
	place-items: end;
}

.simple-ui-placeItems-stretch,
.simple-ui-hover\:placeItems-stretch:hover,
.simple-ui-focus\:placeItems-stretch:focus,
.simple-ui-active\:placeItems-stretch:active {
	place-items: stretch;
}
