.simple-ui-animate-none,
.simple-ui-hover\:animate-none:hover,
.simple-ui-focus\:animate-none:focus,
.simple-ui-active\:animate-none:active {
	animation: none;
}
.simple-ui-animate-spin,
.simple-ui-hover\:animate-spin:hover,
.simple-ui-focus\:animate-spin:focus,
.simple-ui-active\:animate-spin:active {
	animation: spin 1s linear infinite;
}

.simple-ui-animate-ping,
.simple-ui-hover\:animate-ping:hover,
.simple-ui-focus\:animate-ping:focus,
.simple-ui-active\:animate-ping:active {
	animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
}

.simple-ui-animate-pulse,
.simple-ui-hover\:animate-pulse:hover,
.simple-ui-focus\:animate-pulse:focus,
.simple-ui-active\:animate-pulse:active {
	animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.simple-ui-animate-bounce,
.simple-ui-hover\:animate-bounce:hover,
.simple-ui-focus\:animate-bounce:focus,
.simple-ui-active\:animate-bounce:active {
	animation: bounce 1s infinite;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@keyframes ping {
	75%,
	100% {
		transform: scale(2);
		opacity: 0;
	}
}

@keyframes pulse {
	0%,
	100% {
		opacity: 1;
	}
	50% {
		opacity: 0.5;
	}
}

@keyframes bounce {
	0%,
	100% {
		transform: translateY(-25%);
		animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
	}
	50% {
		transform: translateY(0);
		animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
	}
}
