.simple-ui-lineHeight-3,
.simple-ui-hover\:lineHeight-3:hover,
.simple-ui-focus\:lineHeight-3:focus,
.simple-ui-active\:lineHeight-3:active {
	line-height: 0.75rem;
}
.simple-ui-lineHeight-4,
.simple-ui-hover\:lineHeight-4:hover,
.simple-ui-focus\:lineHeight-4:focus,
.simple-ui-active\:lineHeight-4:active {
	line-height: 1rem;
}
.simple-ui-lineHeight-5,
.simple-ui-hover\:lineHeight-5:hover,
.simple-ui-focus\:lineHeight-5:focus,
.simple-ui-active\:lineHeight-5:active {
	line-height: 1.25rem;
}
.simple-ui-lineHeight-6,
.simple-ui-hover\:lineHeight-6:hover,
.simple-ui-focus\:lineHeight-6:focus,
.simple-ui-active\:lineHeight-6:active {
	line-height: 1.5rem;
}
.simple-ui-lineHeight-7,
.simple-ui-hover\:lineHeight-7:hover,
.simple-ui-focus\:lineHeight-7:focus,
.simple-ui-active\:lineHeight-7:active {
	line-height: 1.75rem;
}
.simple-ui-lineHeight-8,
.simple-ui-hover\:lineHeight-8:hover,
.simple-ui-focus\:lineHeight-8:focus,
.simple-ui-active\:lineHeight-8:active {
	line-height: 2rem;
}
.simple-ui-lineHeight-9,
.simple-ui-hover\:lineHeight-9:hover,
.simple-ui-focus\:lineHeight-9:focus,
.simple-ui-active\:lineHeight-9:active {
	line-height: 2.25rem;
}
.simple-ui-lineHeight-10,
.simple-ui-hover\:lineHeight-10:hover,
.simple-ui-focus\:lineHeight-10:focus,
.simple-ui-active\:lineHeight-10:active {
	line-height: 2.5rem;
}
.simple-ui-lineHeight-none,
.simple-ui-hover\:lineHeight-none:hover,
.simple-ui-focus\:lineHeight-none:focus,
.simple-ui-active\:lineHeight-none:active {
	line-height: 1;
}
.simple-ui-lineHeight-tight,
.simple-ui-hover\:lineHeight-tight:hover,
.simple-ui-focus\:lineHeight-tight:focus,
.simple-ui-active\:lineHeight-tight:active {
	line-height: 1.25;
}
.simple-ui-lineHeight-snug,
.simple-ui-hover\:lineHeight-snug:hover,
.simple-ui-focus\:lineHeight-snug:focus,
.simple-ui-active\:lineHeight-snug:active {
	line-height: 1.375;
}
.simple-ui-lineHeight-normal,
.simple-ui-hover\:lineHeight-normal:hover,
.simple-ui-focus\:lineHeight-normal:focus,
.simple-ui-active\:lineHeight-normal:active {
	line-height: 1.5;
}
.simple-ui-lineHeight-relaxed,
.simple-ui-hover\:lineHeight-relaxed:hover,
.simple-ui-focus\:lineHeight-relaxed:focus,
.simple-ui-active\:lineHeight-relaxed:active {
	line-height: 1.625;
}
.simple-ui-lineHeight-loose,
.simple-ui-hover\:lineHeight-loose:hover,
.simple-ui-focus\:lineHeight-loose:focus,
.simple-ui-active\:lineHeight-loose:active {
	line-height: 2;
}
