.simple-ui-maxWidth-0,
.simple-ui-focus\:maxWidth-0:focus,
.simple-ui-active\:maxWidth-0:active,
.simple-ui-hover\:maxWidth-0:hover {
	max-width: 0rem;
}

.simple-ui-maxWidth-none,
.simple-ui-focus\:maxWidth-none:focus,
.simple-ui-active\:maxWidth-none:active,
.simple-ui-hover\:maxWidth-none:hover {
	max-width: none;
}

.simple-ui-maxWidth-xs,
.simple-ui-focus\:maxWidth-xs:focus,
.simple-ui-active\:maxWidth-xs:active,
.simple-ui-hover\:maxWidth-xs:hover {
	max-width: 20rem;
}

.simple-ui-maxWidth-sm,
.simple-ui-focus\:maxWidth-sm:focus,
.simple-ui-active\:maxWidth-sm:active,
.simple-ui-hover\:maxWidth-sm:hover {
	max-width: 24rem;
}

.simple-ui-maxWidth-md,
.simple-ui-focus\:maxWidth-md:focus,
.simple-ui-active\:maxWidth-md:active,
.simple-ui-hover\:maxWidth-md:hover {
	max-width: 28rem;
}

.simple-ui-maxWidth-lg,
.simple-ui-focus\:maxWidth-lg:focus,
.simple-ui-active\:maxWidth-lg:active,
.simple-ui-hover\:maxWidth-lg:hover {
	max-width: 32rem;
}

.simple-ui-maxWidth-xl,
.simple-ui-focus\:maxWidth-xl:focus,
.simple-ui-active\:maxWidth-xl:active,
.simple-ui-hover\:maxWidth-xl:hover {
	max-width: 36rem;
}

.simple-ui-maxWidth-2xl,
.simple-ui-focus\:maxWidth-2xl:focus,
.simple-ui-active\:maxWidth-2xl:active,
.simple-ui-hover\:maxWidth-2xl:hover {
	max-width: 42rem;
}

.simple-ui-maxWidth-3xl,
.simple-ui-focus\:maxWidth-3xl:focus,
.simple-ui-active\:maxWidth-3xl:active,
.simple-ui-hover\:maxWidth-3xl:hover {
	max-width: 48rem;
}

.simple-ui-maxWidth-4xl,
.simple-ui-focus\:maxWidth-4xl:focus,
.simple-ui-active\:maxWidth-4xl:active,
.simple-ui-hover\:maxWidth-4xl:hover {
	max-width: 56rem;
}

.simple-ui-maxWidth-5xl,
.simple-ui-focus\:maxWidth-5xl:focus,
.simple-ui-active\:maxWidth-5xl:active,
.simple-ui-hover\:maxWidth-5xl:hover {
	max-width: 64rem;
}

.simple-ui-maxWidth-6xl,
.simple-ui-focus\:maxWidth-6xl:focus,
.simple-ui-active\:maxWidth-6xl:active,
.simple-ui-hover\:maxWidth-6xl:hover {
	max-width: 72rem;
}

.simple-ui-maxWidth-7xl,
.simple-ui-focus\:maxWidth-7xl:focus,
.simple-ui-active\:maxWidth-7xl:active,
.simple-ui-hover\:maxWidth-7xl:hover {
	max-width: 80rem;
}

.simple-ui-maxWidth-full,
.simple-ui-focus\:maxWidth-full:focus,
.simple-ui-active\:maxWidth-full:active,
.simple-ui-hover\:maxWidth-full:hover {
	max-width: 100%;
}

.simple-ui-maxWidth-min,
.simple-ui-focus\:maxWidth-min:focus,
.simple-ui-active\:maxWidth-min:active,
.simple-ui-hover\:maxWidth-min:hover {
	max-width: min-content;
}

.simple-ui-maxWidth-max,
.simple-ui-focus\:maxWidth-max:focus,
.simple-ui-active\:maxWidth-max:active,
.simple-ui-hover\:maxWidth-max:hover {
	max-width: max-content;
}

.simple-ui-maxWidth-prose,
.simple-ui-focus\:maxWidth-prose:focus,
.simple-ui-active\:maxWidth-prose:active,
.simple-ui-hover\:maxWidth-prose:hover {
	max-width: 65ch;
}

.simple-ui-maxWidth-screen-sm,
.simple-ui-focus\:maxWidth-screen-sm:focus,
.simple-ui-active\:maxWidth-screen-sm:active,
.simple-ui-hover\:maxWidth-screen-sm:hover {
	max-width: 640px;
}

.simple-ui-maxWidth-screen-md,
.simple-ui-focus\:maxWidth-screen-md:focus,
.simple-ui-active\:maxWidth-screen-md:active,
.simple-ui-hover\:maxWidth-screen-md:hover {
	max-width: 768px;
}

.simple-ui-maxWidth-screen-lg,
.simple-ui-focus\:maxWidth-screen-lg:focus,
.simple-ui-active\:maxWidth-screen-lg:active,
.simple-ui-hover\:maxWidth-screen-lg:hover {
	max-width: 1024px;
}

.simple-ui-maxWidth-screen-xl,
.simple-ui-focus\:maxWidth-screen-xl:focus,
.simple-ui-active\:maxWidth-screen-xl:active,
.simple-ui-hover\:maxWidth-screen-xl:hover {
	max-width: 1280px;
}

.simple-ui-maxWidth-screen-2xl,
.simple-ui-focus\:maxWidth-screen-2xl:focus,
.simple-ui-active\:maxWidth-screen-2xl:active,
.simple-ui-hover\:maxWidth-screen-2xl:hover {
	max-width: 1536px;
}
