.simple-ui-scale-0,
.simple-ui-hover\:scale-0:hover,
.simple-ui-focus\:scale-0:focus,
.simple-ui-active\:scale-0:active {
	--simple-ui-scale-x: 0;
	--simple-ui-scale-y: 0;
}
.simple-ui-scale-50,
.simple-ui-hover\:scale-50:hover,
.simple-ui-focus\:scale-50:focus,
.simple-ui-active\:scale-50:active {
	--simple-ui-scale-x: 0.5;
	--simple-ui-scale-y: 0.5;
}
.simple-ui-scale-75,
.simple-ui-hover\:scale-75:hover,
.simple-ui-focus\:scale-75:focus,
.simple-ui-active\:scale-75:active {
	--simple-ui-scale-x: 0.75;
	--simple-ui-scale-y: 0.75;
}
.simple-ui-scale-90,
.simple-ui-hover\:scale-90:hover,
.simple-ui-focus\:scale-90:focus,
.simple-ui-active\:scale-90:active {
	--simple-ui-scale-x: 0.9;
	--simple-ui-scale-y: 0.9;
}
.simple-ui-scale-95,
.simple-ui-hover\:scale-95:hover,
.simple-ui-focus\:scale-95:focus,
.simple-ui-active\:scale-95:active {
	--simple-ui-scale-x: 0.95;
	--simple-ui-scale-y: 0.95;
}
.simple-ui-scale-100,
.simple-ui-hover\:scale-100:hover,
.simple-ui-focus\:scale-100:focus,
.simple-ui-active\:scale-100:active {
	--simple-ui-scale-x: 1;
	--simple-ui-scale-y: 1;
}
.simple-ui-scale-105,
.simple-ui-hover\:scale-105:hover,
.simple-ui-focus\:scale-105:focus,
.simple-ui-active\:scale-105:active {
	--simple-ui-scale-x: 1.05;
	--simple-ui-scale-y: 1.05;
}
.simple-ui-scale-110,
.simple-ui-hover\:scale-110:hover,
.simple-ui-focus\:scale-110:focus,
.simple-ui-active\:scale-110:active {
	--simple-ui-scale-x: 1.1;
	--simple-ui-scale-y: 1.1;
}
.simple-ui-scale-125,
.simple-ui-hover\:scale-125:hover,
.simple-ui-focus\:scale-125:focus,
.simple-ui-active\:scale-125:active {
	--simple-ui-scale-x: 1.25;
	--simple-ui-scale-y: 1.25;
}
.simple-ui-scale-150,
.simple-ui-hover\:scale-150:hover,
.simple-ui-focus\:scale-150:focus,
.simple-ui-active\:scale-150:active {
	--simple-ui-scale-x: 1.5;
	--simple-ui-scale-y: 1.5;
}
.simple-ui-scaleX-0,
.simple-ui-hover\:scaleX-0:hover,
.simple-ui-focus\:scaleX-0:focus,
.simple-ui-active\:scaleX-0:active {
	--simple-ui-scale-x: 0;
}
.simple-ui-scaleX-50,
.simple-ui-hover\:scaleX-50:hover,
.simple-ui-focus\:scaleX-50:focus,
.simple-ui-active\:scaleX-50:active {
	--simple-ui-scale-x: 0.5;
}
.simple-ui-scaleX-75,
.simple-ui-hover\:scaleX-75:hover,
.simple-ui-focus\:scaleX-75:focus,
.simple-ui-active\:scaleX-75:active {
	--simple-ui-scale-x: 0.75;
}
.simple-ui-scaleX-90,
.simple-ui-hover\:scaleX-90:hover,
.simple-ui-focus\:scaleX-90:focus,
.simple-ui-active\:scaleX-90:active {
	--simple-ui-scale-x: 0.9;
}
.simple-ui-scaleX-95,
.simple-ui-hover\:scaleX-95:hover,
.simple-ui-focus\:scaleX-95:focus,
.simple-ui-active\:scaleX-95:active {
	--simple-ui-scale-x: 0.95;
}
.simple-ui-scaleX-100,
.simple-ui-hover\:scaleX-100:hover,
.simple-ui-focus\:scaleX-100:focus,
.simple-ui-active\:scaleX-100:active {
	--simple-ui-scale-x: 1;
}
.simple-ui-scaleX-105,
.simple-ui-hover\:scaleX-105:hover,
.simple-ui-focus\:scaleX-105:focus,
.simple-ui-active\:scaleX-105:active {
	--simple-ui-scale-x: 1.05;
}
.simple-ui-scaleX-110,
.simple-ui-hover\:scaleX-110:hover,
.simple-ui-focus\:scaleX-110:focus,
.simple-ui-active\:scaleX-110:active {
	--simple-ui-scale-x: 1.1;
}
.simple-ui-scaleX-125,
.simple-ui-hover\:scaleX-125:hover,
.simple-ui-focus\:scaleX-125:focus,
.simple-ui-active\:scaleX-125:active {
	--simple-ui-scale-x: 1.25;
}
.simple-ui-scaleX-150,
.simple-ui-hover\:scaleX-150:hover,
.simple-ui-focus\:scaleX-150:focus,
.simple-ui-active\:scaleX-150:active {
	--simple-ui-scale-x: 1.5;
}
.simple-ui-scaleY-0,
.simple-ui-hover\:scaleY-0:hover,
.simple-ui-focus\:scaleY-0:focus,
.simple-ui-active\:scaleY-0:active {
	--simple-ui-scale-y: 0;
}
.simple-ui-scaleY-50,
.simple-ui-hover\:scaleY-50:hover,
.simple-ui-focus\:scaleY-50:focus,
.simple-ui-active\:scaleY-50:active {
	--simple-ui-scale-y: 0.5;
}
.simple-ui-scaleY-75,
.simple-ui-hover\:scaleY-75:hover,
.simple-ui-focus\:scaleY-75:focus,
.simple-ui-active\:scaleY-75:active {
	--simple-ui-scale-y: 0.75;
}
.simple-ui-scaleY-90,
.simple-ui-hover\:scaleY-90:hover,
.simple-ui-focus\:scaleY-90:focus,
.simple-ui-active\:scaleY-90:active {
	--simple-ui-scale-y: 0.9;
}
.simple-ui-scaleY-95,
.simple-ui-hover\:scaleY-95:hover,
.simple-ui-focus\:scaleY-95:focus,
.simple-ui-active\:scaleY-95:active {
	--simple-ui-scale-y: 0.95;
}
.simple-ui-scaleY-100,
.simple-ui-hover\:scaleY-100:hover,
.simple-ui-focus\:scaleY-100:focus,
.simple-ui-active\:scaleY-100:active {
	--simple-ui-scale-y: 1;
}
.simple-ui-scaleY-105,
.simple-ui-hover\:scaleY-105:hover,
.simple-ui-focus\:scaleY-105:focus,
.simple-ui-active\:scaleY-105:active {
	--simple-ui-scale-y: 1.05;
}
.simple-ui-scaleY-110,
.simple-ui-hover\:scaleY-110:hover,
.simple-ui-focus\:scaleY-110:focus,
.simple-ui-active\:scaleY-110:active {
	--simple-ui-scale-y: 1.1;
}
.simple-ui-scaleY-125,
.simple-ui-hover\:scaleY-125:hover,
.simple-ui-focus\:scaleY-125:focus,
.simple-ui-active\:scaleY-125:active {
	--simple-ui-scale-y: 1.25;
}
.simple-ui-scaleY-150,
.simple-ui-hover\:scaleY-150:hover,
.simple-ui-focus\:scaleY-150:focus,
.simple-ui-active\:scaleY-150:active {
	--simple-ui-scale-y: 1.5;
}
