.simple-ui-bg-origin-border,
.simple-ui-hover\:bg-origin-border:hover,
.simple-ui-focus\:bg-origin-border:focus,
.simple-ui-active\:bg-origin-border:active {
  background-origin: border-box;
}
.simple-ui-bg-origin-padding,
.simple-ui-hover\:bg-origin-padding:hover,
.simple-ui-focus\:bg-origin-padding:focus,
.simple-ui-active\:bg-origin-padding:active {
  background-origin: padding-box;
}
.simple-ui-bg-origin-content,
.simple-ui-hover\:bg-origin-content:hover,
.simple-ui-focus\:bg-origin-content:focus,
.simple-ui-active\:bg-origin-content:active {
  background-origin: content-box;
}
