.simple-ui-alignSelf-auto,
.simple-ui-hover\:alignSelf-auto:hover,
.simple-ui-focus\:alignSelf-auto:focus,
.simple-ui-active\:alignSelf-auto:active {
	align-self: auto;
}

.simple-ui-alignSelf-start,
.simple-ui-hover\:alignSelf-start:hover,
.simple-ui-focus\:alignSelf-start:focus,
.simple-ui-active\:alignSelf-start:active {
	align-self: flex-start;
}

.simple-ui-alignSelf-end,
.simple-ui-hover\:alignSelf-end:hover,
.simple-ui-focus\:alignSelf-end:focus,
.simple-ui-active\:alignSelf-end:active {
	align-self: flex-end;
}

.simple-ui-alignSelf-center,
.simple-ui-hover\:alignSelf-center:hover,
.simple-ui-focus\:alignSelf-center:focus,
.simple-ui-active\:alignSelf-center:active {
	align-self: center;
}

.simple-ui-alignSelf-stretch,
.simple-ui-hover\:alignSelf-stretch:hover,
.simple-ui-focus\:alignSelf-stretch:focus,
.simple-ui-active\:alignSelf-stretch:active {
	align-self: stretch;
}

.simple-ui-alignSelf-baseline,
.simple-ui-hover\:alignSelf-baseline:hover,
.simple-ui-focus\:alignSelf-baseline:focus,
.simple-ui-active\:alignSelf-baseline:active {
	align-self: baseline;
}
