.flexDirection-row,
.hover\:flexDirection-row:hover,
.focus\:flexDirection-row:focus,
.active\:flexDirection-row:active {
	flex-direction: row;
}
.flexDirection-row-reverse,
.hover\:flexDirection-row-reverse:hover,
.focus\:flexDirection-row-reverse:focus,
.active\:flexDirection-row-reverse:active {
	flex-direction: row-reverse;
}
.flexDirection-col,
.hover\:flexDirection-col:hover,
.focus\:flexDirection-col:focus,
.active\:flexDirection-col:active {
	flex-direction: column;
}
.flexDirection-col-reverse,
.hover\:flexDirection-col-reverse:hover,
.focus\:flexDirection-col-reverse:focus,
.active\:flexDirection-col-reverse:active {
	flex-direction: column-reverse;
}
