.simple-ui-flexDirection-row,
.simple-ui-hover\:flexDirection-row:hover,
.simple-ui-focus\:flexDirection-row:focus,
.simple-ui-active\:flexDirection-row:active {
	flex-direction: row;
}
.simple-ui-flexDirection-row-reverse,
.simple-ui-hover\:flexDirection-row-reverse:hover,
.simple-ui-focus\:flexDirection-row-reverse:focus,
.simple-ui-active\:flexDirection-row-reverse:active {
	flex-direction: row-reverse;
}
.simple-ui-flexDirection-col,
.simple-ui-hover\:flexDirection-col:hover,
.simple-ui-focus\:flexDirection-col:focus,
.simple-ui-active\:flexDirection-col:active {
	flex-direction: column;
}
.simple-ui-flexDirection-col-reverse,
.simple-ui-hover\:flexDirection-col-reverse:hover,
.simple-ui-focus\:flexDirection-col-reverse:focus,
.simple-ui-active\:flexDirection-col-reverse:active {
	flex-direction: column-reverse;
}
