.flex-row,
.hover\:flex-row:hover,
.focus\:flex-row:focus,
.active\:flex-row:active {
	flex-direction: row;
}
.flex-row-reverse,
.hover\:flex-row-reverse:hover,
.focus\:flex-row-reverse:focus,
.active\:flex-row-reverse:active {
	flex-direction: row-reverse;
}
.flex-col,
.hover\:flex-col:hover,
.focus\:flex-col:focus,
.active\:flex-col:active {
	flex-direction: column;
}
.flex-col-reverse,
.hover\:flex-col-reverse:hover,
.focus\:flex-col-reverse:focus,
.active\:flex-col-reverse:active {
	flex-direction: column-reverse;
}
