.simple-ui-float-right,
.simple-ui-hover\:float-right:hover,
.simple-ui-focus\:float-right:focus,
.simple-ui-active\:float-right:active {
  float: right;
}
.simple-ui-float-left,
.simple-ui-hover\:float-left:hover,
.simple-ui-focus\:float-left:focus,
.simple-ui-active\:float-left:active {
  float: left;
}
.simple-ui-float-none,
.simple-ui-hover\:float-none:hover,
.simple-ui-focus\:float-none:focus,
.simple-ui-active\:float-none:active {
  float: none;
}
