.simple-ui-translateX-0,
.simple-ui-hover\:translateX-0:hover,
.simple-ui-focus\:translateX-0:focus,
.simple-ui-active\:translateX-0:active {
	--simple-ui-translate-x: 0px;
}
.simple-ui-translateX-px,
.simple-ui-hover\:translateX-px:hover,
.simple-ui-focus\:translateX-px:focus,
.simple-ui-active\:translateX-px:active {
	--simple-ui-translate-x: 1px;
}
.simple-ui-translateX-0\.5,
.simple-ui-hover\:translateX-0\.5:hover,
.simple-ui-focus\:translateX-0\.5:focus,
.simple-ui-active\:translateX-0\.5:active {
	--simple-ui-translate-x: 0.125rem;
}
.simple-ui-translateX-1,
.simple-ui-hover\:translateX-1:hover,
.simple-ui-focus\:translateX-1:focus,
.simple-ui-active\:translateX-1:active {
	--simple-ui-translate-x: 0.25rem;
}
.simple-ui-translateX-1\.5,
.simple-ui-hover\:translateX-1\.5:hover,
.simple-ui-focus\:translateX-1\.5:focus,
.simple-ui-active\:translateX-1\.5:active {
	--simple-ui-translate-x: 0.375rem;
}
.simple-ui-translateX-2,
.simple-ui-hover\:translateX-2:hover,
.simple-ui-focus\:translateX-2:focus,
.simple-ui-active\:translateX-2:active {
	--simple-ui-translate-x: 0.5rem;
}
.simple-ui-translateX-2\.5,
.simple-ui-hover\:translateX-2\.5:hover,
.simple-ui-focus\:translateX-2\.5:focus,
.simple-ui-active\:translateX-2\.5:active {
	--simple-ui-translate-x: 0.625rem;
}
.simple-ui-translateX-3,
.simple-ui-hover\:translateX-3:hover,
.simple-ui-focus\:translateX-3:focus,
.simple-ui-active\:translateX-3:active {
	--simple-ui-translate-x: 0.75rem;
}
.simple-ui-translateX-3\.5,
.simple-ui-hover\:translateX-3\.5:hover,
.simple-ui-focus\:translateX-3\.5:focus,
.simple-ui-active\:translateX-3\.5:active {
	--simple-ui-translate-x: 0.875rem;
}
.simple-ui-translateX-4,
.simple-ui-hover\:translateX-4:hover,
.simple-ui-focus\:translateX-4:focus,
.simple-ui-active\:translateX-4:active {
	--simple-ui-translate-x: 1rem;
}
.simple-ui-translateX-5,
.simple-ui-hover\:translateX-5:hover,
.simple-ui-focus\:translateX-5:focus,
.simple-ui-active\:translateX-5:active {
	--simple-ui-translate-x: 1.25rem;
}
.simple-ui-translateX-6,
.simple-ui-hover\:translateX-6:hover,
.simple-ui-focus\:translateX-6:focus,
.simple-ui-active\:translateX-6:active {
	--simple-ui-translate-x: 1.5rem;
}
.simple-ui-translateX-7,
.simple-ui-hover\:translateX-7:hover,
.simple-ui-focus\:translateX-7:focus,
.simple-ui-active\:translateX-7:active {
	--simple-ui-translate-x: 1.75rem;
}
.simple-ui-translateX-8,
.simple-ui-hover\:translateX-8:hover,
.simple-ui-focus\:translateX-8:focus,
.simple-ui-active\:translateX-8:active {
	--simple-ui-translate-x: 2rem;
}
.simple-ui-translateX-9,
.simple-ui-hover\:translateX-9:hover,
.simple-ui-focus\:translateX-9:focus,
.simple-ui-active\:translateX-9:active {
	--simple-ui-translate-x: 2.25rem;
}
.simple-ui-translateX-10,
.simple-ui-hover\:translateX-10:hover,
.simple-ui-focus\:translateX-10:focus,
.simple-ui-active\:translateX-10:active {
	--simple-ui-translate-x: 2.5rem;
}
.simple-ui-translateX-11,
.simple-ui-hover\:translateX-11:hover,
.simple-ui-focus\:translateX-11:focus,
.simple-ui-active\:translateX-11:active {
	--simple-ui-translate-x: 2.75rem;
}
.simple-ui-translateX-12,
.simple-ui-hover\:translateX-12:hover,
.simple-ui-focus\:translateX-12:focus,
.simple-ui-active\:translateX-12:active {
	--simple-ui-translate-x: 3rem;
}
.simple-ui-translateX-14,
.simple-ui-hover\:translateX-14:hover,
.simple-ui-focus\:translateX-14:focus,
.simple-ui-active\:translateX-14:active {
	--simple-ui-translate-x: 3.5rem;
}
.simple-ui-translateX-16,
.simple-ui-hover\:translateX-16:hover,
.simple-ui-focus\:translateX-16:focus,
.simple-ui-active\:translateX-16:active {
	--simple-ui-translate-x: 4rem;
}
.simple-ui-translateX-20,
.simple-ui-hover\:translateX-20:hover,
.simple-ui-focus\:translateX-20:focus,
.simple-ui-active\:translateX-20:active {
	--simple-ui-translate-x: 5rem;
}
.simple-ui-translateX-24,
.simple-ui-hover\:translateX-24:hover,
.simple-ui-focus\:translateX-24:focus,
.simple-ui-active\:translateX-24:active {
	--simple-ui-translate-x: 6rem;
}
.simple-ui-translateX-28,
.simple-ui-hover\:translateX-28:hover,
.simple-ui-focus\:translateX-28:focus,
.simple-ui-active\:translateX-28:active {
	--simple-ui-translate-x: 7rem;
}
.simple-ui-translateX-32,
.simple-ui-hover\:translateX-32:hover,
.simple-ui-focus\:translateX-32:focus,
.simple-ui-active\:translateX-32:active {
	--simple-ui-translate-x: 8rem;
}
.simple-ui-translateX-36,
.simple-ui-hover\:translateX-36:hover,
.simple-ui-focus\:translateX-36:focus,
.simple-ui-active\:translateX-36:active {
	--simple-ui-translate-x: 9rem;
}
.simple-ui-translateX-40,
.simple-ui-hover\:translateX-40:hover,
.simple-ui-focus\:translateX-40:focus,
.simple-ui-active\:translateX-40:active {
	--simple-ui-translate-x: 10rem;
}
.simple-ui-translateX-44,
.simple-ui-hover\:translateX-44:hover,
.simple-ui-focus\:translateX-44:focus,
.simple-ui-active\:translateX-44:active {
	--simple-ui-translate-x: 11rem;
}
.simple-ui-translateX-48,
.simple-ui-hover\:translateX-48:hover,
.simple-ui-focus\:translateX-48:focus,
.simple-ui-active\:translateX-48:active {
	--simple-ui-translate-x: 12rem;
}
.simple-ui-translateX-52,
.simple-ui-hover\:translateX-52:hover,
.simple-ui-focus\:translateX-52:focus,
.simple-ui-active\:translateX-52:active {
	--simple-ui-translate-x: 13rem;
}
.simple-ui-translateX-56,
.simple-ui-hover\:translateX-56:hover,
.simple-ui-focus\:translateX-56:focus,
.simple-ui-active\:translateX-56:active {
	--simple-ui-translate-x: 14rem;
}
.simple-ui-translateX-60,
.simple-ui-hover\:translateX-60:hover,
.simple-ui-focus\:translateX-60:focus,
.simple-ui-active\:translateX-60:active {
	--simple-ui-translate-x: 15rem;
}
.simple-ui-translateX-64,
.simple-ui-hover\:translateX-64:hover,
.simple-ui-focus\:translateX-64:focus,
.simple-ui-active\:translateX-64:active {
	--simple-ui-translate-x: 16rem;
}
.simple-ui-translateX-72,
.simple-ui-hover\:translateX-72:hover,
.simple-ui-focus\:translateX-72:focus,
.simple-ui-active\:translateX-72:active {
	--simple-ui-translate-x: 18rem;
}
.simple-ui-translateX-80,
.simple-ui-hover\:translateX-80:hover,
.simple-ui-focus\:translateX-80:focus,
.simple-ui-active\:translateX-80:active {
	--simple-ui-translate-x: 20rem;
}
.simple-ui-translateX-96,
.simple-ui-hover\:translateX-96:hover,
.simple-ui-focus\:translateX-96:focus,
.simple-ui-active\:translateX-96:active {
	--simple-ui-translate-x: 24rem;
}
.simple-ui-translateX-1\/2,
.simple-ui-hover\:translateX-1\/2:hover,
.simple-ui-focus\:translateX-1\/2:focus,
.simple-ui-active\:translateX-1\/2:active {
	--simple-ui-translate-x: 50%;
}
.simple-ui-translateX-1\/3,
.simple-ui-hover\:translateX-1\/3:hover,
.simple-ui-focus\:translateX-1\/3:focus,
.simple-ui-active\:translateX-1\/3:active {
	--simple-ui-translate-x: 33.333333%;
}
.simple-ui-translateX-2\/3,
.simple-ui-hover\:translateX-2\/3:hover,
.simple-ui-focus\:translateX-2\/3:focus,
.simple-ui-active\:translateX-2\/3:active {
	--simple-ui-translate-x: 66.666667%;
}
.simple-ui-translateX-1\/4,
.simple-ui-hover\:translateX-1\/4:hover,
.simple-ui-focus\:translateX-1\/4:focus,
.simple-ui-active\:translateX-1\/4:active {
	--simple-ui-translate-x: 25%;
}
.simple-ui-translateX-2\/4,
.simple-ui-hover\:translateX-2\/4:hover,
.simple-ui-focus\:translateX-2\/4:focus,
.simple-ui-active\:translateX-2\/4:active {
	--simple-ui-translate-x: 50%;
}
.simple-ui-translateX-3\/4,
.simple-ui-hover\:translateX-3\/4:hover,
.simple-ui-focus\:translateX-3\/4:focus,
.simple-ui-active\:translateX-3\/4:active {
	--simple-ui-translate-x: 75%;
}
.simple-ui-translateX-full,
.simple-ui-hover\:translateX-full:hover,
.simple-ui-focus\:translateX-full:focus,
.simple-ui-active\:translateX-full:active {
	--simple-ui-translate-x: 100%;
}
.simple-ui-translateX--0,
.simple-ui-hover\:translateX--0:hover,
.simple-ui-focus\:translateX--0:focus,
.simple-ui-active\:translateX--0:active {
	--simple-ui-translate-x: 0px;
}
.simple-ui-translateX--px,
.simple-ui-hover\:translateX--px:hover,
.simple-ui-focus\:translateX--px:focus,
.simple-ui-active\:translateX--px:active {
	--simple-ui-translate-x: -1px;
}
.simple-ui-translateX--0\.5,
.simple-ui-hover\:translateX--0\.5:hover,
.simple-ui-focus\:translateX--0\.5:focus,
.simple-ui-active\:translateX--0\.5:active {
	--simple-ui-translate-x: -0.125rem;
}
.simple-ui-translateX--1,
.simple-ui-hover\:translateX--1:hover,
.simple-ui-focus\:translateX--1:focus,
.simple-ui-active\:translateX--1:active {
	--simple-ui-translate-x: -0.25rem;
}
.simple-ui-translateX--1\.5,
.simple-ui-hover\:translateX--1\.5:hover,
.simple-ui-focus\:translateX--1\.5:focus,
.simple-ui-active\:translateX--1\.5:active {
	--simple-ui-translate-x: -0.375rem;
}
.simple-ui-translateX--2,
.simple-ui-hover\:translateX--2:hover,
.simple-ui-focus\:translateX--2:focus,
.simple-ui-active\:translateX--2:active {
	--simple-ui-translate-x: -0.5rem;
}
.simple-ui-translateX--2\.5,
.simple-ui-hover\:translateX--2\.5:hover,
.simple-ui-focus\:translateX--2\.5:focus,
.simple-ui-active\:translateX--2\.5:active {
	--simple-ui-translate-x: -0.625rem;
}
.simple-ui-translateX--3,
.simple-ui-hover\:translateX--3:hover,
.simple-ui-focus\:translateX--3:focus,
.simple-ui-active\:translateX--3:active {
	--simple-ui-translate-x: -0.75rem;
}
.simple-ui-translateX--3\.5,
.simple-ui-hover\:translateX--3\.5:hover,
.simple-ui-focus\:translateX--3\.5:focus,
.simple-ui-active\:translateX--3\.5:active {
	--simple-ui-translate-x: -0.875rem;
}
.simple-ui-translateX--4,
.simple-ui-hover\:translateX--4:hover,
.simple-ui-focus\:translateX--4:focus,
.simple-ui-active\:translateX--4:active {
	--simple-ui-translate-x: -1rem;
}
.simple-ui-translateX--5,
.simple-ui-hover\:translateX--5:hover,
.simple-ui-focus\:translateX--5:focus,
.simple-ui-active\:translateX--5:active {
	--simple-ui-translate-x: -1.25rem;
}
.simple-ui-translateX--6,
.simple-ui-hover\:translateX--6:hover,
.simple-ui-focus\:translateX--6:focus,
.simple-ui-active\:translateX--6:active {
	--simple-ui-translate-x: -1.5rem;
}
.simple-ui-translateX--7,
.simple-ui-hover\:translateX--7:hover,
.simple-ui-focus\:translateX--7:focus,
.simple-ui-active\:translateX--7:active {
	--simple-ui-translate-x: -1.75rem;
}
.simple-ui-translateX--8,
.simple-ui-hover\:translateX--8:hover,
.simple-ui-focus\:translateX--8:focus,
.simple-ui-active\:translateX--8:active {
	--simple-ui-translate-x: -2rem;
}
.simple-ui-translateX--9,
.simple-ui-hover\:translateX--9:hover,
.simple-ui-focus\:translateX--9:focus,
.simple-ui-active\:translateX--9:active {
	--simple-ui-translate-x: -2.25rem;
}
.simple-ui-translateX--10,
.simple-ui-hover\:translateX--10:hover,
.simple-ui-focus\:translateX--10:focus,
.simple-ui-active\:translateX--10:active {
	--simple-ui-translate-x: -2.5rem;
}
.simple-ui-translateX--11,
.simple-ui-hover\:translateX--11:hover,
.simple-ui-focus\:translateX--11:focus,
.simple-ui-active\:translateX--11:active {
	--simple-ui-translate-x: -2.75rem;
}
.simple-ui-translateX--12,
.simple-ui-hover\:translateX--12:hover,
.simple-ui-focus\:translateX--12:focus,
.simple-ui-active\:translateX--12:active {
	--simple-ui-translate-x: -3rem;
}
.simple-ui-translateX--14,
.simple-ui-hover\:translateX--14:hover,
.simple-ui-focus\:translateX--14:focus,
.simple-ui-active\:translateX--14:active {
	--simple-ui-translate-x: -3.5rem;
}
.simple-ui-translateX--16,
.simple-ui-hover\:translateX--16:hover,
.simple-ui-focus\:translateX--16:focus,
.simple-ui-active\:translateX--16:active {
	--simple-ui-translate-x: -4rem;
}
.simple-ui-translateX--20,
.simple-ui-hover\:translateX--20:hover,
.simple-ui-focus\:translateX--20:focus,
.simple-ui-active\:translateX--20:active {
	--simple-ui-translate-x: -5rem;
}
.simple-ui-translateX--24,
.simple-ui-hover\:translateX--24:hover,
.simple-ui-focus\:translateX--24:focus,
.simple-ui-active\:translateX--24:active {
	--simple-ui-translate-x: -6rem;
}
.simple-ui-translateX--28,
.simple-ui-hover\:translateX--28:hover,
.simple-ui-focus\:translateX--28:focus,
.simple-ui-active\:translateX--28:active {
	--simple-ui-translate-x: -7rem;
}
.simple-ui-translateX--32,
.simple-ui-hover\:translateX--32:hover,
.simple-ui-focus\:translateX--32:focus,
.simple-ui-active\:translateX--32:active {
	--simple-ui-translate-x: -8rem;
}
.simple-ui-translateX--36,
.simple-ui-hover\:translateX--36:hover,
.simple-ui-focus\:translateX--36:focus,
.simple-ui-active\:translateX--36:active {
	--simple-ui-translate-x: -9rem;
}
.simple-ui-translateX--40,
.simple-ui-hover\:translateX--40:hover,
.simple-ui-focus\:translateX--40:focus,
.simple-ui-active\:translateX--40:active {
	--simple-ui-translate-x: -10rem;
}
.simple-ui-translateX--44,
.simple-ui-hover\:translateX--44:hover,
.simple-ui-focus\:translateX--44:focus,
.simple-ui-active\:translateX--44:active {
	--simple-ui-translate-x: -11rem;
}
.simple-ui-translateX--48,
.simple-ui-hover\:translateX--48:hover,
.simple-ui-focus\:translateX--48:focus,
.simple-ui-active\:translateX--48:active {
	--simple-ui-translate-x: -12rem;
}
.simple-ui-translateX--52,
.simple-ui-hover\:translateX--52:hover,
.simple-ui-focus\:translateX--52:focus,
.simple-ui-active\:translateX--52:active {
	--simple-ui-translate-x: -13rem;
}
.simple-ui-translateX--56,
.simple-ui-hover\:translateX--56:hover,
.simple-ui-focus\:translateX--56:focus,
.simple-ui-active\:translateX--56:active {
	--simple-ui-translate-x: -14rem;
}
.simple-ui-translateX--60,
.simple-ui-hover\:translateX--60:hover,
.simple-ui-focus\:translateX--60:focus,
.simple-ui-active\:translateX--60:active {
	--simple-ui-translate-x: -15rem;
}
.simple-ui-translateX--64,
.simple-ui-hover\:translateX--64:hover,
.simple-ui-focus\:translateX--64:focus,
.simple-ui-active\:translateX--64:active {
	--simple-ui-translate-x: -16rem;
}
.simple-ui-translateX--72,
.simple-ui-hover\:translateX--72:hover,
.simple-ui-focus\:translateX--72:focus,
.simple-ui-active\:translateX--72:active {
	--simple-ui-translate-x: -18rem;
}
.simple-ui-translateX--80,
.simple-ui-hover\:translateX--80:hover,
.simple-ui-focus\:translateX--80:focus,
.simple-ui-active\:translateX--80:active {
	--simple-ui-translate-x: -20rem;
}
.simple-ui-translateX--96,
.simple-ui-hover\:translateX--96:hover,
.simple-ui-focus\:translateX--96:focus,
.simple-ui-active\:translateX--96:active {
	--simple-ui-translate-x: -24rem;
}
.simple-ui-translateX--1\/2,
.simple-ui-hover\:translateX--1\/2:hover,
.simple-ui-focus\:translateX--1\/2:focus,
.simple-ui-active\:translateX--1\/2:active {
	--simple-ui-translate-x: -50%;
}
.simple-ui-translateX--1\/3,
.simple-ui-hover\:translateX--1\/3:hover,
.simple-ui-focus\:translateX--1\/3:focus,
.simple-ui-active\:translateX--1\/3:active {
	--simple-ui-translate-x: -33.333333%;
}
.simple-ui-translateX--2\/3,
.simple-ui-hover\:translateX--2\/3:hover,
.simple-ui-focus\:translateX--2\/3:focus,
.simple-ui-active\:translateX--2\/3:active {
	--simple-ui-translate-x: -66.666667%;
}
.simple-ui-translateX--1\/4,
.simple-ui-hover\:translateX--1\/4:hover,
.simple-ui-focus\:translateX--1\/4:focus,
.simple-ui-active\:translateX--1\/4:active {
	--simple-ui-translate-x: -25%;
}
.simple-ui-translateX--2\/4,
.simple-ui-hover\:translateX--2\/4:hover,
.simple-ui-focus\:translateX--2\/4:focus,
.simple-ui-active\:translateX--2\/4:active {
	--simple-ui-translate-x: -50%;
}
.simple-ui-translateX--3\/4,
.simple-ui-hover\:translateX--3\/4:hover,
.simple-ui-focus\:translateX--3\/4:focus,
.simple-ui-active\:translateX--3\/4:active {
	--simple-ui-translate-x: -75%;
}
.simple-ui-translateX--full,
.simple-ui-hover\:translateX--full:hover,
.simple-ui-focus\:translateX--full:focus,
.simple-ui-active\:translateX--full:active {
	--simple-ui-translate-x: -100%;
}
.simple-ui-translateY-0,
.simple-ui-hover\:translateY-0:hover,
.simple-ui-focus\:translateY-0:focus,
.simple-ui-active\:translateY-0:active {
	--simple-ui-translate-y: 0px;
}
.simple-ui-translateY-px,
.simple-ui-hover\:translateY-px:hover,
.simple-ui-focus\:translateY-px:focus,
.simple-ui-active\:translateY-px:active {
	--simple-ui-translate-y: 1px;
}
.simple-ui-translateY-0\.5,
.simple-ui-hover\:translateY-0\.5:hover,
.simple-ui-focus\:translateY-0\.5:focus,
.simple-ui-active\:translateY-0\.5:active {
	--simple-ui-translate-y: 0.125rem;
}
.simple-ui-translateY-1,
.simple-ui-hover\:translateY-1:hover,
.simple-ui-focus\:translateY-1:focus,
.simple-ui-active\:translateY-1:active {
	--simple-ui-translate-y: 0.25rem;
}
.simple-ui-translateY-1\.5,
.simple-ui-hover\:translateY-1\.5:hover,
.simple-ui-focus\:translateY-1\.5:focus,
.simple-ui-active\:translateY-1\.5:active {
	--simple-ui-translate-y: 0.375rem;
}
.simple-ui-translateY-2,
.simple-ui-hover\:translateY-2:hover,
.simple-ui-focus\:translateY-2:focus,
.simple-ui-active\:translateY-2:active {
	--simple-ui-translate-y: 0.5rem;
}
.simple-ui-translateY-2\.5,
.simple-ui-hover\:translateY-2\.5:hover,
.simple-ui-focus\:translateY-2\.5:focus,
.simple-ui-active\:translateY-2\.5:active {
	--simple-ui-translate-y: 0.625rem;
}
.simple-ui-translateY-3,
.simple-ui-hover\:translateY-3:hover,
.simple-ui-focus\:translateY-3:focus,
.simple-ui-active\:translateY-3:active {
	--simple-ui-translate-y: 0.75rem;
}
.simple-ui-translateY-3\.5,
.simple-ui-hover\:translateY-3\.5:hover,
.simple-ui-focus\:translateY-3\.5:focus,
.simple-ui-active\:translateY-3\.5:active {
	--simple-ui-translate-y: 0.875rem;
}
.simple-ui-translateY-4,
.simple-ui-hover\:translateY-4:hover,
.simple-ui-focus\:translateY-4:focus,
.simple-ui-active\:translateY-4:active {
	--simple-ui-translate-y: 1rem;
}
.simple-ui-translateY-5,
.simple-ui-hover\:translateY-5:hover,
.simple-ui-focus\:translateY-5:focus,
.simple-ui-active\:translateY-5:active {
	--simple-ui-translate-y: 1.25rem;
}
.simple-ui-translateY-6,
.simple-ui-hover\:translateY-6:hover,
.simple-ui-focus\:translateY-6:focus,
.simple-ui-active\:translateY-6:active {
	--simple-ui-translate-y: 1.5rem;
}
.simple-ui-translateY-7,
.simple-ui-hover\:translateY-7:hover,
.simple-ui-focus\:translateY-7:focus,
.simple-ui-active\:translateY-7:active {
	--simple-ui-translate-y: 1.75rem;
}
.simple-ui-translateY-8,
.simple-ui-hover\:translateY-8:hover,
.simple-ui-focus\:translateY-8:focus,
.simple-ui-active\:translateY-8:active {
	--simple-ui-translate-y: 2rem;
}
.simple-ui-translateY-9,
.simple-ui-hover\:translateY-9:hover,
.simple-ui-focus\:translateY-9:focus,
.simple-ui-active\:translateY-9:active {
	--simple-ui-translate-y: 2.25rem;
}
.simple-ui-translateY-10,
.simple-ui-hover\:translateY-10:hover,
.simple-ui-focus\:translateY-10:focus,
.simple-ui-active\:translateY-10:active {
	--simple-ui-translate-y: 2.5rem;
}
.simple-ui-translateY-11,
.simple-ui-hover\:translateY-11:hover,
.simple-ui-focus\:translateY-11:focus,
.simple-ui-active\:translateY-11:active {
	--simple-ui-translate-y: 2.75rem;
}
.simple-ui-translateY-12,
.simple-ui-hover\:translateY-12:hover,
.simple-ui-focus\:translateY-12:focus,
.simple-ui-active\:translateY-12:active {
	--simple-ui-translate-y: 3rem;
}
.simple-ui-translateY-14,
.simple-ui-hover\:translateY-14:hover,
.simple-ui-focus\:translateY-14:focus,
.simple-ui-active\:translateY-14:active {
	--simple-ui-translate-y: 3.5rem;
}
.simple-ui-translateY-16,
.simple-ui-hover\:translateY-16:hover,
.simple-ui-focus\:translateY-16:focus,
.simple-ui-active\:translateY-16:active {
	--simple-ui-translate-y: 4rem;
}
.simple-ui-translateY-20,
.simple-ui-hover\:translateY-20:hover,
.simple-ui-focus\:translateY-20:focus,
.simple-ui-active\:translateY-20:active {
	--simple-ui-translate-y: 5rem;
}
.simple-ui-translateY-24,
.simple-ui-hover\:translateY-24:hover,
.simple-ui-focus\:translateY-24:focus,
.simple-ui-active\:translateY-24:active {
	--simple-ui-translate-y: 6rem;
}
.simple-ui-translateY-28,
.simple-ui-hover\:translateY-28:hover,
.simple-ui-focus\:translateY-28:focus,
.simple-ui-active\:translateY-28:active {
	--simple-ui-translate-y: 7rem;
}
.simple-ui-translateY-32,
.simple-ui-hover\:translateY-32:hover,
.simple-ui-focus\:translateY-32:focus,
.simple-ui-active\:translateY-32:active {
	--simple-ui-translate-y: 8rem;
}
.simple-ui-translateY-36,
.simple-ui-hover\:translateY-36:hover,
.simple-ui-focus\:translateY-36:focus,
.simple-ui-active\:translateY-36:active {
	--simple-ui-translate-y: 9rem;
}
.simple-ui-translateY-40,
.simple-ui-hover\:translateY-40:hover,
.simple-ui-focus\:translateY-40:focus,
.simple-ui-active\:translateY-40:active {
	--simple-ui-translate-y: 10rem;
}
.simple-ui-translateY-44,
.simple-ui-hover\:translateY-44:hover,
.simple-ui-focus\:translateY-44:focus,
.simple-ui-active\:translateY-44:active {
	--simple-ui-translate-y: 11rem;
}
.simple-ui-translateY-48,
.simple-ui-hover\:translateY-48:hover,
.simple-ui-focus\:translateY-48:focus,
.simple-ui-active\:translateY-48:active {
	--simple-ui-translate-y: 12rem;
}
.simple-ui-translateY-52,
.simple-ui-hover\:translateY-52:hover,
.simple-ui-focus\:translateY-52:focus,
.simple-ui-active\:translateY-52:active {
	--simple-ui-translate-y: 13rem;
}
.simple-ui-translateY-56,
.simple-ui-hover\:translateY-56:hover,
.simple-ui-focus\:translateY-56:focus,
.simple-ui-active\:translateY-56:active {
	--simple-ui-translate-y: 14rem;
}
.simple-ui-translateY-60,
.simple-ui-hover\:translateY-60:hover,
.simple-ui-focus\:translateY-60:focus,
.simple-ui-active\:translateY-60:active {
	--simple-ui-translate-y: 15rem;
}
.simple-ui-translateY-64,
.simple-ui-hover\:translateY-64:hover,
.simple-ui-focus\:translateY-64:focus,
.simple-ui-active\:translateY-64:active {
	--simple-ui-translate-y: 16rem;
}
.simple-ui-translateY-72,
.simple-ui-hover\:translateY-72:hover,
.simple-ui-focus\:translateY-72:focus,
.simple-ui-active\:translateY-72:active {
	--simple-ui-translate-y: 18rem;
}
.simple-ui-translateY-80,
.simple-ui-hover\:translateY-80:hover,
.simple-ui-focus\:translateY-80:focus,
.simple-ui-active\:translateY-80:active {
	--simple-ui-translate-y: 20rem;
}
.simple-ui-translateY-96,
.simple-ui-hover\:translateY-96:hover,
.simple-ui-focus\:translateY-96:focus,
.simple-ui-active\:translateY-96:active {
	--simple-ui-translate-y: 24rem;
}
.simple-ui-translateY-1\/2,
.simple-ui-hover\:translateY-1\/2:hover,
.simple-ui-focus\:translateY-1\/2:focus,
.simple-ui-active\:translateY-1\/2:active {
	--simple-ui-translate-y: 50%;
}
.simple-ui-translateY-1\/3,
.simple-ui-hover\:translateY-1\/3:hover,
.simple-ui-focus\:translateY-1\/3:focus,
.simple-ui-active\:translateY-1\/3:active {
	--simple-ui-translate-y: 33.333333%;
}
.simple-ui-translateY-2\/3,
.simple-ui-hover\:translateY-2\/3:hover,
.simple-ui-focus\:translateY-2\/3:focus,
.simple-ui-active\:translateY-2\/3:active {
	--simple-ui-translate-y: 66.666667%;
}
.simple-ui-translateY-1\/4,
.simple-ui-hover\:translateY-1\/4:hover,
.simple-ui-focus\:translateY-1\/4:focus,
.simple-ui-active\:translateY-1\/4:active {
	--simple-ui-translate-y: 25%;
}
.simple-ui-translateY-2\/4,
.simple-ui-hover\:translateY-2\/4:hover,
.simple-ui-focus\:translateY-2\/4:focus,
.simple-ui-active\:translateY-2\/4:active {
	--simple-ui-translate-y: 50%;
}
.simple-ui-translateY-3\/4,
.simple-ui-hover\:translateY-3\/4:hover,
.simple-ui-focus\:translateY-3\/4:focus,
.simple-ui-active\:translateY-3\/4:active {
	--simple-ui-translate-y: 75%;
}
.simple-ui-translateY-full,
.simple-ui-hover\:translateY-full:hover,
.simple-ui-focus\:translateY-full:focus,
.simple-ui-active\:translateY-full:active {
	--simple-ui-translate-y: 100%;
}
.simple-ui-translateY--0,
.simple-ui-hover\:translateY--0:hover,
.simple-ui-focus\:translateY--0:focus,
.simple-ui-active\:translateY--0:active {
	--simple-ui-translate-y: 0px;
}
.simple-ui-translateY--px,
.simple-ui-hover\:translateY--px:hover,
.simple-ui-focus\:translateY--px:focus,
.simple-ui-active\:translateY--px:active {
	--simple-ui-translate-y: -1px;
}
.simple-ui-translateY--0\.5,
.simple-ui-hover\:translateY--0\.5:hover,
.simple-ui-focus\:translateY--0\.5:focus,
.simple-ui-active\:translateY--0\.5:active {
	--simple-ui-translate-y: -0.125rem;
}
.simple-ui-translateY--1,
.simple-ui-hover\:translateY--1:hover,
.simple-ui-focus\:translateY--1:focus,
.simple-ui-active\:translateY--1:active {
	--simple-ui-translate-y: -0.25rem;
}
.simple-ui-translateY--1\.5,
.simple-ui-hover\:translateY--1\.5:hover,
.simple-ui-focus\:translateY--1\.5:focus,
.simple-ui-active\:translateY--1\.5:active {
	--simple-ui-translate-y: -0.375rem;
}
.simple-ui-translateY--2,
.simple-ui-hover\:translateY--2:hover,
.simple-ui-focus\:translateY--2:focus,
.simple-ui-active\:translateY--2:active {
	--simple-ui-translate-y: -0.5rem;
}
.simple-ui-translateY--2\.5,
.simple-ui-hover\:translateY--2\.5:hover,
.simple-ui-focus\:translateY--2\.5:focus,
.simple-ui-active\:translateY--2\.5:active {
	--simple-ui-translate-y: -0.625rem;
}
.simple-ui-translateY--3,
.simple-ui-hover\:translateY--3:hover,
.simple-ui-focus\:translateY--3:focus,
.simple-ui-active\:translateY--3:active {
	--simple-ui-translate-y: -0.75rem;
}
.simple-ui-translateY--3\.5,
.simple-ui-hover\:translateY--3\.5:hover,
.simple-ui-focus\:translateY--3\.5:focus,
.simple-ui-active\:translateY--3\.5:active {
	--simple-ui-translate-y: -0.875rem;
}
.simple-ui-translateY--4,
.simple-ui-hover\:translateY--4:hover,
.simple-ui-focus\:translateY--4:focus,
.simple-ui-active\:translateY--4:active {
	--simple-ui-translate-y: -1rem;
}
.simple-ui-translateY--5,
.simple-ui-hover\:translateY--5:hover,
.simple-ui-focus\:translateY--5:focus,
.simple-ui-active\:translateY--5:active {
	--simple-ui-translate-y: -1.25rem;
}
.simple-ui-translateY--6,
.simple-ui-hover\:translateY--6:hover,
.simple-ui-focus\:translateY--6:focus,
.simple-ui-active\:translateY--6:active {
	--simple-ui-translate-y: -1.5rem;
}
.simple-ui-translateY--7,
.simple-ui-hover\:translateY--7:hover,
.simple-ui-focus\:translateY--7:focus,
.simple-ui-active\:translateY--7:active {
	--simple-ui-translate-y: -1.75rem;
}
.simple-ui-translateY--8,
.simple-ui-hover\:translateY--8:hover,
.simple-ui-focus\:translateY--8:focus,
.simple-ui-active\:translateY--8:active {
	--simple-ui-translate-y: -2rem;
}
.simple-ui-translateY--9,
.simple-ui-hover\:translateY--9:hover,
.simple-ui-focus\:translateY--9:focus,
.simple-ui-active\:translateY--9:active {
	--simple-ui-translate-y: -2.25rem;
}
.simple-ui-translateY--10,
.simple-ui-hover\:translateY--10:hover,
.simple-ui-focus\:translateY--10:focus,
.simple-ui-active\:translateY--10:active {
	--simple-ui-translate-y: -2.5rem;
}
.simple-ui-translateY--11,
.simple-ui-hover\:translateY--11:hover,
.simple-ui-focus\:translateY--11:focus,
.simple-ui-active\:translateY--11:active {
	--simple-ui-translate-y: -2.75rem;
}
.simple-ui-translateY--12,
.simple-ui-hover\:translateY--12:hover,
.simple-ui-focus\:translateY--12:focus,
.simple-ui-active\:translateY--12:active {
	--simple-ui-translate-y: -3rem;
}
.simple-ui-translateY--14,
.simple-ui-hover\:translateY--14:hover,
.simple-ui-focus\:translateY--14:focus,
.simple-ui-active\:translateY--14:active {
	--simple-ui-translate-y: -3.5rem;
}
.simple-ui-translateY--16,
.simple-ui-hover\:translateY--16:hover,
.simple-ui-focus\:translateY--16:focus,
.simple-ui-active\:translateY--16:active {
	--simple-ui-translate-y: -4rem;
}
.simple-ui-translateY--20,
.simple-ui-hover\:translateY--20:hover,
.simple-ui-focus\:translateY--20:focus,
.simple-ui-active\:translateY--20:active {
	--simple-ui-translate-y: -5rem;
}
.simple-ui-translateY--24,
.simple-ui-hover\:translateY--24:hover,
.simple-ui-focus\:translateY--24:focus,
.simple-ui-active\:translateY--24:active {
	--simple-ui-translate-y: -6rem;
}
.simple-ui-translateY--28,
.simple-ui-hover\:translateY--28:hover,
.simple-ui-focus\:translateY--28:focus,
.simple-ui-active\:translateY--28:active {
	--simple-ui-translate-y: -7rem;
}
.simple-ui-translateY--32,
.simple-ui-hover\:translateY--32:hover,
.simple-ui-focus\:translateY--32:focus,
.simple-ui-active\:translateY--32:active {
	--simple-ui-translate-y: -8rem;
}
.simple-ui-translateY--36,
.simple-ui-hover\:translateY--36:hover,
.simple-ui-focus\:translateY--36:focus,
.simple-ui-active\:translateY--36:active {
	--simple-ui-translate-y: -9rem;
}
.simple-ui-translateY--40,
.simple-ui-hover\:translateY--40:hover,
.simple-ui-focus\:translateY--40:focus,
.simple-ui-active\:translateY--40:active {
	--simple-ui-translate-y: -10rem;
}
.simple-ui-translateY--44,
.simple-ui-hover\:translateY--44:hover,
.simple-ui-focus\:translateY--44:focus,
.simple-ui-active\:translateY--44:active {
	--simple-ui-translate-y: -11rem;
}
.simple-ui-translateY--48,
.simple-ui-hover\:translateY--48:hover,
.simple-ui-focus\:translateY--48:focus,
.simple-ui-active\:translateY--48:active {
	--simple-ui-translate-y: -12rem;
}
.simple-ui-translateY--52,
.simple-ui-hover\:translateY--52:hover,
.simple-ui-focus\:translateY--52:focus,
.simple-ui-active\:translateY--52:active {
	--simple-ui-translate-y: -13rem;
}
.simple-ui-translateY--56,
.simple-ui-hover\:translateY--56:hover,
.simple-ui-focus\:translateY--56:focus,
.simple-ui-active\:translateY--56:active {
	--simple-ui-translate-y: -14rem;
}
.simple-ui-translateY--60,
.simple-ui-hover\:translateY--60:hover,
.simple-ui-focus\:translateY--60:focus,
.simple-ui-active\:translateY--60:active {
	--simple-ui-translate-y: -15rem;
}
.simple-ui-translateY--64,
.simple-ui-hover\:translateY--64:hover,
.simple-ui-focus\:translateY--64:focus,
.simple-ui-active\:translateY--64:active {
	--simple-ui-translate-y: -16rem;
}
.simple-ui-translateY--72,
.simple-ui-hover\:translateY--72:hover,
.simple-ui-focus\:translateY--72:focus,
.simple-ui-active\:translateY--72:active {
	--simple-ui-translate-y: -18rem;
}
.simple-ui-translateY--80,
.simple-ui-hover\:translateY--80:hover,
.simple-ui-focus\:translateY--80:focus,
.simple-ui-active\:translateY--80:active {
	--simple-ui-translate-y: -20rem;
}
.simple-ui-translateY--96,
.simple-ui-hover\:translateY--96:hover,
.simple-ui-focus\:translateY--96:focus,
.simple-ui-active\:translateY--96:active {
	--simple-ui-translate-y: -24rem;
}
.simple-ui-translateY--1\/2,
.simple-ui-hover\:translateY--1\/2:hover,
.simple-ui-focus\:translateY--1\/2:focus,
.simple-ui-active\:translateY--1\/2:active {
	--simple-ui-translate-y: -50%;
}
.simple-ui-translateY--1\/3,
.simple-ui-hover\:translateY--1\/3:hover,
.simple-ui-focus\:translateY--1\/3:focus,
.simple-ui-active\:translateY--1\/3:active {
	--simple-ui-translate-y: -33.333333%;
}
.simple-ui-translateY--2\/3,
.simple-ui-hover\:translateY--2\/3:hover,
.simple-ui-focus\:translateY--2\/3:focus,
.simple-ui-active\:translateY--2\/3:active {
	--simple-ui-translate-y: -66.666667%;
}
.simple-ui-translateY--1\/4,
.simple-ui-hover\:translateY--1\/4:hover,
.simple-ui-focus\:translateY--1\/4:focus,
.simple-ui-active\:translateY--1\/4:active {
	--simple-ui-translate-y: -25%;
}
.simple-ui-translateY--2\/4,
.simple-ui-hover\:translateY--2\/4:hover,
.simple-ui-focus\:translateY--2\/4:focus,
.simple-ui-active\:translateY--2\/4:active {
	--simple-ui-translate-y: -50%;
}
.simple-ui-translateY--3\/4,
.simple-ui-hover\:translateY--3\/4:hover,
.simple-ui-focus\:translateY--3\/4:focus,
.simple-ui-active\:translateY--3\/4:active {
	--simple-ui-translate-y: -75%;
}
.simple-ui-translateY--full,
.simple-ui-hover\:translateY--full:hover,
.simple-ui-focus\:translateY--full:focus,
.simple-ui-active\:translateY--full:active {
	--simple-ui-translate-y: -100%;
}
