.simple-ui-transitionTiming-ease-linear,
.simple-ui-hover\:transitionTiming-ease-linear:hover,
.simple-ui-focus\:transitionTiming-ease-linear:focus,
.simple-ui-active\:transitionTiming-ease-linear:active {
	transition-timing-function: linear;
}
.simple-ui-transitionTiming-ease-in,
.simple-ui-hover\:transitionTiming-ease-in:hover,
.simple-ui-focus\:transitionTiming-ease-in:focus,
.simple-ui-active\:transitionTiming-ease-in:active {
	transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
}
.simple-ui-transitionTiming-ease-out,
.simple-ui-hover\:transitionTiming-ease-out:hover,
.simple-ui-focus\:transitionTiming-ease-out:focus,
.simple-ui-active\:transitionTiming-ease-out:active {
	transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}
.simple-ui-transitionTiming-ease-in-out,
.simple-ui-hover\:transitionTiming-ease-in-out:hover,
.simple-ui-focus\:transitionTiming-ease-in-out:focus,
.simple-ui-active\:transitionTiming-ease-in-out:active {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
