.simple-ui-alignContent-center,
.simple-ui-hover\:alignContent-center:hover,
.simple-ui-focus\:alignContent-center:focus,
.simple-ui-active\:alignContent-center:active {
	align-content: center;
}

.simple-ui-alignContent-start,
.simple-ui-hover\:alignContent-start:hover,
.simple-ui-focus\:alignContent-start:focus,
.simple-ui-active\:alignContent-start:active {
	align-content: flex-start;
}

.simple-ui-alignContent-end,
.simple-ui-hover\:alignContent-end:hover,
.simple-ui-focus\:alignContent-end:focus,
.simple-ui-active\:alignContent-end:active {
	align-content: flex-end;
}

.simple-ui-alignContent-between,
.simple-ui-hover\:alignContent-between:hover,
.simple-ui-focus\:alignContent-between:focus,
.simple-ui-active\:alignContent-between:active {
	align-content: space-between;
}

.simple-ui-alignContent-around,
.simple-ui-hover\:alignContent-around:hover,
.simple-ui-focus\:alignContent-around:focus,
.simple-ui-active\:alignContent-around:active {
	align-content: space-around;
}

.simple-ui-alignContent-evenly,
.simple-ui-hover\:alignContent-evenly:hover,
.simple-ui-focus\:alignContent-evenly:focus,
.simple-ui-active\:alignContent-evenly:active {
	align-content: space-evenly;
}
