.simple-ui-fontSize-xs,
.simple-ui-hover\:fontSize-xs:hover,
.simple-ui-focus\:fontSize-xs:focus,
.simple-ui-active\:fontSize-xs:active {
	font-size: 0.75rem;
	line-height: 1rem;
}

.simple-ui-fontSize-sm,
.simple-ui-hover\:fontSize-sm:hover,
.simple-ui-focus\:fontSize-sm:focus,
.simple-ui-active\:fontSize-sm:active {
	font-size: 0.875rem;
	line-height: 1.25rem;
}

.simple-ui-fontSize-md,
.simple-ui-hover\:fontSize-md:hover,
.simple-ui-focus\:fontSize-md:focus,
.simple-ui-active\:fontSize-md:active {
	font-size: 1rem;
	line-height: 1.5rem;
}
.simple-ui-fontSize-lg,
.simple-ui-hover\:fontSize-lg:hover,
.simple-ui-focus\:fontSize-lg:focus,
.simple-ui-active\:fontSize-lg:active {
	font-size: 1.125rem;
	line-height: 1.75rem;
}
.simple-ui-fontSize-xl,
.simple-ui-hover\:fontSize-xl:hover,
.simple-ui-focus\:fontSize-xl:focus,
.simple-ui-active\:fontSize-xl:active {
	font-size: 1.25rem;
	line-height: 1.75rem;
}
.simple-ui-fontSize-2xl,
.simple-ui-hover\:fontSize-2xl:hover,
.simple-ui-focus\:fontSize-2xl:focus,
.simple-ui-active\:fontSize-2xl:active {
	font-size: 1.5rem;
	line-height: 2rem;
}

.simple-ui-fontSize-3xl,
.simple-ui-hover\:fontSize-3xl:hover,
.simple-ui-focus\:fontSize-3xl:focus,
.simple-ui-active\:fontSize-3xl:active {
	font-size: 1.875rem;
	line-height: 2.25rem;
}
.simple-ui-fontSize-4xl,
.simple-ui-hover\:fontSize-4xl:hover,
.simple-ui-focus\:fontSize-4xl:focus,
.simple-ui-active\:fontSize-4xl:active {
	font-size: 2.25rem;
	line-height: 2.5rem;
}
.simple-ui-fontSize-5xl,
.simple-ui-hover\:fontSize-5xl:hover,
.simple-ui-focus\:fontSize-5xl:focus,
.simple-ui-active\:fontSize-5xl:active {
	font-size: 3rem;
	line-height: 1;
}
.simple-ui-fontSize-6xl,
.simple-ui-hover\:fontSize-6xl:hover,
.simple-ui-focus\:fontSize-6xl:focus,
.simple-ui-active\:fontSize-6xl:active {
	font-size: 3.75rem;
	line-height: 1;
}
.simple-ui-fontSize-7xl,
.simple-ui-hover\:fontSize-7xl:hover,
.simple-ui-focus\:fontSize-7xl:focus,
.simple-ui-active\:fontSize-7xl:active {
	font-size: 4.5rem;
	line-height: 1;
}
.simple-ui-fontSize-8xl,
.simple-ui-hover\:fontSize-8xl:hover,
.simple-ui-focus\:fontSize-8xl:focus,
.simple-ui-active\:fontSize-8xl:active {
	font-size: 6rem;
	line-height: 1;
}
.simple-ui-fontSize-9xl,
.simple-ui-hover\:fontSize-9xl:hover,
.simple-ui-focus\:fontSize-9xl:focus,
.simple-ui-active\:fontSize-9xl:active {
	font-size: 8rem;
	line-height: 1;
}
