.fontSize-xs {
	font-size: 0.75rem;
	line-height: 1rem;
}

.fontSize-sm {
	font-size: 0.875rem;
	line-height: 1.25rem;
}

.fontSize-md {
	font-size: 1rem;
	line-height: 1.5rem;
}
.fontSize-lg {
	font-size: 1.125rem;
	line-height: 1.75rem;
}
.fontSize-xl {
	font-size: 1.25rem;
	line-height: 1.75rem;
}
.fontSize-2xl {
	font-size: 1.5rem;
	line-height: 2rem;
}

.fontSize-3xl {
	font-size: 1.875rem;
	line-height: 2.25rem;
}
.fontSize-4xl {
	font-size: 2.25rem;
	line-height: 2.5rem;
}
.fontSize-5xl {
	font-size: 3rem;
	line-height: 1;
}
.fontSize-6xl {
	font-size: 3.75rem;
	line-height: 1;
}
.fontSize-7xl {
	font-size: 4.5rem;
	line-height: 1;
}
.fontSize-8xl {
	font-size: 6rem;
	line-height: 1;
}
.fontSize-9xl {
	font-size: 8rem;
	line-height: 1;
}
