.simple-ui-margin-auto,
.simple-ui-hover\:margin-auto:hover,
.simple-ui-focus\:margin-auto:focus,
.simple-ui-active\:margin-auto:active {
	margin: auto;
}

.simple-ui-margin-0,
.simple-ui-hover\:margin-0:hover,
.simple-ui-focus\:margin-0:focus,
.simple-ui-active\:margin-0:active {
	margin: 0px;
}

.simple-ui-margin-px,
.simple-ui-hover\:margin-px:hover,
.simple-ui-focus\:margin-px:focus,
.simple-ui-active\:margin-px:active {
	margin: 1px;
}

.simple-ui-margin-0\.5,
.simple-ui-hover\:margin-0\.5:hover,
.simple-ui-focus\:margin-0\.5:focus,
.simple-ui-active\:margin-0\.5:active {
	margin: 0.125rem;
}

.simple-ui-margin-1,
.simple-ui-hover\:margin-1:hover,
.simple-ui-focus\:margin-1:focus,
.simple-ui-active\:margin-1:active {
	margin: 0.25rem;
}

.simple-ui-margin-1\.5,
.simple-ui-hover\:margin-1\.5:hover,
.simple-ui-focus\:margin-1\.5:focus,
.simple-ui-active\:margin-1\.5:active {
	margin: 0.375rem;
}

.simple-ui-margin-2,
.simple-ui-hover\:margin-2:hover,
.simple-ui-focus\:margin-2:focus,
.simple-ui-active\:margin-2:active {
	margin: 0.5rem;
}

.simple-ui-margin-2\.5,
.simple-ui-hover\:margin-2\.5:hover,
.simple-ui-focus\:margin-2\.5:focus,
.simple-ui-active\:margin-2\.5:active {
	margin: 0.625rem;
}

.simple-ui-margin-3,
.simple-ui-hover\:margin-3:hover,
.simple-ui-focus\:margin-3:focus,
.simple-ui-active\:margin-3:active {
	margin: 0.75rem;
}

.simple-ui-margin-3\.5,
.simple-ui-hover\:margin-3\.5:hover,
.simple-ui-focus\:margin-3\.5:focus,
.simple-ui-active\:margin-3\.5:active {
	margin: 0.875rem;
}

.simple-ui-margin-4,
.simple-ui-hover\:margin-4:hover,
.simple-ui-focus\:margin-4:focus,
.simple-ui-active\:margin-4:active {
	margin: 1rem;
}

.simple-ui-margin-5,
.simple-ui-hover\:margin-5:hover,
.simple-ui-focus\:margin-5:focus,
.simple-ui-active\:margin-5:active {
	margin: 1.25rem;
}

.simple-ui-margin-6,
.simple-ui-hover\:margin-6:hover,
.simple-ui-focus\:margin-6:focus,
.simple-ui-active\:margin-6:active {
	margin: 1.5rem;
}

.simple-ui-margin-7,
.simple-ui-hover\:margin-7:hover,
.simple-ui-focus\:margin-7:focus,
.simple-ui-active\:margin-7:active {
	margin: 1.75rem;
}

.simple-ui-margin-8,
.simple-ui-hover\:margin-8:hover,
.simple-ui-focus\:margin-8:focus,
.simple-ui-active\:margin-8:active {
	margin: 2rem;
}

.simple-ui-margin-9,
.simple-ui-hover\:margin-9:hover,
.simple-ui-focus\:margin-9:focus,
.simple-ui-active\:margin-9:active {
	margin: 2.25rem;
}

.simple-ui-margin-10,
.simple-ui-hover\:margin-10:hover,
.simple-ui-focus\:margin-10:focus,
.simple-ui-active\:margin-10:active {
	margin: 2.5rem;
}

.simple-ui-margin-11,
.simple-ui-hover\:margin-11:hover,
.simple-ui-focus\:margin-11:focus,
.simple-ui-active\:margin-11:active {
	margin: 2.75rem;
}

.simple-ui-margin-12,
.simple-ui-hover\:margin-12:hover,
.simple-ui-focus\:margin-12:focus,
.simple-ui-active\:margin-12:active {
	margin: 3rem;
}

.simple-ui-margin-14,
.simple-ui-hover\:margin-14:hover,
.simple-ui-focus\:margin-14:focus,
.simple-ui-active\:margin-14:active {
	margin: 3.5rem;
}

.simple-ui-margin-16,
.simple-ui-hover\:margin-16:hover,
.simple-ui-focus\:margin-16:focus,
.simple-ui-active\:margin-16:active {
	margin: 4rem;
}

.simple-ui-margin-20,
.simple-ui-hover\:margin-20:hover,
.simple-ui-focus\:margin-20:focus,
.simple-ui-active\:margin-20:active {
	margin: 5rem;
}

.simple-ui-margin-24,
.simple-ui-hover\:margin-24:hover,
.simple-ui-focus\:margin-24:focus,
.simple-ui-active\:margin-24:active {
	margin: 6rem;
}

.simple-ui-margin-28,
.simple-ui-hover\:margin-28:hover,
.simple-ui-focus\:margin-28:focus,
.simple-ui-active\:margin-28:active {
	margin: 7rem;
}

.simple-ui-margin-32,
.simple-ui-hover\:margin-32:hover,
.simple-ui-focus\:margin-32:focus,
.simple-ui-active\:margin-32:active {
	margin: 8rem;
}

.simple-ui-margin-36,
.simple-ui-hover\:margin-36:hover,
.simple-ui-focus\:margin-36:focus,
.simple-ui-active\:margin-36:active {
	margin: 9rem;
}

.simple-ui-margin-40,
.simple-ui-hover\:margin-40:hover,
.simple-ui-focus\:margin-40:focus,
.simple-ui-active\:margin-40:active {
	margin: 10rem;
}

.simple-ui-margin-44,
.simple-ui-hover\:margin-44:hover,
.simple-ui-focus\:margin-44:focus,
.simple-ui-active\:margin-44:active {
	margin: 11rem;
}

.simple-ui-margin-48,
.simple-ui-hover\:margin-48:hover,
.simple-ui-focus\:margin-48:focus,
.simple-ui-active\:margin-48:active {
	margin: 12rem;
}

.simple-ui-margin-52,
.simple-ui-hover\:margin-52:hover,
.simple-ui-focus\:margin-52:focus,
.simple-ui-active\:margin-52:active {
	margin: 13rem;
}

.simple-ui-margin-56,
.simple-ui-hover\:margin-56:hover,
.simple-ui-focus\:margin-56:focus,
.simple-ui-active\:margin-56:active {
	margin: 14rem;
}

.simple-ui-margin-60,
.simple-ui-hover\:margin-60:hover,
.simple-ui-focus\:margin-60:focus,
.simple-ui-active\:margin-60:active {
	margin: 15rem;
}

.simple-ui-margin-64,
.simple-ui-hover\:margin-64:hover,
.simple-ui-focus\:margin-64:focus,
.simple-ui-active\:margin-64:active {
	margin: 16rem;
}

.simple-ui-margin-72,
.simple-ui-hover\:margin-72:hover,
.simple-ui-focus\:margin-72:focus,
.simple-ui-active\:margin-72:active {
	margin: 18rem;
}

.simple-ui-margin-80,
.simple-ui-hover\:margin-80:hover,
.simple-ui-focus\:margin-80:focus,
.simple-ui-active\:margin-80:active {
	margin: 20rem;
}

.simple-ui-margin-96,
.simple-ui-hover\:margin-96:hover,
.simple-ui-focus\:margin-96:focus,
.simple-ui-active\:margin-96:active {
	margin: 24rem;
}

.simple-ui-marginX-0,
.simple-ui-hover\:marginX-0:hover,
.simple-ui-focus\:marginX-0:focus,
.simple-ui-active\:marginX-0:active {
	margin-left: 0px;

	margin-right: 0px;
}

.simple-ui-marginX-px,
.simple-ui-hover\:marginX-px:hover,
.simple-ui-focus\:marginX-px:focus,
.simple-ui-active\:marginX-px:active {
	margin-left: 1px;
	margin-right: 1px;
}

.simple-ui-marginX-0\.5,
.simple-ui-hover\:marginX-0\.5:hover,
.simple-ui-focus\:marginX-0\.5:focus,
.simple-ui-active\:marginX-0\.5:active {
	margin-left: 0.125rem;
	margin-right: 0.125rem;
}

.simple-ui-marginX-1,
.simple-ui-hover\:marginX-1:hover,
.simple-ui-focus\:marginX-1:focus,
.simple-ui-active\:marginX-1:active {
	margin-left: 0.25rem;
	margin-right: 0.25rem;
}

.simple-ui-marginX-1\.5,
.simple-ui-hover\:marginX-1\.5:hover,
.simple-ui-focus\:marginX-1\.5:focus,
.simple-ui-active\:marginX-1\.5:active {
	margin-left: 0.375rem;
	margin-right: 0.375rem;
}

.simple-ui-marginX-2,
.simple-ui-hover\:marginX-2:hover,
.simple-ui-focus\:marginX-2:focus,
.simple-ui-active\:marginX-2:active {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

.simple-ui-marginX-2\.5,
.simple-ui-hover\:marginX-2\.5:hover,
.simple-ui-focus\:marginX-2\.5:focus,
.simple-ui-active\:marginX-2\.5:active {
	margin-left: 0.625rem;
	margin-right: 0.625rem;
}

.simple-ui-marginX-3,
.simple-ui-hover\:marginX-3:hover,
.simple-ui-focus\:marginX-3:focus,
.simple-ui-active\:marginX-3:active {
	margin-left: 0.75rem;
	margin-right: 0.75rem;
}

.simple-ui-marginX-3\.5,
.simple-ui-hover\:marginX-3\.5:hover,
.simple-ui-focus\:marginX-3\.5:focus,
.simple-ui-active\:marginX-3\.5:active {
	margin-left: 0.875rem;
	margin-right: 0.875rem;
}

.simple-ui-marginX-4,
.simple-ui-hover\:marginX-4:hover,
.simple-ui-focus\:marginX-4:focus,
.simple-ui-active\:marginX-4:active {
	margin-left: 1rem;
	margin-right: 1rem;
}

.simple-ui-marginX-5,
.simple-ui-hover\:marginX-5:hover,
.simple-ui-focus\:marginX-5:focus,
.simple-ui-active\:marginX-5:active {
	margin-left: 1.25rem;
	margin-right: 1.25rem;
}

.simple-ui-marginX-6,
.simple-ui-hover\:marginX-6:hover,
.simple-ui-focus\:marginX-6:focus,
.simple-ui-active\:marginX-6:active {
	margin-left: 1.5rem;
	margin-right: 1.5rem;
}

.simple-ui-marginX-7,
.simple-ui-hover\:marginX-7:hover,
.simple-ui-focus\:marginX-7:focus,
.simple-ui-active\:marginX-7:active {
	margin-left: 1.75rem;
	margin-right: 1.75rem;
}

.simple-ui-marginX-8,
.simple-ui-hover\:marginX-8:hover,
.simple-ui-focus\:marginX-8:focus,
.simple-ui-active\:marginX-8:active {
	margin-left: 2rem;
	margin-right: 2rem;
}

.simple-ui-marginX-9,
.simple-ui-hover\:marginX-9:hover,
.simple-ui-focus\:marginX-9:focus,
.simple-ui-active\:marginX-9:active {
	margin-left: 2.25rem;
	margin-right: 2.25rem;
}

.simple-ui-marginX-10,
.simple-ui-hover\:marginX-10:hover,
.simple-ui-focus\:marginX-10:focus,
.simple-ui-active\:marginX-10:active {
	margin-left: 2.5rem;
	margin-right: 2.5rem;
}

.simple-ui-marginX-11,
.simple-ui-hover\:marginX-11:hover,
.simple-ui-focus\:marginX-11:focus,
.simple-ui-active\:marginX-11:active {
	margin-left: 2.75rem;
	margin-right: 2.75rem;
}

.simple-ui-marginX-12,
.simple-ui-hover\:marginX-12:hover,
.simple-ui-focus\:marginX-12:focus,
.simple-ui-active\:marginX-12:active {
	margin-left: 3rem;
	margin-right: 3rem;
}

.simple-ui-marginX-14,
.simple-ui-hover\:marginX-14:hover,
.simple-ui-focus\:marginX-14:focus,
.simple-ui-active\:marginX-14:active {
	margin-left: 3.5rem;
	margin-right: 3.5rem;
}

.simple-ui-marginX-16,
.simple-ui-hover\:marginX-16:hover,
.simple-ui-focus\:marginX-16:focus,
.simple-ui-active\:marginX-16:active {
	margin-left: 4rem;
	margin-right: 4rem;
}

.simple-ui-marginX-20,
.simple-ui-hover\:marginX-20:hover,
.simple-ui-focus\:marginX-20:focus,
.simple-ui-active\:marginX-20:active {
	margin-left: 5rem;
	margin-right: 5rem;
}

.simple-ui-marginX-24,
.simple-ui-hover\:marginX-24:hover,
.simple-ui-focus\:marginX-24:focus,
.simple-ui-active\:marginX-24:active {
	margin-left: 6rem;
	margin-right: 6rem;
}

.simple-ui-marginX-28,
.simple-ui-hover\:marginX-28:hover,
.simple-ui-focus\:marginX-28:focus,
.simple-ui-active\:marginX-28:active {
	margin-left: 7rem;
	margin-right: 7rem;
}

.simple-ui-marginX-32,
.simple-ui-hover\:marginX-32:hover,
.simple-ui-focus\:marginX-32:focus,
.simple-ui-active\:marginX-32:active {
	margin-left: 8rem;
	margin-right: 8rem;
}

.simple-ui-marginX-36,
.simple-ui-hover\:marginX-36:hover,
.simple-ui-focus\:marginX-36:focus,
.simple-ui-active\:marginX-36:active {
	margin-left: 9rem;
	margin-right: 9rem;
}

.simple-ui-marginX-40,
.simple-ui-hover\:marginX-40:hover,
.simple-ui-focus\:marginX-40:focus,
.simple-ui-active\:marginX-40:active {
	margin-left: 10rem;
	margin-right: 10rem;
}

.simple-ui-marginX-44,
.simple-ui-hover\:marginX-44:hover,
.simple-ui-focus\:marginX-44:focus,
.simple-ui-active\:marginX-44:active {
	margin-left: 11rem;
	margin-right: 11rem;
}

.simple-ui-marginX-48,
.simple-ui-hover\:marginX-48:hover,
.simple-ui-focus\:marginX-48:focus,
.simple-ui-active\:marginX-48:active {
	margin-left: 12rem;
	margin-right: 12rem;
}

.simple-ui-marginX-52,
.simple-ui-hover\:marginX-52:hover,
.simple-ui-focus\:marginX-52:focus,
.simple-ui-active\:marginX-52:active {
	margin-left: 13rem;
	margin-right: 13rem;
}

.simple-ui-marginX-56,
.simple-ui-hover\:marginX-56:hover,
.simple-ui-focus\:marginX-56:focus,
.simple-ui-active\:marginX-56:active {
	margin-left: 14rem;
	margin-right: 14rem;
}

.simple-ui-marginX-60,
.simple-ui-hover\:marginX-60:hover,
.simple-ui-focus\:marginX-60:focus,
.simple-ui-active\:marginX-60:active {
	margin-left: 15rem;
	margin-right: 15rem;
}

.simple-ui-marginX-64,
.simple-ui-hover\:marginX-64:hover,
.simple-ui-focus\:marginX-64:focus,
.simple-ui-active\:marginX-64:active {
	margin-left: 16rem;
	margin-right: 16rem;
}

.simple-ui-marginX-72,
.simple-ui-hover\:marginX-72:hover,
.simple-ui-focus\:marginX-72:focus,
.simple-ui-active\:marginX-72:active {
	margin-left: 18rem;
	margin-right: 18rem;
}

.simple-ui-marginX-80,
.simple-ui-hover\:marginX-80:hover,
.simple-ui-focus\:marginX-80:focus,
.simple-ui-active\:marginX-80:active {
	margin-left: 20rem;
	margin-right: 20rem;
}

.simple-ui-marginX-96,
.simple-ui-hover\:marginX-96:hover,
.simple-ui-focus\:marginX-96:focus,
.simple-ui-active\:marginX-96:active {
	margin-left: 24rem;
	margin-right: 24rem;
}

.simple-ui-marginY-0,
.simple-ui-hover\:marginY-0:hover,
.simple-ui-focus\:marginY-0:focus,
.simple-ui-active\:marginY-0:active {
	margin-top: 0px;
	margin-bottom: 0px;
}

.simple-ui-marginY-px,
.simple-ui-hover\:marginY-px:hover,
.simple-ui-focus\:marginY-px:focus,
.simple-ui-active\:marginY-px:active {
	margin-top: 1px;
	margin-bottom: 1px;
}

.simple-ui-marginY-0\.5,
.simple-ui-hover\:marginY-0\.5:hover,
.simple-ui-focus\:marginY-0\.5:focus,
.simple-ui-active\:marginY-0\.5:active {
	margin-top: 0.125rem;
	margin-bottom: 0.125rem;
}

.simple-ui-marginY-1,
.simple-ui-hover\:marginY-1:hover,
.simple-ui-focus\:marginY-1:focus,
.simple-ui-active\:marginY-1:active {
	margin-top: 0.25rem;
	margin-bottom: 0.25rem;
}

.simple-ui-marginY-1\.5,
.simple-ui-hover\:marginY-1\.5:hover,
.simple-ui-focus\:marginY-1\.5:focus,
.simple-ui-active\:marginY-1\.5:active {
	margin-top: 0.375rem;
	margin-bottom: 0.375rem;
}

.simple-ui-marginY-2,
.simple-ui-hover\:marginY-2:hover,
.simple-ui-focus\:marginY-2:focus,
.simple-ui-active\:marginY-2:active {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

.simple-ui-marginY-2\.5,
.simple-ui-hover\:marginY-2\.5:hover,
.simple-ui-focus\:marginY-2\.5:focus,
.simple-ui-active\:marginY-2\.5:active {
	margin-top: 0.625rem;
	margin-bottom: 0.625rem;
}

.simple-ui-marginY-3,
.simple-ui-hover\:marginY-3:hover,
.simple-ui-focus\:marginY-3:focus,
.simple-ui-active\:marginY-3:active {
	margin-top: 0.75rem;
	margin-bottom: 0.75rem;
}

.simple-ui-marginY-3\.5,
.simple-ui-hover\:marginY-3\.5:hover,
.simple-ui-focus\:marginY-3\.5:focus,
.simple-ui-active\:marginY-3\.5:active {
	margin-top: 0.875rem;
	margin-bottom: 0.875rem;
}

.simple-ui-marginY-4,
.simple-ui-hover\:marginY-4:hover,
.simple-ui-focus\:marginY-4:focus,
.simple-ui-active\:marginY-4:active {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.simple-ui-marginY-5,
.simple-ui-hover\:marginY-5:hover,
.simple-ui-focus\:marginY-5:focus,
.simple-ui-active\:marginY-5:active {
	margin-top: 1.25rem;
	margin-bottom: 1.25rem;
}

.simple-ui-marginY-6,
.simple-ui-hover\:marginY-6:hover,
.simple-ui-focus\:marginY-6:focus,
.simple-ui-active\:marginY-6:active {
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}

.simple-ui-marginY-7,
.simple-ui-hover\:marginY-7:hover,
.simple-ui-focus\:marginY-7:focus,
.simple-ui-active\:marginY-7:active {
	margin-top: 1.75rem;
	margin-bottom: 1.75rem;
}

.simple-ui-marginY-8,
.simple-ui-hover\:marginY-8:hover,
.simple-ui-focus\:marginY-8:focus,
.simple-ui-active\:marginY-8:active {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.simple-ui-marginY-9,
.simple-ui-hover\:marginY-9:hover,
.simple-ui-focus\:marginY-9:focus,
.simple-ui-active\:marginY-9:active {
	margin-top: 2.25rem;
	margin-bottom: 2.25rem;
}

.simple-ui-marginY-10,
.simple-ui-hover\:marginY-10:hover,
.simple-ui-focus\:marginY-10:focus,
.simple-ui-active\:marginY-10:active {
	margin-top: 2.5rem;
	margin-bottom: 2.5rem;
}

.simple-ui-marginY-11,
.simple-ui-hover\:marginY-11:hover,
.simple-ui-focus\:marginY-11:focus,
.simple-ui-active\:marginY-11:active {
	margin-top: 2.75rem;
	margin-bottom: 2.75rem;
}

.simple-ui-marginY-12,
.simple-ui-hover\:marginY-12:hover,
.simple-ui-focus\:marginY-12:focus,
.simple-ui-active\:marginY-12:active {
	margin-top: 3rem;
	margin-bottom: 3rem;
}

.simple-ui-marginY-14,
.simple-ui-hover\:marginY-14:hover,
.simple-ui-focus\:marginY-14:focus,
.simple-ui-active\:marginY-14:active {
	margin-top: 3.5rem;
	margin-bottom: 3.5rem;
}

.simple-ui-marginY-16,
.simple-ui-hover\:marginY-16:hover,
.simple-ui-focus\:marginY-16:focus,
.simple-ui-active\:marginY-16:active {
	margin-top: 4rem;
	margin-bottom: 4rem;
}

.simple-ui-marginY-20,
.simple-ui-hover\:marginY-20:hover,
.simple-ui-focus\:marginY-20:focus,
.simple-ui-active\:marginY-20:active {
	margin-top: 5rem;
	margin-bottom: 5rem;
}

.simple-ui-marginY-24,
.simple-ui-hover\:marginY-24:hover,
.simple-ui-focus\:marginY-24:focus,
.simple-ui-active\:marginY-24:active {
	margin-top: 6rem;
	margin-bottom: 6rem;
}

.simple-ui-marginY-28,
.simple-ui-hover\:marginY-28:hover,
.simple-ui-focus\:marginY-28:focus,
.simple-ui-active\:marginY-28:active {
	margin-top: 7rem;
	margin-bottom: 7rem;
}

.simple-ui-marginY-32,
.simple-ui-hover\:marginY-32:hover,
.simple-ui-focus\:marginY-32:focus,
.simple-ui-active\:marginY-32:active {
	margin-top: 8rem;
	margin-bottom: 8rem;
}

.simple-ui-marginY-36,
.simple-ui-hover\:marginY-36:hover,
.simple-ui-focus\:marginY-36:focus,
.simple-ui-active\:marginY-36:active {
	margin-top: 9rem;
	margin-bottom: 9rem;
}

.simple-ui-marginY-40,
.simple-ui-hover\:marginY-40:hover,
.simple-ui-focus\:marginY-40:focus,
.simple-ui-active\:marginY-40:active {
	margin-top: 10rem;
	margin-bottom: 10rem;
}

.simple-ui-marginY-44,
.simple-ui-hover\:marginY-44:hover,
.simple-ui-focus\:marginY-44:focus,
.simple-ui-active\:marginY-44:active {
	margin-top: 11rem;
	margin-bottom: 11rem;
}

.simple-ui-marginY-48,
.simple-ui-hover\:marginY-48:hover,
.simple-ui-focus\:marginY-48:focus,
.simple-ui-active\:marginY-48:active {
	margin-top: 12rem;
	margin-bottom: 12rem;
}

.simple-ui-marginY-52,
.simple-ui-hover\:marginY-52:hover,
.simple-ui-focus\:marginY-52:focus,
.simple-ui-active\:marginY-52:active {
	margin-top: 13rem;
	margin-bottom: 13rem;
}

.simple-ui-marginY-56,
.simple-ui-hover\:marginY-56:hover,
.simple-ui-focus\:marginY-56:focus,
.simple-ui-active\:marginY-56:active {
	margin-top: 14rem;
	margin-bottom: 14rem;
}

.simple-ui-marginY-60,
.simple-ui-hover\:marginY-60:hover,
.simple-ui-focus\:marginY-60:focus,
.simple-ui-active\:marginY-60:active {
	margin-top: 15rem;
	margin-bottom: 15rem;
}

.simple-ui-marginY-64,
.simple-ui-hover\:marginY-64:hover,
.simple-ui-focus\:marginY-64:focus,
.simple-ui-active\:marginY-64:active {
	margin-top: 16rem;
	margin-bottom: 16rem;
}

.simple-ui-marginY-72,
.simple-ui-hover\:marginY-72:hover,
.simple-ui-focus\:marginY-72:focus,
.simple-ui-active\:marginY-72:active {
	margin-top: 18rem;
	margin-bottom: 18rem;
}

.simple-ui-marginY-80,
.simple-ui-hover\:marginY-80:hover,
.simple-ui-focus\:marginY-80:focus,
.simple-ui-active\:marginY-80:active {
	margin-top: 20rem;
	margin-bottom: 20rem;
}

.simple-ui-marginY-96,
.simple-ui-hover\:marginY-96:hover,
.simple-ui-focus\:marginY-96:focus,
.simple-ui-active\:marginY-96:active {
	margin-top: 24rem;
	margin-bottom: 24rem;
}

.simple-ui-marginTop-0,
.simple-ui-hover\:marginTop-0:hover,
.simple-ui-focus\:marginTop-0:focus,
.simple-ui-active\:marginTop-0:active {
	margin-top: 0px;
}

.simple-ui-marginTop-px,
.simple-ui-hover\:marginTop-px:hover,
.simple-ui-focus\:marginTop-px:focus,
.simple-ui-active\:marginTop-px:active {
	margin-top: 1px;
}

.simple-ui-marginTop-0\.5,
.simple-ui-hover\:marginTop-0\.5:hover,
.simple-ui-focus\:marginTop-0\.5:focus,
.simple-ui-active\:marginTop-0\.5:active {
	margin-top: 0.125rem;
}

.simple-ui-marginTop-1,
.simple-ui-hover\:marginTop-1:hover,
.simple-ui-focus\:marginTop-1:focus,
.simple-ui-active\:marginTop-1:active {
	margin-top: 0.25rem;
}

.simple-ui-marginTop-1\.5,
.simple-ui-hover\:marginTop-1\.5:hover,
.simple-ui-focus\:marginTop-1\.5:focus,
.simple-ui-active\:marginTop-1\.5:active {
	margin-top: 0.375rem;
}

.simple-ui-marginTop-2,
.simple-ui-hover\:marginTop-2:hover,
.simple-ui-focus\:marginTop-2:focus,
.simple-ui-active\:marginTop-2:active {
	margin-top: 0.5rem;
}

.simple-ui-marginTop-2\.5,
.simple-ui-hover\:marginTop-2\.5:hover,
.simple-ui-focus\:marginTop-2\.5:focus,
.simple-ui-active\:marginTop-2\.5:active {
	margin-top: 0.625rem;
}

.simple-ui-marginTop-3,
.simple-ui-hover\:marginTop-3:hover,
.simple-ui-focus\:marginTop-3:focus,
.simple-ui-active\:marginTop-3:active {
	margin-top: 0.75rem;
}

.simple-ui-marginTop-3\.5,
.simple-ui-hover\:marginTop-3\.5:hover,
.simple-ui-focus\:marginTop-3\.5:focus,
.simple-ui-active\:marginTop-3\.5:active {
	margin-top: 0.875rem;
}

.simple-ui-marginTop-4,
.simple-ui-hover\:marginTop-4:hover,
.simple-ui-focus\:marginTop-4:focus,
.simple-ui-active\:marginTop-4:active {
	margin-top: 1rem;
}

.simple-ui-marginTop-5,
.simple-ui-hover\:marginTop-5:hover,
.simple-ui-focus\:marginTop-5:focus,
.simple-ui-active\:marginTop-5:active {
	margin-top: 1.25rem;
}

.simple-ui-marginTop-6,
.simple-ui-hover\:marginTop-6:hover,
.simple-ui-focus\:marginTop-6:focus,
.simple-ui-active\:marginTop-6:active {
	margin-top: 1.5rem;
}

.simple-ui-marginTop-7,
.simple-ui-hover\:marginTop-7:hover,
.simple-ui-focus\:marginTop-7:focus,
.simple-ui-active\:marginTop-7:active {
	margin-top: 1.75rem;
}

.simple-ui-marginTop-8,
.simple-ui-hover\:marginTop-8:hover,
.simple-ui-focus\:marginTop-8:focus,
.simple-ui-active\:marginTop-8:active {
	margin-top: 2rem;
}

.simple-ui-marginTop-9,
.simple-ui-hover\:marginTop-9:hover,
.simple-ui-focus\:marginTop-9:focus,
.simple-ui-active\:marginTop-9:active {
	margin-top: 2.25rem;
}

.simple-ui-marginTop-10,
.simple-ui-hover\:marginTop-10:hover,
.simple-ui-focus\:marginTop-10:focus,
.simple-ui-active\:marginTop-10:active {
	margin-top: 2.5rem;
}

.simple-ui-marginTop-11,
.simple-ui-hover\:marginTop-11:hover,
.simple-ui-focus\:marginTop-11:focus,
.simple-ui-active\:marginTop-11:active {
	margin-top: 2.75rem;
}

.simple-ui-marginTop-12,
.simple-ui-hover\:marginTop-12:hover,
.simple-ui-focus\:marginTop-12:focus,
.simple-ui-active\:marginTop-12:active {
	margin-top: 3rem;
}

.simple-ui-marginTop-14,
.simple-ui-hover\:marginTop-14:hover,
.simple-ui-focus\:marginTop-14:focus,
.simple-ui-active\:marginTop-14:active {
	margin-top: 3.5rem;
}

.simple-ui-marginTop-16,
.simple-ui-hover\:marginTop-16:hover,
.simple-ui-focus\:marginTop-16:focus,
.simple-ui-active\:marginTop-16:active {
	margin-top: 4rem;
}

.simple-ui-marginTop-20,
.simple-ui-hover\:marginTop-20:hover,
.simple-ui-focus\:marginTop-20:focus,
.simple-ui-active\:marginTop-20:active {
	margin-top: 5rem;
}

.simple-ui-marginTop-24,
.simple-ui-hover\:marginTop-24:hover,
.simple-ui-focus\:marginTop-24:focus,
.simple-ui-active\:marginTop-24:active {
	margin-top: 6rem;
}

.simple-ui-marginTop-28,
.simple-ui-hover\:marginTop-28:hover,
.simple-ui-focus\:marginTop-28:focus,
.simple-ui-active\:marginTop-28:active {
	margin-top: 7rem;
}

.simple-ui-marginTop-32,
.simple-ui-hover\:marginTop-32:hover,
.simple-ui-focus\:marginTop-32:focus,
.simple-ui-active\:marginTop-32:active {
	margin-top: 8rem;
}

.simple-ui-marginTop-36,
.simple-ui-hover\:marginTop-36:hover,
.simple-ui-focus\:marginTop-36:focus,
.simple-ui-active\:marginTop-36:active {
	margin-top: 9rem;
}

.simple-ui-marginTop-40,
.simple-ui-hover\:marginTop-40:hover,
.simple-ui-focus\:marginTop-40:focus,
.simple-ui-active\:marginTop-40:active {
	margin-top: 10rem;
}

.simple-ui-marginTop-44,
.simple-ui-hover\:marginTop-44:hover,
.simple-ui-focus\:marginTop-44:focus,
.simple-ui-active\:marginTop-44:active {
	margin-top: 11rem;
}

.simple-ui-marginTop-48,
.simple-ui-hover\:marginTop-48:hover,
.simple-ui-focus\:marginTop-48:focus,
.simple-ui-active\:marginTop-48:active {
	margin-top: 12rem;
}

.simple-ui-marginTop-52,
.simple-ui-hover\:marginTop-52:hover,
.simple-ui-focus\:marginTop-52:focus,
.simple-ui-active\:marginTop-52:active {
	margin-top: 13rem;
}

.simple-ui-marginTop-56,
.simple-ui-hover\:marginTop-56:hover,
.simple-ui-focus\:marginTop-56:focus,
.simple-ui-active\:marginTop-56:active {
	margin-top: 14rem;
}

.simple-ui-marginTop-60,
.simple-ui-hover\:marginTop-60:hover,
.simple-ui-focus\:marginTop-60:focus,
.simple-ui-active\:marginTop-60:active {
	margin-top: 15rem;
}

.simple-ui-marginTop-64,
.simple-ui-hover\:marginTop-64:hover,
.simple-ui-focus\:marginTop-64:focus,
.simple-ui-active\:marginTop-64:active {
	margin-top: 16rem;
}

.simple-ui-marginTop-72,
.simple-ui-hover\:marginTop-72:hover,
.simple-ui-focus\:marginTop-72:focus,
.simple-ui-active\:marginTop-72:active {
	margin-top: 18rem;
}

.simple-ui-marginTop-80,
.simple-ui-hover\:marginTop-80:hover,
.simple-ui-focus\:marginTop-80:focus,
.simple-ui-active\:marginTop-80:active {
	margin-top: 20rem;
}

.simple-ui-marginTop-96,
.simple-ui-hover\:marginTop-96:hover,
.simple-ui-focus\:marginTop-96:focus,
.simple-ui-active\:marginTop-96:active {
	margin-top: 24rem;
}

.simple-ui-marginRight-0,
.simple-ui-hover\:marginRight-0:hover,
.simple-ui-focus\:marginRight-0:focus,
.simple-ui-active\:marginRight-0:active {
	margin-right: 0px;
}

.simple-ui-marginRight-px,
.simple-ui-hover\:marginRight-px:hover,
.simple-ui-focus\:marginRight-px:focus,
.simple-ui-active\:marginRight-px:active {
	margin-right: 1px;
}

.simple-ui-marginRight-0\.5,
.simple-ui-hover\:marginRight-0\.5:hover,
.simple-ui-focus\:marginRight-0\.5:focus,
.simple-ui-active\:marginRight-0\.5:active {
	margin-right: 0.125rem;
}

.simple-ui-marginRight-1,
.simple-ui-hover\:marginRight-1:hover,
.simple-ui-focus\:marginRight-1:focus,
.simple-ui-active\:marginRight-1:active {
	margin-right: 0.25rem;
}

.simple-ui-marginRight-1\.5,
.simple-ui-hover\:marginRight-1\.5:hover,
.simple-ui-focus\:marginRight-1\.5:focus,
.simple-ui-active\:marginRight-1\.5:active {
	margin-right: 0.375rem;
}

.simple-ui-marginRight-2,
.simple-ui-hover\:marginRight-2:hover,
.simple-ui-focus\:marginRight-2:focus,
.simple-ui-active\:marginRight-2:active {
	margin-right: 0.5rem;
}

.simple-ui-marginRight-2\.5,
.simple-ui-hover\:marginRight-2\.5:hover,
.simple-ui-focus\:marginRight-2\.5:focus,
.simple-ui-active\:marginRight-2\.5:active {
	margin-right: 0.625rem;
}

.simple-ui-marginRight-3,
.simple-ui-hover\:marginRight-3:hover,
.simple-ui-focus\:marginRight-3:focus,
.simple-ui-active\:marginRight-3:active {
	margin-right: 0.75rem;
}

.simple-ui-marginRight-3\.5,
.simple-ui-hover\:marginRight-3\.5:hover,
.simple-ui-focus\:marginRight-3\.5:focus,
.simple-ui-active\:marginRight-3\.5:active {
	margin-right: 0.875rem;
}

.simple-ui-marginRight-4,
.simple-ui-hover\:marginRight-4:hover,
.simple-ui-focus\:marginRight-4:focus,
.simple-ui-active\:marginRight-4:active {
	margin-right: 1rem;
}

.simple-ui-marginRight-5,
.simple-ui-hover\:marginRight-5:hover,
.simple-ui-focus\:marginRight-5:focus,
.simple-ui-active\:marginRight-5:active {
	margin-right: 1.25rem;
}

.simple-ui-marginRight-6,
.simple-ui-hover\:marginRight-6:hover,
.simple-ui-focus\:marginRight-6:focus,
.simple-ui-active\:marginRight-6:active {
	margin-right: 1.5rem;
}

.simple-ui-marginRight-7,
.simple-ui-hover\:marginRight-7:hover,
.simple-ui-focus\:marginRight-7:focus,
.simple-ui-active\:marginRight-7:active {
	margin-right: 1.75rem;
}

.simple-ui-marginRight-8,
.simple-ui-hover\:marginRight-8:hover,
.simple-ui-focus\:marginRight-8:focus,
.simple-ui-active\:marginRight-8:active {
	margin-right: 2rem;
}

.simple-ui-marginRight-9,
.simple-ui-hover\:marginRight-9:hover,
.simple-ui-focus\:marginRight-9:focus,
.simple-ui-active\:marginRight-9:active {
	margin-right: 2.25rem;
}

.simple-ui-marginRight-10,
.simple-ui-hover\:marginRight-10:hover,
.simple-ui-focus\:marginRight-10:focus,
.simple-ui-active\:marginRight-10:active {
	margin-right: 2.5rem;
}

.simple-ui-marginRight-11,
.simple-ui-hover\:marginRight-11:hover,
.simple-ui-focus\:marginRight-11:focus,
.simple-ui-active\:marginRight-11:active {
	margin-right: 2.75rem;
}

.simple-ui-marginRight-12,
.simple-ui-hover\:marginRight-12:hover,
.simple-ui-focus\:marginRight-12:focus,
.simple-ui-active\:marginRight-12:active {
	margin-right: 3rem;
}

.simple-ui-marginRight-14,
.simple-ui-hover\:marginRight-14:hover,
.simple-ui-focus\:marginRight-14:focus,
.simple-ui-active\:marginRight-14:active {
	margin-right: 3.5rem;
}

.simple-ui-marginRight-16,
.simple-ui-hover\:marginRight-16:hover,
.simple-ui-focus\:marginRight-16:focus,
.simple-ui-active\:marginRight-16:active {
	margin-right: 4rem;
}

.simple-ui-marginRight-20,
.simple-ui-hover\:marginRight-20:hover,
.simple-ui-focus\:marginRight-20:focus,
.simple-ui-active\:marginRight-20:active {
	margin-right: 5rem;
}

.simple-ui-marginRight-24,
.simple-ui-hover\:marginRight-24:hover,
.simple-ui-focus\:marginRight-24:focus,
.simple-ui-active\:marginRight-24:active {
	margin-right: 6rem;
}

.simple-ui-marginRight-28,
.simple-ui-hover\:marginRight-28:hover,
.simple-ui-focus\:marginRight-28:focus,
.simple-ui-active\:marginRight-28:active {
	margin-right: 7rem;
}

.simple-ui-marginRight-32,
.simple-ui-hover\:marginRight-32:hover,
.simple-ui-focus\:marginRight-32:focus,
.simple-ui-active\:marginRight-32:active {
	margin-right: 8rem;
}

.simple-ui-marginRight-36,
.simple-ui-hover\:marginRight-36:hover,
.simple-ui-focus\:marginRight-36:focus,
.simple-ui-active\:marginRight-36:active {
	margin-right: 9rem;
}

.simple-ui-marginRight-40,
.simple-ui-hover\:marginRight-40:hover,
.simple-ui-focus\:marginRight-40:focus,
.simple-ui-active\:marginRight-40:active {
	margin-right: 10rem;
}

.simple-ui-marginRight-44,
.simple-ui-hover\:marginRight-44:hover,
.simple-ui-focus\:marginRight-44:focus,
.simple-ui-active\:marginRight-44:active {
	margin-right: 11rem;
}

.simple-ui-marginRight-48,
.simple-ui-hover\:marginRight-48:hover,
.simple-ui-focus\:marginRight-48:focus,
.simple-ui-active\:marginRight-48:active {
	margin-right: 12rem;
}

.simple-ui-marginRight-52,
.simple-ui-hover\:marginRight-52:hover,
.simple-ui-focus\:marginRight-52:focus,
.simple-ui-active\:marginRight-52:active {
	margin-right: 13rem;
}

.simple-ui-marginRight-56,
.simple-ui-hover\:marginRight-56:hover,
.simple-ui-focus\:marginRight-56:focus,
.simple-ui-active\:marginRight-56:active {
	margin-right: 14rem;
}

.simple-ui-marginRight-60,
.simple-ui-hover\:marginRight-60:hover,
.simple-ui-focus\:marginRight-60:focus,
.simple-ui-active\:marginRight-60:active {
	margin-right: 15rem;
}

.simple-ui-marginRight-64,
.simple-ui-hover\:marginRight-64:hover,
.simple-ui-focus\:marginRight-64:focus,
.simple-ui-active\:marginRight-64:active {
	margin-right: 16rem;
}

.simple-ui-marginRight-72,
.simple-ui-hover\:marginRight-72:hover,
.simple-ui-focus\:marginRight-72:focus,
.simple-ui-active\:marginRight-72:active {
	margin-right: 18rem;
}

.simple-ui-marginRight-80,
.simple-ui-hover\:marginRight-80:hover,
.simple-ui-focus\:marginRight-80:focus,
.simple-ui-active\:marginRight-80:active {
	margin-right: 20rem;
}

.simple-ui-marginRight-96,
.simple-ui-hover\:marginRight-96:hover,
.simple-ui-focus\:marginRight-96:focus,
.simple-ui-active\:marginRight-96:active {
	margin-right: 24rem;
}

.simple-ui-marginBottom-0,
.simple-ui-hover\:marginBottom-0:hover,
.simple-ui-focus\:marginBottom-0:focus,
.simple-ui-active\:marginBottom-0:active {
	margin-bottom: 0px;
}

.simple-ui-marginBottom-px,
.simple-ui-hover\:marginBottom-px:hover,
.simple-ui-focus\:marginBottom-px:focus,
.simple-ui-active\:marginBottom-px:active {
	margin-bottom: 1px;
}

.simple-ui-marginBottom-0\.5,
.simple-ui-hover\:marginBottom-0\.5:hover,
.simple-ui-focus\:marginBottom-0\.5:focus,
.simple-ui-active\:marginBottom-0\.5:active {
	margin-bottom: 0.125rem;
}

.simple-ui-marginBottom-1,
.simple-ui-hover\:marginBottom-1:hover,
.simple-ui-focus\:marginBottom-1:focus,
.simple-ui-active\:marginBottom-1:active {
	margin-bottom: 0.25rem;
}

.simple-ui-marginBottom-1\.5,
.simple-ui-hover\:marginBottom-1\.5:hover,
.simple-ui-focus\:marginBottom-1\.5:focus,
.simple-ui-active\:marginBottom-1\.5:active {
	margin-bottom: 0.375rem;
}

.simple-ui-marginBottom-2,
.simple-ui-hover\:marginBottom-2:hover,
.simple-ui-focus\:marginBottom-2:focus,
.simple-ui-active\:marginBottom-2:active {
	margin-bottom: 0.5rem;
}

.simple-ui-marginBottom-2\.5,
.simple-ui-hover\:marginBottom-2\.5:hover,
.simple-ui-focus\:marginBottom-2\.5:focus,
.simple-ui-active\:marginBottom-2\.5:active {
	margin-bottom: 0.625rem;
}

.simple-ui-marginBottom-3,
.simple-ui-hover\:marginBottom-3:hover,
.simple-ui-focus\:marginBottom-3:focus,
.simple-ui-active\:marginBottom-3:active {
	margin-bottom: 0.75rem;
}

.simple-ui-marginBottom-3\.5,
.simple-ui-hover\:marginBottom-3\.5:hover,
.simple-ui-focus\:marginBottom-3\.5:focus,
.simple-ui-active\:marginBottom-3\.5:active {
	margin-bottom: 0.875rem;
}

.simple-ui-marginBottom-4,
.simple-ui-hover\:marginBottom-4:hover,
.simple-ui-focus\:marginBottom-4:focus,
.simple-ui-active\:marginBottom-4:active {
	margin-bottom: 1rem;
}

.simple-ui-marginBottom-5,
.simple-ui-hover\:marginBottom-5:hover,
.simple-ui-focus\:marginBottom-5:focus,
.simple-ui-active\:marginBottom-5:active {
	margin-bottom: 1.25rem;
}

.simple-ui-marginBottom-6,
.simple-ui-hover\:marginBottom-6:hover,
.simple-ui-focus\:marginBottom-6:focus,
.simple-ui-active\:marginBottom-6:active {
	margin-bottom: 1.5rem;
}

.simple-ui-marginBottom-7,
.simple-ui-hover\:marginBottom-7:hover,
.simple-ui-focus\:marginBottom-7:focus,
.simple-ui-active\:marginBottom-7:active {
	margin-bottom: 1.75rem;
}

.simple-ui-marginBottom-8,
.simple-ui-hover\:marginBottom-8:hover,
.simple-ui-focus\:marginBottom-8:focus,
.simple-ui-active\:marginBottom-8:active {
	margin-bottom: 2rem;
}

.simple-ui-marginBottom-9,
.simple-ui-hover\:marginBottom-9:hover,
.simple-ui-focus\:marginBottom-9:focus,
.simple-ui-active\:marginBottom-9:active {
	margin-bottom: 2.25rem;
}

.simple-ui-marginBottom-10,
.simple-ui-hover\:marginBottom-10:hover,
.simple-ui-focus\:marginBottom-10:focus,
.simple-ui-active\:marginBottom-10:active {
	margin-bottom: 2.5rem;
}

.simple-ui-marginBottom-11,
.simple-ui-hover\:marginBottom-11:hover,
.simple-ui-focus\:marginBottom-11:focus,
.simple-ui-active\:marginBottom-11:active {
	margin-bottom: 2.75rem;
}

.simple-ui-marginBottom-12,
.simple-ui-hover\:marginBottom-12:hover,
.simple-ui-focus\:marginBottom-12:focus,
.simple-ui-active\:marginBottom-12:active {
	margin-bottom: 3rem;
}

.simple-ui-marginBottom-14,
.simple-ui-hover\:marginBottom-14:hover,
.simple-ui-focus\:marginBottom-14:focus,
.simple-ui-active\:marginBottom-14:active {
	margin-bottom: 3.5rem;
}

.simple-ui-marginBottom-16,
.simple-ui-hover\:marginBottom-16:hover,
.simple-ui-focus\:marginBottom-16:focus,
.simple-ui-active\:marginBottom-16:active {
	margin-bottom: 4rem;
}

.simple-ui-marginBottom-20,
.simple-ui-hover\:marginBottom-20:hover,
.simple-ui-focus\:marginBottom-20:focus,
.simple-ui-active\:marginBottom-20:active {
	margin-bottom: 5rem;
}

.simple-ui-marginBottom-24,
.simple-ui-hover\:marginBottom-24:hover,
.simple-ui-focus\:marginBottom-24:focus,
.simple-ui-active\:marginBottom-24:active {
	margin-bottom: 6rem;
}

.simple-ui-marginBottom-28,
.simple-ui-hover\:marginBottom-28:hover,
.simple-ui-focus\:marginBottom-28:focus,
.simple-ui-active\:marginBottom-28:active {
	margin-bottom: 7rem;
}

.simple-ui-marginBottom-32,
.simple-ui-hover\:marginBottom-32:hover,
.simple-ui-focus\:marginBottom-32:focus,
.simple-ui-active\:marginBottom-32:active {
	margin-bottom: 8rem;
}

.simple-ui-marginBottom-36,
.simple-ui-hover\:marginBottom-36:hover,
.simple-ui-focus\:marginBottom-36:focus,
.simple-ui-active\:marginBottom-36:active {
	margin-bottom: 9rem;
}

.simple-ui-marginBottom-40,
.simple-ui-hover\:marginBottom-40:hover,
.simple-ui-focus\:marginBottom-40:focus,
.simple-ui-active\:marginBottom-40:active {
	margin-bottom: 10rem;
}

.simple-ui-marginBottom-44,
.simple-ui-hover\:marginBottom-44:hover,
.simple-ui-focus\:marginBottom-44:focus,
.simple-ui-active\:marginBottom-44:active {
	margin-bottom: 11rem;
}

.simple-ui-marginBottom-48,
.simple-ui-hover\:marginBottom-48:hover,
.simple-ui-focus\:marginBottom-48:focus,
.simple-ui-active\:marginBottom-48:active {
	margin-bottom: 12rem;
}

.simple-ui-marginBottom-52,
.simple-ui-hover\:marginBottom-52:hover,
.simple-ui-focus\:marginBottom-52:focus,
.simple-ui-active\:marginBottom-52:active {
	margin-bottom: 13rem;
}

.simple-ui-marginBottom-56,
.simple-ui-hover\:marginBottom-56:hover,
.simple-ui-focus\:marginBottom-56:focus,
.simple-ui-active\:marginBottom-56:active {
	margin-bottom: 14rem;
}

.simple-ui-marginBottom-60,
.simple-ui-hover\:marginBottom-60:hover,
.simple-ui-focus\:marginBottom-60:focus,
.simple-ui-active\:marginBottom-60:active {
	margin-bottom: 15rem;
}

.simple-ui-marginBottom-64,
.simple-ui-hover\:marginBottom-64:hover,
.simple-ui-focus\:marginBottom-64:focus,
.simple-ui-active\:marginBottom-64:active {
	margin-bottom: 16rem;
}

.simple-ui-marginBottom-72,
.simple-ui-hover\:marginBottom-72:hover,
.simple-ui-focus\:marginBottom-72:focus,
.simple-ui-active\:marginBottom-72:active {
	margin-bottom: 18rem;
}

.simple-ui-marginBottom-80,
.simple-ui-hover\:marginBottom-80:hover,
.simple-ui-focus\:marginBottom-80:focus,
.simple-ui-active\:marginBottom-80:active {
	margin-bottom: 20rem;
}

.simple-ui-marginBottom-96,
.simple-ui-hover\:marginBottom-96:hover,
.simple-ui-focus\:marginBottom-96:focus,
.simple-ui-active\:marginBottom-96:active {
	margin-bottom: 24rem;
}

.simple-ui-marginLeft-0,
.simple-ui-hover\:marginLeft-0:hover,
.simple-ui-focus\:marginLeft-0:focus,
.simple-ui-active\:marginLeft-0:active {
	margin-left: 0px;
}

.simple-ui-marginLeft-px,
.simple-ui-hover\:marginLeft-px:hover,
.simple-ui-focus\:marginLeft-px:focus,
.simple-ui-active\:marginLeft-px:active {
	margin-left: 1px;
}

.simple-ui-marginLeft-0\.5,
.simple-ui-hover\:marginLeft-0\.5:hover,
.simple-ui-focus\:marginLeft-0\.5:focus,
.simple-ui-active\:marginLeft-0\.5:active {
	margin-left: 0.125rem;
}

.simple-ui-marginLeft-1,
.simple-ui-hover\:marginLeft-1:hover,
.simple-ui-focus\:marginLeft-1:focus,
.simple-ui-active\:marginLeft-1:active {
	margin-left: 0.25rem;
}

.simple-ui-marginLeft-1\.5,
.simple-ui-hover\:marginLeft-1\.5:hover,
.simple-ui-focus\:marginLeft-1\.5:focus,
.simple-ui-active\:marginLeft-1\.5:active {
	margin-left: 0.375rem;
}

.simple-ui-marginLeft-2,
.simple-ui-hover\:marginLeft-2:hover,
.simple-ui-focus\:marginLeft-2:focus,
.simple-ui-active\:marginLeft-2:active {
	margin-left: 0.5rem;
}

.simple-ui-marginLeft-2\.5,
.simple-ui-hover\:marginLeft-2\.5:hover,
.simple-ui-focus\:marginLeft-2\.5:focus,
.simple-ui-active\:marginLeft-2\.5:active {
	margin-left: 0.625rem;
}

.simple-ui-marginLeft-3,
.simple-ui-hover\:marginLeft-3:hover,
.simple-ui-focus\:marginLeft-3:focus,
.simple-ui-active\:marginLeft-3:active {
	margin-left: 0.75rem;
}

.simple-ui-marginLeft-3\.5,
.simple-ui-hover\:marginLeft-3\.5:hover,
.simple-ui-focus\:marginLeft-3\.5:focus,
.simple-ui-active\:marginLeft-3\.5:active {
	margin-left: 0.875rem;
}

.simple-ui-marginLeft-4,
.simple-ui-hover\:marginLeft-4:hover,
.simple-ui-focus\:marginLeft-4:focus,
.simple-ui-active\:marginLeft-4:active {
	margin-left: 1rem;
}

.simple-ui-marginLeft-5,
.simple-ui-hover\:marginLeft-5:hover,
.simple-ui-focus\:marginLeft-5:focus,
.simple-ui-active\:marginLeft-5:active {
	margin-left: 1.25rem;
}

.simple-ui-marginLeft-6,
.simple-ui-hover\:marginLeft-6:hover,
.simple-ui-focus\:marginLeft-6:focus,
.simple-ui-active\:marginLeft-6:active {
	margin-left: 1.5rem;
}

.simple-ui-marginLeft-7,
.simple-ui-hover\:marginLeft-7:hover,
.simple-ui-focus\:marginLeft-7:focus,
.simple-ui-active\:marginLeft-7:active {
	margin-left: 1.75rem;
}

.simple-ui-marginLeft-8,
.simple-ui-hover\:marginLeft-8:hover,
.simple-ui-focus\:marginLeft-8:focus,
.simple-ui-active\:marginLeft-8:active {
	margin-left: 2rem;
}

.simple-ui-marginLeft-9,
.simple-ui-hover\:marginLeft-9:hover,
.simple-ui-focus\:marginLeft-9:focus,
.simple-ui-active\:marginLeft-9:active {
	margin-left: 2.25rem;
}

.simple-ui-marginLeft-10,
.simple-ui-hover\:marginLeft-10:hover,
.simple-ui-focus\:marginLeft-10:focus,
.simple-ui-active\:marginLeft-10:active {
	margin-left: 2.5rem;
}

.simple-ui-marginLeft-11,
.simple-ui-hover\:marginLeft-11:hover,
.simple-ui-focus\:marginLeft-11:focus,
.simple-ui-active\:marginLeft-11:active {
	margin-left: 2.75rem;
}

.simple-ui-marginLeft-12,
.simple-ui-hover\:marginLeft-12:hover,
.simple-ui-focus\:marginLeft-12:focus,
.simple-ui-active\:marginLeft-12:active {
	margin-left: 3rem;
}

.simple-ui-marginLeft-14,
.simple-ui-hover\:marginLeft-14:hover,
.simple-ui-focus\:marginLeft-14:focus,
.simple-ui-active\:marginLeft-14:active {
	margin-left: 3.5rem;
}

.simple-ui-marginLeft-16,
.simple-ui-hover\:marginLeft-16:hover,
.simple-ui-focus\:marginLeft-16:focus,
.simple-ui-active\:marginLeft-16:active {
	margin-left: 4rem;
}

.simple-ui-marginLeft-20,
.simple-ui-hover\:marginLeft-20:hover,
.simple-ui-focus\:marginLeft-20:focus,
.simple-ui-active\:marginLeft-20:active {
	margin-left: 5rem;
}

.simple-ui-marginLeft-24,
.simple-ui-hover\:marginLeft-24:hover,
.simple-ui-focus\:marginLeft-24:focus,
.simple-ui-active\:marginLeft-24:active {
	margin-left: 6rem;
}

.simple-ui-marginLeft-28,
.simple-ui-hover\:marginLeft-28:hover,
.simple-ui-focus\:marginLeft-28:focus,
.simple-ui-active\:marginLeft-28:active {
	margin-left: 7rem;
}

.simple-ui-marginLeft-32,
.simple-ui-hover\:marginLeft-32:hover,
.simple-ui-focus\:marginLeft-32:focus,
.simple-ui-active\:marginLeft-32:active {
	margin-left: 8rem;
}

.simple-ui-marginLeft-36,
.simple-ui-hover\:marginLeft-36:hover,
.simple-ui-focus\:marginLeft-36:focus,
.simple-ui-active\:marginLeft-36:active {
	margin-left: 9rem;
}

.simple-ui-marginLeft-40,
.simple-ui-hover\:marginLeft-40:hover,
.simple-ui-focus\:marginLeft-40:focus,
.simple-ui-active\:marginLeft-40:active {
	margin-left: 10rem;
}

.simple-ui-marginLeft-44,
.simple-ui-hover\:marginLeft-44:hover,
.simple-ui-focus\:marginLeft-44:focus,
.simple-ui-active\:marginLeft-44:active {
	margin-left: 11rem;
}

.simple-ui-marginLeft-48,
.simple-ui-hover\:marginLeft-48:hover,
.simple-ui-focus\:marginLeft-48:focus,
.simple-ui-active\:marginLeft-48:active {
	margin-left: 12rem;
}

.simple-ui-marginLeft-52,
.simple-ui-hover\:marginLeft-52:hover,
.simple-ui-focus\:marginLeft-52:focus,
.simple-ui-active\:marginLeft-52:active {
	margin-left: 13rem;
}

.simple-ui-marginLeft-56,
.simple-ui-hover\:marginLeft-56:hover,
.simple-ui-focus\:marginLeft-56:focus,
.simple-ui-active\:marginLeft-56:active {
	margin-left: 14rem;
}

.simple-ui-marginLeft-60,
.simple-ui-hover\:marginLeft-60:hover,
.simple-ui-focus\:marginLeft-60:focus,
.simple-ui-active\:marginLeft-60:active {
	margin-left: 15rem;
}

.simple-ui-marginLeft-64,
.simple-ui-hover\:marginLeft-64:hover,
.simple-ui-focus\:marginLeft-64:focus,
.simple-ui-active\:marginLeft-64:active {
	margin-left: 16rem;
}

.simple-ui-marginLeft-72,
.simple-ui-hover\:marginLeft-72:hover,
.simple-ui-focus\:marginLeft-72:focus,
.simple-ui-active\:marginLeft-72:active {
	margin-left: 18rem;
}

.simple-ui-marginLeft-80,
.simple-ui-hover\:marginLeft-80:hover,
.simple-ui-focus\:marginLeft-80:focus,
.simple-ui-active\:marginLeft-80:active {
	margin-left: 20rem;
}

.simple-ui-marginLeft-96,
.simple-ui-hover\:marginLeft-96:hover,
.simple-ui-focus\:marginLeft-96:focus,
.simple-ui-active\:marginLeft-96:active {
	margin-left: 24rem;
}
