.simple-ui-backdropBlur-none,
.simple-ui-hover\:backdropBlur-none:hover,
.simple-ui-focus\:backdropBlur-none:focus,
.simple-ui-active\:backdropBlur-none:active {
	--simple-ui-backdrop-blur: blur(0);
}
.simple-ui-backdropBlur-xs,
.simple-ui-hover\:backdropBlur-xs:hover,
.simple-ui-focus\:backdropBlur-xs:focus,
.simple-ui-active\:backdropBlur-xs:active {
	--simple-ui-backdrop-blur: blur(4px);
}
.simple-ui-backdropBlur-sm,
.simple-ui-hover\:backdropBlur-sm:hover,
.simple-ui-focus\:backdropBlur-sm:focus,
.simple-ui-active\:backdropBlur-sm:active {
	--simple-ui-backdrop-blur: blur(8px);
}
.simple-ui-backdropBlur-md,
.simple-ui-hover\:backdropBlur-md:hover,
.simple-ui-focus\:backdropBlur-md:focus,
.simple-ui-active\:backdropBlur-md:active {
	--simple-ui-backdrop-blur: blur(12px);
}
.simple-ui-backdropBlur-lg,
.simple-ui-hover\:backdropBlur-lg:hover,
.simple-ui-focus\:backdropBlur-lg:focus,
.simple-ui-active\:backdropBlur-lg:active {
	--simple-ui-backdrop-blur: blur(16px);
}
.simple-ui-backdropBlur-xl,
.simple-ui-hover\:backdropBlur-xl:hover,
.simple-ui-focus\:backdropBlur-xl:focus,
.simple-ui-active\:backdropBlur-xl:active {
	--simple-ui-backdrop-blur: blur(24px);
}
.simple-ui-backdropBlur-2xl,
.simple-ui-hover\:backdropBlur-2xl:hover,
.simple-ui-focus\:backdropBlur-2xl:focus,
.simple-ui-active\:backdropBlur-2xl:active {
	--simple-ui-backdrop-blur: blur(40px);
}
.simple-ui-backdropBlur-3xl,
.simple-ui-hover\:backdropBlur-3xl:hover,
.simple-ui-focus\:backdropBlur-3xl:focus,
.simple-ui-active\:backdropBlur-3xl:active {
	--simple-ui-backdrop-blur: blur(64px);
}
