.grid-cols-1,
.hover\:grid-cols-1:hover,
.focus\:grid-cols-1:focus,
.active\:grid-cols-1:active {
	grid-template-columns: repeat(1, minmax(0, 1fr));
}
.grid-cols-2,
.hover\:grid-cols-2:hover,
.focus\:grid-cols-2:focus,
.active\:grid-cols-2:active {
	grid-template-columns: repeat(2, minmax(0, 1fr));
}
.grid-cols-3,
.hover\:grid-cols-3:hover,
.focus\:grid-cols-3:focus,
.active\:grid-cols-3:active {
	grid-template-columns: repeat(3, minmax(0, 1fr));
}
.grid-cols-4,
.hover\:grid-cols-4:hover,
.focus\:grid-cols-4:focus,
.active\:grid-cols-4:active {
	grid-template-columns: repeat(4, minmax(0, 1fr));
}
.grid-cols-5,
.hover\:grid-cols-5:hover,
.focus\:grid-cols-5:focus,
.active\:grid-cols-5:active {
	grid-template-columns: repeat(5, minmax(0, 1fr));
}
.grid-cols-6,
.hover\:grid-cols-6:hover,
.focus\:grid-cols-6:focus,
.active\:grid-cols-6:active {
	grid-template-columns: repeat(6, minmax(0, 1fr));
}
.grid-cols-7,
.hover\:grid-cols-7:hover,
.focus\:grid-cols-7:focus,
.active\:grid-cols-7:active {
	grid-template-columns: repeat(7, minmax(0, 1fr));
}
.grid-cols-8,
.hover\:grid-cols-8:hover,
.focus\:grid-cols-8:focus,
.active\:grid-cols-8:active {
	grid-template-columns: repeat(8, minmax(0, 1fr));
}
.grid-cols-9,
.hover\:grid-cols-9:hover,
.focus\:grid-cols-9:focus,
.active\:grid-cols-9:active {
	grid-template-columns: repeat(9, minmax(0, 1fr));
}
.grid-cols-10,
.hover\:grid-cols-10:hover,
.focus\:grid-cols-10:focus,
.active\:grid-cols-10:active {
	grid-template-columns: repeat(10, minmax(0, 1fr));
}
.grid-cols-11,
.hover\:grid-cols-11:hover,
.focus\:grid-cols-11:focus,
.active\:grid-cols-11:active {
	grid-template-columns: repeat(11, minmax(0, 1fr));
}
.grid-cols-12,
.hover\:grid-cols-12:hover,
.focus\:grid-cols-12:focus,
.active\:grid-cols-12:active {
	grid-template-columns: repeat(12, minmax(0, 1fr));
}
.grid-cols-none,
.hover\:grid-cols-none:hover,
.focus\:grid-cols-none:focus,
.active\:grid-cols-none:active {
	grid-template-columns: none;
}
