.simple-ui-gridCols-1,
.simple-ui-hover\:gridCols-1:hover,
.simple-ui-focus\:gridCols-1:focus,
.simple-ui-active\:gridCols-1:active {
	grid-template-columns: repeat(1, minmax(0, 1fr));
}
.simple-ui-gridCols-2,
.simple-ui-hover\:gridCols-2:hover,
.simple-ui-focus\:gridCols-2:focus,
.simple-ui-active\:gridCols-2:active {
	grid-template-columns: repeat(2, minmax(0, 1fr));
}
.simple-ui-gridCols-3,
.simple-ui-hover\:gridCols-3:hover,
.simple-ui-focus\:gridCols-3:focus,
.simple-ui-active\:gridCols-3:active {
	grid-template-columns: repeat(3, minmax(0, 1fr));
}
.simple-ui-gridCols-4,
.simple-ui-hover\:gridCols-4:hover,
.simple-ui-focus\:gridCols-4:focus,
.simple-ui-active\:gridCols-4:active {
	grid-template-columns: repeat(4, minmax(0, 1fr));
}
.simple-ui-gridCols-5,
.simple-ui-hover\:gridCols-5:hover,
.simple-ui-focus\:gridCols-5:focus,
.simple-ui-active\:gridCols-5:active {
	grid-template-columns: repeat(5, minmax(0, 1fr));
}
.simple-ui-gridCols-6,
.simple-ui-hover\:gridCols-6:hover,
.simple-ui-focus\:gridCols-6:focus,
.simple-ui-active\:gridCols-6:active {
	grid-template-columns: repeat(6, minmax(0, 1fr));
}
.simple-ui-gridCols-7,
.simple-ui-hover\:gridCols-7:hover,
.simple-ui-focus\:gridCols-7:focus,
.simple-ui-active\:gridCols-7:active {
	grid-template-columns: repeat(7, minmax(0, 1fr));
}
.simple-ui-gridCols-8,
.simple-ui-hover\:gridCols-8:hover,
.simple-ui-focus\:gridCols-8:focus,
.simple-ui-active\:gridCols-8:active {
	grid-template-columns: repeat(8, minmax(0, 1fr));
}
.simple-ui-gridCols-9,
.simple-ui-hover\:gridCols-9:hover,
.simple-ui-focus\:gridCols-9:focus,
.simple-ui-active\:gridCols-9:active {
	grid-template-columns: repeat(9, minmax(0, 1fr));
}
.simple-ui-gridCols-10,
.simple-ui-hover\:gridCols-10:hover,
.simple-ui-focus\:gridCols-10:focus,
.simple-ui-active\:gridCols-10:active {
	grid-template-columns: repeat(10, minmax(0, 1fr));
}
.simple-ui-gridCols-11,
.simple-ui-hover\:gridCols-11:hover,
.simple-ui-focus\:gridCols-11:focus,
.simple-ui-active\:gridCols-11:active {
	grid-template-columns: repeat(11, minmax(0, 1fr));
}
.simple-ui-gridCols-12,
.simple-ui-hover\:gridCols-12:hover,
.simple-ui-focus\:gridCols-12:focus,
.simple-ui-active\:gridCols-12:active {
	grid-template-columns: repeat(12, minmax(0, 1fr));
}
.simple-ui-gridCols-none,
.simple-ui-hover\:gridCols-none:hover,
.simple-ui-focus\:gridCols-none:focus,
.simple-ui-active\:gridCols-none:active {
	grid-template-columns: none;
}
