.simple-ui-backgroundAttachment-bg-fixed,
.simple-ui-hover\:backgroundAttachment-bg-fixed:hover,
.simple-ui-focus\:backgroundAttachment-bg-fixed:focus,
.simple-ui-active\:backgroundAttachment-bg-fixed:active {
  background-attachment: fixed;
}
.simple-ui-backgroundAttachment-bg-local,
.simple-ui-hover\:backgroundAttachment-bg-local:hover,
.simple-ui-focus\:backgroundAttachment-bg-local:focus,
.simple-ui-active\:backgroundAttachment-bg-local:active {
  background-attachment: local;
}
.simple-ui-backgroundAttachment-bg-scroll,
.simple-ui-hover\:backgroundAttachment-bg-scroll:hover,
.simple-ui-focus\:backgroundAttachment-bg-scroll:focus,
.simple-ui-active\:backgroundAttachment-bg-scroll:active {
  background-attachment: scroll;
}
