.simple-ui-divideWidthX-0 > * + *,
.simple-ui-hover\:divideWidthX-0 > * + *:hover,
.simple-ui-focus\:divideWidthX-0 > * + *:focus,
.simple-ui-active\:divideWidthX-0 > * + *:active {
	--tw-divide-x-reverse: 0;
	border-right-width: calc(0px * var(--tw-divide-x-reverse));
	border-left-width: calc(0px * calc(1 - var(--tw-divide-x-reverse)));
}
.simple-ui-divideWidthX-2 > * + *,
.simple-ui-hover\:divideWidthX-2 > * + *:hover,
.simple-ui-focus\:divideWidthX-2 > * + *:focus,
.simple-ui-active\:divideWidthX-2 > * + *:active {
	--tw-divide-x-reverse: 0;
	border-right-width: calc(2px * var(--tw-divide-x-reverse));
	border-left-width: calc(2px * calc(1 - var(--tw-divide-x-reverse)));
}
.simple-ui-divideWidthX-4 > * + *,
.simple-ui-hover\:divideWidthX-4 > * + *:hover,
.simple-ui-focus\:divideWidthX-4 > * + *:focus,
.simple-ui-active\:divideWidthX-4 > * + *:active {
	--tw-divide-x-reverse: 0;
	border-right-width: calc(4px * var(--tw-divide-x-reverse));
	border-left-width: calc(4px * calc(1 - var(--tw-divide-x-reverse)));
}
.simple-ui-divideWidthX-8 > * + *,
.simple-ui-hover\:divideWidthX-8 > * + *:hover,
.simple-ui-focus\:divideWidthX-8 > * + *:focus,
.simple-ui-active\:divideWidthX-8 > * + *:active {
	--tw-divide-x-reverse: 0;
	border-right-width: calc(8px * var(--tw-divide-x-reverse));
	border-left-width: calc(8px * calc(1 - var(--tw-divide-x-reverse)));
}
.simple-ui-divideWidthX-1 > * + *,
.simple-ui-hover\:divideWidthX-1 > * + *:hover,
.simple-ui-focus\:divideWidthX-1 > * + *:focus,
.simple-ui-active\:divideWidthX-1 > * + *:active {
	--tw-divide-x-reverse: 0;
	border-right-width: calc(1px * var(--tw-divide-x-reverse));
	border-left-width: calc(1px * calc(1 - var(--tw-divide-x-reverse)));
}
.simple-ui-divideWidthY-0 > * + *,
.simple-ui-hover\:divideWidthY-0 > * + *:hover,
.simple-ui-focus\:divideWidthY-0 > * + *:focus,
.simple-ui-active\:divideWidthY-0 > * + *:active {
	--tw-divide-y-reverse: 0;
	border-top-width: calc(0px * calc(1 - var(--tw-divide-y-reverse)));
	border-bottom-width: calc(0px * var(--tw-divide-y-reverse));
}
.simple-ui-divideWidthY-2 > * + *,
.simple-ui-hover\:divideWidthY-2 > * + *:hover,
.simple-ui-focus\:divideWidthY-2 > * + *:focus,
.simple-ui-active\:divideWidthY-2 > * + *:active {
	--tw-divide-y-reverse: 0;
	border-top-width: calc(2px * calc(1 - var(--tw-divide-y-reverse)));
	border-bottom-width: calc(2px * var(--tw-divide-y-reverse));
}
.simple-ui-divideWidthY-4 > * + *,
.simple-ui-hover\:divideWidthY-4 > * + *:hover,
.simple-ui-focus\:divideWidthY-4 > * + *:focus,
.simple-ui-active\:divideWidthY-4 > * + *:active {
	--tw-divide-y-reverse: 0;
	border-top-width: calc(4px * calc(1 - var(--tw-divide-y-reverse)));
	border-bottom-width: calc(4px * var(--tw-divide-y-reverse));
}
.simple-ui-divideWidthY-8 > * + *,
.simple-ui-hover\:divideWidthY-8 > * + *:hover,
.simple-ui-focus\:divideWidthY-8 > * + *:focus,
.simple-ui-active\:divideWidthY-8 > * + *:active {
	--tw-divide-y-reverse: 0;
	border-top-width: calc(8px * calc(1 - var(--tw-divide-y-reverse)));
	border-bottom-width: calc(8px * var(--tw-divide-y-reverse));
}
.simple-ui-divideWidthY-1 > * + *,
.simple-ui-hover\:divideWidthY-1 > * + *:hover,
.simple-ui-focus\:divideWidthY-1 > * + *:focus,
.simple-ui-active\:divideWidthY-1 > * + *:active {
	--tw-divide-y-reverse: 0;
	border-top-width: calc(1px * calc(1 - var(--tw-divide-y-reverse)));
	border-bottom-width: calc(1px * var(--tw-divide-y-reverse));
}
.simple-ui-divideWidthY-reverse > * + *,
.simple-ui-hover\:divideWidthY-reverse > * + *:hover,
.simple-ui-focus\:divideWidthY-reverse > * + *:focus,
.simple-ui-active\:divideWidthY-reverse > * + *:active {
	--tw-divide-y-reverse: 1;
}
.simple-ui-divideWidthX-reverse > * + *,
.simple-ui-hover\:divideWidthX-reverse > * + *:hover,
.simple-ui-focus\:divideWidthX-reverse > * + *:focus,
.simple-ui-active\:divideWidthX-reverse > * + *:active {
	--tw-divide-x-reverse: 1;
}
