select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

button {
	outline: none;
	border: none;
	cursor: pointer;
}
:root {
	--simple-colors-black: #000000;
	--simple-colors-blue-50: #ebf8ff;
	--simple-colors-blue-100: #bee3f8;
	--simple-colors-blue-200: #90cdf4;
	--simple-colors-blue-300: #63b3ed;
	--simple-colors-blue-400: #4299e1;
	--simple-colors-blue-500: #3182ce;
	--simple-colors-blue-600: #2b6cb0;
	--simple-colors-blue-700: #2c5282;
	--simple-colors-blue-800: #2a4365;
	--simple-colors-blue-900: #1a365d;
	--simple-colors-cyan-50: #edfdfd;
	--simple-colors-cyan-100: #c4f1f9;
	--simple-colors-cyan-200: #9decf9;
	--simple-colors-cyan-300: #76e4f7;
	--simple-colors-cyan-400: #0bc5ea;
	--simple-colors-cyan-500: #00b5d8;
	--simple-colors-cyan-600: #00a3c4;
	--simple-colors-cyan-700: #0987a0;
	--simple-colors-cyan-800: #086f83;
	--simple-colors-cyan-900: #065666;
	--simple-colors-facebook-50: #e8f4f9;
	--simple-colors-facebook-100: #d9dee9;
	--simple-colors-facebook-200: #b7c2da;
	--simple-colors-facebook-300: #6482c0;
	--simple-colors-facebook-400: #4267b2;
	--simple-colors-facebook-500: #385898;
	--simple-colors-facebook-600: #314e89;
	--simple-colors-facebook-700: #29487d;
	--simple-colors-facebook-800: #223b67;
	--simple-colors-facebook-900: #1e355b;
	--simple-colors-gray-50: #f7fafc;
	--simple-colors-gray-100: #edf2f7;
	--simple-colors-gray-200: #e2e8f0;
	--simple-colors-gray-300: #cbd5e0;
	--simple-colors-gray-400: #a0aec0;
	--simple-colors-gray-500: #718096;
	--simple-colors-gray-600: #4a5568;
	--simple-colors-gray-700: #2d3748;
	--simple-colors-gray-800: #1a202c;
	--simple-colors-gray-900: #171923;
	--simple-colors-green-50: #f0fff4;
	--simple-colors-green-100: #c6f6d5;
	--simple-colors-green-200: #9ae6b4;
	--simple-colors-green-300: #68d391;
	--simple-colors-green-400: #48bb78;
	--simple-colors-green-500: #38a169;
	--simple-colors-green-600: #2f855a;
	--simple-colors-green-700: #276749;
	--simple-colors-green-800: #22543d;
	--simple-colors-green-900: #1c4532;
	--simple-colors-linkedin-50: #e8f4f9;
	--simple-colors-linkedin-100: #cfedfb;
	--simple-colors-linkedin-200: #9bdaf3;
	--simple-colors-linkedin-300: #68c7ec;
	--simple-colors-linkedin-400: #34b3e4;
	--simple-colors-linkedin-500: #00a0dc;
	--simple-colors-linkedin-600: #008cc9;
	--simple-colors-linkedin-700: #0077b5;
	--simple-colors-linkedin-800: #005e93;
	--simple-colors-linkedin-900: #004471;
	--simple-colors-messenger-50: #d0e6ff;
	--simple-colors-messenger-100: #b9daff;
	--simple-colors-messenger-200: #a2cdff;
	--simple-colors-messenger-300: #7ab8ff;
	--simple-colors-messenger-400: #2e90ff;
	--simple-colors-messenger-500: #0078ff;
	--simple-colors-messenger-600: #0063d1;
	--simple-colors-messenger-700: #0052ac;
	--simple-colors-messenger-800: #003c7e;
	--simple-colors-messenger-900: #002c5c;
	--simple-colors-orange-50: #fffaf0;
	--simple-colors-orange-100: #feebc8;
	--simple-colors-orange-200: #fbd38d;
	--simple-colors-orange-300: #f6ad55;
	--simple-colors-orange-400: #ed8936;
	--simple-colors-orange-500: #dd6b20;
	--simple-colors-orange-600: #c05621;
	--simple-colors-orange-700: #9c4221;
	--simple-colors-orange-800: #7b341e;
	--simple-colors-orange-900: #652b19;
	--simple-colors-pink-50: #fff5f7;
	--simple-colors-pink-100: #fed7e2;
	--simple-colors-pink-200: #fbb6ce;
	--simple-colors-pink-300: #f687b3;
	--simple-colors-pink-400: #ed64a6;
	--simple-colors-pink-500: #d53f8c;
	--simple-colors-pink-600: #b83280;
	--simple-colors-pink-700: #97266d;
	--simple-colors-pink-800: #702459;
	--simple-colors-pink-900: #521b41;
	--simple-colors-purple-50: #faf5ff;
	--simple-colors-purple-100: #e9d8fd;
	--simple-colors-purple-200: #d6bcfa;
	--simple-colors-purple-300: #b794f4;
	--simple-colors-purple-400: #9f7aea;
	--simple-colors-purple-500: #805ad5;
	--simple-colors-purple-600: #6b46c1;
	--simple-colors-purple-700: #553c9a;
	--simple-colors-purple-800: #44337a;
	--simple-colors-purple-900: #322659;
	--simple-colors-red-50: #fff5f5;
	--simple-colors-red-100: #fed7d7;
	--simple-colors-red-200: #feb2b2;
	--simple-colors-red-300: #fc8181;
	--simple-colors-red-400: #f56565;
	--simple-colors-red-500: #e53e3e;
	--simple-colors-red-600: #c53030;
	--simple-colors-red-700: #9b2c2c;
	--simple-colors-red-800: #822727;
	--simple-colors-red-900: #63171b;
	--simple-colors-teal-50: #e6fffa;
	--simple-colors-teal-100: #b2f5ea;
	--simple-colors-teal-200: #81e6d9;
	--simple-colors-teal-300: #4fd1c5;
	--simple-colors-teal-400: #38b2ac;
	--simple-colors-teal-500: #319795;
	--simple-colors-teal-600: #2c7a7b;
	--simple-colors-teal-700: #285e61;
	--simple-colors-teal-800: #234e52;
	--simple-colors-teal-900: #1d4044;
	--simple-colors-telegram-50: #e3f2f9;
	--simple-colors-telegram-100: #c5e4f3;
	--simple-colors-telegram-200: #a2d4ec;
	--simple-colors-telegram-300: #7ac1e4;
	--simple-colors-telegram-400: #47a9da;
	--simple-colors-telegram-500: #0088cc;
	--simple-colors-telegram-600: #007ab8;
	--simple-colors-telegram-700: #006ba1;
	--simple-colors-telegram-800: #005885;
	--simple-colors-telegram-900: #003f5e;
	--simple-colors-transparent: transparent;
	--simple-colors-twitter-50: #e5f4fd;
	--simple-colors-twitter-100: #c8e9fb;
	--simple-colors-twitter-200: #a8dcfa;
	--simple-colors-twitter-300: #83cdf7;
	--simple-colors-twitter-400: #57bbf5;
	--simple-colors-twitter-500: #1da1f2;
	--simple-colors-twitter-600: #1a94da;
	--simple-colors-twitter-700: #1681bf;
	--simple-colors-twitter-800: #136b9e;
	--simple-colors-twitter-900: #0d4d71;
	--simple-colors-whatsapp-50: #dffeec;
	--simple-colors-whatsapp-100: #b9f5d0;
	--simple-colors-whatsapp-200: #90edb3;
	--simple-colors-whatsapp-300: #65e495;
	--simple-colors-whatsapp-400: #3cdd78;
	--simple-colors-whatsapp-500: #22c35e;
	--simple-colors-whatsapp-600: #179848;
	--simple-colors-whatsapp-700: #0c6c33;
	--simple-colors-whatsapp-800: #01421c;
	--simple-colors-whatsapp-900: #001803;
	--simple-colors-white: #ffffff;
	--simple-colors-yellow-50: #fffff0;
	--simple-colors-yellow-100: #fefcbf;
	--simple-colors-yellow-200: #faf089;
	--simple-colors-yellow-300: #f6e05e;
	--simple-colors-yellow-400: #ecc94b;
	--simple-colors-yellow-500: #d69e2e;
	--simple-colors-yellow-600: #b7791f;
	--simple-colors-yellow-700: #975a16;
	--simple-colors-yellow-800: #744210;
	--simple-colors-yellow-900: #5f370e;
}
