select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

input {
	outline: none;
}
button {
	outline: none;
	border: none;
	cursor: pointer;
}

/* Prevent padding from affecting width and height */
*,
::after,
::before {
	border-width: 0px;
	border-style: solid;
	box-sizing: border-box;
}
:root {
	--simple-ui-colors-black: #000000;
	--simple-ui-colors-blue-50: #ebf8ff;
	--simple-ui-colors-blue-100: #bee3f8;
	--simple-ui-colors-blue-200: #90cdf4;
	--simple-ui-colors-blue-300: #63b3ed;
	--simple-ui-colors-blue-400: #4299e1;
	--simple-ui-colors-blue-500: #3182ce;
	--simple-ui-colors-blue-600: #2b6cb0;
	--simple-ui-colors-blue-700: #2c5282;
	--simple-ui-colors-blue-800: #2a4365;
	--simple-ui-colors-blue-900: #1a365d;
	--simple-ui-colors-cyan-50: #edfdfd;
	--simple-ui-colors-cyan-100: #c4f1f9;
	--simple-ui-colors-cyan-200: #9decf9;
	--simple-ui-colors-cyan-300: #76e4f7;
	--simple-ui-colors-cyan-400: #0bc5ea;
	--simple-ui-colors-cyan-500: #00b5d8;
	--simple-ui-colors-cyan-600: #00a3c4;
	--simple-ui-colors-cyan-700: #0987a0;
	--simple-ui-colors-cyan-800: #086f83;
	--simple-ui-colors-cyan-900: #065666;
	--simple-ui-colors-gray-50: #f7fafc;
	--simple-ui-colors-gray-100: #edf2f7;
	--simple-ui-colors-gray-200: #e2e8f0;
	--simple-ui-colors-gray-300: #cbd5e0;
	--simple-ui-colors-gray-400: #a0aec0;
	--simple-ui-colors-gray-500: #718096;
	--simple-ui-colors-gray-600: #4a5568;
	--simple-ui-colors-gray-700: #2d3748;
	--simple-ui-colors-gray-800: #1a202c;
	--simple-ui-colors-gray-900: #171923;
	--simple-ui-colors-green-50: #f0fff4;
	--simple-ui-colors-green-100: #c6f6d5;
	--simple-ui-colors-green-200: #9ae6b4;
	--simple-ui-colors-green-300: #68d391;
	--simple-ui-colors-green-400: #48bb78;
	--simple-ui-colors-green-500: #38a169;
	--simple-ui-colors-green-600: #2f855a;
	--simple-ui-colors-green-700: #276749;
	--simple-ui-colors-green-800: #22543d;
	--simple-ui-colors-green-900: #1c4532;
	--simple-ui-colors-orange-50: #fffaf0;
	--simple-ui-colors-orange-100: #feebc8;
	--simple-ui-colors-orange-200: #fbd38d;
	--simple-ui-colors-orange-300: #f6ad55;
	--simple-ui-colors-orange-400: #ed8936;
	--simple-ui-colors-orange-500: #dd6b20;
	--simple-ui-colors-orange-600: #c05621;
	--simple-ui-colors-orange-700: #9c4221;
	--simple-ui-colors-orange-800: #7b341e;
	--simple-ui-colors-orange-900: #652b19;
	--simple-ui-colors-pink-50: #fff5f7;
	--simple-ui-colors-pink-100: #fed7e2;
	--simple-ui-colors-pink-200: #fbb6ce;
	--simple-ui-colors-pink-300: #f687b3;
	--simple-ui-colors-pink-400: #ed64a6;
	--simple-ui-colors-pink-500: #d53f8c;
	--simple-ui-colors-pink-600: #b83280;
	--simple-ui-colors-pink-700: #97266d;
	--simple-ui-colors-pink-800: #702459;
	--simple-ui-colors-pink-900: #521b41;
	--simple-ui-colors-purple-50: #faf5ff;
	--simple-ui-colors-purple-100: #e9d8fd;
	--simple-ui-colors-purple-200: #d6bcfa;
	--simple-ui-colors-purple-300: #b794f4;
	--simple-ui-colors-purple-400: #9f7aea;
	--simple-ui-colors-purple-500: #805ad5;
	--simple-ui-colors-purple-600: #6b46c1;
	--simple-ui-colors-purple-700: #553c9a;
	--simple-ui-colors-purple-800: #44337a;
	--simple-ui-colors-purple-900: #322659;
	--simple-ui-colors-red-50: #fff5f5;
	--simple-ui-colors-red-100: #fed7d7;
	--simple-ui-colors-red-200: #feb2b2;
	--simple-ui-colors-red-300: #fc8181;
	--simple-ui-colors-red-400: #f56565;
	--simple-ui-colors-red-500: #e53e3e;
	--simple-ui-colors-red-600: #c53030;
	--simple-ui-colors-red-700: #9b2c2c;
	--simple-ui-colors-red-800: #822727;
	--simple-ui-colors-red-900: #63171b;
	--simple-ui-colors-teal-50: #e6fffa;
	--simple-ui-colors-teal-100: #b2f5ea;
	--simple-ui-colors-teal-200: #81e6d9;
	--simple-ui-colors-teal-300: #4fd1c5;
	--simple-ui-colors-teal-400: #38b2ac;
	--simple-ui-colors-teal-500: #319795;
	--simple-ui-colors-teal-600: #2c7a7b;
	--simple-ui-colors-teal-700: #285e61;
	--simple-ui-colors-teal-800: #234e52;
	--simple-ui-colors-teal-900: #1d4044;
	--simple-ui-colors-transparent: transparent;
	--simple-ui-colors-white: #ffffff;
	--simple-ui-colors-yellow-50: #fffff0;
	--simple-ui-colors-yellow-100: #fefcbf;
	--simple-ui-colors-yellow-200: #faf089;
	--simple-ui-colors-yellow-300: #f6e05e;
	--simple-ui-colors-yellow-400: #ecc94b;
	--simple-ui-colors-yellow-500: #d69e2e;
	--simple-ui-colors-yellow-600: #b7791f;
	--simple-ui-colors-yellow-700: #975a16;
	--simple-ui-colors-yellow-800: #744210;
	--simple-ui-colors-yellow-900: #5f370e;

	--simple-ui-ring-offset-shadow: 0 0 #0000;
	--simple-ui-ring-shadow: 0 0 #0000;
	--simple-ui-shadow: 0 0 #0000;
	--simple-ui-ring-inset: var(--simple-ui-empty, /*!*/ /*!*/);
	--simple-ui-ring-offset-width: 0px;
	--simple-ui-ring-offset-color: #fff;
	--simple-ui-ring-color: rgba(59, 130, 246, 0.5);
	--simple-ui-ring-offset-shadow: 0 0 #0000;
	--simple-ui-ring-shadow: 0 0 #0000;
	--simple-ui-shadow: 0 0 #0000;
}
