select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

input {
	outline: none;
}
button {
	outline: none;
	border: none;
	cursor: pointer;
}

/* Prevent padding from affecting width and height */
*,
::after,
::before {
	border-width: 0px;
	border-style: solid;
	box-sizing: border-box;
}
