.simple-ui-overscrollBehavior-auto,
.simple-ui-hover\:overscrollBehavior-auto:hover,
.simple-ui-focus\:overscrollBehavior-auto:focus,
.simple-ui-active\:overscrollBehavior-auto:active {
	overscroll-behavior: auto;
}
.simple-ui-overscrollBehavior-contain,
.simple-ui-hover\:overscrollBehavior-contain:hover,
.simple-ui-focus\:overscrollBehavior-contain:focus,
.simple-ui-active\:overscrollBehavior-contain:active {
	overscroll-behavior: contain;
}
.simple-ui-overscrollBehavior-none,
.simple-ui-hover\:overscrollBehavior-none:hover,
.simple-ui-focus\:overscrollBehavior-none:focus,
.simple-ui-active\:overscrollBehavior-none:active {
	overscroll-behavior: none;
}
.simple-ui-overscrollBehaviorY-auto,
.simple-ui-hover\:overscrollBehaviorY-auto:hover,
.simple-ui-focus\:overscrollBehaviorY-auto:focus,
.simple-ui-active\:overscrollBehaviorY-auto:active {
	overscroll-behavior-y: auto;
}
.simple-ui-overscrollBehaviorY-contain,
.simple-ui-hover\:overscrollBehaviorY-contain:hover,
.simple-ui-focus\:overscrollBehaviorY-contain:focus,
.simple-ui-active\:overscrollBehaviorY-contain:active {
	overscroll-behavior-y: contain;
}
.simple-ui-overscrollBehaviorY-none,
.simple-ui-hover\:overscrollBehaviorY-none:hover,
.simple-ui-focus\:overscrollBehaviorY-none:focus,
.simple-ui-active\:overscrollBehaviorY-none:active {
	overscroll-behavior-y: none;
}
.simple-ui-overscrollBehaviorX-auto,
.simple-ui-hover\:overscrollBehaviorX-auto:hover,
.simple-ui-focus\:overscrollBehaviorX-auto:focus,
.simple-ui-active\:overscrollBehaviorX-auto:active {
	overscroll-behavior-x: auto;
}
.simple-ui-overscrollBehaviorX-contain,
.simple-ui-hover\:overscrollBehaviorX-contain:hover,
.simple-ui-focus\:overscrollBehaviorX-contain:focus,
.simple-ui-active\:overscrollBehaviorX-contain:active {
	overscroll-behavior-x: contain;
}
.simple-ui-overscrollBehaviorX-none,
.simple-ui-hover\:overscrollBehaviorX-none:hover,
.simple-ui-focus\:overscrollBehaviorX-none:focus,
.simple-ui-active\:overscrollBehaviorX-none:active {
	overscroll-behavior-x: none;
}
