.simple-ui-flex-1,
.simple-ui-hover\:flex-1:hover,
.simple-ui-focus\:flex-1:focus,
.simple-ui-active\:flex-1:active {
	flex: 1 1 0%;
}
.simple-ui-flex-auto,
.simple-ui-hover\:flex-auto:hover,
.simple-ui-focus\:flex-auto:focus,
.simple-ui-active\:flex-auto:active {
	flex: 1 1 auto;
}
.simple-ui-flex-initial,
.simple-ui-hover\:flex-initial:hover,
.simple-ui-focus\:flex-initial:focus,
.simple-ui-active\:flex-initial:active {
	flex: 0 1 auto;
}
.simple-ui-flex-none,
.simple-ui-hover\:flex-none:hover,
.simple-ui-focus\:flex-none:focus,
.simple-ui-active\:flex-none:active {
	flex: none;
}
