.simple-ui-saturate-0,
.simple-ui-hover\:saturate-0:hover,
.simple-ui-focus\:saturate-0:focus,
.simple-ui-active\:saturate-0:active {
	--simple-ui-saturate: saturate(0);
}
.simple-ui-saturate-50,
.simple-ui-hover\:saturate-50:hover,
.simple-ui-focus\:saturate-50:focus,
.simple-ui-active\:saturate-50:active {
	--simple-ui-saturate: saturate(0.5);
}
.simple-ui-saturate-100,
.simple-ui-hover\:saturate-100:hover,
.simple-ui-focus\:saturate-100:focus,
.simple-ui-active\:saturate-100:active {
	--simple-ui-saturate: saturate(1);
}
.simple-ui-saturate-150,
.simple-ui-hover\:saturate-150:hover,
.simple-ui-focus\:saturate-150:focus,
.simple-ui-active\:saturate-150:active {
	--simple-ui-saturate: saturate(1.5);
}
.simple-ui-saturate-200,
.simple-ui-hover\:saturate-200:hover,
.simple-ui-focus\:saturate-200:focus,
.simple-ui-active\:saturate-200:active {
	--simple-ui-saturate: saturate(2);
}
