.simple-ui-justifyItems-start,
.simple-ui-hover\:justifyItems-start:hover,
.simple-ui-focus\:justifyItems-start:focus,
.simple-ui-active\:justifyItems-start:active {
	justify-items: start;
}
.simple-ui-justifyItems-end,
.simple-ui-hover\:justifyItems-end:hover,
.simple-ui-focus\:justifyItems-end:focus,
.simple-ui-active\:justifyItems-end:active {
	justify-items: end;
}
.simple-ui-justifyItems-center,
.simple-ui-hover\:justifyItems-center:hover,
.simple-ui-focus\:justifyItems-center:focus,
.simple-ui-active\:justifyItems-center:active {
	justify-items: center;
}
.simple-ui-justifyItems-stretch,
.simple-ui-hover\:justifyItems-stretch:hover,
.simple-ui-focus\:justifyItems-stretch:focus,
.simple-ui-active\:justifyItems-stretch:active {
	justify-items: stretch;
}
