.justifyItems-start,
.hover\:justifyItems-start:hover,
.focus\:justifyItems-start:focus,
.active\:justifyItems-start:active {
	justify-items: start;
}
.justifyItems-end,
.hover\:justifyItems-end:hover,
.focus\:justifyItems-end:focus,
.active\:justifyItems-end:active {
	justify-items: end;
}
.justifyItems-center,
.hover\:justifyItems-center:hover,
.focus\:justifyItems-center:focus,
.active\:justifyItems-center:active {
	justify-items: center;
}
.justifyItems-stretch,
.hover\:justifyItems-stretch:hover,
.focus\:justifyItems-stretch:focus,
.active\:justifyItems-stretch:active {
	justify-items: stretch;
}
