.simple-ui-transition-none,
.simple-ui-hover\:transition-none:hover,
.simple-ui-focus\:transition-none:focus,
.simple-ui-active\:transition-none:active {
	transition-property: none;
}
.simple-ui-transition-all,
.simple-ui-hover\:transition-all:hover,
.simple-ui-focus\:transition-all:focus,
.simple-ui-active\:transition-all:active {
	transition-property: all;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
}
.simple-ui-transition-basic,
.simple-ui-hover\:transition-basic:hover,
.simple-ui-focus\:transition-basic:focus,
.simple-ui-active\:transition-basic:active {
	transition-property: background-color, border-color, color, fill, stroke,
		opacity, box-shadow, transform, filter, backdrop-filter;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
}
.simple-ui-transition-colors,
.simple-ui-hover\:transition-colors:hover,
.simple-ui-focus\:transition-colors:focus,
.simple-ui-active\:transition-colors:active {
	transition-property: background-color, border-color, color, fill, stroke;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
}
.simple-ui-transition-opacity,
.simple-ui-hover\:transition-opacity:hover,
.simple-ui-focus\:transition-opacity:focus,
.simple-ui-active\:transition-opacity:active {
	transition-property: opacity;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
}
.simple-ui-transition-shadow,
.simple-ui-hover\:transition-shadow:hover,
.simple-ui-focus\:transition-shadow:focus,
.simple-ui-active\:transition-shadow:active {
	transition-property: box-shadow;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
}
.simple-ui-transition-transform,
.simple-ui-hover\:transition-transform:hover,
.simple-ui-focus\:transition-transform:focus,
.simple-ui-active\:transition-transform:active {
	transition-property: transform;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
}
